Flows/tmp/bloomsky.json
[{"id":"43082234.bcf7dc","type":"inject","z":"5b41f8d4.a4be08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":124,"y":466,"wires":[["86fd87f2.790278"]]},{"id":"878c003a.7874","type":"http request","z":"5b41f8d4.a4be08","name":"","method":"use","ret":"obj","url":"","x":475,"y":454,"wires":[["540082b4.abff7c","dd235644.22dca8"]]},{"id":"86fd87f2.790278","type":"function","z":"5b41f8d4.a4be08","name":"","func":"var msg1={}\nmsg1.url='https://api.bloomsky.com/api/skydata/';\nmsg1.method=\"GET\";\nmsg1.headers= {\n    \"Authorization\":\"put_your_api_key\"\n};\nreturn msg1;\n","outputs":1,"noerr":0,"x":278,"y":453,"wires":[["878c003a.7874"]]},{"id":"540082b4.abff7c","type":"debug","z":"5b41f8d4.a4be08","name":"","active":false,"console":"false","complete":"false","x":649,"y":453,"wires":[]},{"id":"dd235644.22dca8","type":"function","z":"5b41f8d4.a4be08","name":"","func":"if (msg.statusCode=='200') {\n    data_set=msg.payload;\n    \n    data_set.forEach(function(dev){\n       node.warn('device '+ dev.DeviceName);\n       var weatherData=dev.Data;\n       //node.warn(weatherData)\n       node.warn('temperature: '+ weatherData.Temperature);\n       node.warn('humidity: '+ weatherData.Humidity);\n       node.warn('night: '+ weatherData.Night);\n       node.warn('rain: '+ weatherData.Rain);\n       node.warn('pressure: '+ weatherData.Pressure);       \n       node.warn('luminance: '+ weatherData.Luminance);   \n       node.warn('uvindex: ' + weatherData.UVIndex);\n    });\n}","outputs":1,"noerr":0,"x":697,"y":529,"wires":[[]]}]
