wirelesstag/wirelesstag.json
[{"id":"9519e047.5c55d","type":"debug","z":"1f1d2fa5.c98b5","name":"","active":false,"console":"false","complete":"payload","x":697,"y":147,"wires":[]},{"id":"befecbb3.737528","type":"http in","z":"1f1d2fa5.c98b5","name":"","url":"/red/wirelesstag","method":"post","swaggerDoc":"","x":105,"y":58,"wires":[["66cc477b.73e0f8","749de557.d053ec","1aef0854.43cf38"]]},{"id":"66cc477b.73e0f8","type":"debug","z":"1f1d2fa5.c98b5","name":"","active":false,"console":"false","complete":"payload","x":368,"y":58,"wires":[]},{"id":"749de557.d053ec","type":"function","z":"1f1d2fa5.c98b5","name":"","func":"msg.statusCode=200;\nmsg.payload=[]\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":20,"wires":[["596e2cb3.fd2444"]]},{"id":"596e2cb3.fd2444","type":"http response","z":"1f1d2fa5.c98b5","name":"","x":475,"y":20,"wires":[]},{"id":"1aef0854.43cf38","type":"delay","z":"1f1d2fa5.c98b5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":364,"y":102,"wires":[["311eaeb2.195502"]]},{"id":"5ea3d658.5feb98","type":"catch","z":"1f1d2fa5.c98b5","name":"","x":65,"y":286,"wires":[["704affe2.cf8c1"]]},{"id":"704affe2.cf8c1","type":"debug","z":"1f1d2fa5.c98b5","name":"","active":true,"console":"false","complete":"error","x":265,"y":286,"wires":[]},{"id":"311eaeb2.195502","type":"function","z":"1f1d2fa5.c98b5","name":"","func":"function roundUsing(func, number, prec) {\n    var tempnumber = number * Math.pow(10, prec);\n    tempnumber = func(tempnumber);\n    return tempnumber / Math.pow(10, prec);\n}\n\nfunction setDeviceCapabilities(device,capabilities){\n    var capbExists=false;\n    var newCapb={};\n    newCapb.fields=[];\n    \n    if (device in context.global.winkDevCap &&  'fields' in context.global.winkDevCap[device]) {\n        for (var i=0;i<context.global.winkDevCap[device].fields.length;i++ ) {\n                r=context.global.winkDevCap[device].fields[i];\n                newCapb.fields.push(r);\n        }\n    }\n    for (var capa in capabilities.caps){\n        c = capabilities.caps[capa];\n        capbExists=false;\n            for (var k=0;k<newCapb.fields.length;k++ ) {\n                r=newCapb.fields[k];\n                if (r.field == c.capb){\n                    capbExists=true;\n                    break;\n                }\n            }\n        if (!capbExists) {\n            newCapb.fields.push({\n                field:c.capb, type: c.type  \n            });\n        }\n    }\n    return newCapb;\n}\n\nif (msg.payload.APIKEY==context.global.IFTTT_TOKEN){\n    var wt_msg= {\n        url:context.global.BlueMixUrlBase+'/red/wink/subscribtions',\n        method:\"POST\",\n        payload: {\n            device_manufacturer: 'Wirelesstag',\n            eco_system : 'Wirelesstag',\n            last_reading: {},\n            manufacturer_device_model: 'Wirelesstag_'+msg.payload.name+'_sensor',\n            model_name:'Wirelesstag Sensor', \n            name:msg.payload.name,\n            object_id:msg.payload.uuid,\n            object_type: 'sensor_pod',\n            radio_type: 'wifi',\n            sensor_pod_id:msg.payload.uuid,\n            triggers: [],\n            units: {},\n            upc_code:msg.payload.name,\n            upc_id:msg.payload.uuid\n        }\n    };\n    var deviceCapabilities={};\n    deviceCapabilities.caps=[];\n    if (msg.payload.temperature !== 0) {\n        wt_msg.payload.last_reading.temperature = msg.payload.temperature;\n        deviceCapabilities.caps.push({\n            capb:'temperature', type:'float'\n        });\n    }\n    if (msg.payload.moisture !== 0) {\n        wt_msg.payload.last_reading.humidity = msg.payload.moisture;\n        deviceCapabilities.caps.push({\n            capb:'humidity', type:'percentage'\n        });\n    }\n    if (msg.payload.batteryVolt !== 0) {\n        wt_msg.payload.last_reading.battery = (msg.payload.batteryVolt / 3.2).toFixed(2);\n        deviceCapabilities.caps.push({\n            capb:'battery', type:'percentage'\n        });\n    }\n    if (msg.payload.angleX !== 0) {\n        wt_msg.payload.last_reading.angleX = msg.payload.angleX;\n        deviceCapabilities.caps.push({\n            capb:'angleX', type:'short'\n        });\n    }\n    if (msg.payload.angleY !== 0) {\n        wt_msg.payload.last_reading.angleY = msg.payload.angleY;\n        deviceCapabilities.caps.push({\n            capb:'angleY', type:'short'\n        });\n    }\n    if (msg.payload.angleZ !== 0) {\n        wt_msg.payload.last_reading.angleZ = msg.payload.angleZ;\n        deviceCapabilities.caps.push({\n            capb:'angleZ', type:'short'\n        });\n    }\n    if (msg.payload.lux !== 0) {\n        wt_msg.payload.last_reading.lux = msg.payload.lux;\n        deviceCapabilities.caps.push({\n            capb:'lux', type:'float'\n        });\n    }\n    if (msg.payload.hasMoved === true) {\n        wt_msg.payload.last_reading.motion = 'true';\n        deviceCapabilities.caps.push({\n            capb:'motion', type:'boolean'\n        });\n    }\n    if (msg.payload.hasMoved === false) {\n        wt_msg.payload.last_reading.motion = 'false';\n        deviceCapabilities.caps.push({\n            capb:'motion', type:'boolean'\n        });\n    }\n    if (msg.payload.eventState == 5) {\n        wt_msg.payload.last_reading.motion = 'true';\n        deviceCapabilities.caps.push({\n            capb:'motion', type:'boolean'\n        });\n    }\n    if (msg.payload.eventState == 6) {\n        wt_msg.payload.last_reading.motion = 'false';\n        deviceCapabilities.caps.push({\n            capb:'motion', type:'boolean'\n        });\n    }\n    wt_msg.payload.capabilities = setDeviceCapabilities(msg.payload.name,deviceCapabilities);\n    return(wt_msg);\n} else {\n    node.warn('incorrect API key used by Wirelesstag');\n}","outputs":"1","noerr":0,"x":522,"y":102,"wires":[["9519e047.5c55d","727001ec.204eb"]]},{"id":"727001ec.204eb","type":"http request","z":"1f1d2fa5.c98b5","name":"","method":"use","ret":"txt","url":"","x":697,"y":102,"wires":[["61e7476e.780a28"]]},{"id":"61e7476e.780a28","type":"debug","z":"1f1d2fa5.c98b5","name":"","active":false,"console":"false","complete":"false","x":875,"y":102,"wires":[]}]
