wirelesstag/wirelesstag.json
[{"id":"befecbb3.737528","type":"http in","z":"1f1d2fa5.c98b5","name":"","url":"/red/wirelesstag","method":"post","swaggerDoc":"","x":105,"y":58,"wires":[["66cc477b.73e0f8","749de557.d053ec","1aef0854.43cf38"]]},{"id":"66cc477b.73e0f8","type":"debug","z":"1f1d2fa5.c98b5","name":"","active":false,"console":"false","complete":"payload","x":368,"y":58,"wires":[]},{"id":"749de557.d053ec","type":"function","z":"1f1d2fa5.c98b5","name":"","func":"msg.statusCode=200;\nmsg.payload=[]\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":20,"wires":[["596e2cb3.fd2444"]]},{"id":"596e2cb3.fd2444","type":"http response","z":"1f1d2fa5.c98b5","name":"","x":475,"y":20,"wires":[]},{"id":"a18b2730.2b4288","type":"function","z":"1f1d2fa5.c98b5","name":"","func":"node.warn(\"API key is \" + msg.payload.APIKEY);\nif (msg.payload.APIKEY==context.global.IFTTT_TOKEN || msg.payload.APIKEY==context.global.FREEBOARD_TOKEN) {\n    node.warn(\"API key is correct\");\n    if ('useRobots' in context.global && context.global.useRobots) {\n        node.warn(\"useRobots is true\");\n        // Load the standardized text into an HTTP request to send to the \"Robots\" tab.\n        var newMsg = {\n            url:context.global.BlueMixUrlBase+'/red/robots',\n            \"method\": \"POST\",\n            headers: {\n                \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n            },\n            payload:{\n                'name':msg.payload.component,\n                'object_type':msg.payload.object_type,\n                'new_state':msg.payload.value\n            }\n        };\n        return newMsg;\n    } else {\n        node.warn(\"useRobots is false\");\n    }\n} else {\n    node.warn(\"wirelesstag messages bad request\");\n     return [msg,null];\n}","outputs":1,"noerr":0,"x":517,"y":104,"wires":[["ab783c3f.009fb","fe742684.881868"]]},{"id":"1aef0854.43cf38","type":"delay","z":"1f1d2fa5.c98b5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":364,"y":102,"wires":[["a18b2730.2b4288"]]},{"id":"fe742684.881868","type":"http request","z":"1f1d2fa5.c98b5","name":"","method":"use","ret":"txt","url":"","x":672,"y":103,"wires":[["afaeda6.7e0b728"]]},{"id":"afaeda6.7e0b728","type":"debug","z":"1f1d2fa5.c98b5","name":"","active":false,"console":"false","complete":"false","x":832,"y":104,"wires":[]},{"id":"ab783c3f.009fb","type":"debug","z":"1f1d2fa5.c98b5","name":"","active":false,"console":"false","complete":"false","x":671,"y":157,"wires":[]},{"id":"5ea3d658.5feb98","type":"catch","z":"1f1d2fa5.c98b5","name":"","x":65,"y":286,"wires":[["704affe2.cf8c1"]]},{"id":"704affe2.cf8c1","type":"debug","z":"1f1d2fa5.c98b5","name":"","active":true,"console":"false","complete":"error","x":265,"y":286,"wires":[]}]
