defaults/flows.json
[{"id":"d14ec719.2eb138","type":"function","z":"6b285681.94d7a8","name":"CheckResposeCode","func":"if (typeof context.global.WinkSubscriptions === 'undefined')\n{\n    context.global.WinkSubscriptions = {};\n}\nif (msg.statusCode==202)\n{\n    node.warn(\"Subscription ID: \"+msg.payload.data.subscription_id);\n    context.global.WinkSubscriptions[msg.payload.data.subscription_id]={\n        \"subscription_id\": msg.payload.data.subscription_id,\n        \"url_base\":msg.payload.data.topic,\n        \"callback\":msg.payload.data.callback\n    }\n}\nelse\n{\n    node.warn(\"Subscription issue. Status: \"+msg.statusCode);\n}\nreturn;","outputs":1,"noerr":0,"x":1007,"y":249.50003051757812,"wires":[[]]},{"id":"1b68546a.e497ac","type":"http request","z":"6b285681.94d7a8","name":"","method":"use","ret":"obj","url":"","x":812,"y":249.5,"wires":[["d14ec719.2eb138"]]},{"id":"6d0e7582.92f18c","type":"function","z":"6b285681.94d7a8","name":"Prepare Wink devices subscription request","func":"var baseUrl = \"https://winkapi.quirky.com/\";\nvar callbackUrl=context.global.BlueMixUrlBase+\"/red/wink/subscribtions\";\n   for (var winkDevice in context.global.winkState)\n    {\n        if (winkDevice!=\"linked_services\")\n        {\n            var deviceUrl=baseUrl+winkDevice;\n            for (var winkDeviceName in context.global.winkState[winkDevice])\n            {\n                deviceId=context.global.winkState[winkDevice][winkDeviceName].object_id;\n                node.warn(winkDeviceName+\" \"+deviceId);\n                var newMsg ={\n                    \"url\":baseUrl+\"/\"+winkDevice+\"/\"+deviceId+\"/subscriptions\",\n                    \"method\": \"POST\",\n                    headers: {\n                        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n                        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\",\n                        \"Content-Type\":\"application/json\"\n                    },\n                    payload: {\n                        \"callback\": callbackUrl\n                    }\n                };\n                node.send(newMsg);\n            }\n        }\n    }\nreturn;","outputs":1,"noerr":0,"x":544.0001220703125,"y":250.5,"wires":[["1b68546a.e497ac"]]},{"id":"91f78898.6e0878","type":"delay","z":"6b285681.94d7a8","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":257.9999542236328,"y":250.5,"wires":[["6d0e7582.92f18c"]]},{"id":"88f098e7.770f68","type":"inject","z":"6b285681.94d7a8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":95.99995422363281,"y":250.5,"wires":[["91f78898.6e0878"]]},{"id":"9f4860af.60b7a","type":"inject","z":"6b285681.94d7a8","name":"","topic":"","payload":"","payloadType":"str","repeat":"86400","crontab":"","once":true,"x":94,"y":105.5,"wires":[["5dced7c8.a23128"]]},{"id":"5dced7c8.a23128","type":"delay","z":"6b285681.94d7a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":236.5,"y":81.5,"wires":[["7ff1b66f.800e48"]]},{"id":"7ff1b66f.800e48","type":"function","z":"6b285681.94d7a8","name":"Get OAuth Tocken","func":"var uid=context.global.WinkUser.uid;\nvar pwd=context.global.WinkUser.pwd;\nvar newMsg ={\n    \"url\":\"https://winkapi.quirky.com/oauth2/token\",\n    \"method\": \"POST\",\n    headers: {\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"client_id\": \"69f2644f49aeacb5fb4bf530bcfdb6f5\",\n        \"client_secret\": \"1e798c81ea66f8586d9d13fd64ab9913\",\n        \"username\": uid,\n        \"password\": pwd,\n        \"grant_type\": \"password\"\n    }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":422,"y":100.5,"wires":[["f3c6134c.0c39f"]]},{"id":"f3c6134c.0c39f","type":"http request","z":"6b285681.94d7a8","name":"","method":"use","ret":"obj","url":"","x":606,"y":100.5,"wires":[["cbddd68e.342228"]]},{"id":"cbddd68e.342228","type":"function","z":"6b285681.94d7a8","name":"DefineGlobalTocken","func":"// sample function that stores wink token in a global variable so other api calls\n//can use that\ncontext.global.WinkToken=msg.payload.data.access_token;\nnode.log(context.global.WinkToken);\nvar msg ={ \"payload\":\"Done\"}\nreturn msg;","outputs":1,"x":797,"y":101.5,"wires":[["c13925db.3ec6d8"]]},{"id":"c13925db.3ec6d8","type":"function","z":"6b285681.94d7a8","name":"Prepare HTTPS requests by device type","func":"context.global.cleanWinkState();\nvar newMsg1 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/wink_devices\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n    }\n}\nvar newMsg2 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/linked_services\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n       // \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/3.1.0\"\n }\n\n}\n\nvar newMsg3 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/groups\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n }\n\n}\n\nvar newMsg4 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/scenes\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n  }\n}\n\nvar newMsg5 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/robots\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n  }\n}\n\nreturn [newMsg1,newMsg2,newMsg3,newMsg4,newMsg5];\n//return [newMsg1,newMsg2,newMsg3,newMsg4,newMsg5,newMsg6,newMsg7,newMsg8,newMsg9,newMsg10,newMsg11];\n","outputs":"5","noerr":0,"x":1089,"y":105.5,"wires":[["288f8402.d7707c"],["eaff280f.1500d8"],["7ebaa725.814558"],["5ef73422.a108cc"],["963f678.f69c098"]]},{"id":"288f8402.d7707c","type":"http request","z":"6b285681.94d7a8","name":"GetWDevices","method":"use","ret":"obj","url":"","x":1427,"y":64.5,"wires":[["60af22a0.9f50dc"]]},{"id":"eaff280f.1500d8","type":"http request","z":"6b285681.94d7a8","name":"GetWServices","method":"use","ret":"obj","url":"","x":1406,"y":106,"wires":[["309522a8.cf6ade"]]},{"id":"7ebaa725.814558","type":"delay","z":"6b285681.94d7a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1388.5,"y":149.5,"wires":[["703f4a7.f8fc0b4"]]},{"id":"5ef73422.a108cc","type":"http request","z":"6b285681.94d7a8","name":"GetWScenes","method":"use","ret":"obj","url":"","x":1402,"y":190,"wires":[["9d27d1e6.62d83"]]},{"id":"963f678.f69c098","type":"http request","z":"6b285681.94d7a8","name":"GetWRobots","method":"use","ret":"obj","url":"","x":1396.4999542236328,"y":232.5,"wires":[["e783a529.187c58"]]},{"id":"60af22a0.9f50dc","type":"function","z":"6b285681.94d7a8","name":"GetDevices","func":"context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nif (\"cameras\" in context.global.winkState){\n    for (var key in context.global.winkState.cameras){\n        if (context.global.winkState.cameras[key].manufacturer_device_model.indexOf(\"dropcam\")!=-1){\n            var newMsg1 ={\n                \"url\":context.global.BlueMixUrlBase+'/red/retrieve_activities?camera_name='+key,\n                \"method\": \"GET\",\n                headers: {\n                    \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n                }\n            }\n            node.send(newMsg1);\n        }\n    }\n}\nnode.warn(\"Device import completed\");\nreturn;\n","outputs":1,"noerr":0,"x":1727.0000457763672,"y":56,"wires":[["8c09f2e9.73f61"]]},{"id":"309522a8.cf6ade","type":"function","z":"6b285681.94d7a8","name":"GetServices","func":"context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n","outputs":1,"x":1601,"y":106,"wires":[[]]},{"id":"703f4a7.f8fc0b4","type":"http request","z":"6b285681.94d7a8","name":"GetWGroups","method":"use","ret":"obj","url":"","x":1564,"y":145,"wires":[["177a2125.e885df"]]},{"id":"177a2125.e885df","type":"function","z":"6b285681.94d7a8","name":"GetGroups","func":"context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n","outputs":1,"x":1789,"y":144,"wires":[[]]},{"id":"9d27d1e6.62d83","type":"function","z":"6b285681.94d7a8","name":"GetScenes","func":"context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n","outputs":1,"x":1589.0000457763672,"y":191,"wires":[[]]},{"id":"8c09f2e9.73f61","type":"http request","z":"6b285681.94d7a8","name":"","method":"use","ret":"obj","url":"","x":1890.0625,"y":57.388885498046875,"wires":[[]]},{"id":"e783a529.187c58","type":"function","z":"6b285681.94d7a8","name":"GetRobots","func":"context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n","outputs":1,"noerr":0,"x":1583.5,"y":233.5,"wires":[[]]},{"id":"3b9ea1be.c4615e","type":"http in","z":"6b285681.94d7a8","name":"","url":"/red/wink_query","method":"post","swaggerDoc":"","x":124,"y":189.5,"wires":[["5ff9f708.a00608"]]},{"id":"5ff9f708.a00608","type":"function","z":"6b285681.94d7a8","name":"","func":"if (msg.payload.token ==context.global.FREEBOARD_TOKEN || context.global.getCookie('exchange_token',msg.req.headers.cookie)==context.global.FREEBOARD_TOKEN){\n    msg.statusCode=200;\n    msg.payload=\"aaa\";\n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"x":349,"y":194.5,"wires":[["7ff1b66f.800e48","b4d751de.4b28b","38377092.c7c89"]]},{"id":"38377092.c7c89","type":"http response","z":"6b285681.94d7a8","name":"","x":558,"y":165.5,"wires":[]},{"id":"b4d751de.4b28b","type":"function","z":"6b285681.94d7a8","name":"","func":"msg.payload={}\nmsg.payload.token=context.global.FREEBOARD_TOKEN\nmsg.url=context.global.BlueMixUrlBase+\"/red/blueiris\"\nmsg.method=\"POST\"\nreturn msg;","outputs":1,"noerr":0,"x":558,"y":201.5,"wires":[["f6a710f7.0958f"]]},{"id":"f6a710f7.0958f","type":"http request","z":"6b285681.94d7a8","name":"","method":"use","ret":"txt","url":"","x":752,"y":201.5,"wires":[[]]}]
