defaults/flow.json
[{"type":"tab","id":"25ec9294.da136e","label":"system"},{"id":"aeff872b.510078","type":"function","z":"25ec9294.da136e","name":"Get OAuth Tocken","func":"var uid=context.global.WinkUser.uid;\nvar pwd=context.global.WinkUser.pwd;\nvar newMsg ={\n    \"url\":\"https://winkapi.quirky.com/oauth2/token\",\n    \"method\": \"POST\",\n    headers: {\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"client_id\": \"43c25e61426951f409e41a75bb24ecc5\",\n        \"client_secret\": \"cff4415f26e57d87c1cc7d56bb83c705\",\n        \"username\": uid,\n        \"password\": pwd,\n        \"grant_type\": \"password\"\n    }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":403,"y":99.5,"wires":[["5083a2c3.af7c5c"]]},{"id":"3e2600dd.c1da","type":"function","z":"25ec9294.da136e","name":"CheckResposeCode","func":"if (typeof context.global.WinkSubscriptions === 'undefined')\n{\n    context.global.WinkSubscriptions = {};\n}\nif (msg.statusCode==202)\n{\n    node.warn(\"Subscription ID: \"+msg.payload.data.subscription_id);\n    context.global.WinkSubscriptions[msg.payload.data.subscription_id]={\n        \"subscription_id\": msg.payload.data.subscription_id,\n        \"url_base\":msg.payload.data.topic,\n        \"callback\":msg.payload.data.callback\n    }\n}\nelse\n{\n    node.warn(\"Subscription issue. Status: \"+msg.statusCode);\n}\nreturn;","outputs":1,"noerr":0,"x":988,"y":248.50003051757812,"wires":[[]]},{"id":"79f536c1.860ac8","type":"http request","z":"25ec9294.da136e","name":"","method":"use","ret":"obj","url":"","x":793,"y":248.5,"wires":[["3e2600dd.c1da"]]},{"id":"565f15de.a9a0ec","type":"function","z":"25ec9294.da136e","name":"Prepare Wink devices subscription request","func":"var baseUrl = \"https://winkapi.quirky.com/\";\nvar callbackUrl=context.global.BlueMixUrlBase+\"/red/wink/subscribtions\";\n   for (var winkDevice in context.global.winkState)\n    {\n        if (winkDevice!=\"linked_services\")\n        {\n            var deviceUrl=baseUrl+winkDevice;\n            for (var winkDeviceName in context.global.winkState[winkDevice])\n            {\n                deviceId=context.global.winkState[winkDevice][winkDeviceName].object_id;\n                node.warn(winkDeviceName+\" \"+deviceId);\n                var newMsg ={\n                    \"url\":baseUrl+\"/\"+winkDevice+\"/\"+deviceId+\"/subscriptions\",\n                    \"method\": \"POST\",\n                    headers: {\n                        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n                        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\",\n                        \"Content-Type\":\"application/json\"\n                    },\n                    payload: {\n                        \"callback\": callbackUrl\n                    }\n                };\n                node.send(newMsg);\n            }\n        }\n    }\nreturn;","outputs":1,"noerr":0,"x":525.0001220703125,"y":249.5,"wires":[["79f536c1.860ac8"]]},{"id":"bdf63158.4209d","type":"delay","z":"25ec9294.da136e","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":238.9999542236328,"y":249.5,"wires":[["565f15de.a9a0ec"]]},{"id":"52a95433.ad56ac","type":"inject","z":"25ec9294.da136e","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":76.99995422363281,"y":249.5,"wires":[["bdf63158.4209d"]]},{"id":"7477b5f9.8b884c","type":"inject","z":"25ec9294.da136e","name":"","topic":"","payload":"","payloadType":"str","repeat":"86400","crontab":"","once":true,"x":75,"y":104.5,"wires":[["a6491539.59b6e8"]]},{"id":"a6491539.59b6e8","type":"delay","z":"25ec9294.da136e","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":217.5,"y":80.5,"wires":[["aeff872b.510078"]]},{"id":"5083a2c3.af7c5c","type":"http request","z":"25ec9294.da136e","name":"","method":"use","ret":"obj","url":"","x":587,"y":99.5,"wires":[["3a6f18d5.c590e8"]]},{"id":"3a6f18d5.c590e8","type":"function","z":"25ec9294.da136e","name":"DefineGlobalTocken","func":"// sample function that stores wink token in a global variable so other api calls\n//can use that\ncontext.global.WinkToken=msg.payload.data.access_token;\nnode.log(context.global.WinkToken);\nvar msg ={ \"payload\":\"Done\"}\nreturn msg;","outputs":1,"x":778,"y":100.5,"wires":[["da3d1881.25c2e8"]]},{"id":"da3d1881.25c2e8","type":"function","z":"25ec9294.da136e","name":"Prepare HTTPS requests by device type","func":"context.global.cleanWinkState();\nvar newMsg1 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/wink_devices\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n    }\n}\nvar newMsg2 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/linked_services\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n       // \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/3.1.0\"\n }\n\n}\n\nvar newMsg3 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/groups\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n }\n\n}\n\nvar newMsg4 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/scenes\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n  }\n}\n\nvar newMsg5 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/robots\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n  }\n}\n\nreturn [newMsg1,newMsg2,newMsg3,newMsg4,newMsg5];\n//return [newMsg1,newMsg2,newMsg3,newMsg4,newMsg5,newMsg6,newMsg7,newMsg8,newMsg9,newMsg10,newMsg11];\n","outputs":"5","noerr":0,"x":1070,"y":104.5,"wires":[["1b7bb53a.e4844b"],["c416b7ac.3be948"],["f908679c.06f798"],["2cf930e4.d306d"],["b8aec230.47514"]]},{"id":"1b7bb53a.e4844b","type":"http request","z":"25ec9294.da136e","name":"GetWDevices","method":"use","ret":"obj","url":"","x":1408,"y":63.5,"wires":[["872835c5.78d7c8"]]},{"id":"c416b7ac.3be948","type":"http request","z":"25ec9294.da136e","name":"GetWServices","method":"use","ret":"obj","url":"","x":1387,"y":105,"wires":[["12c82540.ed37db"]]},{"id":"f908679c.06f798","type":"delay","z":"25ec9294.da136e","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1369.5,"y":148.5,"wires":[["ecb5d8ac.134a28"]]},{"id":"2cf930e4.d306d","type":"http request","z":"25ec9294.da136e","name":"GetWScenes","method":"use","ret":"obj","url":"","x":1383,"y":189,"wires":[["50e4a346.af1b5c"]]},{"id":"b8aec230.47514","type":"http request","z":"25ec9294.da136e","name":"GetWRobots","method":"use","ret":"obj","url":"","x":1377.4999542236328,"y":231.5,"wires":[["5bb9c761.a44638"]]},{"id":"872835c5.78d7c8","type":"function","z":"25ec9294.da136e","name":"GetDevices","func":"context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nif (\"cameras\" in context.global.winkState){\n    for (var key in context.global.winkState.cameras){\n        if (context.global.winkState.cameras[key].manufacturer_device_model.indexOf(\"dropcam\")!=-1){\n            var newMsg1 ={\n                \"url\":context.global.BlueMixUrlBase+'/red/retrieve_activities?camera_name='+key,\n                \"method\": \"GET\",\n                headers: {\n                    \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n                }\n            }\n            node.send(newMsg1);\n        }\n    }\n}\nnode.warn(\"Device import completed\");\nreturn;\n","outputs":1,"noerr":0,"x":1708.0000457763672,"y":55,"wires":[["e9c610d2.1639f"]]},{"id":"12c82540.ed37db","type":"function","z":"25ec9294.da136e","name":"GetServices","func":"context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n","outputs":1,"x":1582,"y":105,"wires":[[]]},{"id":"ecb5d8ac.134a28","type":"http request","z":"25ec9294.da136e","name":"GetWGroups","method":"use","ret":"obj","url":"","x":1545,"y":144,"wires":[["2dc348fd.d23cb8"]]},{"id":"2dc348fd.d23cb8","type":"function","z":"25ec9294.da136e","name":"GetGroups","func":"context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n","outputs":1,"x":1770,"y":143,"wires":[[]]},{"id":"50e4a346.af1b5c","type":"function","z":"25ec9294.da136e","name":"GetScenes","func":"context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n","outputs":1,"x":1570.0000457763672,"y":190,"wires":[[]]},{"id":"e9c610d2.1639f","type":"http request","z":"25ec9294.da136e","name":"","method":"use","ret":"obj","url":"","x":1871.0625,"y":56.388885498046875,"wires":[[]]},{"id":"5bb9c761.a44638","type":"function","z":"25ec9294.da136e","name":"GetRobots","func":"context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n","outputs":1,"noerr":0,"x":1564.5,"y":232.5,"wires":[[]]},{"id":"d700d685.28ff28","type":"http in","z":"25ec9294.da136e","name":"","url":"/red/wink_query","method":"post","swaggerDoc":"","x":105,"y":188.5,"wires":[["3e733701.c18cc8"]]},{"id":"3e733701.c18cc8","type":"function","z":"25ec9294.da136e","name":"","func":"if (msg.payload.token ==context.global.FREEBOARD_TOKEN || context.global.getCookie('exchange_token',msg.req.headers.cookie)==context.global.FREEBOARD_TOKEN){\n    msg.statusCode=200;\n    msg.payload=\"aaa\";\n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"x":330,"y":193.5,"wires":[["aeff872b.510078","eed1019.f112f","b68bd5d0.497428"]]},{"id":"b68bd5d0.497428","type":"http response","z":"25ec9294.da136e","name":"","x":539,"y":164.5,"wires":[]},{"id":"eed1019.f112f","type":"function","z":"25ec9294.da136e","name":"","func":"msg.payload={}\nmsg.payload.token=context.global.FREEBOARD_TOKEN\nmsg.url=context.global.BlueMixUrlBase+\"/red/blueiris\"\nmsg.method=\"POST\"\nreturn msg;","outputs":1,"noerr":0,"x":539,"y":200.5,"wires":[["3e09e0bb.c1f62"]]},{"id":"3e09e0bb.c1f62","type":"http request","z":"25ec9294.da136e","name":"","method":"use","ret":"txt","url":"","x":733,"y":200.5,"wires":[[]]}]
