Flows/Bluemix/Blink.json
[
  {
    "id": "ab91dbc.f546e28",
    "type": "inject",
    "z": "29d1ef73.d62e1",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "300",
    "crontab": "",
    "once": true,
    "x": 84,
    "y": 60,
    "wires": [
      [
        "861a71c2.79e59",
        "e37a5c10.1c85a"
      ]
    ]
  },
  {
    "id": "43bb1c60.bc44e4",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "Prepare OAuth Request",
    "func": "var uid=context.global.Blink.uid;\nvar pwd=context.global.Blink.pwd;\nvar newMsg ={\n    \"url\":\"https://prod.immedia-semi.com/login\",\n    \"method\": \"POST\",\n    headers: {\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"email\": uid,\n        \"password\": pwd,\n        \"client_specifier\": \"iPhone 9.2 | 2.2 | 222\"\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 575,
    "y": 60,
    "wires": [
      [
        "619725e3.9e68dc"
      ]
    ]
  },
  {
    "id": "861a71c2.79e59",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "Define email and password",
    "func": "if (typeof context.global.Blink == 'undefined'){\n    context.global.Blink = {};\n}\n    context.global.Blink.uid = \"\"; // \n    context.global.Blink.pwd = \"\"; // \n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 308,
    "y": 60,
    "wires": [
      [
        "43bb1c60.bc44e4"
      ]
    ]
  },
  {
    "id": "619725e3.9e68dc",
    "type": "http request",
    "z": "29d1ef73.d62e1",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 787,
    "y": 60,
    "wires": [
      [
        "774f2743.88b0d8"
      ]
    ]
  },
  {
    "id": "774f2743.88b0d8",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "Define Token",
    "func": "context.global.Blink.token = msg.payload.authtoken.authtoken;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 957,
    "y": 60,
    "wires": [
      [
        "ca00ce24.35ff3"
      ]
    ]
  },
  {
    "id": "effe643e.100198",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "Prepare Queries",
    "func": "var newMsg2 ={\n    \"url\":\"https://prod.immedia-semi.com/network/\"+context.global.Blink.network.id+\"/syncmodules\",\n    \"method\": \"GET\",\n    headers: {\n        \"Content-Type\":\"application/json\",\n        \"TOKEN_AUTH\":context.global.Blink.token\n    }\n};\n\nvar newMsg3 ={\n    \"url\":\"https://prod.immedia-semi.com/homescreen\",\n    \"method\": \"GET\",\n    headers: {\n        \"Content-Type\":\"application/json\",\n        \"TOKEN_AUTH\":context.global.Blink.token\n    }\n};\n\nvar newMsg4 ={\n    \"url\":\"https://prod.immedia-semi.com/events/network/\"+context.global.Blink.network.id,\n    \"method\": \"GET\",\n    headers: {\n        \"Content-Type\":\"application/json\",\n        \"TOKEN_AUTH\":context.global.Blink.token\n    }\n};\n\nreturn [newMsg2, newMsg3, newMsg4];",
    "outputs": "3",
    "noerr": 0,
    "x": 279,
    "y": 200,
    "wires": [
      [
        "e0f1360a.1f0ec8"
      ],
      [
        "fd2ec40d.02d138"
      ],
      [
        "9b8b774a.647488"
      ]
    ]
  },
  {
    "id": "1cf8412b.e307bf",
    "type": "http request",
    "z": "29d1ef73.d62e1",
    "name": "Get Networks",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 545,
    "y": 130,
    "wires": [
      [
        "16dcaf50.e92351"
      ]
    ]
  },
  {
    "id": "16dcaf50.e92351",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "",
    "func": "mp = msg.payload.networks[0];\n\ncontext.global.Blink.network={\n\t'id' : mp.id,\n\t'armed' : mp.armed,\n\t'autoarm_geo_enable' : mp.autoarm_geo_enable,\n\t'autoarm_time_enable' : mp.autoarm_time_enable,\n\t'video_destination' : mp.video_destination,\n\t'storage_used' : mp.storage_used,\n\t'storage_total' : mp.storage_total,\n\t'video_count' : mp.video_count,\n\t'busy' : mp.busy,\n\t'camera_error' : mp.camera_error,\n\t'sync_module_error' : mp.sync_module_error\n};\ncontext.global.Blink.account_id = mp.account_id;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 768,
    "y": 130,
    "wires": [
      [
        "effe643e.100198"
      ]
    ]
  },
  {
    "id": "9bde5884.6421a8",
    "type": "inject",
    "z": "29d1ef73.d62e1",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 96,
    "y": 200,
    "wires": [
      [
        "effe643e.100198"
      ]
    ]
  },
  {
    "id": "e0f1360a.1f0ec8",
    "type": "http request",
    "z": "29d1ef73.d62e1",
    "name": "Get Sync Module Info",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 566,
    "y": 165,
    "wires": [
      [
        "9f68b127.60975"
      ]
    ]
  },
  {
    "id": "9f68b127.60975",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "",
    "func": "var sm = {};\nsm = msg.payload.syncmodule;\ncontext.global.Blink.syncmodule={\n    'id':sm.id,\n    'updated':sm.updated_at,\n    'name':sm.name,\n    'mac_address':sm.mac_address,\n    'serial':sm.serial,\n    'status':sm.status,\n    'onboarded':sm.onboarded,\n    'server':sm.server\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 768,
    "y": 165,
    "wires": [
      []
    ]
  },
  {
    "id": "b9ee20c5.4611e",
    "type": "inject",
    "z": "29d1ef73.d62e1",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 94,
    "y": 95,
    "wires": [
      [
        "e37a5c10.1c85a"
      ]
    ]
  },
  {
    "id": "e37a5c10.1c85a",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "Blink Global Functions",
    "func": "context.global.executeBlinkCMD = function(command){\n    var BlinkMsg={};\n    switch (command.toLowerCase()){\n        case 'arm':\n        case 'disarm':\n        BlinkMsg = {\n            \"url\":\"https://prod.immedia-semi.com/network/\"+context.global.Blink.network.id+\"/\"+command,\n            method: \"POST\",\n            headers: {\n                \"TOKEN_AUTH\":context.global.Blink.token\n            },\n            payload:{}\n        }\n        break;\n    }\n    if (typeof BlinkMsg.url!=='undefined' && BlinkMsg.url!==\"\")\n    {\n        node.send(BlinkMsg);\n    }\n};\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 289,
    "y": 95,
    "wires": [
      [
        "14a74c15.eb58b4"
      ]
    ]
  },
  {
    "id": "23fe1ac.fdc01e6",
    "type": "inject",
    "z": "29d1ef73.d62e1",
    "name": "Arm",
    "topic": "",
    "payload": "arm",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 86,
    "y": 433,
    "wires": [
      [
        "934622b7.6cb9e"
      ]
    ]
  },
  {
    "id": "8a1ae21d.75e52",
    "type": "inject",
    "z": "29d1ef73.d62e1",
    "name": "Disarm",
    "topic": "",
    "payload": "disarm",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 87,
    "y": 477,
    "wires": [
      [
        "934622b7.6cb9e"
      ]
    ]
  },
  {
    "id": "14a74c15.eb58b4",
    "type": "http request",
    "z": "29d1ef73.d62e1",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 535,
    "y": 95,
    "wires": [
      []
    ]
  },
  {
    "id": "934622b7.6cb9e",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "",
    "func": "context.global.executeBlinkCMD(msg.payload);\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 280,
    "y": 453,
    "wires": [
      [
        "2b19359.fd4e6ca"
      ]
    ]
  },
  {
    "id": "fd2ec40d.02d138",
    "type": "http request",
    "z": "29d1ef73.d62e1",
    "name": "Get Homescreen Data",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 566,
    "y": 200,
    "wires": [
      [
        "9bb3f202.644c1"
      ]
    ]
  },
  {
    "id": "9bb3f202.644c1",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "",
    "func": "context.global.Blink.wifi_strength=msg.payload.network.wifi_strength;\ncontext.global.Blink.notification_count = msg.payload.network.notifications;\ncontext.global.Blink.cameras = {};\nvar cameras = [];\ncameras = msg.payload.devices;\nfor (i=0; i<cameras.length; i++) {\n    if (typeof cameras[i].name!=='undefined'){\n        context.global.Blink.cameras[cameras[i].name]={\n            'device_type':cameras[i].device_type,\n            'device_id':cameras[i].device_id,\n            'updated_at':cameras[i].updated_at,\n            'name':cameras[i].name,\n            'thumbnail':cameras[i].thumbnail,\n            'active':cameras[i].active,\n            'notifications':cameras[i].notifications,\n            'enabled':cameras[i].enabled,\n            'armed':cameras[i].armed,\n            'wifi_strength':cameras[i].wifi_strength,\n            'lfr_strength':cameras[i].lfr_strength,\n            'temp':cameras[i].temp,\n            'battery':cameras[i].battery\n        };\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 768,
    "y": 200,
    "wires": [
      [
        "78ee2847.8711d8"
      ]
    ]
  },
  {
    "id": "655c8289.9aa37c",
    "type": "inject",
    "z": "29d1ef73.d62e1",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 625,
    "y": 518,
    "wires": [
      [
        "5b3fcebb.a4c03"
      ]
    ]
  },
  {
    "id": "5b3fcebb.a4c03",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "Clear Blink Data",
    "func": "for (var key in context.global.Blink.cameras)\n{\n    delete context.global.winkState.cameras[key];\n}\ndelete context.global.Blink;\n\nnode.warn(\"Blink data has been cleared.\")",
    "outputs": 1,
    "noerr": 0,
    "x": 825,
    "y": 518,
    "wires": [
      []
    ]
  },
  {
    "id": "2b19359.fd4e6ca",
    "type": "http request",
    "z": "29d1ef73.d62e1",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "url": "",
    "x": 429,
    "y": 453,
    "wires": [
      []
    ]
  },
  {
    "id": "ca00ce24.35ff3",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "Prepare Network Query",
    "func": "var newMsg1 ={\n    \"url\":\"https://prod.immedia-semi.com/networks\",\n    \"method\": \"GET\",\n    headers: {\n        \"Content-Type\":\"application/json\",\n        \"TOKEN_AUTH\":context.global.Blink.token\n    }\n};\n\nreturn newMsg1;",
    "outputs": 1,
    "noerr": 0,
    "x": 299,
    "y": 130,
    "wires": [
      [
        "1cf8412b.e307bf"
      ]
    ]
  },
  {
    "id": "cecd6397.3132a",
    "type": "http request",
    "z": "29d1ef73.d62e1",
    "name": "Get Events Data",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 557,
    "y": 255,
    "wires": [
      [
        "330dcbfb.ccf234"
      ]
    ]
  },
  {
    "id": "330dcbfb.ccf234",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "",
    "func": "context.global.Blink.events = {};\nif (typeof context.global.Blink.lastevent==\"undefined\"){ context.global.Blink.lastevent=0 }\nvar events = [];\nevents = msg.payload.event;\nvar matches=0;\nfor (i=0; i<events.length; i++) {\n    if (typeof events[i].id!=='undefined'){\n        context.global.Blink.events[events[i].id]={\n            'id':events[i].id,\n            'updated_at':events[i].updated_at,\n            'type':events[i].type,\n            'notified':events[i].notified,\n            'camera_id':events[i].camera_id,\n            'sync_module_id':events[i].sync_module_id,\n            'network_id':events[i].network_id,\n            'account_id':events[i].account_id,\n            'syncmodule':events[i].syncmodule,\n            'camera':events[i].camera,\n            'account':events[i].account,\n            'camera_name':events[i].camera_name,\n            'video_id':events[i].video_id,\n            'video_url':events[i].video_url\n        };\n    }\n}\nvar events = [];\nevents=context.global.Blink.events;\nif(typeof context.global.winkState.cameras == 'undefined') context.global.winkState.cameras={};\nfor (var key in events) {\n    if (events[key].type==\"motion\" && events[key].id>context.global.Blink.lastevent)\n    {\n        context.global.winkState.cameras[events[key].camera_name].snap_url=context.global.BlueMixUrlBase+\"/blink/snap?camera_name=\"+events[key].camera_name+\"&blinkevent=\"+events[key].id+\"&iftttkey=\"+context.global.FREEBOARD_TOKEN;\n        newmsg={\n            \"url\":context.global.BlueMixUrlBase+'/red/save_images?cam_list='+context.global.camera_motion[events[key].camera_name]+'&object_name='+events[key].camera_name,\n            \"method\": \"GET\",\n            headers: {\n                \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n            }\n        };\n        node.warn(\"New event imported: \"+events[key].id+\" for camera \"+events[key].camera_name);\n        node.send(newmsg);\n        context.global.Blink.lastevent=events[key].id;\n        matches+=1;\n        break;\n    }\n}\nif (matches===0){\n    \n    for (var key in context.global.winkState.cameras)\n    {\n        if (context.global.winkState.cameras[key].eco_system==\"Blink\"){\n            context.global.winkState.cameras[key].snap_url=context.global.BlueMixUrlBase+\"/blink/snap?camera_name=\"+context.global.winkState.cameras[key].name;\n        }\n    }\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 768,
    "y": 235,
    "wires": [
      [
        "aefd759a.510288",
        "54016923.abfe98"
      ]
    ]
  },
  {
    "id": "ce7efc36.3181",
    "type": "http in",
    "z": "29d1ef73.d62e1",
    "name": "",
    "url": "/blink/cmd/*",
    "method": "get",
    "swaggerDoc": "",
    "x": 87,
    "y": 595,
    "wires": [
      [
        "cd3993dd.32c67"
      ]
    ]
  },
  {
    "id": "cd3993dd.32c67",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "Command msg",
    "func": "var web_req=(context.global.getCookie('exchange_token',msg.req.headers.cookie)=='0' ? false:true);\nif (msg.payload.iftttkey==context.global.IFTTT_TOKEN || msg.payload.iftttkey==context.global.FREEBOARD_TOKEN || (msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN)) web_req=true;\nif (web_req)\n{\n    var command=msg.req.originalUrl.split('/').pop();\n    msg.statusCode=200;\n    context.global.executeBlinkCMD(command);\n}\nelse {\n    node.warn(\"ifttt messages bad request\");\n    msg.statusCode=403;\n}\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 282,
    "y": 595,
    "wires": [
      [
        "321a2675.cde5da"
      ]
    ]
  },
  {
    "id": "321a2675.cde5da",
    "type": "http response",
    "z": "29d1ef73.d62e1",
    "name": "",
    "x": 437,
    "y": 595,
    "wires": []
  },
  {
    "id": "f6cbb1cb.09345",
    "type": "inject",
    "z": "29d1ef73.d62e1",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 93,
    "y": 335,
    "wires": [
      [
        "78ee2847.8711d8"
      ]
    ]
  },
  {
    "id": "78ee2847.8711d8",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "Blink Cameras into winkState",
    "func": "for (var key in context.global.Blink.cameras)\n{\n    var bc = context.global.Blink.cameras[key];\n    if(typeof context.global.camera_motion == 'undefined') context.global.camera_motion={};\n    context.global.camera_motion[bc.name]=[bc.name]\n    if(typeof context.global.winkState.cameras == 'undefined') context.global.winkState.cameras={};\n    context.global.winkState.cameras[bc.name]={\n        'name':bc.name,\n        'object_type':\"cameras\",\n        'eco_system':\"Blink\",\n        'object_id':bc.device_id,\n        'manufacturer_device_model':\"Blink Camera\",\n        'connection':true,\n        'capturing_audio':false,\n        'capturing_video':false,\n        'url':context.global.BlueMixUrlBase+\"/blink/snap?camera_name=\"+bc.name,\n        'snap_url':context.global.BlueMixUrlBase+\"/blink/snap?camera_name=\"+bc.name,\n        'history_url':context.global.BlueMixUrlBase+\"/freeboard/cameraSnapshots?token=\"+context.global.FREEBOARD_TOKEN+\"&camera_name=\"+bc.name,\n        'refresh_time':30,\n        'motion': \"N/A\",\n        'activities':[]\n    };\n    context.global.winkState.sensor_pods[bc.name]={\n        'eco_system':\"Blink\",\n        'name':bc.name,\n        'object_type':\"sensor_pods\",\n        'object_id':bc.device_id,\n        'device_manufacturer':\"Blink\",\n        'temperature':((bc.temp-32)*5/9),\n        'connection':true\n    };\n    context.global.winkDevCap[bc.name]={\n        \"fields\":[{\"field\":\"temperature\",\"mutability\":\"read-only\",\"type\":\"float\"}]\n    };\n    var newmsg ={\n        \"url\":context.global.BlueMixUrlBase+'/red/retrieve_activities?camera_name='+bc.name,\n        \"method\": \"GET\",\n        headers: {\n            \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n        }\n    };\n    node.send(newmsg);\n}\n\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 358,
    "y": 341,
    "wires": [
      [
        "a9dacba2.562538"
      ]
    ]
  },
  {
    "id": "6857d2b1.97a82c",
    "type": "http in",
    "z": "29d1ef73.d62e1",
    "name": "",
    "url": "/blink/thumb",
    "method": "get",
    "swaggerDoc": "",
    "x": 87,
    "y": 630,
    "wires": [
      [
        "7b1994cb.84e66c"
      ]
    ]
  },
  {
    "id": "7b1994cb.84e66c",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "Get thumb jpg",
    "func": "var web_req=(context.global.getCookie('exchange_token',msg.req.headers.cookie)=='0' ? false:true);\nif (msg.payload.iftttkey==context.global.IFTTT_TOKEN || msg.payload.iftttkey==context.global.FREEBOARD_TOKEN || (msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN)) web_req=true;\nif (web_req)\n{\n    msg.statusCode=200;\n    msg.url=\"https://prod.immedia-semi.com\"+context.global.Blink.cameras[msg.payload.camera_name].thumbnail+\".jpg\";\n    msg.method=\"GET\";\n    msg.headers={\"TOKEN_AUTH\":context.global.Blink.token};\n    return [msg,null];\n}\nelse {\n    node.warn(\"ifttt messages bad request\");\n    msg.payload=\"403: Bad request\";\n    msg.statusCode=403;\n    return [null,msg];\n}\nreturn msg;\n",
    "outputs": "2",
    "noerr": 0,
    "x": 282,
    "y": 630,
    "wires": [
      [
        "1827b5e4.e7d84a"
      ],
      [
        "310e7f94.cef18"
      ]
    ]
  },
  {
    "id": "b84d3c58.47b2c",
    "type": "http response",
    "z": "29d1ef73.d62e1",
    "name": "",
    "x": 606,
    "y": 630,
    "wires": []
  },
  {
    "id": "1827b5e4.e7d84a",
    "type": "http request",
    "z": "29d1ef73.d62e1",
    "name": "",
    "method": "use",
    "ret": "bin",
    "url": "",
    "x": 456,
    "y": 630,
    "wires": [
      [
        "b84d3c58.47b2c"
      ]
    ]
  },
  {
    "id": "a9dacba2.562538",
    "type": "http request",
    "z": "29d1ef73.d62e1",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 591,
    "y": 341,
    "wires": [
      []
    ]
  },
  {
    "id": "697428f7.968bd8",
    "type": "http in",
    "z": "29d1ef73.d62e1",
    "name": "",
    "url": "/blink/snap",
    "method": "get",
    "swaggerDoc": "",
    "x": 87,
    "y": 720,
    "wires": [
      [
        "303d1188.cfc2ee",
        "fee38901.011c78"
      ]
    ]
  },
  {
    "id": "303d1188.cfc2ee",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "Validate Web Req",
    "func": "var web_req=(context.global.getCookie('exchange_token',msg.req.headers.cookie)=='0' ? false:true);\nif (msg.payload.iftttkey==context.global.IFTTT_TOKEN || msg.payload.iftttkey==context.global.FREEBOARD_TOKEN || (msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN)) web_req=true;\ncontext.global.snapreq = {};\nif (web_req)\n{\n    if(typeof msg.payload.blinkevent!==\"undefined\")\n    {\n        msg.payload={\n            'camera_name':msg.payload.camera_name,\n            'blinkevent':msg.payload.blinkevent\n        }\n    }\n    else {\n        msg.payload={\n            'camera_name':msg.payload.camera_name,\n        }\n    }\n    return [msg,null];\n}\nelse {\n    node.warn(\"ifttt messages bad request\");\n    msg.statusCode=403;\n    msg.payload=\"403: Bad request\";\n    return [null,msg];\n}\n",
    "outputs": "2",
    "noerr": 0,
    "x": 292,
    "y": 720,
    "wires": [
      [
        "d773fa5a.288c08"
      ],
      [
        "ba9c32b3.4563d"
      ]
    ]
  },
  {
    "id": "490ae9d9.b6f518",
    "type": "http response",
    "z": "29d1ef73.d62e1",
    "name": "",
    "x": 906,
    "y": 720,
    "wires": []
  },
  {
    "id": "6a66ec7f.959914",
    "type": "http request",
    "z": "29d1ef73.d62e1",
    "name": "",
    "method": "use",
    "ret": "bin",
    "url": "",
    "x": 756,
    "y": 720,
    "wires": [
      [
        "490ae9d9.b6f518"
      ]
    ]
  },
  {
    "id": "d773fa5a.288c08",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "",
    "func": "var events = context.global.Blink.events;\nvar id = \"0\";\nvar snap_url=\"\";\nfor (var e in events)\n{\n    if(events[e].type==\"motion\" && \"video_url\" in events[e])\n    {\n        if(typeof events[e].video_url=='undefined') events[e].video_url=context.global.Blink.cameras[events[e].camera_name].thumbnail\n        if((typeof msg.payload.blinkevent == \"undefined\") && events[e].camera_name == msg.payload.camera_name && events[e].id>id)\n        {\n            id=events[e].id;\n            snap_url=\"https://prod.immedia-semi.com/\"+events[e].video_url.replace(\".mp4\",\".jpg\");\n        }\n        else if (msg.payload.blinkevent>0 && events[e].id==msg.payload.blinkevent && events[e].camera_name == msg.payload.camera_name)\n        {\n            id=events[e].id;\n            snap_url=\"https://prod.immedia-semi.com/\"+events[e].video_url.replace(\".mp4\",\".jpg\");\n        }\n    }\n}\nif (id>1 && snap_url!==\"\" && snap_url!==\"https://prod.immedia-semi.com/events/network/\"+context.global.Blink.network.id)\n{\n    msg.url=snap_url;\n    msg.method=\"GET\";\n    msg.headers={\"TOKEN_AUTH\":context.global.Blink.token};\n}\nelse\n{\n    msg.url=\"https://prod.immedia-semi.com\"+context.global.Blink.cameras[msg.payload.camera_name].thumbnail+\".jpg\";\n    msg.method=\"GET\";\n    msg.headers={\"TOKEN_AUTH\":context.global.Blink.token};\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 497,
    "y": 720,
    "wires": [
      [
        "6a66ec7f.959914",
        "72712ff0.8d8ed",
        "a06e76dd.5f9188"
      ]
    ]
  },
  {
    "id": "bcc361c1.433ca",
    "type": "comment",
    "z": "29d1ef73.d62e1",
    "name": "Web Services",
    "info": "",
    "x": 77,
    "y": 558,
    "wires": []
  },
  {
    "id": "e0eda8d2.1f1258",
    "type": "comment",
    "z": "29d1ef73.d62e1",
    "name": "Import from Blink API into context.global.Blink",
    "info": "",
    "x": 177,
    "y": 25,
    "wires": []
  },
  {
    "id": "8ec75ce.f7138a",
    "type": "comment",
    "z": "29d1ef73.d62e1",
    "name": "Import from context.global.Blink into winkState",
    "info": "",
    "x": 187,
    "y": 298,
    "wires": []
  },
  {
    "id": "ded4139b.212bf",
    "type": "comment",
    "z": "29d1ef73.d62e1",
    "name": "v---- Update \"Define username and password\" node to your Blink account e-mail and password",
    "info": "",
    "x": 683,
    "y": 25,
    "wires": []
  },
  {
    "id": "5b75fd1e.a48a04",
    "type": "comment",
    "z": "29d1ef73.d62e1",
    "name": "Arm / Disarm Blink manually through using the Inject button",
    "info": "",
    "x": 227,
    "y": 397,
    "wires": []
  },
  {
    "id": "a06e76dd.5f9188",
    "type": "debug",
    "z": "29d1ef73.d62e1",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "url",
    "x": 700,
    "y": 781,
    "wires": []
  },
  {
    "id": "ba9c32b3.4563d",
    "type": "http response",
    "z": "29d1ef73.d62e1",
    "name": "",
    "x": 497,
    "y": 754,
    "wires": []
  },
  {
    "id": "310e7f94.cef18",
    "type": "http response",
    "z": "29d1ef73.d62e1",
    "name": "",
    "x": 436,
    "y": 665,
    "wires": []
  },
  {
    "id": "aefd759a.510288",
    "type": "http request",
    "z": "29d1ef73.d62e1",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 904,
    "y": 235,
    "wires": [
      []
    ]
  },
  {
    "id": "54016923.abfe98",
    "type": "debug",
    "z": "29d1ef73.d62e1",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "url",
    "x": 890,
    "y": 279,
    "wires": []
  },
  {
    "id": "9b8b774a.647488",
    "type": "delay",
    "z": "29d1ef73.d62e1",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 378,
    "y": 255,
    "wires": [
      [
        "cecd6397.3132a"
      ]
    ]
  },
  {
    "id": "453e361e.bac1c8",
    "type": "inject",
    "z": "29d1ef73.d62e1",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 804,
    "y": 419,
    "wires": [
      [
        "495015ef.b6afec"
      ]
    ]
  },
  {
    "id": "495015ef.b6afec",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "",
    "func": "context.global.Blink.lastevent=\"21955477\";",
    "outputs": 1,
    "noerr": 0,
    "x": 954,
    "y": 419,
    "wires": [
      []
    ]
  },
  {
    "id": "72712ff0.8d8ed",
    "type": "function",
    "z": "29d1ef73.d62e1",
    "name": "",
    "func": "var newMsg4 ={\n    \"url\":\"https://prod.immedia-semi.com/events/network/\"+context.global.Blink.network.id,\n    \"method\": \"GET\",\n    headers: {\n        \"Content-Type\":\"application/json\",\n        \"TOKEN_AUTH\":context.global.Blink.token\n    }\n};\nreturn newMsg4;",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 502,
    "wires": [
      [
        "cecd6397.3132a"
      ]
    ]
  },
  {
    "id": "fee38901.011c78",
    "type": "debug",
    "z": "29d1ef73.d62e1",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 289,
    "y": 812,
    "wires": []
  }
]
