Flows/Bluemix/Blink.json
[
  {
    "id": "aca04015.9daf",
    "type": "inject",
    "z": "7c147959.8f4298",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "300",
    "crontab": "",
    "once": true,
    "x": 82,
    "y": 55,
    "wires": [
      [
        "664d24a8.6f23ac",
        "ac5bba20.eedeb8"
      ]
    ]
  },
  {
    "id": "5e664618.df5dc8",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "Prepare OAuth Request",
    "func": "var uid=context.global.Blink.uid;\nvar pwd=context.global.Blink.pwd;\nvar newMsg ={\n    \"url\":\"https://prod.immedia-semi.com/login\",\n    \"method\": \"POST\",\n    headers: {\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"email\": uid,\n        \"password\": pwd,\n        \"client_specifier\": \"iPhone 9.2 | 2.2 | 222\"\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 573,
    "y": 55,
    "wires": [
      [
        "24282ee8.98f402"
      ]
    ]
  },
  {
    "id": "664d24a8.6f23ac",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "Define email and password",
    "func": "if (typeof context.global.Blink == 'undefined'){\n    context.global.Blink = {};\n    context.global.Blink.uid = \"\"; // Enter your Blink User e-mail here\n    context.global.Blink.pwd = \"\"; // Enter your Blink password here\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 306,
    "y": 55,
    "wires": [
      [
        "5e664618.df5dc8"
      ]
    ]
  },
  {
    "id": "24282ee8.98f402",
    "type": "http request",
    "z": "7c147959.8f4298",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 785,
    "y": 55,
    "wires": [
      [
        "32d3667a.f1b52a"
      ]
    ]
  },
  {
    "id": "32d3667a.f1b52a",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "Define Token",
    "func": "context.global.Blink.token = msg.payload.authtoken.authtoken;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 955,
    "y": 55,
    "wires": [
      [
        "13896d63.6debe3"
      ]
    ]
  },
  {
    "id": "8d85003f.8fd1e",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "Prepare Queries",
    "func": "var newMsg2 ={\n    \"url\":\"https://prod.immedia-semi.com/network/\"+context.global.Blink.network.id+\"/syncmodules\",\n    \"method\": \"GET\",\n    headers: {\n        \"Content-Type\":\"application/json\",\n        \"TOKEN_AUTH\":context.global.Blink.token\n    }\n};\n\nvar newMsg3 ={\n    \"url\":\"https://prod.immedia-semi.com/homescreen\",\n    \"method\": \"GET\",\n    headers: {\n        \"Content-Type\":\"application/json\",\n        \"TOKEN_AUTH\":context.global.Blink.token\n    }\n};\n\nvar newMsg4 ={\n    \"url\":\"https://prod.immedia-semi.com/events/network/\"+context.global.Blink.network.id,\n    \"method\": \"GET\",\n    headers: {\n        \"Content-Type\":\"application/json\",\n        \"TOKEN_AUTH\":context.global.Blink.token\n    }\n};\n\nreturn [newMsg2, newMsg3, newMsg4];",
    "outputs": "3",
    "noerr": 0,
    "x": 277,
    "y": 195,
    "wires": [
      [
        "ac458eaa.36f1c"
      ],
      [
        "24fbdcd8.dd0364"
      ],
      [
        "7982d4f3.b1a57c"
      ]
    ]
  },
  {
    "id": "a6c061a0.8c228",
    "type": "http request",
    "z": "7c147959.8f4298",
    "name": "Get Networks",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 543,
    "y": 125,
    "wires": [
      [
        "d242ea41.1d9178"
      ]
    ]
  },
  {
    "id": "d242ea41.1d9178",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "",
    "func": "mp = msg.payload.networks[0];\n\ncontext.global.Blink.network={\n\t'id' : mp.id,\n\t'armed' : mp.armed,\n\t'autoarm_geo_enable' : mp.autoarm_geo_enable,\n\t'autoarm_time_enable' : mp.autoarm_time_enable,\n\t'video_destination' : mp.video_destination,\n\t'storage_used' : mp.storage_used,\n\t'storage_total' : mp.storage_total,\n\t'video_count' : mp.video_count,\n\t'busy' : mp.busy,\n\t'camera_error' : mp.camera_error,\n\t'sync_module_error' : mp.sync_module_error\n};\ncontext.global.Blink.account_id = mp.account_id;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 766,
    "y": 125,
    "wires": [
      [
        "8d85003f.8fd1e"
      ]
    ]
  },
  {
    "id": "c45e36e1.a3e298",
    "type": "inject",
    "z": "7c147959.8f4298",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 94,
    "y": 195,
    "wires": [
      [
        "8d85003f.8fd1e"
      ]
    ]
  },
  {
    "id": "ac458eaa.36f1c",
    "type": "http request",
    "z": "7c147959.8f4298",
    "name": "Get Sync Module Info",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 564,
    "y": 160,
    "wires": [
      [
        "be152a70.2f4698"
      ]
    ]
  },
  {
    "id": "be152a70.2f4698",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "",
    "func": "var sm = {};\nsm = msg.payload.syncmodule;\ncontext.global.Blink.syncmodule={\n    'id':sm.id,\n    'updated':sm.updated_at,\n    'name':sm.name,\n    'mac_address':sm.mac_address,\n    'serial':sm.serial,\n    'status':sm.status,\n    'onboarded':sm.onboarded,\n    'server':sm.server\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 766,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "e7d52505.a55f48",
    "type": "inject",
    "z": "7c147959.8f4298",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 92,
    "y": 90,
    "wires": [
      [
        "ac5bba20.eedeb8"
      ]
    ]
  },
  {
    "id": "ac5bba20.eedeb8",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "Blink Global Functions",
    "func": "context.global.executeBlinkCMD = function(command){\n    var BlinkMsg={};\n    switch (command.toLowerCase()){\n        case 'arm':\n        case 'disarm':\n        BlinkMsg = {\n            \"url\":\"https://prod.immedia-semi.com/network/\"+context.global.Blink.network.id+\"/\"+command,\n            method: \"POST\",\n            headers: {\n                \"TOKEN_AUTH\":context.global.Blink.token\n            },\n            payload:{}\n        }\n        break;\n    }\n    if (typeof BlinkMsg.url!=='undefined' && BlinkMsg.url!==\"\")\n    {\n        node.send(BlinkMsg);\n    }\n};\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 287,
    "y": 90,
    "wires": [
      [
        "84629106.cdbb4"
      ]
    ]
  },
  {
    "id": "414767aa.718db8",
    "type": "inject",
    "z": "7c147959.8f4298",
    "name": "Arm",
    "topic": "",
    "payload": "arm",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 84,
    "y": 428,
    "wires": [
      [
        "c70c6828.5cccf8"
      ]
    ]
  },
  {
    "id": "86e0cdd6.ec3bc",
    "type": "inject",
    "z": "7c147959.8f4298",
    "name": "Disarm",
    "topic": "",
    "payload": "disarm",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 85,
    "y": 472,
    "wires": [
      [
        "c70c6828.5cccf8"
      ]
    ]
  },
  {
    "id": "84629106.cdbb4",
    "type": "http request",
    "z": "7c147959.8f4298",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 533,
    "y": 90,
    "wires": [
      []
    ]
  },
  {
    "id": "c70c6828.5cccf8",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "",
    "func": "context.global.executeBlinkCMD(msg.payload);\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 278,
    "y": 448,
    "wires": [
      [
        "c94c58f1.502418"
      ]
    ]
  },
  {
    "id": "24fbdcd8.dd0364",
    "type": "http request",
    "z": "7c147959.8f4298",
    "name": "Get Homescreen Data",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 564,
    "y": 195,
    "wires": [
      [
        "3419efe5.707ff"
      ]
    ]
  },
  {
    "id": "3419efe5.707ff",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "",
    "func": "context.global.Blink.wifi_strength=msg.payload.network.wifi_strength;\ncontext.global.Blink.notification_count = msg.payload.network.notifications;\ncontext.global.Blink.cameras = {};\nvar cameras = [];\ncameras = msg.payload.devices;\nfor (i=0; i<cameras.length; i++) {\n    if (typeof cameras[i].name!=='undefined'){\n        context.global.Blink.cameras[cameras[i].name]={\n            'device_type':cameras[i].device_type,\n            'device_id':cameras[i].device_id,\n            'updated_at':cameras[i].updated_at,\n            'name':cameras[i].name,\n            'thumbnail':cameras[i].thumbnail,\n            'active':cameras[i].active,\n            'notifications':cameras[i].notifications,\n            'enabled':cameras[i].enabled,\n            'armed':cameras[i].armed,\n            'wifi_strength':cameras[i].wifi_strength,\n            'lfr_strength':cameras[i].lfr_strength,\n            'temp':cameras[i].temp,\n            'battery':cameras[i].battery\n        };\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 766,
    "y": 195,
    "wires": [
      [
        "6e6caa9c.d16fa4"
      ]
    ]
  },
  {
    "id": "42f23530.ca379c",
    "type": "inject",
    "z": "7c147959.8f4298",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 623,
    "y": 513,
    "wires": [
      [
        "a36e3497.dfaeb8"
      ]
    ]
  },
  {
    "id": "a36e3497.dfaeb8",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "Clear Blink Data",
    "func": "for (var key in context.global.Blink.cameras)\n{\n    delete context.global.winkState.cameras[key];\n}\ndelete context.global.Blink;\n\nnode.warn(\"Blink data has been cleared.\")",
    "outputs": 1,
    "noerr": 0,
    "x": 823,
    "y": 513,
    "wires": [
      []
    ]
  },
  {
    "id": "c94c58f1.502418",
    "type": "http request",
    "z": "7c147959.8f4298",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "url": "",
    "x": 427,
    "y": 448,
    "wires": [
      []
    ]
  },
  {
    "id": "13896d63.6debe3",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "Prepare Network Query",
    "func": "var newMsg1 ={\n    \"url\":\"https://prod.immedia-semi.com/networks\",\n    \"method\": \"GET\",\n    headers: {\n        \"Content-Type\":\"application/json\",\n        \"TOKEN_AUTH\":context.global.Blink.token\n    }\n};\n\nreturn newMsg1;",
    "outputs": 1,
    "noerr": 0,
    "x": 297,
    "y": 125,
    "wires": [
      [
        "a6c061a0.8c228"
      ]
    ]
  },
  {
    "id": "27765b3a.8fe134",
    "type": "http request",
    "z": "7c147959.8f4298",
    "name": "Get Events Data",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 555,
    "y": 250,
    "wires": [
      [
        "cdb72838.e79f48"
      ]
    ]
  },
  {
    "id": "cdb72838.e79f48",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "",
    "func": "context.global.Blink.events = {};\nif (typeof context.global.Blink.lastevent==\"undefined\"){ context.global.Blink.lastevent=0 }\nvar events = [];\nevents = msg.payload.event;\nvar matches=0;\nfor (i=0; i<events.length; i++) {\n    if (typeof events[i].id!=='undefined'){\n        context.global.Blink.events[events[i].id]={\n            'id':events[i].id,\n            'updated_at':events[i].updated_at,\n            'type':events[i].type,\n            'notified':events[i].notified,\n            'camera_id':events[i].camera_id,\n            'sync_module_id':events[i].sync_module_id,\n            'network_id':events[i].network_id,\n            'account_id':events[i].account_id,\n            'syncmodule':events[i].syncmodule,\n            'camera':events[i].camera,\n            'account':events[i].account,\n            'camera_name':events[i].camera_name,\n            'video_id':events[i].video_id,\n            'video_url':events[i].video_url\n        };\n    }\n}\nvar events = [];\nevents=context.global.Blink.events;\nfor (var key in events) {\n    if (events[key].type==\"motion\" && events[key].id>context.global.Blink.lastevent)\n    {\n        context.global.winkState.cameras[events[key].camera_name].snap_url=context.global.BlueMixUrlBase+\"/blink/snap?camera_name=\"+events[key].camera_name+\"&blinkevent=\"+events[key].id+\"&iftttkey=\"+context.global.FREEBOARD_TOKEN;\n        newmsg={\n            \"url\":context.global.BlueMixUrlBase+'/red/save_images?cam_list='+context.global.camera_motion[events[key].camera_name]+'&object_name='+events[key].camera_name,\n            \"method\": \"GET\",\n            headers: {\n                \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n            }\n        };\n        node.warn(\"New event imported: \"+events[key].id+\" for camera \"+events[key].camera_name);\n        node.send(newmsg);\n        context.global.Blink.lastevent=events[key].id;\n        matches+=1;\n        break;\n    }\n}\nif (matches===0){\n    \n    for (var key in context.global.winkState.cameras)\n    {\n        if (context.global.winkState.cameras[key].eco_system==\"Blink\"){\n            context.global.winkState.cameras[key].snap_url=context.global.BlueMixUrlBase+\"/blink/snap?camera_name=\"+context.global.winkState.cameras[key].name;\n        }\n    }\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 766,
    "y": 230,
    "wires": [
      [
        "4dc6a74c.7fe0d8",
        "5c1d5ef7.f1ec3"
      ]
    ]
  },
  {
    "id": "60d59a83.08e724",
    "type": "http in",
    "z": "7c147959.8f4298",
    "name": "",
    "url": "/blink/cmd/*",
    "method": "get",
    "swaggerDoc": "",
    "x": 85,
    "y": 590,
    "wires": [
      [
        "3b9baafe.d786a6"
      ]
    ]
  },
  {
    "id": "3b9baafe.d786a6",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "Command msg",
    "func": "var web_req=(context.global.getCookie('exchange_token',msg.req.headers.cookie)=='0' ? false:true);\nif (msg.payload.iftttkey==context.global.IFTTT_TOKEN || msg.payload.iftttkey==context.global.FREEBOARD_TOKEN || (msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN)) web_req=true;\nif (web_req)\n{\n    var command=msg.req.originalUrl.split('/').pop();\n    msg.statusCode=200;\n    context.global.executeBlinkCMD(command);\n}\nelse {\n    node.warn(\"ifttt messages bad request\");\n    msg.statusCode=403;\n}\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 280,
    "y": 590,
    "wires": [
      [
        "24c0242a.51ba5c"
      ]
    ]
  },
  {
    "id": "24c0242a.51ba5c",
    "type": "http response",
    "z": "7c147959.8f4298",
    "name": "",
    "x": 435,
    "y": 590,
    "wires": []
  },
  {
    "id": "fde3db53.6400f8",
    "type": "inject",
    "z": "7c147959.8f4298",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 91,
    "y": 330,
    "wires": [
      [
        "6e6caa9c.d16fa4"
      ]
    ]
  },
  {
    "id": "6e6caa9c.d16fa4",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "Blink Cameras into winkState",
    "func": "for (var key in context.global.Blink.cameras)\n{\n    var bc = context.global.Blink.cameras[key];\n    context.global.camera_motion[bc.name]=[bc.name]\n    context.global.winkState.cameras[bc.name]={\n        'name':bc.name,\n        'object_type':\"cameras\",\n        'eco_system':\"Blink\",\n        'object_id':bc.device_id,\n        'manufacturer_device_model':\"Blink Camera\",\n        'connection':true,\n        'capturing_audio':false,\n        'capturing_video':false,\n        'url':context.global.BlueMixUrlBase+\"/blink/thumb?camera_name=\"+bc.name,\n        'snap_url':context.global.BlueMixUrlBase+\"/blink/snap?camera_name=\"+bc.name,\n        'history_url':context.global.BlueMixUrlBase+\"/freeboard/cameraSnapshots?token=\"+context.global.FREEBOARD_TOKEN+\"&camera_name=\"+bc.name,\n        'refresh_time':30,\n        'motion': \"N/A\",\n        'activities':[]\n    };\n    context.global.winkState.sensor_pods[bc.name]={\n        'eco_system':\"Blink\",\n        'name':bc.name,\n        'object_type':\"sensor_pods\",\n        'object_id':bc.device_id,\n        'device_manufacturer':\"Blink\",\n        'temperature':((bc.temp-32)*5/9),\n        'connection':true\n    };\n    context.global.winkDevCap[bc.name]={\n        \"fields\":[{\"field\":\"temperature\",\"mutability\":\"read-only\",\"type\":\"float\"}]\n    };\n    var newmsg ={\n        \"url\":context.global.BlueMixUrlBase+'/red/retrieve_activities?camera_name='+bc.name,\n        \"method\": \"GET\",\n        headers: {\n            \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n        }\n    };\n    node.send(newmsg);\n}\n\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 356,
    "y": 336,
    "wires": [
      [
        "7233cf0b.45d"
      ]
    ]
  },
  {
    "id": "e50a1f59.499d9",
    "type": "http in",
    "z": "7c147959.8f4298",
    "name": "",
    "url": "/blink/thumb",
    "method": "get",
    "swaggerDoc": "",
    "x": 85,
    "y": 625,
    "wires": [
      [
        "352b958f.a4cf7a"
      ]
    ]
  },
  {
    "id": "352b958f.a4cf7a",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "Get thumb jpg",
    "func": "var web_req=(context.global.getCookie('exchange_token',msg.req.headers.cookie)=='0' ? false:true);\nif (msg.payload.iftttkey==context.global.IFTTT_TOKEN || msg.payload.iftttkey==context.global.FREEBOARD_TOKEN || (msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN)) web_req=true;\nif (web_req)\n{\n    msg.statusCode=200;\n    msg.url=\"https://prod.immedia-semi.com\"+context.global.Blink.cameras[msg.payload.camera_name].thumbnail+\".jpg\";\n    msg.method=\"GET\";\n    msg.headers={\"TOKEN_AUTH\":context.global.Blink.token};\n    return [msg,null];\n}\nelse {\n    node.warn(\"ifttt messages bad request\");\n    msg.payload=\"403: Bad request\";\n    msg.statusCode=403;\n    return [null,msg];\n}\nreturn msg;\n",
    "outputs": "2",
    "noerr": 0,
    "x": 280,
    "y": 625,
    "wires": [
      [
        "c0717524.d126e8"
      ],
      [
        "453c408e.8bd52"
      ]
    ]
  },
  {
    "id": "3e136420.1e56dc",
    "type": "http response",
    "z": "7c147959.8f4298",
    "name": "",
    "x": 604,
    "y": 625,
    "wires": []
  },
  {
    "id": "c0717524.d126e8",
    "type": "http request",
    "z": "7c147959.8f4298",
    "name": "",
    "method": "use",
    "ret": "bin",
    "url": "",
    "x": 454,
    "y": 625,
    "wires": [
      [
        "3e136420.1e56dc"
      ]
    ]
  },
  {
    "id": "7233cf0b.45d",
    "type": "http request",
    "z": "7c147959.8f4298",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 589,
    "y": 336,
    "wires": [
      []
    ]
  },
  {
    "id": "e3d83ea2.aa6a1",
    "type": "http in",
    "z": "7c147959.8f4298",
    "name": "",
    "url": "/blink/snap",
    "method": "get",
    "swaggerDoc": "",
    "x": 85,
    "y": 715,
    "wires": [
      [
        "25ee2761.58db28",
        "3aaef6cb.b6faca"
      ]
    ]
  },
  {
    "id": "25ee2761.58db28",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "Validate Web Req",
    "func": "var web_req=(context.global.getCookie('exchange_token',msg.req.headers.cookie)=='0' ? false:true);\nif (msg.payload.iftttkey==context.global.IFTTT_TOKEN || msg.payload.iftttkey==context.global.FREEBOARD_TOKEN || (msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN)) web_req=true;\ncontext.global.snapreq = {};\nif (web_req)\n{\n    if(typeof msg.payload.blinkevent!==\"undefined\")\n    {\n        msg.payload={\n            'camera_name':msg.payload.camera_name,\n            'blinkevent':msg.payload.blinkevent\n        }\n    }\n    else {\n        msg.payload={\n            'camera_name':msg.payload.camera_name,\n        }\n    }\n    return [msg,null];\n}\nelse {\n    node.warn(\"ifttt messages bad request\");\n    msg.statusCode=403;\n    msg.payload=\"403: Bad request\";\n    return [null,msg];\n}\n",
    "outputs": "2",
    "noerr": 0,
    "x": 290,
    "y": 715,
    "wires": [
      [
        "bdcc2596.77d898"
      ],
      [
        "2b14fc4.93c4804"
      ]
    ]
  },
  {
    "id": "f360c237.ce953",
    "type": "http response",
    "z": "7c147959.8f4298",
    "name": "",
    "x": 904,
    "y": 715,
    "wires": []
  },
  {
    "id": "4077349a.8bac9c",
    "type": "http request",
    "z": "7c147959.8f4298",
    "name": "",
    "method": "use",
    "ret": "bin",
    "url": "",
    "x": 754,
    "y": 715,
    "wires": [
      [
        "f360c237.ce953"
      ]
    ]
  },
  {
    "id": "bdcc2596.77d898",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "",
    "func": "var events = context.global.Blink.events;\nvar id = \"0\";\nvar snap_url=\"\";\nfor (var e in events)\n{\n    if(events[e].type==\"motion\")\n    {\n        if((typeof msg.payload.blinkevent == \"undefined\") && events[e].camera_name == msg.payload.camera_name && events[e].id>id)\n        {\n            id=events[e].id;\n            snap_url=\"https://prod.immedia-semi.com/\"+events[e].video_url.replace(\".mp4\",\".jpg\");\n        }\n        else if (msg.payload.blinkevent>0 && events[e].id==msg.payload.blinkevent && events[e].camera_name == msg.payload.camera_name)\n        {\n            id=events[e].id;\n            snap_url=\"https://prod.immedia-semi.com/\"+events[e].video_url.replace(\".mp4\",\".jpg\");\n        }\n    }\n}\nif (id>1 && snap_url!==\"\" && snap_url!==\"https://prod.immedia-semi.com/events/network/\"+context.global.Blink.network.id)\n{\n    msg.url=snap_url;\n    msg.method=\"GET\";\n    msg.headers={\"TOKEN_AUTH\":context.global.Blink.token};\n}\nelse\n{\n    msg.url=\"https://prod.immedia-semi.com\"+context.global.Blink.cameras[msg.payload.camera_name].thumbnail+\".jpg\";\n    msg.method=\"GET\";\n    msg.headers={\"TOKEN_AUTH\":context.global.Blink.token};\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 495,
    "y": 715,
    "wires": [
      [
        "4077349a.8bac9c",
        "6217f7e9.0355f8",
        "ade5c255.76313"
      ]
    ]
  },
  {
    "id": "d5a3516a.903eb",
    "type": "comment",
    "z": "7c147959.8f4298",
    "name": "Web Services",
    "info": "",
    "x": 75,
    "y": 553,
    "wires": []
  },
  {
    "id": "d29a7e77.a1774",
    "type": "comment",
    "z": "7c147959.8f4298",
    "name": "Import from Blink API into context.global.Blink",
    "info": "",
    "x": 175,
    "y": 20,
    "wires": []
  },
  {
    "id": "c4329fc1.71e19",
    "type": "comment",
    "z": "7c147959.8f4298",
    "name": "Import from context.global.Blink into winkState",
    "info": "",
    "x": 185,
    "y": 293,
    "wires": []
  },
  {
    "id": "34318529.c5ce1a",
    "type": "comment",
    "z": "7c147959.8f4298",
    "name": "v---- Update \"Define username and password\" node to your Blink account e-mail and password",
    "info": "",
    "x": 681,
    "y": 20,
    "wires": []
  },
  {
    "id": "50379ae1.cbc374",
    "type": "comment",
    "z": "7c147959.8f4298",
    "name": "Arm / Disarm Blink manually through using the Inject button",
    "info": "",
    "x": 225,
    "y": 392,
    "wires": []
  },
  {
    "id": "ade5c255.76313",
    "type": "debug",
    "z": "7c147959.8f4298",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "url",
    "x": 698,
    "y": 776,
    "wires": []
  },
  {
    "id": "2b14fc4.93c4804",
    "type": "http response",
    "z": "7c147959.8f4298",
    "name": "",
    "x": 495,
    "y": 749,
    "wires": []
  },
  {
    "id": "453c408e.8bd52",
    "type": "http response",
    "z": "7c147959.8f4298",
    "name": "",
    "x": 434,
    "y": 660,
    "wires": []
  },
  {
    "id": "4dc6a74c.7fe0d8",
    "type": "http request",
    "z": "7c147959.8f4298",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 907,
    "y": 230,
    "wires": [
      []
    ]
  },
  {
    "id": "5c1d5ef7.f1ec3",
    "type": "debug",
    "z": "7c147959.8f4298",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "url",
    "x": 888,
    "y": 274,
    "wires": []
  },
  {
    "id": "7982d4f3.b1a57c",
    "type": "delay",
    "z": "7c147959.8f4298",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 376,
    "y": 250,
    "wires": [
      [
        "27765b3a.8fe134"
      ]
    ]
  },
  {
    "id": "e060ede.aae611",
    "type": "inject",
    "z": "7c147959.8f4298",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 802,
    "y": 414,
    "wires": [
      [
        "46b56c89.7476e4"
      ]
    ]
  },
  {
    "id": "46b56c89.7476e4",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "",
    "func": "context.global.Blink.lastevent=\"21955477\";",
    "outputs": 1,
    "noerr": 0,
    "x": 952,
    "y": 414,
    "wires": [
      []
    ]
  },
  {
    "id": "6217f7e9.0355f8",
    "type": "function",
    "z": "7c147959.8f4298",
    "name": "",
    "func": "var newMsg4 ={\n    \"url\":\"https://prod.immedia-semi.com/events/network/\"+context.global.Blink.network.id,\n    \"method\": \"GET\",\n    headers: {\n        \"Content-Type\":\"application/json\",\n        \"TOKEN_AUTH\":context.global.Blink.token\n    }\n};\nreturn newMsg4;",
    "outputs": 1,
    "noerr": 0,
    "x": 458,
    "y": 497,
    "wires": [
      [
        "27765b3a.8fe134"
      ]
    ]
  },
  {
    "id": "3aaef6cb.b6faca",
    "type": "debug",
    "z": "7c147959.8f4298",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 287,
    "y": 807,
    "wires": []
  }
]
