Flows/Bluemix/blueIris.json
[
  {
    "id": "861db6af.79e248",
    "type": "inject",
    "z": "926f70fe.6d909",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "82800",
    "crontab": "",
    "once": true,
    "x": 105,
    "y": 40,
    "wires": [
      [
        "aa6c71ec.55939"
      ]
    ]
  },
  {
    "id": "bf8d253f.4072d8",
    "type": "function",
    "z": "926f70fe.6d909",
    "name": "",
    "func": "    if ('BlueIrisHost' in context.global && context.global.BlueIrisHost!=='' ){\n    msg.url=context.global.BlueIrisHost+'/json';\n    msg.method='POST';\n    msg.payload={\n        \"cmd\":\"login\"\n    }\n    node.warn(msg.payload)\n    return msg;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 428,
    "y": 51,
    "wires": [
      [
        "471273de.b8ed8c"
      ]
    ]
  },
  {
    "id": "471273de.b8ed8c",
    "type": "http request",
    "z": "926f70fe.6d909",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 587,
    "y": 52,
    "wires": [
      [
        "1f0ff01d.e0f01",
        "b899783.f476688"
      ]
    ]
  },
  {
    "id": "1f0ff01d.e0f01",
    "type": "function",
    "z": "926f70fe.6d909",
    "name": "",
    "func": " if ('result' in msg.payload && msg.payload.result=='fail') {\n    var session=msg.payload.session;\n    var ha1_str=context.global.BlueIrisUid+':'+msg.payload.session+':'+context.global.BlueIrisPwd;\n    var response=context.global.CRYPTO.createHash(\"md5\").update(ha1_str,\"utf8\").digest(\"hex\");\n    msg.md5resp=response;\n    node.warn('generating hash response: '+ response);\n    delete msg.headers;\n    msg.payload={\n        \"cmd\":\"login\",\n        \"session\":session,\n        \"response\":response\n    }\n    node.send(msg);\n} ",
    "outputs": "1",
    "noerr": 0,
    "x": 585,
    "y": 103,
    "wires": [
      [
        "471273de.b8ed8c"
      ]
    ]
  },
  {
    "id": "b899783.f476688",
    "type": "function",
    "z": "926f70fe.6d909",
    "name": "",
    "func": "if ('result' in msg.payload && msg.payload.result=='success'){\n    context.global.blueIris=msg.payload.data;\n    var session=msg.payload.session;\n    node.warn(' hash response: '+ msg.md5resp);\n    delete msg.headers;\n    msg.payload={\n        \"cmd\":\"camlist\",\n        \"session\":session,\n        \"response\":msg.md5resp\n    }    \nreturn msg;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 763,
    "y": 52,
    "wires": [
      [
        "9339e269.6cc62"
      ]
    ]
  },
  {
    "id": "9339e269.6cc62",
    "type": "http request",
    "z": "926f70fe.6d909",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 919,
    "y": 52,
    "wires": [
      [
        "394ad37b.c6b52c"
      ]
    ]
  },
  {
    "id": "394ad37b.c6b52c",
    "type": "function",
    "z": "926f70fe.6d909",
    "name": "",
    "func": "if(!('cameras' in context.global.winkState)) context.global.winkState.cameras={}\nif ('result' in msg.payload && msg.payload.result=='success'){\n    var camlist=msg.payload.data;\n    camlist.forEach(function(camera){\n    if(camera.optionDisplay.substr(0, 1)!=='+'){\n    var cam_name=camera.optionValue;\n    context.global.winkState.cameras[cam_name]={\n    \"name\": cam_name,\n    \"object_type\": \"cameras\",\n    \"eco_system\" : \"BlueIris\",\n    \"object_id\": cam_name.replace(\" \",\"\"),\n    \"freeboard\": 0,\n    \"manufacturer_device_model\":\"BlueIris camera\",\n    \"connection\": true,\n    \"capturing_audio\": true,\n    \"capturing_video\": true,\n    \"url\":context.global.BlueIrisHost+\"/mjpg/\"+cam_name+\"?user=\"+context.global.BlueIrisUid+\"&pw=\"+context.global.BlueIrisPwd,\n    \"snap_url\": context.global.BlueMixUrlBase+\"/red/blueiris/\"+cam_name,\n    \"history_url\": context.global.BlueMixUrlBase+\"/freeboard/cameraSnapshots?token=\"+context.global.FREEBOARD_TOKEN+\"&camera_name=\"+cam_name,\n    \"refresh_time\":30,\n    \"motion\": \"N/A\",\n    \"activities\":[]\n    }\n    var newmsg ={\n        \"url\":context.global.BlueMixUrlBase+'/red/retrieve_activities?camera_name='+cam_name,\n        \"method\": \"GET\",\n        headers: {\n            \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n        }\n    }\n    node.send(newmsg)\n    }\n    })\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 1074,
    "y": 52,
    "wires": [
      [
        "794e3676.86b1c8"
      ]
    ]
  },
  {
    "id": "bdd343d1.422cc",
    "type": "http in",
    "z": "926f70fe.6d909",
    "name": "",
    "url": "/red/blueIris/*",
    "method": "get",
    "swaggerDoc": "",
    "x": 116,
    "y": 233,
    "wires": [
      [
        "cc78f59c.338708"
      ]
    ]
  },
  {
    "id": "cc78f59c.338708",
    "type": "function",
    "z": "926f70fe.6d909",
    "name": "",
    "func": "//if (msg.payload.token ==context.global.FREEBOARD_TOKEN || context.global.getCookie('exchange_token',msg.req.headers.cookie)==context.global.FREEBOARD_TOKEN){\n    camName=msg.req.originalUrl.split('/').pop().split('?').shift();\n    msg.method='GET';\n    msg.url=context.global.BlueIrisHost+'/image/'+camName+'?user='+context.global.BlueIrisUid+'&pw='+context.global.BlueIrisPwd+'&q=100&s=100';\nreturn msg;\n//}\n//return;",
    "outputs": 1,
    "noerr": 0,
    "x": 288,
    "y": 232,
    "wires": [
      [
        "301820d6.cfe7e"
      ]
    ]
  },
  {
    "id": "301820d6.cfe7e",
    "type": "http request",
    "z": "926f70fe.6d909",
    "name": "",
    "method": "use",
    "ret": "bin",
    "url": "",
    "x": 478,
    "y": 233,
    "wires": [
      [
        "a400f667.5bff08"
      ]
    ]
  },
  {
    "id": "a400f667.5bff08",
    "type": "http response",
    "z": "926f70fe.6d909",
    "name": "",
    "x": 632,
    "y": 232,
    "wires": []
  },
  {
    "id": "98d8a135.67276",
    "type": "http request",
    "z": "926f70fe.6d909",
    "name": "get_cam_hist",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1435,
    "y": 39,
    "wires": [
      []
    ]
  },
  {
    "id": "99dd61fe.6622a",
    "type": "http in",
    "z": "926f70fe.6d909",
    "name": "",
    "url": "/red/blueiris/alerts/*",
    "method": "post",
    "swaggerDoc": "",
    "x": 140,
    "y": 344,
    "wires": [
      [
        "5f783305.a087cc",
        "6b2563d1.94da9c"
      ]
    ]
  },
  {
    "id": "c8aad0b1.37553",
    "type": "function",
    "z": "926f70fe.6d909",
    "name": "",
    "func": "var Camera=msg.req.originalUrl.split('/').pop();\nEvent= {\n    Camera:Camera,\n    motion:msg.payload.motion\n}\n\nif ('motion' in msg.payload){\n        var postMsg={\n            url:context.global.BlueMixUrlBase+'/red/wink/subscribtions',\n            method:\"POST\",\n                headers: {\n                \"Content-Type\":\"application/json\"\n            },\n            payload:{\n          capabilities: { fields: [ { field: 'motion', type: 'boolean' } ] },\n          device_manufacturer: 'BlueIris',\n          \"eco_system\" : \"BLUEIRIS\",\n          last_event: \n           { brightness_occurred_at: null,\n             loudness_occurred_at: null,\n             vibration_occurred_at: null },\n          last_reading: \n           { \n               agent_session_id: 'FALSE',\n               connection: true,\n               motion: ((msg.payload.motion===true || msg.payload.motion===\"true\") ? true : false),\n           },\n          manufacturer_device_model: 'blueiris_motion_sensor',\n          model_name: 'Motion Sensor',\n          name:Camera,\n          object_id: Camera+'_BlueIris',\n          object_type: 'sensor_pod',\n          radio_type: 'wifi',\n          sensor_pod_id:Camera+'_BlueIris',\n          triggers: [],\n          units: {},\n          upc_code: 'motion_sensor',\n          upc_id: 'blueiris0001'\n          }\n        }\n        return postMsg;\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 626,
    "y": 322,
    "wires": [
      [
        "70fc25bc.8f03dc"
      ]
    ]
  },
  {
    "id": "70fc25bc.8f03dc",
    "type": "http request",
    "z": "926f70fe.6d909",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 818,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "5f783305.a087cc",
    "type": "http response",
    "z": "926f70fe.6d909",
    "name": "",
    "x": 360,
    "y": 361,
    "wires": []
  },
  {
    "id": "ed2ec126.12d14",
    "type": "http in",
    "z": "926f70fe.6d909",
    "name": "",
    "url": "/red/blueiris",
    "method": "post",
    "swaggerDoc": "",
    "x": 120,
    "y": 160,
    "wires": [
      [
        "756165da.8a9e9c",
        "f3b7b3f8.0c485"
      ]
    ]
  },
  {
    "id": "756165da.8a9e9c",
    "type": "function",
    "z": "926f70fe.6d909",
    "name": "",
    "func": "if (msg.payload.token ==context.global.FREEBOARD_TOKEN || context.global.getCookie('exchange_token',msg.req.headers.cookie)==context.global.FREEBOARD_TOKEN){\n    msg.statusCode=200;\n    msg.payload=\"aaa\";\n    node.send(msg);\n}\nreturn;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 317,
    "y": 118,
    "wires": [
      [
        "bf8d253f.4072d8"
      ]
    ]
  },
  {
    "id": "f3b7b3f8.0c485",
    "type": "http response",
    "z": "926f70fe.6d909",
    "name": "",
    "x": 311,
    "y": 165,
    "wires": []
  },
  {
    "id": "6bf521a6.940ae",
    "type": "json",
    "z": "926f70fe.6d909",
    "name": "",
    "x": 496,
    "y": 281,
    "wires": [
      [
        "c8aad0b1.37553"
      ]
    ]
  },
  {
    "id": "6b2563d1.94da9c",
    "type": "switch",
    "z": "926f70fe.6d909",
    "name": "",
    "property": "req.headers.content-type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "text/plain",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "outputs": 2,
    "x": 358,
    "y": 316,
    "wires": [
      [
        "6bf521a6.940ae"
      ],
      [
        "c8aad0b1.37553"
      ]
    ]
  },
  {
    "id": "aa6c71ec.55939",
    "type": "delay",
    "z": "926f70fe.6d909",
    "name": "",
    "pauseType": "delay",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 252,
    "y": 39,
    "wires": [
      [
        "bf8d253f.4072d8"
      ]
    ]
  },
  {
    "id": "61a5c270.9e5a3c",
    "type": "inject",
    "z": "926f70fe.6d909",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 135,
    "y": 106,
    "wires": [
      [
        "bf8d253f.4072d8"
      ]
    ]
  },
  {
    "id": "794e3676.86b1c8",
    "type": "delay",
    "z": "926f70fe.6d909",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1244,
    "y": 39,
    "wires": [
      [
        "98d8a135.67276"
      ]
    ]
  },
  {
    "id": "d19fa17c.2e606",
    "type": "function",
    "z": "926f70fe.6d909",
    "name": "",
    "func": "if ('result' in msg.payload && msg.payload.result=='success'){\n    context.global.blueIris=msg.payload.data;\n    var session=msg.payload.session;\n    node.warn(' hash response: '+ msg.md5resp);\n    delete msg.headers;\n    msg.payload={\n        \"cmd\":\"cliplist\",\n        \"camera\":\"\",\n        \"session\":session,\n        \"response\":msg.md5resp\n    }    \nreturn msg;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 792,
    "y": 153,
    "wires": [
      [
        "5a089395.a5f76c"
      ]
    ]
  },
  {
    "id": "5a089395.a5f76c",
    "type": "http request",
    "z": "926f70fe.6d909",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 944,
    "y": 123,
    "wires": [
      [
        "a78038d8.587fc8"
      ]
    ]
  },
  {
    "id": "a78038d8.587fc8",
    "type": "debug",
    "z": "926f70fe.6d909",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 1112,
    "y": 123,
    "wires": []
  }
]