Flows/Bluemix/DlinkCam.json
[
  {
    "id": "20c9cbab.df3634",
    "type": "comment",
    "name": "--------------------------------- Dlink Cameras ---------------------------------",
    "info": "",
    "x": 322.89581298828125,
    "y": 73.88888549804688,
    "z": "b252a374.4dad6",
    "wires": []
  },
  {
    "id": "3d6d1557.c292ea",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "86400",
    "crontab": "",
    "once": true,
    "x": 177.8958282470703,
    "y": 127.88888549804688,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "9fec7e16.60138"
      ]
    ]
  },
  {
    "id": "3bdb2393.c424dc",
    "type": "function",
    "name": "generate Dlink request url ",
    "func": "function delay(ms) {\n        var cur_d = new Date();\n        var cur_ticks = cur_d.getTime();\n        var ms_passed = 0;\n        while(ms_passed < ms) {\n            var d = new Date();\n            var ticks = d.getTime();\n            ms_passed = ticks - cur_ticks;\n         }\n    }\nvar dlink_mjpeg=['DCS-930L','DCS-930' , 'DCS-931L','DCS-931', 'DCS-932L','DCS-932', 'DCS-933L','DCS-933', 'DCS-5020L','DCS-934L']\nif (typeof(context.global.DlinkCam)!=='undefined'){\n for (var key in context.global.DlinkCam)\n {\n     camera=context.global.DlinkCam[key]\n    if (dlink_mjpeg.indexOf(camera.model)!=-1) cam_type='MJPEG' \n    else cam_type='MICA'\n    context.global.DlinkCam[key].type=cam_type\n    var auth = new Buffer(context.global.DlinkCam[key].uid+':'+context.global.DlinkCam[key].pwd)\n    var auth_str=auth.toString('base64')\n    newMsg={}\n    newMsg.topic=key\n    newMsg.model=context.global.DlinkCam[key].model\n    newMsg.B64Auth=auth_str\n    newMsg.url=(cam_type=='MICA' ? 'http://'+camera.hostname+'/config/network.cgi' :'http://'+camera.hostname+'/network.cgi')\n    newMsg.headers = {\n        \"Authorization\": \"Basic \"+ auth_str\n//        (context.global.DlinkCam[key].uid+':'+context.global.DlinkCam[key].pwd).tobase64()\n    }\n    newMsg.method=\"GET\"\n    node.send(newMsg)\n    node.warn(key);\n  //  delay(5000);\n }\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 565.8956909179688,
    "y": 128.88888549804688,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "23a3c692.dc5c3a"
      ]
    ]
  },
  {
    "id": "8a7711ee.7588f",
    "type": "http request",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 840.8958129882812,
    "y": 128.88888549804688,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "382d69a0.c7d296"
      ]
    ]
  },
  {
    "id": "382d69a0.c7d296",
    "type": "function",
    "name": "",
    "func": "if (msg.statusCode=='200'){\n    var CamParams=msg.payload.split('\\r\\n');\n    var cam_name=msg.topic;\n    var camera=context.global.DlinkCam[cam_name]\n    context.global.DlinkCam[cam_name].B64Auth=msg.B64Auth\n    if(typeof(context.global.winkState.cameras)==='undefined') context.global.winkState.cameras={}\n    context.global.winkState.cameras[cam_name]={\n    \"name\": cam_name,\n    \"object_type\": \"cameras\",\n    \"object_id\": cam_name.replace(\" \",\"\"),\n    \"freeboard\": 0,\n    \"manufacturer_device_model\":msg.model,\n    \"connection\": true,\n    \"capturing_audio\": true,\n    \"capturing_video\": true,\n    //\"url\": CamUrl=\"Http://admin:\"+context.global.SamsungCam[cam_name].private_key+\"@\"+context.global.SamsungCam[cam_name].hostname+\"/cgi-bin/video.cgi?msubmenu=mjpg\",\n    \"snap_url\":SnapUrl=context.global.BlueMixUrlBase+\"/red/getDlink_snapshot?token=\"+context.global.FREEBOARD_TOKEN+\"&Cameraname=\"+cam_name,\n    \"url\":context.global.BlueMixUrlBase+\"/red/getDlink_snapshot?token=\"+context.global.FREEBOARD_TOKEN+\"&Cameraname=\"+cam_name,\n    \"history_url\": context.global.BlueMixUrlBase+\"/freeboard/cameraSnapshots?token=\"+context.global.FREEBOARD_TOKEN+\"&camera_name=\"+cam_name,\n    //\"http://admin:\"+context.global.SamsungCam[cam_name].private_key+\"@\"+context.global.SamsungCam[cam_name].hostname+\"/cgi-bin/video.cgi?msubmenu=jpg&resolution=3\",\n    \"refresh_time\":30,\n    \"motion\": \"N/A\"\n    }\n    \n     msg.url='http://'+camera.hostname+'/config/notify.cgi'\n     msg.method=\"GET\"\n    msg.headers={\n        \"Authorization\": \"Basic \"+ camera.B64Auth\n    }\n    node.send(msg);\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 1004.8957977294922,
    "y": 129.88888549804688,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "3fe3144d.c01cec"
      ]
    ]
  },
  {
    "id": "976e5cbd.6891a",
    "type": "http in",
    "name": "",
    "url": "/red/getDlink_snapshot",
    "method": "get",
    "swaggerDoc": "",
    "x": 208.8958282470703,
    "y": 193.88888549804688,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "34b8951a.cb476a"
      ]
    ]
  },
  {
    "id": "34b8951a.cb476a",
    "type": "function",
    "name": "",
    "func": "if (msg.payload.token==context.global.FREEBOARD_TOKEN && typeof(msg.payload.Cameraname)!=='undefined'){\n    var cam=msg.payload.Cameraname;\n    if(cam in context.global.winkState.cameras){\n    var camera=context.global.DlinkCam[cam]\n     msg.topic=cam\n     msg.model='Dlink'\n     msg.url=(context.global.DlinkCam[cam].type=='MICA' ? 'http://'+camera.hostname+'/image/jpeg.cgi' :  'http://'+camera.hostname+'/image.jpg')\n     msg.method=\"GET\"\n    msg.headers={\n        \"Authorization\": \"Basic \"+ context.global.DlinkCam[cam].B64Auth\n    }\n        \n    }\n     node.send(msg)\n//     msg.res.send(200,\"OK\");\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 414.8958435058594,
    "y": 193.88888549804688,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "20b9fbfa.df4604"
      ]
    ]
  },
  {
    "id": "20b9fbfa.df4604",
    "type": "http request",
    "name": "",
    "method": "use",
    "ret": "bin",
    "url": "",
    "x": 591.8958435058594,
    "y": 193.88888549804688,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "b3ff4da5.4c00b"
      ]
    ]
  },
  {
    "id": "b3ff4da5.4c00b",
    "type": "http response",
    "name": "",
    "x": 755.8957977294922,
    "y": 193.888916015625,
    "z": "b252a374.4dad6",
    "wires": []
  },
  {
    "id": "1a9236d1.e56dc9",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "none",
    "repeat": "2",
    "crontab": "",
    "once": false,
    "x": 167.8958282470703,
    "y": 271.00006103515625,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "88413786.77bec8"
      ]
    ]
  },
  {
    "id": "88413786.77bec8",
    "type": "function",
    "name": "",
    "func": "function delay(ms) {\n        var cur_d = new Date();\n        var cur_ticks = cur_d.getTime();\n        var ms_passed = 0;\n        while(ms_passed < ms) {\n            var d = new Date();\n            var ticks = d.getTime();\n            ms_passed = ticks - cur_ticks;\n         }\n    }\n\nfor (var cam in context.global.DlinkCam){\n    var camera=context.global.DlinkCam[cam]\n    if( 'B64Auth' in camera && camera.B64Auth!=='undefined' && cam in context.global.winkState.sensor_pods){\n     msg.topic=cam\n     msg.url='http://'+camera.hostname+'/config/notify.cgi'\n     msg.method=\"GET\"\n    msg.headers={\n        \"Authorization\": \"Basic \"+ camera.B64Auth\n    }\n    node.send(msg);\n    delay(300)\n}\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 355.8958282470703,
    "y": 271.0000605877535,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "593d44e2.a6c2bc"
      ]
    ]
  },
  {
    "id": "593d44e2.a6c2bc",
    "type": "http request",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 532.8957977294922,
    "y": 270.00006103515625,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "2bb28004.d44d8"
      ]
    ]
  },
  {
    "id": "2bb28004.d44d8",
    "type": "function",
    "name": "",
    "func": "if (msg.statusCode=='200'){\n    var cam_stat=msg.payload.split('\\r\\n');\n    var new_msg={}\n    new_msg.topic=msg.topic\n    new_msg.payload=(cam_stat[0]=='md1=off' && cam_stat[2]=='pir=off' ? 0 : 1)\n\n}\nreturn new_msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 701.8958129882812,
    "y": 268.0002136230469,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "abca26bc.5435d8"
      ]
    ]
  },
  {
    "id": "8b09e87f.74f618",
    "type": "function",
    "name": "",
    "func": "if (msg.statusCode=='200'){\n    node.warn('adding Dlink camera sensor' + msg.topic)\n    if (typeof(context.global.winkState.sensor_pods)==='undefined') context.global.winkState.sensor_pods={}\n    context.global.winkState.sensor_pods[msg.topic]=\n    {\n    \"name\": msg.topic,\n    \"object_type\": \"sensor_pods\",\n    \"object_id\": msg.model+Math.round(Math.random()*1000).toString(),\n    \"freeboard\": 0,\n    \"connection\": true,\n    \"motion\": false\n    }\n    if(typeof(context.global.winkDevCap)==='undefined') context.global.winkDevCap={}\n    context.global.winkDevCap[msg.topic]=\n    {\n \"sensor_types\":[\n        {\n        \"field\": \"motion\",\n        \"type\": \"boolean\"\n        }\n    ]\n  }\n              var msg ={\n                \"url\":context.global.BlueMixUrlBase+'/red/retrieve_activities?camera_name='+msg.topic,\n                \"method\": \"GET\",\n                headers: {\n                    \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n                }\n            }\n    node.send(msg)\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 1318.8959197998047,
    "y": 113.88888549804688,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "3613009.fc9ed"
      ]
    ]
  },
  {
    "id": "3fe3144d.c01cec",
    "type": "http request",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 1163.8958740234375,
    "y": 113.88888549804688,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "8b09e87f.74f618"
      ]
    ]
  },
  {
    "id": "abca26bc.5435d8",
    "type": "rbe",
    "name": "filter",
    "func": "rbe",
    "gap": "",
    "x": 859.8958282470703,
    "y": 269.8889465332031,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "1e5fae90.e1a051"
      ]
    ]
  },
  {
    "id": "1e5fae90.e1a051",
    "type": "function",
    "name": "",
    "func": "//node.warn('filtered '+msg.payload)\nvar postMsg={\n    url:context.global.BlueMixUrlBase+'/red/wink/subscribtions',\n    method:\"POST\",\n        headers: {\n        \"Content-Type\":\"application/json\"\n    },\n    payload:{\n  capabilities: { sensor_types: [ { field: 'motion', type: 'boolean' } ] },\n  desired_state: {},\n  device_manufacturer: 'Dlink',\n  gang_id: null,\n  hidden_at: null,\n  last_event: \n   { brightness_occurred_at: null,\n     loudness_occurred_at: null,\n     vibration_occurred_at: null },\n  last_reading: \n   { \n       agent_session_id: 'FALSE',\n       connection: true,\n       motion: (msg.payload==1 ? true : false),\n   },\n  manufacturer_device_model: 'dlink_virtual_motion_sensor',\n  model_name: 'Motion Sensor',\n  name: msg.topic,\n  object_id: context.global.winkState.sensor_pods[msg.topic].object_id,\n  object_type: 'sensor_pod',\n  radio_type: 'wifi',\n  sensor_pod_id: context.global.winkState.sensor_pods[msg.topic].object_id,\n  triggers: [],\n  units: {},\n  upc_code: 'motion_sensor',\n  upc_id: context.global.winkState.sensor_pods[msg.topic].object_id\n  }\n}\nreturn postMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1002.8957977294922,
    "y": 267.8890075683594,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "3615aee9.c9ea52"
      ]
    ]
  },
  {
    "id": "3615aee9.c9ea52",
    "type": "http request",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1156.8959197998047,
    "y": 267.8890075683594,
    "z": "b252a374.4dad6",
    "wires": [
      []
    ]
  },
  {
    "id": "3613009.fc9ed",
    "type": "http request",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 1468.8959045410156,
    "y": 113.88888549804688,
    "z": "b252a374.4dad6",
    "wires": [
      []
    ]
  },
  {
    "id": "9fec7e16.60138",
    "type": "delay",
    "name": "",
    "pauseType": "delay",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 342,
    "y": 136,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "3bdb2393.c424dc"
      ]
    ]
  },
  {
    "id": "23a3c692.dc5c3a",
    "type": "delay",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 751,
    "y": 53,
    "z": "b252a374.4dad6",
    "wires": [
      [
        "8a7711ee.7588f"
      ]
    ]
  }
]
