Flows/Bluemix/DlinkCam.json
[
  {
    "id": "124fd8ad.edb027",
    "type": "inject",
    "z": "5edc3d48.a123c4",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "86400",
    "crontab": "",
    "once": true,
    "x": 121.99998474121094,
    "y": 96,
    "wires": [
      [
        "c7c34a30.383cb8"
      ]
    ]
  },
  {
    "id": "920b5186.6df4b",
    "type": "function",
    "z": "5edc3d48.a123c4",
    "name": "generate samsung request url ",
    "func": "if (typeof(context.global.SamsungCam)!=='undefined'){\n var i=0;\n for (var key in context.global.SamsungCam)\n {\n    var camera=context.global.SamsungCam[key]\n    newMsg={}\n    newMsg.topic=key\n    newMsg.model='Samsung'\n    newMsg.url='http://'+camera.hostname+'/cgi-bin/video.cgi?msubmenu=jpg&resolution=5'\n    newMsg.method=\"GET\"\n    context.global.sendWithTimeout(node,newMsg,i)\n    node.warn(key);\n    i+=5000;\n }\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 537.9998474121094,
    "y": 96,
    "wires": [
      [
        "4ff79bad.b00864"
      ]
    ]
  },
  {
    "id": "c7c34a30.383cb8",
    "type": "delay",
    "z": "5edc3d48.a123c4",
    "name": "",
    "pauseType": "delay",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 291.9998779296875,
    "y": 96,
    "wires": [
      [
        "920b5186.6df4b"
      ]
    ]
  },
  {
    "id": "4ff79bad.b00864",
    "type": "http request",
    "z": "5edc3d48.a123c4",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 775.9999694824219,
    "y": 96,
    "wires": [
      [
        "dfe2974f.201d68"
      ]
    ]
  },
  {
    "id": "1d1753ce.e2e8ac",
    "type": "function",
    "z": "5edc3d48.a123c4",
    "name": "Initialize Samsung",
    "func": "if (msg.statusCode=='200' && msg.headers[\"content-type\"]=='image/jpeg'){\nvar cam_name=msg.topic;\nif(typeof(context.global.winkState.cameras)==='undefined') context.global.winkState.cameras={}\ncontext.global.winkState.cameras[cam_name]={\n \"name\": cam_name,\n\"object_type\": \"cameras\",\n\"eco_system\" : \"SMASUNG\",\n\"object_id\": cam_name.replace(\" \",\"\"),\n\"freeboard\": 0,\n\"manufacturer_device_model\": \"samsung\",\n\"connection\": true,\n\"capturing_audio\": true,\n\"capturing_video\": true,\n//\"url\": CamUrl=\"Http://admin:\"+context.global.SamsungCam[cam_name].private_key+\"@\"+context.global.SamsungCam[cam_name].hostname+\"/cgi-bin/video.cgi?msubmenu=mjpg\",\n\"snap_url\":SnapUrl=context.global.BlueMixUrlBase+\"/red/get_snapshot?token=\"+context.global.FREEBOARD_TOKEN+\"&Cameraname=\"+cam_name,\n\"history_url\": context.global.BlueMixUrlBase+\"/freeboard/cameraSnapshots?token=\"+context.global.FREEBOARD_TOKEN+\"&camera_name=\"+cam_name,\n\"url\":context.global.BlueMixUrlBase+\"/red/get_snapshot?token=\"+context.global.FREEBOARD_TOKEN+\"&Cameraname=\"+cam_name,\n//\"http://admin:\"+context.global.SamsungCam[cam_name].private_key+\"@\"+context.global.SamsungCam[cam_name].hostname+\"/cgi-bin/video.cgi?msubmenu=jpg&resolution=3\",\n\"refresh_time\":30,\n\"motion\": \"N/A\"\n}\n            var msg ={\n                \"url\":context.global.BlueMixUrlBase+'/red/retrieve_activities?camera_name='+cam_name,\n                \"method\": \"GET\",\n                headers: {\n                    \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n                }\n            }\n    node.send(msg)\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 1353.0000915527344,
    "y": 96.00003051757812,
    "wires": [
      [
        "98614957.679eb8"
      ]
    ]
  },
  {
    "id": "dfe2974f.201d68",
    "type": "function",
    "z": "5edc3d48.a123c4",
    "name": "check digest auth",
    "func": "var Auth=msg.headers['www-authenticate'];\nvar AuthArr = Auth.split(',');\nvar AuthJ={}\nfor (var i=0;i<AuthArr.length;i++){\n    var item=AuthArr[i].split('=');\n    AuthJ[item[0].trim()]=item[1].replace('\\\"','').replace('\\\"','')\n}\n\nvar ha1_str=\"admin:\"+AuthJ[\"Digest realm\"]+\":\"+context.global.SamsungCam[msg.topic].private_key;\n//node.warn(ha1_str);\nvar HA1=context.global.CRYPTO.createHash(\"md5\").update(ha1_str,\"utf8\").digest(\"hex\");\nvar HA2=context.global.CRYPTO.createHash(\"md5\").update(\"GET:/cgi-bin/video.cgi?msubmenu=jpg&resolution=5\",\"utf8\").digest(\"hex\");\nvar cnonce=context.global.CRYPTO.randomBytes(8).toString('hex');\nvar nc=\"00001\";\n//node.warn(AuthJ);\nvar str_resp=HA1+\":\"+AuthJ.nonce+\":\"+nc+\":\"+cnonce+\":\"+\"auth\"+\":\"+HA2;\n//node.warn(str_resp);\nvar response = context.global.CRYPTO.createHash(\"md5\").update(str_resp,\"utf8\").digest(\"hex\");\n//node.warn(response);\nvar eol=\" \";\nvar Digest='Digest username=\"admin\",' + eol +\n           'realm=\"' + AuthJ[\"Digest realm\"].trim() + '\",' + eol +\n           'qop=\"' + AuthJ.qop.trim() + '\",' + eol +\n           'algorithm=\"MD5\",' + eol +\n           'uri=\"/cgi-bin/video.cgi?msubmenu=jpg&resolution=5\"'+ ',' +  eol +\n           'nonce=\"' + AuthJ.nonce.trim() + '\",' + eol +\n           'cnonce=\"' + cnonce.trim() + '\",'.trim() + eol +\n           'opaque=\"\",' + eol +\n           'nc=\"' + nc + '\",' + eol +\n           'response=\"' + response + '\"';\n//node.warn(Digest);\ndelete msg.headers\ndelete msg.statusCode;\ndelete msg.payload;\nmsg.headers={}\nmsg.headers.Authorization=Digest;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 962.0001525878906,
    "y": 96,
    "wires": [
      [
        "71caead.f8e3514"
      ]
    ]
  },
  {
    "id": "71caead.f8e3514",
    "type": "http request",
    "z": "5edc3d48.a123c4",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 1146.0000915527344,
    "y": 96,
    "wires": [
      [
        "1d1753ce.e2e8ac"
      ]
    ]
  },
  {
    "id": "f3a04a4f.0c5fb8",
    "type": "comment",
    "z": "5edc3d48.a123c4",
    "name": "------------------------------- Samsung smartcam----------------------------------------------",
    "info": "",
    "x": 288,
    "y": 20,
    "wires": []
  },
  {
    "id": "70b44cf0.8f4bb4",
    "type": "http in",
    "z": "5edc3d48.a123c4",
    "name": "",
    "url": "/red/get_snapshot",
    "method": "get",
    "swaggerDoc": "",
    "x": 125.10415649414062,
    "y": 157.11111450195312,
    "wires": [
      [
        "e85eb85b.17a148"
      ]
    ]
  },
  {
    "id": "e85eb85b.17a148",
    "type": "function",
    "z": "5edc3d48.a123c4",
    "name": "",
    "func": "if (msg.payload.token==context.global.FREEBOARD_TOKEN && typeof(msg.payload.Cameraname)!=='undefined'){\n    var cam=msg.payload.Cameraname;\n    if(cam in context.global.winkState.cameras){\n    if (cam in context.global.SamsungCam){\n     var camera=context.global.SamsungCam[cam]\n     msg.topic=cam\n     msg.model='Samsung'\n     msg.url='http://'+camera.hostname+'/cgi-bin/video.cgi?msubmenu=jpg&resolution=5'\n     msg.method=\"GET\"\n    }\n    if (cam in context.global.DlinkCam){\n    var camera=context.global.DlinkCam[cam]\n     msg.topic=cam\n     msg.model='Dlink'\n     msg.url='http://'+camera.hostname+'/image/jpeg.cgi'\n     msg.method=\"GET\"\n    msg.headers={\n        \"Authorization\": \"Basic \"+ context.global.DlinkCam[cam].B64Auth\n    }\n        \n    }\n     node.send(msg)\n//     msg.res.send(200,\"OK\");\n    }\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 330.10418701171875,
    "y": 155.11111450195312,
    "wires": [
      [
        "ab65f8b9.549a08"
      ]
    ]
  },
  {
    "id": "ab65f8b9.549a08",
    "type": "http request",
    "z": "5edc3d48.a123c4",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 508.1041717529297,
    "y": 157.11111450195312,
    "wires": [
      [
        "83537bdf.7cac88"
      ]
    ]
  },
  {
    "id": "83537bdf.7cac88",
    "type": "function",
    "z": "5edc3d48.a123c4",
    "name": "check digest auth",
    "func": "var Auth=msg.headers['www-authenticate'];\nvar AuthArr = Auth.split(',');\nvar AuthJ={}\nfor (var i=0;i<AuthArr.length;i++){\n    var item=AuthArr[i].split('=');\n    AuthJ[item[0].trim()]=item[1].replace('\\\"','').replace('\\\"','')\n}\n\nvar ha1_str=\"admin:\"+AuthJ[\"Digest realm\"]+\":\"+context.global.SamsungCam[msg.topic].private_key;\n//node.warn(ha1_str);\nvar HA1=context.global.CRYPTO.createHash(\"md5\").update(ha1_str,\"utf8\").digest(\"hex\");\nvar HA2=context.global.CRYPTO.createHash(\"md5\").update(\"GET:/cgi-bin/video.cgi?msubmenu=jpg&resolution=5\",\"utf8\").digest(\"hex\");\nvar cnonce=context.global.CRYPTO.randomBytes(8).toString('hex');\nvar nc=\"00001\";\n//node.warn(AuthJ);\nvar str_resp=HA1+\":\"+AuthJ.nonce+\":\"+nc+\":\"+cnonce+\":\"+\"auth\"+\":\"+HA2;\n//node.warn(str_resp);\nvar response = context.global.CRYPTO.createHash(\"md5\").update(str_resp,\"utf8\").digest(\"hex\");\n//node.warn(response);\nvar eol=\" \";\nvar Digest='Digest username=\"admin\",' + eol +\n           'realm=\"' + AuthJ[\"Digest realm\"].trim() + '\",' + eol +\n           'qop=\"' + AuthJ.qop.trim() + '\",' + eol +\n           'algorithm=\"MD5\",' + eol +\n           'uri=\"/cgi-bin/video.cgi?msubmenu=jpg&resolution=5\"'+ ',' +  eol +\n           'nonce=\"' + AuthJ.nonce.trim() + '\",' + eol +\n           'cnonce=\"' + cnonce.trim() + '\",'.trim() + eol +\n           'opaque=\"\",' + eol +\n           'nc=\"' + nc + '\",' + eol +\n           'response=\"' + response + '\"';\n//node.warn(Digest);\ndelete msg.headers\ndelete msg.statusCode;\ndelete msg.payload;\nmsg.headers={}\nmsg.headers.Authorization=Digest;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 721.1043548583984,
    "y": 157.11111450195312,
    "wires": [
      [
        "4ed1cac5.b12e34"
      ]
    ]
  },
  {
    "id": "4ed1cac5.b12e34",
    "type": "http request",
    "z": "5edc3d48.a123c4",
    "name": "",
    "method": "use",
    "ret": "bin",
    "url": "",
    "x": 936.1042938232422,
    "y": 157.11111450195312,
    "wires": [
      [
        "27ef40ad.d810c"
      ]
    ]
  },
  {
    "id": "27ef40ad.d810c",
    "type": "http response",
    "z": "5edc3d48.a123c4",
    "name": "",
    "x": 1108.1041717529297,
    "y": 158.11111450195312,
    "wires": []
  },
  {
    "id": "98614957.679eb8",
    "type": "http request",
    "z": "5edc3d48.a123c4",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 1551,
    "y": 98,
    "wires": [
      []
    ]
  },
  {
    "id": "b310548b.4cefa8",
    "type": "catch",
    "z": "5edc3d48.a123c4",
    "name": "",
    "x": 85,
    "y": 406,
    "wires": [
      [
        "68a02ce6.975fd4"
      ]
    ]
  },
  {
    "id": "68a02ce6.975fd4",
    "type": "debug",
    "z": "5edc3d48.a123c4",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "error",
    "x": 285,
    "y": 406,
    "wires": []
  }
]