Flows/Bluemix/FosCam.json
[
  {
    "id": "197fb2e7.e6804d",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "86400",
    "crontab": "",
    "once": true,
    "x": 107.89591979980469,
    "y": 69.88888549804688,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "94c1439.f6b3ec"
      ]
    ]
  },
  {
    "id": "cef154f1.310ea8",
    "type": "http request",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 773.8958587646484,
    "y": 85.88888549804688,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "ed3c034e.12c4"
      ]
    ]
  },
  {
    "id": "ed3c034e.12c4",
    "type": "function",
    "name": "Initialize foscam",
    "func": "if (msg.statusCode=='200'){\nvar cam_name=msg.topic;\ncontext.global.FosCam[cam_name].Parameters={}\nvar foscam_params=msg.payload.replace(';','').split('\\n');\nfor (var i=0;i<foscam_params.length;i++){\n     foscam_params[i]=foscam_params[i].replace('var ','').replace(';','').replace('\\'','').replace('\\'','')\n     var str=foscam_params[i].split('=');\n     context.global.FosCam[cam_name].Parameters[str[0]]={\"value\":str[1]}\n     \n}\nnode.warn('Camera info: id '+context.global.FosCam[cam_name].Parameters.id.value+' internal ip: '+context.global.FosCam[cam_name].Parameters.ip.value)\nif(typeof(context.global.winkState.cameras)==='undefined') context.global.winkState.cameras={}\ncontext.global.winkState.cameras[cam_name]={\n \"name\": cam_name,\n\"object_type\": \"cameras\",\n\"object_id\": context.global.FosCam[cam_name].Parameters.id.value,\n\"freeboard\": 0,\n\"manufacturer_device_model\": \"foscam\",\n\"connection\": true,\n\"capturing_audio\": true,\n\"capturing_video\": true,\n\"url\": CamUrl=\"http://\"+context.global.FosCam[cam_name].hostname+\"/videostream.cgi?user=\"+context.global.FosCam[cam_name].uid+\"&pwd=\"+context.global.FosCam[cam_name].pwd+\"&resolution=32&rate=0\",\n\"refresh_time\":600,\n\"motion\":(typeof(context.global.FosCam[cam_name].Parameters.alarm_http_url)==='undefined' ? \"N/A\" : false)\n}\nif (typeof(context.global.FosCam[cam_name].Parameters.alarm_http_url)!=='undefined'){\n var camera=context.global.FosCam[cam_name]\n var ArmMsg={\n     url : 'http://'+camera.hostname+'/set_alarm.cgi?motion_armed=1&motion_sensitivity=5&http=1&http_url='+context.global.BlueMixUrlBase.replace('https','http')+'/red/foscam&user='+camera.uid+'&pwd='+camera.pwd,\n     method : \"GET\"\n }\n    node.send(ArmMsg)\n  }    \n }\n\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 963.8957977294922,
    "y": 85.88888549804688,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "f86223ae.079de"
      ]
    ]
  },
  {
    "id": "5c0574cf.a3fa8c",
    "type": "function",
    "name": "generate foscam request url",
    "func": "function delay(ms) {\n        var cur_d = new Date();\n        var cur_ticks = cur_d.getTime();\n        var ms_passed = 0;\n        while(ms_passed < ms) {\n            var d = new Date();  // Possible memory leak?\n            var ticks = d.getTime();\n            ms_passed = ticks - cur_ticks;\n            // d = null;  // Prevent memory leak?\n        }\n    }\n\nif (typeof(context.global.FosCam)!=='undefined'){\n for (var key in context.global.FosCam)\n {\n    var camera=context.global.FosCam[key]\n    if (typeof(camera.model) !=='undefined' && camera.model=='HD')\n    {\n    newMsg={}\n    newMsg.topic=key\n    newMsg.model='HD'\n    newMsg.url='http://'+camera.hostname+'/cgi-bin/CGIProxy.fcgi?cmd=getDevInfo&usr='+camera.uid+'&pwd='+camera.pwd\n    newMsg.method=\"GET\"\n    node.send(newMsg)\n    node.warn(key+' HD')\n    } \n    else \n    {\n    newMsg={}\n    newMsg.topic=key\n    newMsg.model='SD'\n    newMsg.url='http://'+camera.hostname+'/get_params.cgi?user='+camera.uid+'&pwd='+camera.pwd\n    newMsg.method=\"POST\"\n    node.send(newMsg)\n    node.warn(key);\n    delay(5000);\n    }\n }\n}\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 424.8957977294922,
    "y": 196.88888549804688,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "827c8d71.7d837"
      ]
    ]
  },
  {
    "id": "94c1439.f6b3ec",
    "type": "delay",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 186.89588928222656,
    "y": 191.88888549804688,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "5c0574cf.a3fa8c"
      ]
    ]
  },
  {
    "id": "92966c.ff6d699",
    "type": "http in",
    "name": "",
    "url": "/red/foscam",
    "method": "get",
    "swaggerDoc": "",
    "x": 135.8959197998047,
    "y": 315.8888854980469,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "2d4b7db4.d2b482"
      ]
    ]
  },
  {
    "id": "2d4b7db4.d2b482",
    "type": "function",
    "name": "",
    "func": "function delay(ms) {\n        var cur_d = new Date();\n        var cur_ticks = cur_d.getTime();\n        var ms_passed = 0;\n        while(ms_passed < ms) {\n            var d = new Date();  // Possible memory leak?\n            var ticks = d.getTime();\n            ms_passed = ticks - cur_ticks;\n            // d = null;  // Prevent memory leak?\n        }\n    }\n\nnode.warn('foscam camera: reported motion')\nvar postMsg={\n    url:context.global.BlueMixUrlBase+'/red/wink/subscribtions',\n    method:\"POST\",\n        headers: {\n        \"Content-Type\":\"application/json\"\n    },\n    payload:{\n  capabilities: { sensor_types: [ { field: 'motion', type: 'boolean' } ] },\n  desired_state: {},\n  device_manufacturer: 'Foscam',\n  gang_id: null,\n  hidden_at: null,\n  last_event: \n   { brightness_occurred_at: null,\n     loudness_occurred_at: null,\n     vibration_occurred_at: null },\n  last_reading: \n   { \n       agent_session_id: 'FALSE',\n       connection: true,\n       motion: true,\n   },\n  manufacturer_device_model: 'foscam_virtual_motion_sensor',\n  model_name: 'Motion Sensor',\n  name: 'foscam',\n  object_id: 'Foscam01',\n  object_type: 'sensor_pod',\n  radio_type: 'wifi',\n  sensor_pod_id: 'Foscam01',\n  triggers: [],\n  units: {},\n  upc_code: 'motion_sensor',\n  upc_id: 'foscam01'\n  }\n}\nvar postMsg1=postMsg;\n//delay(50000);\nreturn([postMsg,postMsg1]);",
    "outputs": "2",
    "noerr": 0,
    "x": 312.89585876464844,
    "y": 316.8888854980469,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "5d5c999c.a2a368"
      ],
      [
        "3e5f7822.c1a088"
      ]
    ]
  },
  {
    "id": "f86223ae.079de",
    "type": "http request",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 1175.8959197998047,
    "y": 85.88888549804688,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "e4a3923f.1b5c7"
      ]
    ]
  },
  {
    "id": "e4a3923f.1b5c7",
    "type": "function",
    "name": "",
    "func": "if ( msg.payload.indexOf('ok')!=-1 && typeof(context.global.winkState.sensor_pods.foscam)==='undefined')\n{\n    node.warn('adding foscam sensor')\n    if (typeof(context.global.winkState.sensor_pods)==='undefined') context.global.winkState.sensor_pods={}\n    context.global.winkState.sensor_pods.foscam=\n    {\n    \"name\": \"foscam\",\n    \"object_type\": \"sensor_pods\",\n    \"object_id\": \"Foscam01\",\n    \"freeboard\": 0,\n    \"connection\": true,\n    \"motion\": false\n    }\n    if(typeof(context.global.winkDevCap)==='undefined') context.global.winkDevCap={}\n    context.global.winkDevCap.foscam=\n    {\n \"sensor_types\":[\n        {\n        \"field\": \"motion\",\n        \"type\": \"boolean\"\n        }\n    ]\n  }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1353.8959197998047,
    "y": 86.88888549804688,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      []
    ]
  },
  {
    "id": "5d5c999c.a2a368",
    "type": "http request",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 847.8957977294922,
    "y": 310.8888854980469,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      []
    ]
  },
  {
    "id": "5c68e61c.a39718",
    "type": "http request",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 843.8957977294922,
    "y": 350.8888854980469,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      []
    ]
  },
  {
    "id": "3e5f7822.c1a088",
    "type": "delay",
    "name": "",
    "pauseType": "delay",
    "timeout": "60",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 476.8957977294922,
    "y": 351.8888854980469,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "5fcc5184.a033b"
      ]
    ]
  },
  {
    "id": "5fcc5184.a033b",
    "type": "function",
    "name": "",
    "func": "msg.payload.last_reading.motion=false\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 646.8957977294922,
    "y": 350.8888854980469,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "5c68e61c.a39718"
      ]
    ]
  },
  {
    "id": "e779a66f.188658",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 179.8958282470703,
    "y": 420.8888854980469,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "2d4b7db4.d2b482"
      ]
    ]
  },
  {
    "id": "827c8d71.7d837",
    "type": "switch",
    "name": "FI89X - FI98x",
    "property": "model",
    "rules": [
      {
        "t": "eq",
        "v": "SD"
      },
      {
        "t": "eq",
        "v": "HD"
      }
    ],
    "checkall": "false",
    "outputs": 2,
    "x": 644.8957977294922,
    "y": 198.88888549804688,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "cef154f1.310ea8"
      ],
      [
        "304dc32d.cfb23c"
      ]
    ]
  },
  {
    "id": "304dc32d.cfb23c",
    "type": "http request",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 729.8957977294922,
    "y": 258.8888854980469,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "f2fcad3e.0d035"
      ]
    ]
  },
  {
    "id": "f2fcad3e.0d035",
    "type": "xml",
    "name": "",
    "attr": "$",
    "chr": "_",
    "x": 877.8959808349609,
    "y": 258.8888854980469,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "d34a7a8b.2cb588"
      ]
    ]
  },
  {
    "id": "d34a7a8b.2cb588",
    "type": "function",
    "name": "Initialize Foscam HD",
    "func": "var cam_name=msg.topic;\nvar cam_model=msg.model;\nif('CGI_Result' in msg.payload && msg.payload.CGI_Result.result[0]=='0'){\ncontext.global.FosCam[cam_name].Parameters={}    \ncontext.global.FosCam[cam_name].Parameters.model=cam_model;\ncontext.global.FosCam[cam_name].Parameters.id={\"value\":msg.payload.CGI_Result.mac[0]}\nnode.warn('Camera info: id '+context.global.FosCam[cam_name].Parameters.id.value)\nif(typeof(context.global.winkState.cameras)==='undefined') context.global.winkState.cameras={}\ncontext.global.winkState.cameras[cam_name]={\n \"name\": cam_name,\n\"object_type\": \"cameras\",\n\"object_id\": context.global.FosCam[cam_name].Parameters.id.value,\n\"freeboard\": 0,\n\"manufacturer_device_model\": \"foscam\",\n\"connection\": true,\n\"capturing_audio\": true,\n\"capturing_video\": true,\n\"motion\":\"N/A\",\n\"url\":\"http://\"+context.global.FosCam[cam_name].hostname+\"/cgi-bin/CGIStream.cgi?cmd=GetMJStream&stream=true&usr=\"+context.global.FosCam[cam_name].uid+\"&pwd=\"+context.global.FosCam[cam_name].pwd,\n\"refresh_time\":600,\n\"HD\":true\n//(typeof(context.global.FosCam[cam_name].Parameters.alarm_http_url)==='undefined' ? \"N/A\" : false)\n}\n var camera=context.global.FosCam[cam_name]\n var ArmMsg={\n     topic : cam_name,\n     url : 'http://'+camera.hostname+'/cgi-bin/CGIProxy.fcgi?usr='+camera.uid+'&pwd='+camera.pwd+'&cmd=setSubStreamFormat&format=1',\n     method : \"GET\"\n    }\n    node.send(ArmMsg)\n}\nelse{\n    node.warn('Camera: '+cam_name+' not responding.. removing')\n    if (cam_name in context.global.winkState.cameras) delete context.global.winkState.cameras[cam_name]\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 1037.8960418701172,
    "y": 258.8888854980469,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "3b0dfd39.c4f202"
      ]
    ]
  },
  {
    "id": "3b0dfd39.c4f202",
    "type": "http request",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 1217.8959197998047,
    "y": 256.8888854980469,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "f9347620.06cb88"
      ]
    ]
  },
  {
    "id": "f9347620.06cb88",
    "type": "xml",
    "name": "",
    "attr": "$",
    "chr": "_",
    "x": 1355.8959197998047,
    "y": 255.88888549804688,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      [
        "1103915b.eefc6f"
      ]
    ]
  },
  {
    "id": "1103915b.eefc6f",
    "type": "function",
    "name": "",
    "func": "var cam_name=msg.topic;\nif('CGI_Result' in msg.payload && msg.payload.CGI_Result.result[0]!=='0'){\nnode.warn('Unable to setup MJpeg feed - removing camera')\ndelete context.global.winkState.cameras[cam_name]\n} else node.warn(cam_name+': Mjpeg feed set, ready to go')\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 1484.8959197998047,
    "y": 253.88888549804688,
    "z": "a5a3f2af.5a5c1",
    "wires": [
      []
    ]
  }
]
