Flows/Bluemix/tabletUI.json
[
  {
    "id": "d5574310.2aa8c",
    "type": "websocket-listener",
    "z": "",
    "path": "/ws/winkStat",
    "wholemsg": "false"
  },
  {
    "id": "108581a.fef7a7e",
    "type": "websocket out",
    "z": "6f62cc19.909d34",
    "name": "",
    "server": "d5574310.2aa8c",
    "client": "",
    "x": 1193.5,
    "y": 848,
    "wires": []
  },
  {
    "id": "9182297.f6e7dd8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Prepare Wink devices subscription request",
    "func": "var baseUrl = \"https://winkapi.quirky.com/\";\nvar callbackUrl=context.global.BlueMixUrlBase+\"/red/wink/subscribtions\";\n   for (var winkDevice in context.global.winkState)\n    {\n        if (winkDevice!=\"linked_services\")\n        {\n            var deviceUrl=baseUrl+winkDevice;\n            for (var winkDeviceName in context.global.winkState[winkDevice])\n            {\n                deviceId=context.global.winkState[winkDevice][winkDeviceName].object_id;\n                node.warn(winkDeviceName+\" \"+deviceId);\n                var newMsg ={\n                    \"url\":baseUrl+\"/\"+winkDevice+\"/\"+deviceId+\"/subscriptions\",\n                    \"method\": \"POST\",\n                    headers: {\n                        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n                        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\",\n                        \"Content-Type\":\"application/json\"\n                    },\n                    payload: {\n                        \"callback\": callbackUrl\n                    }\n                };\n                node.send(newMsg);\n            }\n        }\n    }\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 1075.0001678466797,
    "y": 338,
    "wires": [
      [
        "29e88895.d61778"
      ]
    ]
  },
  {
    "id": "8535c1cd.7aca4",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "DefineGlobalObjects",
    "func": "//use this function to initialize global variables that can be used in any flow or function\n//and will keep their values while application is running\nif (typeof context.global.ifttt === 'undefined')\n{\n    context.global.ifttt=false;\n}\n\nif (typeof (context.global.PresenceHistory) === 'undefined') context.global.PresenceHistory=[];\n\nif (typeof(context.global.Presence) === 'undefined')\n{\n    context.global.Presence = {};  \n}\n\nif (typeof(context.global.tab_ui_shortcuts) === 'undefined')\n{\n    context.global.tab_ui_shortcuts = [];  \n}\n\nif (typeof context.global.ignoreMotion === 'undefined')\n{\n    context.global.ignoreMotion=false;\n}\nif (typeof context.global.mediaPlaying==='undefined')\n{\n    context.global.mediaPlaying=false;\n}\nif (typeof context.global.Weather === 'undefined')\n{\n    context.global.Weather= {};\n}\nif (typeof context.global.winkState==='undefined' )\n{\n context.global.winkState = {};\n}\n\nif (typeof context.global.winkDevCap==='undefined' )\n{\n    context.global.winkDevCap = {};\n}\n\ncontext.global.checkPresence = function() {\n    var i=0;\n    if (typeof(context.global.Presence) ==='undefined') return false;\n    for (var key in context.global.Presence){\n        if (context.global.Presence[key].home==='yes' || context.global.Presence[key].home===true) i++;\n    }\n    return (i>0 ? true : false);\n};\n\ncontext.global.isHomeOccupied = function() {\n    if (typeof context.global.winkState.groups['.sensors'].motion!=='undefined'){ motionSensors = context.global.winkState.groups['.sensors'].motion.or; } else { motionSensors = false; }\n    if (typeof context.global.winkState.groups['.sensors'].occupied!=='undefined'){ occupancySensors = context.global.winkState.groups['.sensors'].occupied.or; } else { occupancySensors = false; }\n    return ((motionSensors || occupancySensors || context.global.checkPresence()) ? true : false);\n};\n\ncontext.global.getWinkState = function (body) {\n    var results, updateP;\n\n    updateP = !body.data;\n    results = updateP ? [body] : body.data;\n\n    results.forEach(function (result) {\n        var key, len, prop, readings, type,reading_aggregations, agg_prop, capabilities, capb, outlets, outl;\n        //node.warn(result.object_type+\" \"+ result.object_id+\" \"+result.name) //for debugging\n        type = result.object_type;\n        if ('effects' in result && result.causes.length===0) return;\n        if (type) {\n        key = result.name;\n        if (type==\"binary_switch\") type=\"binary_switches\";\n        else type=type+\"s\";\n        }\n        else {\n            if (!result.robot_id || !result.linked_service_id || result._msgid) return;\n            if(result.linked_service_id){\n                type = 'linked_services';\n                key = result.service;\n                result.object_id = result.linked_service_id;\n            }\n            if (result.robot_id){\n                type= 'robots';\n                \n            }\n        }\n        if (!context.global.winkState[type]) context.global.winkState[type] = {};\n\n        if ((!!context.global.winkState[type][key]) && (context.global.winkState[type][key].object_id != result.object_id)) {\n            key += ' (#' + result.object_id + ')';\n        }\n\n        if (!(key in context.global.winkState[type])) context.global.winkState[type][key] ={};\n        context.global.winkState[type][key].name=result.name || key;\n        context.global.winkState[type][key].object_type=type;\n        context.global.winkState[type][key].object_id=result.object_id;\n        if (result.device_manufacturer) context.global.winkState[type][key].device_manufacturer=result.device_manufacturer;\n        context.global.winkState[type][key].freeboard=0;\n        if (result.savings_goal){\n         context.global.winkState[type][key].savings_goal=result.savings_goal ;\n         context.global.winkState[type][key].nose_color=result.nose_color;\n        }\n        if (result.lat_lng) {\n            if ((result.lat_lng[0] === 0) && (result.lat_lng[1] === 0)) result.lat_lng = [null, null];\n            context.global.winkState[type][key].coordinates = result.lat_lng;\n        }\n        if ('effects' in result && result.causes.length>0){\n           context.global.winkState[type][key].creating_actor_type=result.creating_actor_type;\n           context.global.winkState[type][key].automation_mode=result.automation_mode;\n           context.global.winkState[type][key].effects=result.effects;\n           context.global.winkState[type][key].causes=result.causes;\n           context.global.winkState[type][key].restrictions=result.restrictions;\n        }\n        \n        // Add group membership\n        if (type==\"groups\" && result.name.substring(0,1)!==\".\" && result.name.substring(0,1)!==\"@\")\n        {\n            if (result.members && result.members.length>0) {\n                context.global.winkState[type][key].members = {};\n                for (i=0; i<result.members.length; i++) {\n                    var light_type= (result.members[i].object_type == 'binary_switch' ? 'binary_switches' : result.members[i].object_type+'s');\n                    for (var name in context.global.winkState[light_type])\n                    {\n                        if (context.global.winkState[light_type][name].object_id == result.members[i].object_id) \n                        {\n                            context.global.winkState[type][key].members[name] = { \n                                    name:name,\n                                    object_id:result.members[i].object_id,\n                                    object_type:light_type\n                                };\n                            }\n                        }\n                    }\n                }\n                \n        }\n\n        if (type=='cameras'){\n//        if (typeof(context.global.winkState[type][key].activities)==='undefined') context.global.winkState[type][key].activities=[]\n        context.global.winkState[type][key].manufacturer_device_model = result.manufacturer_device_model;\n        context.global.winkState[type][key].url = context.global.BlueMixUrlBase+\"/freeboard/camera?token=\"+context.global.FREEBOARD_TOKEN+\"&id=\"+context.global.winkState.cameras[key].object_id+\"&model=\"+context.global.winkState.cameras[key].manufacturer_device_model;\n        context.global.winkState[type][key].snap_url = context.global.BlueMixUrlBase+\"/freeboard/camera?token=\"+context.global.FREEBOARD_TOKEN+\"&id=\"+context.global.winkState.cameras[key].object_id+\"&model=\"+context.global.winkState.cameras[key].manufacturer_device_model;\n        context.global.winkState[type][key].history_url = context.global.BlueMixUrlBase+\"/freeboard/cameraSnapshots?token=\"+context.global.FREEBOARD_TOKEN+\"&camera_name=\"+key;\n        context.global.winkState[type][key].refresh_time=30;\n        }\n\n        readings = result.last_reading;\n        for (prop in readings) {\n            len = prop.length;\n            if ((prop.indexOf('desired_') === -1) && (prop.lastIndexOf('_at') !== (len - 3))) {\n                context.global.winkState[type][key][prop] = readings[prop];\n            }\n        }\n        \n        reading_aggregations = result.reading_aggregation;\n        for (agg_prop in reading_aggregations) {\n            context.global.winkState[type][key][agg_prop]=reading_aggregations[agg_prop];\n        }\n        \n        capabilities = result.capabilities;\n        for (capb in capabilities) {\n            if(!context.global.winkDevCap[key]) context.global.winkDevCap[key]={};\n            if(!context.global.winkDevCap[key][capb]) context.global.winkDevCap[key][capb]={};\n          context.global.winkDevCap[key][capb]=capabilities[capb];\n        }\n        \n        outlets = result.outlets;\n        for (outl in outlets) {\n         if (!context.global.winkState[type][outlets[outl].name]) context.global.winkState[type][outlets[outl].name] = {};\n        context.global.winkState[type][outlets[outl].name]=outlets[outl];\n        }\n        \n        \n        if (!!result.linked_service_id) context.global.winkState[type][key].connection = !result.invalidated_at;\n\n        if (!updateP) return;\n        if (!context.global.winkState.lastUpdates) context.global.winkState.lastUpdates = [];\n        if (type!=='groups'){\n        context.global.winkState[type][key].timestamp = new Date();\n        context.global.winkState.lastUpdates.splice(0, 0, context.global.winkState[type][key]);\n        if (context.global.winkState.lastUpdates.length > 15) context.global.winkState.lastUpdates.pop();\n        }\n        //addind special array for motion sensors to check how often they occur\n        if (type == \"sensor_pods\" && typeof (context.global.winkState[type][key].motion) !== 'undefined') {\n        context.global.winkState[type][key].timestamp= new Date();\n        if (!context.global.winkState.motionUpdates) context.global.winkState.motionUpdates=[];\n        context.global.winkState.motionUpdates.splice(0, 0, context.global.winkState[type][key]);\n        if (context.global.winkState.motionUpdates.length > 30) context.global.winkState.motionUpdates.pop();\n        }\n        \n    });\n};\n\n//global function to generate wink cmd message for various objects\n\ncontext.global.executeWinkCMD = function (winkName,type,cmd,level) {\nvar WinkCMDmsg;\n//node.warn(winkName+' '+type+' '+cmd)\nswitch (type.toLowerCase()) {\n\ncase 'lock':\nvar request=(cmd.toLowerCase() ==\"lock\" ? true:false);\nif (winkName in context.global.winkState.locks)\n{\n   WinkCMDmsg ={\n    \"url\":\"https://winkapi.quirky.com/locks/\"+context.global.winkState.locks[winkName].object_id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"locked\":(cmd.toLowerCase() ==\"lock\" ? true:false)\n        }\n    }\n};\n}\nbreak;\ncase 'light':\nif (winkName in context.global.winkState.light_bulbs){\n    if(context.global.winkState.light_bulbs[winkName].device_manufacturer==\"lifx\")\n    {\n        WinkCMDmsg ={\n            \"url\":\"https://api.lifx.com/v1/lights/id:\"+context.global.winkState.light_bulbs[winkName].object_id+\"/state\",\n            \"method\": \"PUT\",\n            headers: {\n                \"Authorization\": \"Bearer \"+context.global.LIFX_TOKEN,\n                \"Content-Type\":\"application/json\"\n            },\n            payload: {\n                power:(cmd.toLowerCase()==\"on\" ? \"on\":\"off\"),\n                brightness: level/100,\n                \"duration\": 1\n            }\n        };\n    }\n    else {\n WinkCMDmsg ={\n    \"url\":\"https://winkapi.quirky.com/light_bulbs/\"+context.global.winkState.light_bulbs[winkName].object_id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"powered\":(cmd.toLowerCase() ==\"on\" ? true:false),\n            \"brightness\": level/100\n        }\n    }\n };\n}   \n} else if(winkName in context.global.winkState.binary_switches){\n WinkCMDmsg ={\n    \"url\":\"https://winkapi.quirky.com/binary_switches/\"+context.global.winkState.binary_switches[winkName].object_id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"powered\":(cmd.toLowerCase() ==\"on\" ? true:false)\n        }\n    }\n};\n} else if(winkName in context.global.winkState.powerstrips && context.global.winkState.powerstrips[winkName].object_type==='outlet'){\n WinkCMDmsg ={\n    \"url\":\"https://winkapi.quirky.com/outlets/\"+context.global.winkState.powerstrips[winkName].object_id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"powered\":(cmd.toLowerCase() ==\"on\" ? true:false)\n        }\n    }\n};\n}\nbreak;\ncase 'group':\nif (winkName in context.global.winkState.groups){\nnode.warn(context.global.winkState.groups[winkName]);\n WinkCMDmsg ={\n    \"url\":\"https://winkapi.quirky.com/groups/\"+context.global.winkState.groups[winkName].object_id+\"/activate\",\n    \"method\": \"POST\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"powered\":(cmd.toLowerCase() ==\"on\" ? true:false),\n            \"brightness\": level/100\n        }\n    }\n  };\n }\nbreak;\ncase 'shortcut':\nif (winkName in context.global.winkState.scenes){\n WinkCMDmsg ={\n    \"url\":\"https://winkapi.quirky.com/scenes/\"+context.global.winkState.scenes[winkName].object_id+\"/activate\",\n    \"method\": \"POST\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    }\n  };\n }\nbreak;\ndefault:\nWinkCMDmsg={url:'not defined'};\n}\n//node.warn(WinkCMDmsg.url);\nreturn WinkCMDmsg;\n};\n\n\ncontext.global.algorithm = 'aes-256-ctr',\n\ncontext.global.encrypt=function(text){\n  var cipher = context.global.CRYPTO.createCipher(context.global.algorithm,context.global.FREEBOARD_TOKEN);\n  var crypted = cipher.update(text,'utf8','hex');\n  crypted += cipher.final('hex');\n  return crypted;\n};\n \ncontext.global.decrypt=function(text){\n  var decipher = context.global.CRYPTO.createDecipher(context.global.algorithm,context.global.FREEBOARD_TOKEN);\n  var dec = decipher.update(text,'hex','utf8');\n  dec += decipher.final('utf8');\n  return dec;\n};\n\ncontext.global.getCookie=function(cname,req_cookies) {\n    var name = cname + \"=\";\n    if (typeof(req_cookies) !=='undefined' ){\n    var ca = req_cookies.split(';');\n    for(var i=0; i<ca.length; i++) {\n        var c = ca[i];\n        while (c.charAt(0)==' ') c = c.substring(1);\n        if (c.indexOf(name) === 0) return c.substring(name.length,c.length);\n    }\n  } else return '0';\n};\ncontext.global.render_home_components = function(grp) {\n    var pct = function(value) {\n    return ((value > 1.0 ? value : value * 100).toFixed(0) + '%');\n    };\n    var dual_temp = function (value) {\n    return (typeof value === 'number' ? (value.toFixed(1) + 'C / ' + ((value * 1.8) + 32).toFixed(1) + 'F') : '');\n    };\n    \n    var all=context.global.winkState.groups['.all'];\n    var l=context.global.winkState.groups['@lights'];\n    \n    var NewMsg={\n    payload:{\n        home_components:[]\n        }\n    }\n    if (grp==='.all') \n    { \n         if ('temperature' in context.global.winkState.groups['.all']){\n            NewMsg.payload.home_components.push(\n                {\n                    type:'temperature',\n                    icon:'wi wi-home-icon wi-thermometer',\n                    label:\"Temperature\",\n                    value:dual_temp(all.temperature.average),\n                    icon_color:(all.temperature.average<10 || all.temperature.average > 50 ? 'detail-warning' : 'detail-ok')\n                });\n        }\n        if ('humidity' in context.global.winkState.groups['.all']){\n            NewMsg.payload.home_components.push(\n                {\n                    type:'humidity',\n                    icon:'wi wi-home-icon wi-humidity',\n                    label:\"Humidity\",\n                    value:pct(all.humidity.average),\n                    icon_color:(all.humidity.average < 0.1 || all.humidity.average > 90 ? 'detail-warning' : 'detail-ok')\n                });\n        }\n        if ('smoke_detected' in context.global.winkState.groups['.all']){\n            NewMsg.payload.home_components.push(\n                {\n                    type:'smoke_detected',\n                    icon:'wi wi-home-icon cicon-fire',\n                    label:\"Smoke\",\n                    value:(all.smoke_detected.and || all.smoke_detected.or ? \"Fire!!\" : \"OK\"),\n                    icon_color: (all.smoke_detected.and || all.smoke_detected.or ? \"detail-danger\" : \"detail-ok\")\n                });\n            NewMsg.payload.home_components.push(\n                {\n                    type:'co_detected',\n                    icon:'wi wi-home-icon cicon-CO2',\n                    label:\"CO2\",\n                    value:(all.co_detected.and || all.co_detected.or ? \"CO2!!\" : \"OK\"),\n                    icon_color:(all.co_detected.and || all.co_detected.or ? \"detail-danger\" : \"detail-ok\"),\n                });\n        }\n        if ('liquid_detected' in context.global.winkState.groups['.all'])\n        {\n            NewMsg.payload.home_components.push(\n                {\n                type:'liquid_detected',\n                icon:'wi wi-home-icon cicon-droplet',\n                label:\"Leaks\",\n                value:(all.liquid_detected.and || all.liquid_detected.or ? \"Leak detected!!\" : \"No Leaks\"),\n                icon_color:(all.liquid_detected.and || all.liquid_detected.or ?  \"detail-danger\" : \"detail-ok\")\n            });\n        }\n        if ('motion' in context.global.winkState.groups['.all']){\n            NewMsg.payload.home_components.push(\n                {\n                    type:'motion',\n                    icon:'wi wi-home-icon cicon-feed',\n                    label:\"Motion\",\n                    value:(all.motion.and || all.motion.or ? \"Motion\" : \"No Motion\"),\n                    icon_color:(all.motion.and || all.motion.or ?  'detail-warning' : 'detail-ok')\n                });\n        }\n        if ('locked' in context.global.winkState.groups['.all']){\n            NewMsg.payload.home_components.push(\n                {\n                    type:'locked', \n                    icon:'wi wi-home-icon cicon-doors4',\n                    label:\"Locks\",\n                    value:(all.locked.and || all.locked.or ? all.locked.true_count+\" Locked\" : all.locked.false_count+\" Unlocked\"),\n                    icon_color:(all.locked.and || all.locked.or ?  'detail-ok' : 'detail-warning')\n                });\n        };\n\n        if ('opened' in context.global.winkState.groups['.all']){\n            NewMsg.payload.home_components.push(\n                {\n                    type:'opened',\n                    icon:'wi wi-home-icon '+(all.opened.and || all.opened.or ? 'cicon-opened_door':'cicon-closed_door'),\n                    label:\"Doors\",\n                    value:(all.opened.and || all.opened.or ? all.opened.true_count+\" Opened\" : all.opened.false_count+\" Closed\"),\n                    icon_color:(all.opened.and || all.opened.or ?  'detail-warning' : 'detail-ok')\n                });\n        }\n        if ('light_bulbs' in context.global.winkState || 'binary_switches' in context.global.winkState){\n                NewMsg.payload.home_components.push(\n                    {\n                    type:'lights',\n                    icon:'wi wi-home-icon cicon-bulb',\n                    label:\"Lights\",\n                    value:(l.powered.and || l.powered.or ? l.powered.true_count+\" ON\" : l.powered.false_count+\" OFF\"),\n                    icon_color:(l.powered.and || l.powered.or ? 'detail-warning' : 'detail-ok')\n                    });\n        }        \n        if ('remaining' in context.global.winkState.groups['.all']){\n            //node.warn('adding trippers')\n            NewMsg.payload.home_components.push(\n                {\n                    type:'propane',\n                    icon:'wi wi-home-icon ' + (all.remaining.min <=0.50  ? 'cicon-propane_tnk_half' : 'cicon-propane_tnk_full'),\n                    label:\"Propane\",\n                    value:pct(all.remaining.min),\n                    icon_color:(all.remaining.min <0.10  ?  'detail-danger' : all.remaining.min <=0.50 ? 'detail-warning' : 'detail-ok')\n                });\n        }    \n        if ('battery' in context.global.winkState.groups['.all']){\n        //node.warn('adding trippers')\n        NewMsg.payload.home_components.push(\n            {\n                type:'battery',\n                icon:'fa wi-home-icon '+(all.battery.min <0.25  ? 'fa-battery-quarter': all.battery.min <=0.50  ? 'fa-battery-half' : 'fa-battery-full'),\n                label:\"Battery\",\n                value:(all.battery.min <0.10  ? \"Check\" : all.battery.min <=0.50  ? pct(all.battery.min) :\"OK\"),\n                icon_color:(all.battery.min <0.10  ?  'detail-danger' : all.battery.min <=0.50  ?  'detail-warning' : 'detail-ok')\n            });\n        }\n    } \n    if (grp=='@lights') {\n        if ('light_bulbs' in context.global.winkState || 'binary_switches' in context.global.winkState){\n                NewMsg.payload.home_components.push(\n                    {\n                    type:'lights',\n                    icon:'wi wi-home-icon cicon-bulb',\n                    label:\"Lights\",\n                    value:(l.powered.and || l.powered.or ? l.powered.true_count+\" ON\" : l.powered.false_count+\" OFF\"),\n                    icon_color:(l.powered.and || l.powered.or ? 'detail-warning' : 'detail-ok')\n                    });\n        }\n    }\n    return NewMsg;\n};\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 423,
    "y": 141,
    "wires": [
      [
        "44254652.bbdab8"
      ]
    ]
  },
  {
    "id": "f2190041.0de7",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "delete context.global.winkState;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 253.5,
    "y": 601,
    "wires": [
      []
    ]
  },
  {
    "id": "be2cf8e1.41d308",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 92.5,
    "y": 601,
    "wires": [
      [
        "f2190041.0de7"
      ]
    ]
  },
  {
    "id": "6182d5b4.9e7d2c",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "82800",
    "crontab": "",
    "once": true,
    "x": 662,
    "y": 339,
    "wires": [
      [
        "4123636a.bedc9c"
      ]
    ]
  },
  {
    "id": "6efbc553.91043c",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 591,
    "y": 80,
    "wires": [
      [
        "9b145049.64ebb"
      ]
    ]
  },
  {
    "id": "4716e1b1.b8e92",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "none",
    "repeat": "86400",
    "crontab": "",
    "once": true,
    "x": 114,
    "y": 85,
    "wires": [
      [
        "8535c1cd.7aca4",
        "32d9f3cb.cd260c"
      ]
    ]
  },
  {
    "id": "5133880d.aecc78",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Get OAuth Tocken",
    "func": "var uid=context.global.WinkUser.uid;\nvar pwd=context.global.WinkUser.pwd;\nvar newMsg ={\n    \"url\":\"https://winkapi.quirky.com/oauth2/token\",\n    \"method\": \"POST\",\n    headers: {\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"client_id\": \"7243d8212e040d75dada47ce68a04c24\",\n        \"client_secret\": \"7d597e496afd6196db8d8738829f5a09\",\n        \"username\": uid,\n        \"password\": pwd,\n        \"grant_type\": \"password\"\n    }\n}\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 96,
    "wires": [
      [
        "6efbc553.91043c"
      ]
    ]
  },
  {
    "id": "9b145049.64ebb",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "DefineGlobalTocken",
    "func": "// sample function that stores wink token in a global variable so other api calls\n//can use that\ncontext.global.WinkToken=msg.payload.data.access_token;\nnode.log(context.global.WinkToken);\nvar msg ={ \"payload\":\"Done\"}\nreturn msg;",
    "outputs": 1,
    "x": 782,
    "y": 81,
    "wires": [
      [
        "50eef1c2.af111"
      ]
    ]
  },
  {
    "id": "50eef1c2.af111",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Prepare HTTPS requests by device type",
    "func": "var newMsg1 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/wink_devices\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n    }\n}\nvar newMsg2 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/linked_services\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n       // \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/3.1.0\"\n }\n\n}\n\nvar newMsg3 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/groups\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n }\n\n}\n\nvar newMsg4 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/scenes\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n  }\n}\n\nvar newMsg5 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/robots\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n  }\n}\n\nreturn [newMsg1,newMsg2,newMsg3,newMsg4,newMsg5];\n//return [newMsg1,newMsg2,newMsg3,newMsg4,newMsg5,newMsg6,newMsg7,newMsg8,newMsg9,newMsg10,newMsg11];\n",
    "outputs": "5",
    "noerr": 0,
    "x": 1074,
    "y": 85,
    "wires": [
      [
        "bf5771f7.40a89"
      ],
      [
        "4d7c421b.b283bc"
      ],
      [
        "f4b47235.0b4b9"
      ],
      [
        "ac5350e9.53acb"
      ],
      [
        "5ea91638.a156e8"
      ]
    ]
  },
  {
    "id": "bf5771f7.40a89",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "GetWDevices",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1412,
    "y": 44,
    "wires": [
      [
        "a87eb901.578148"
      ]
    ]
  },
  {
    "id": "8073d6ba.7f8c28",
    "type": "http in",
    "z": "6f62cc19.909d34",
    "name": "",
    "url": "/red/getGlobalDataJSon",
    "method": "get",
    "x": 141.5,
    "y": 225,
    "wires": [
      [
        "e0dbe12b.1f242"
      ]
    ]
  },
  {
    "id": "e0dbe12b.1f242",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Throw Wink Data",
    "func": "if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN){\nmsg.payload.WinkData=context.global.winkState;\nmsg.payload.WinkCapbs=context.global.winkDevCap;\nmsg.payload.WeatherData=context.global.Weather;\nmsg.payload.Weather=context.global.Weather;\n//msg.payload.WinkSubscriptions=context.global.WinkSubscriptions;\nmsg.payload.Presence=context.global.checkPresence();\nmsg.payload.PresenceDetail=context.global.Presence;\nmsg.payload.PresenceHistory=context.global.PresenceHistory;\n\n//msg.payload.foscamP=context.global.FosCam;\n//msg.payload.SamsungP=context.global.SamsungCam;\n//msg.payload.DlinkCam=context.global.DlinkCam;\n//msg.payload.VCAP_SERVICES=context.global.VCAP_SERVICES\n//msg.payload.ImageArchive=context.global.ImageArchive\n//msg.payload.camera_motion=context.global.camera_motion\n//msg.payload.netatmo=context.global.netatmo\nmsg.statusCode=\"200\";\nvar Etag=\"\";\nif ('CRYPTO' in context.global){\n    Etag=context.global.CRYPTO.createHash(\"md5\").update(JSON.stringify(msg.payload),\"utf8\").digest(\"hex\");\n    msg.headers={\n       'ETag': Etag,\n       'Content-Type': 'application/json'\n    };\n//    msg.res.set({\n//       'ETag': Etag,\n//       'Content-Type': 'application/json'\n//    });\n}\nreturn msg;\n}\nelse\n{\n    //msg.payload=\"Not Authorized\";\n   msg.statusCode=\"403\";\n   node.send(msg);\n   //res.send(\"403\",\"Forbidden\");\n  return;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 418.9999694824219,
    "y": 226,
    "wires": [
      [
        "7dda2777.8225d8"
      ]
    ]
  },
  {
    "id": "7dda2777.8225d8",
    "type": "http response",
    "z": "6f62cc19.909d34",
    "name": "",
    "x": 644,
    "y": 227,
    "wires": []
  },
  {
    "id": "98b63769.6749c8",
    "type": "http in",
    "z": "6f62cc19.909d34",
    "name": "",
    "url": "/red/wink/subscribtions",
    "method": "get",
    "x": 152,
    "y": 369,
    "wires": [
      [
        "9338361a.6cc7c8"
      ]
    ]
  },
  {
    "id": "9338361a.6cc7c8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Wink Subscription resonse",
    "func": "if (msg.payload[\"hub.mode\"]==\"subscribe\")\n{\n    msg.res.send(200,msg.payload[\"hub.challenge\"]);\n}\nelse\n{\n    msg.res.send(400,\"Bad Request darling\");\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 413,
    "y": 361,
    "wires": [
      []
    ]
  },
  {
    "id": "c1aa3103.3e55d",
    "type": "http in",
    "z": "6f62cc19.909d34",
    "name": "",
    "url": "/red/wink/subscribtions",
    "method": "post",
    "swaggerDoc": "",
    "x": 154,
    "y": 451.00006103515625,
    "wires": [
      [
        "e9064491.16f9b8",
        "d3f9c032.2c064"
      ]
    ]
  },
  {
    "id": "4123636a.bedc9c",
    "type": "delay",
    "z": "6f62cc19.909d34",
    "name": "",
    "pauseType": "delay",
    "timeout": "45",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 818,
    "y": 338,
    "wires": [
      [
        "9182297.f6e7dd8"
      ]
    ]
  },
  {
    "id": "29e88895.d61778",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1343.0000457763672,
    "y": 337,
    "wires": [
      [
        "d53720c8.2ac8e"
      ]
    ]
  },
  {
    "id": "d53720c8.2ac8e",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "CheckResposeCode",
    "func": "if (typeof context.global.WinkSubscriptions === 'undefined')\n{\n    context.global.WinkSubscriptions = {};\n}\nif (msg.statusCode==202)\n{\n    node.warn(\"Subscription ID: \"+msg.payload.data.subscription_id);\n    context.global.WinkSubscriptions[msg.payload.data.subscription_id]={\n        \"subscription_id\": msg.payload.data.subscription_id,\n        \"url_base\":msg.payload.data.topic,\n        \"callback\":msg.payload.data.callback\n    }\n}\nelse\n{\n    node.warn(\"Subscription issue. Status: \"+msg.statusCode);\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 1501.0000457763672,
    "y": 425.0000305175781,
    "wires": [
      []
    ]
  },
  {
    "id": "532990a8.acd67",
    "type": "comment",
    "z": "6f62cc19.909d34",
    "name": "Section for status  subscription---------------------------------------------------------------------------------------------------------------------------------",
    "info": "",
    "x": 458,
    "y": 291,
    "wires": []
  },
  {
    "id": "baab336e.4554d",
    "type": "comment",
    "z": "6f62cc19.909d34",
    "name": "Initialize section-----------------------------------------------------------------------------------------------------------",
    "info": "",
    "x": 367,
    "y": 20,
    "wires": []
  },
  {
    "id": "658d53c1.9a72ac",
    "type": "comment",
    "z": "6f62cc19.909d34",
    "name": "Weather-------------------------------------------------------------------------------------------------------------------------------",
    "info": "",
    "x": 375,
    "y": 1126.0000610351562,
    "wires": []
  },
  {
    "id": "987c49e.f6783b8",
    "type": "debug",
    "z": "6f62cc19.909d34",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 1062,
    "y": 1218.0001220703125,
    "wires": []
  },
  {
    "id": "385b8804.c7a478",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "Get Weather",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 439,
    "y": 1216,
    "wires": [
      [
        "58c6d8e3.a73928"
      ]
    ]
  },
  {
    "id": "9ef038e1.610fc8",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "600",
    "crontab": "",
    "once": true,
    "x": 98,
    "y": 1172,
    "wires": [
      [
        "1aa1369b.e55ec9"
      ]
    ]
  },
  {
    "id": "1aa1369b.e55ec9",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "var newMsg ={\n        \"url\":\"https://api.forecast.io/forecast/\"+context.global.forecastIoApiKey+\"/\"+context.global.HomeLocation.lat+\",\"+context.global.HomeLocation.lon,\n        \"method\": \"GET\"\n}\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 254,
    "y": 1216,
    "wires": [
      [
        "385b8804.c7a478"
      ]
    ]
  },
  {
    "id": "a87eb901.578148",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "GetDevices",
    "func": "context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nif (\"cameras\" in context.global.winkState){\n    for (var key in context.global.winkState.cameras){\n        if (context.global.winkState.cameras[key].manufacturer_device_model.indexOf(\"dropcam\")!=-1){\n            var newMsg1 ={\n                \"url\":context.global.BlueMixUrlBase+'/red/retrieve_activities?camera_name='+key,\n                \"method\": \"GET\",\n                headers: {\n                    \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n                }\n            }\n            node.send(newMsg1);\n        }\n    }\n}\nnode.warn(\"Device import completed\");\nreturn;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1712.0000457763672,
    "y": 35.5,
    "wires": [
      [
        "2b2aa052.d4d56"
      ]
    ]
  },
  {
    "id": "4d7c421b.b283bc",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "GetWServices",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1391,
    "y": 85.5,
    "wires": [
      [
        "c739c3a3.38c64"
      ]
    ]
  },
  {
    "id": "c739c3a3.38c64",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "GetServices",
    "func": "context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n",
    "outputs": 1,
    "x": 1586,
    "y": 85.5,
    "wires": [
      []
    ]
  },
  {
    "id": "e9064491.16f9b8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "UpdateDevices",
    "func": "context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nmsg.statusCode=\"200\";\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 407,
    "y": 452.5,
    "wires": [
      [
        "1ac21659.e53dea",
        "22c9b65b.dd364a",
        "39376784.c6c898",
        "1af87206.e5078e",
        "a7e930f2.5816d",
        "7775e1e4.888a2",
        "51a480cc.ae5b8",
        "d16b50b8.2e94b"
      ]
    ]
  },
  {
    "id": "982c6619.67d398",
    "type": "comment",
    "z": "6f62cc19.909d34",
    "name": "Section for web services---------------------------------------------------------------------------------------------------------------------------------",
    "info": "",
    "x": 441.5,
    "y": 182.5,
    "wires": []
  },
  {
    "id": "a7ccd5a8.583328",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "GetWGroups",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1549,
    "y": 124.5,
    "wires": [
      [
        "5d2107b1.a2def8"
      ]
    ]
  },
  {
    "id": "5d2107b1.a2def8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "GetGroups",
    "func": "context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n",
    "outputs": 1,
    "x": 1774,
    "y": 123.5,
    "wires": [
      []
    ]
  },
  {
    "id": "ac5350e9.53acb",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "GetWScenes",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1387,
    "y": 169.5,
    "wires": [
      [
        "17490717.e8b6f9"
      ]
    ]
  },
  {
    "id": "17490717.e8b6f9",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "GetScenes",
    "func": "context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n",
    "outputs": 1,
    "x": 1574.0000457763672,
    "y": 170.5,
    "wires": [
      []
    ]
  },
  {
    "id": "1ac21659.e53dea",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Send message to IFTTT",
    "func": "if (context.global.ifttt){\nvar WinkEvent=\"WinkEvent\"\nvar extra_param=\"\"\nvar Event_desc=\"\"\nif (msg.payload.model_name==\"Motion Sensor\") \n{\n    Event_desc= (msg.payload.last_reading.motion ? \"motion detected\":\"no motion\")\n}\nif (msg.payload.model_name==\"Tripper\") \n{\n    Event_desc= (msg.payload.last_reading.opened ? \"Opened\":\"Closed\")\n}\n\nif ('last_reading' in msg.payload && 'locked' in msg.payload.last_reading) \n{ \n    Event_desc= (msg.payload.last_reading.locked ? \"Locked\":\"Unlocked\")\n}\n\nif (msg.payload.object_type==\"binary_switch\" && (!('powered' in msg.payload.desired_state) || msg.payload.desired_state.powered===false) )\n{\n    Event_desc= (msg.payload.last_reading.powered ? \"On\":\"Off\")\n}\n\nif (msg.payload.object_type==\"garage_doors\")\n{\n    Event_desc= (msg.payload.last_reading.garage_doors==\"0\" ? \"Closed\":\"Opened\")\n}\n\nif (msg.payload.object_type==\"light_bulb\" && !('powered' in msg.payload.desired_state))\n{\n    Event_desc= (msg.payload.last_reading.powered ? \"On\":\"Off\")\n    extra_param=(msg.payload.last_reading.powered ? msg.payload.last_reading.brightness*100 : 0)\n}\nif ('liquid_detected' in msg.payload)\n{\n    Event_desc= (msg.payload.last_reading.liquid_detected ? \"Water detected\":\"No water detected\")\n}\n\nif (msg.payload.object_type ==\"propane_tanks\")\n{\n    Event_desc= (\"Propane level - \"+msg.payload.last_reading.remaining)\n}\n\nif (msg.payload.object_type ==\"powerstrips\")\n{\n    Event_Desc = msg.payload.outlets[0].name+\" \"+ (msg.payload.outlets[0].powered ? \"On, \":\"Off, \")+msg.payload.outlets[0].name+\" \"+(msg.payload.outlets[1].powered ? \"On\":\"Off\")\n}\n\nif (Event_desc!==\"\")\n{\n var newMsg ={\n                    \"url\":\"https://maker.ifttt.com/trigger/\"+WinkEvent+\"/with/key/\"+context.global.IFTTT_TOKEN,\n                    \"method\": \"POST\",\n                    headers: \n                    {\n                        \"Content-Type\":\"application/json\"\n                    },\n                    payload: \n                    {\"value1\":msg.payload.name,\"value2\":Event_desc,\"value3\":extra_param}\n            }\nnode.send(newMsg);\n}\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 737.9999847412109,
    "y": 534.4999694824219,
    "wires": [
      [
        "b1c3f099.4e3c1"
      ]
    ]
  },
  {
    "id": "b1c3f099.4e3c1",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 948,
    "y": 534.5,
    "wires": [
      []
    ]
  },
  {
    "id": "58c6d8e3.a73928",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Get current weather",
    "func": "var pct = function(value) {\n    return ((value > 1.0 ? value : value * 100).toFixed(0) + '%')\n}\nvar dual_temp = function (value) {\n    return (typeof value === 'number' ? (value.toFixed(1) + 'F / ' + ((value -32) / 1.8).toFixed(1) + 'C') : '')\n}\n\nvar month = [];\nmonth[0] = \"January\";\nmonth[1] = \"February\";\nmonth[2] = \"March\";\nmonth[3] = \"April\";\nmonth[4] = \"May\";\nmonth[5] = \"June\";\nmonth[6] = \"July\";\nmonth[7] = \"August\";\nmonth[8] = \"September\";\nmonth[9] = \"October\";\nmonth[10] = \"November\";\nmonth[11] = \"December\";\n\nvar weekday = [];\nweekday[0]=  \"Sunday\";\nweekday[1] = \"Monday\";\nweekday[2] = \"Tuesday\";\nweekday[3] = \"Wednesday\";\nweekday[4] = \"Thursday\";\nweekday[5] = \"Friday\";\nweekday[6] = \"Saturday\";\n\nvar currDate= new Date();\nvar currHours=currDate.getHours();\nvar currMins=currDate.getMinutes();\nvar currOffset=currDate.getTimezoneOffset()*-1/60;\nif(msg.payload.currently)\n{\ncontext.global.Weather.Offset = (currOffset!=msg.payload.offset ? msg.payload.offset : 0);\ncontext.global.Weather.CloudCover=Math.round(msg.payload.currently.cloudCover*100);\ncontext.global.Weather.WeatherSummary=msg.payload.currently.summary;\n\nvar lDate=new Date(Date.now()+context.global.Weather.Offset*3600000);\nvar Month = month[lDate.getMonth()];\nvar weekDay = weekday[lDate.getDay()];\nvar monthDay = lDate.getDate();\n\nvar date = new Date(msg.payload.currently.time*1000);\nvar hours = date.getHours();\nvar minutes = date.getMinutes();\n//if (currHours==hours){context.global.Weather.Offset=0}\nvar date = new Date(msg.payload.daily.data[0].sunsetTime*1000);\nvar hours = date.getHours();\nvar minutes =date.getMinutes();\ncontext.global.Weather.SunsetHour=hours+context.global.Weather.Offset;\nif (context.global.Weather.SunsetHour<0)\n {\n     context.global.Weather.SunsetHour=24+context.global.Weather.SunsetHour;\n }\ncontext.global.Weather.SunsetMin=minutes;\ncontext.global.Weather.SunsetMinW=(minutes < 10 ? '0'+minutes : minutes);\nvar date = new Date(msg.payload.daily.data[0].sunriseTime*1000);\nvar hours = date.getHours();\nvar minutes =date.getMinutes();\ncontext.global.Weather.SunriseHour=hours+context.global.Weather.Offset;\ncontext.global.Weather.SunriseMin=minutes;\ncontext.global.Weather.SunriseMinW=(minutes < 10 ? '0'+minutes : minutes);\ncontext.global.Weather.outsideTemp=msg.payload.currently.temperature;\ncontext.global.Weather.PrecipationPbb=msg.payload.currently.precipProbability;\ncontext.global.Weather.HumidityOutside=msg.payload.currently.humidity;\ncontext.global.Weather.DateName=' '+weekDay+', '+Month+' '+monthDay+'.   Wink API @'+(typeof(context.global.winkState.winkAPI)!=='undefined' ? pct(context.global.winkState.winkAPI) : 'retrieving..');\n\n\ncurrHours=currHours+context.global.Weather.Offset;\nif (currHours<0)\n {\n     currHours=24+currHours;\n }\n //node.warn(\"time \"+currHours+\":\"+currMins);\nif ((currHours > context.global.Weather.SunriseHour && currHours < context.global.Weather.SunsetHour) || (currHours==context.global.Weather.SunsetHour && currMins <context.global.Weather.SunsetMin))\n{\n    var timeFrame=\"DAY\";\n}\nelse {\n    var timeFrame=\"NIGHT\";\n}\ncontext.global.Weather.currently=msg.payload.currently;\ncontext.global.Weather.timeframe=timeFrame;\ncontext.global.Weather.currently.dual_temp=dual_temp(context.global.Weather.currently.temperature);\ncontext.global.Weather.currently.humidity_pct=pct(context.global.Weather.currently.humidity);\ncontext.global.Weather.currently.clouds_pct=pct(context.global.Weather.currently.cloudCover);\ncontext.global.Weather.sun_data='Sunrise - Sunset: '+context.global.Weather.SunriseHour+':'+context.global.Weather.SunriseMinW+' - '+context.global.Weather.SunsetHour+':'+context.global.Weather.SunsetMinW\nvar icon=context.global.Weather.currently.icon;\nif(icon == 'clear-day') { context.global.Weather.currently.web_icon=\"wi-day-sunny\" }\nif(icon == 'clear-night') { context.global.Weather.currently.web_icon=\"wi-night-clear\" }\nif(icon == 'rain') { context.global.Weather.currently.web_icon=\"wi-rain\" }\nif(icon == 'snow') { context.global.Weather.currently.web_icon=\"wi-snow\" }\nif(icon == 'sleet') { context.global.Weather.currently.web_icon=\"wi-day-sleet\" }\nif(icon == 'wind') { context.global.Weather.currently.web_icon=\"wi-day-windy\" }\nif(icon == 'fog') { context.global.Weather.currently.web_icon=\"wi-fog\" }\nif(icon == 'cloudy') { context.global.Weather.currently.web_icon=\"wi-cloudy\" }\nif(icon == 'partly-cloudy-day') { context.global.Weather.currently.web_icon=\"wi-day-cloudy\" }\nif(icon == 'partly-cloudy-night') { context.global.Weather.currently.web_icon=\"wi-night-cloudy\" }\nif(icon == 'hail') { context.global.Weather.currently.web_icon=\"wi-hail\" }\nif(icon == 'thunderstorm') { context.global.Weather.currently.web_icon=\"wi-thunderstorm\" }\nif(icon == 'tornado') { context.global.Weather.currently.web_icon=\"wi-meteor\" }    \n}\nnewMsg = {\n    payload: {\n     weather:context.global.Weather\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 850,
    "y": 1219.5,
    "wires": [
      [
        "987c49e.f6783b8",
        "108581a.fef7a7e"
      ]
    ]
  },
  {
    "id": "22c9b65b.dd364a",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Switch t-stat back to home mode if motion is detected",
    "func": "var canControl = (typeof(context.global.motionAdjustTstat)!=='undefined' ? context.global.motionAdjustTstat : 'true');\nif (msg.payload.object_type =='thermostat' && ((\"users_away\" in msg.payload.last_reading) && typeof(msg.payload.last_reading.users_away)!=='undefined' && msg.payload.last_reading.users_away) && canControl){\n    if (context.global.winkState.groups['.sensors'].motion.or || context.global.checkPresence()){\n    var newMsg ={\n    \"url\":\"https://winkapi.quirky.com/thermostats/\"+msg.payload.object_id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"powered\":true,\n            \"users_away\":false\n                }\n            }\n        };\n    node.send(newMsg);\n    }\n}\nif ((\"last_reading\" in msg.payload) && (\"motion\" in msg.payload.last_reading) && typeof(msg.payload.last_reading.motion!=='undefined') && msg.payload.last_reading.motion && canControl){\n    for (var key in context.global.winkState.thermostats){\n        if ((\"users_away\" in context.global.winkState.thermostats[key]) && typeof(context.global.winkState.thermostats[key].users_away)!=='undefined' && context.global.winkState.thermostats[key].users_away){\n               var newMsg ={\n                \"url\":\"https://winkapi.quirky.com/thermostats/\"+context.global.winkState.thermostats[key].object_id,\n                \"method\": \"PUT\",\n                headers: {\n                    \"Authorization\":\"Bearer \"+context.global.WinkToken,\n                    \"Content-Type\":\"application/json\"\n                },\n                payload: {\n                    \"desired_state\": {\n                     \"powered\":true,\n                    \"users_away\":false\n                }\n            }\n        };\n    node.send(newMsg); \n    }\n  }\n}\n\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 823.3958129882812,
    "y": 580.111083984375,
    "wires": [
      [
        "5b33c428.a4cc3c"
      ]
    ]
  },
  {
    "id": "5b33c428.a4cc3c",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1134.3959350585938,
    "y": 580.111083984375,
    "wires": [
      []
    ]
  },
  {
    "id": "f780d37a.087f3",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "if (typeof context.global.InitialStateKey !=='undefined'){\ncontext.global.InitialStateBucket=\"WinkDataISN\"\nvar newMsg={\n  method: 'POST',\n  url: 'https://groker.initialstate.com/api/buckets',\n  headers: {\n    'Content-Type': 'application/json',\n    'X-IS-AccessKey': context.global.InitialStateKey,\n    'Accept-Version': '~0'\n  },\n    payload: \n    {\n    \"bucketKey\": context.global.InitialStateBucket,\n    \"bucketName\": \"Wink Data Node Red\"\n}\n}\nnode.send(newMsg);\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 322.39581298828125,
    "y": 1336.3333740234375,
    "wires": [
      [
        "b396d2fd.4c693"
      ]
    ]
  },
  {
    "id": "754e5508.8ab1ac",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 123.39579772949219,
    "y": 1337.3333740234375,
    "wires": [
      [
        "f780d37a.087f3"
      ]
    ]
  },
  {
    "id": "b396d2fd.4c693",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 520.5,
    "y": 1337.4444580078125,
    "wires": [
      [
        "c9231072.36dcf"
      ]
    ]
  },
  {
    "id": "c9231072.36dcf",
    "type": "debug",
    "z": "6f62cc19.909d34",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 705.5,
    "y": 1336.4444885253906,
    "wires": []
  },
  {
    "id": "846da6ff.7b9258",
    "type": "comment",
    "z": "6f62cc19.909d34",
    "name": "IS State bucket initialization -------------------------------------------------------------------------------------------------------------------------------",
    "info": "modfy bluemix-settings.json and add following line:\n\ncontext.global.InitialStateKey=\"<your initial state api key>\"",
    "x": 458,
    "y": 1285,
    "wires": []
  },
  {
    "id": "e35e452a.1ca1b8",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 942.3957977294922,
    "y": 485.888916015625,
    "wires": [
      []
    ]
  },
  {
    "id": "39376784.c6c898",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Is State",
    "func": "if (typeof context.global.InitialStateKey !=='undefined'){\nvar keyName;\nvar keyValue;\nvar winkObjectType=(msg.payload.object_type=='binary_switch' ? msg.payload.object_type+'es' : msg.payload.object_type+'s')\nvar pct = function(value) {\n    return ((value > 1.0 ? value : value * 100).toFixed(0) + '%')\n}\nvar dual_temp = function (value) {\n    return (typeof value === 'number' ? (value.toFixed(1) + 'C / ' + ((value * 1.8) + 32).toFixed(1) + 'F') : '')\n}\n\nvar dollars = function (value) {\n    return (typeof value === 'number' ? (value / 100).toFixed(2) : '')\n}\n\nvar GenValueText = function (property,value){\n    text =  { co_detected     : (value ? 'CO DETECTED'     : '')\n            , fault           : (value ? 'FAULT DETECTED'  : '')\n            , liquid_detected : (value ? 'LEAK DETECTED'   : '')\n            , locked          : (value ? 'LOCKED'          : 'UNLOCKED')\n            , loudness        : (value ? 'LOUD'            : '')\n            , noise           : (value ? 'NOISY'           : '')\n            , motion          : (value ? 'MOTION'          : '')\n            , opened          : (value ? 'OPEN'            : 'CLOSED')\n            , presence        : (value ? 'PRESENCE'        : '')\n            , smoke_detected  : (value ? 'SMOKE DETECTED'  : '')\n            , tamper_detected : (value ? 'TAMPER DETECTED' : '')\n            , vibration       : (value ? 'VIBRATION'       : '')\n\n            , battery         : pct(value)\n            , brightness      : pct(value)\n            , co_severity     : pct(value)\n            , humidity        : pct(value)\n            , smoke_severity  : pct(value)\n\n            , remaining       : pct(value)\n            , temperature     : value\n            }[property]\n    if (text === '') text = 'OK'\n    return text;\n}\n\nvar sendMsg = function(key,value){\n    var newMsg={\n  method: 'POST',\n  url: 'https://groker.initialstate.com/api/events',\n  headers: {\n    \"Content-Type\": \"application/json\",\n    \"X-IS-AccessKey\": context.global.InitialStateKey,\n    \"X-IS-BucketKey\": context.global.InitialStateBucket,\n    \"Accept-Version\": '~0'\n  },\n    payload: \n    {\n    \"key\": key,\n    \"value\":value\n}\n}\nnode.send(newMsg);\n}\n//node.warn(winkObjectType)\n//node.warn(msg.payload.name)\nswitch (winkObjectType){\n    case 'binary_switches':\n        if((!('powered' in msg.payload.desired_state) || msg.payload.desired_state.powered===false)){\n        keyName=msg.payload.name+' Brightness';\n        keyValue=(msg.payload.last_reading.powered ? 100: 0);\n        sendMsg(keyName,keyValue);\n        }\n        break;\n    case 'light_bulbs':\n        if(!('powered' in msg.payload.desired_state)){\n        keyName=msg.payload.name+' Brightness';\n        keyValue=(msg.payload.last_reading.powered ? pct(msg.payload.last_reading.brightness) : 0);\n        sendMsg(keyName,keyValue);\n        }\n        break;\n    case 'locks':\n        keyName=msg.payload.name+' Status';\n        keyValue= GenValueText('locked',msg.payload.last_reading.locked);\n        sendMsg(keyName,keyValue);\n        break;\n    case 'thermostats':\n        keyName=msg.payload.name+' Temperature';\n        keyValue=msg.payload.last_reading.temperature;\n        sendMsg(keyName,keyValue);\n        break;\n case 'sensor_pods':\n        for (var i=0; i< context.global.winkDevCap[msg.payload.name].fields.length; i++){\n        sensor_type=context.global.winkDevCap[msg.payload.name].fields[i].field;\n        keyName=msg.payload.name+' '+context.global.winkDevCap[msg.payload.name].fields[i].field.replace(\"_\",\" \");\n        keyValue=GenValueText(context.global.winkDevCap[msg.payload.name].fields[i].field,context.global.winkState.sensor_pods[msg.payload.name][sensor_type]);\n        sendMsg(keyName,keyValue);\n        }\n        break;\n    case 'propane_tanks':\n        keyName=msg.payload.name+' Propane';\n        keyValue= GenValueText('remaining',msg.payload.last_reading.remaining);\n        sendMsg(keyName,keyValue);\n        break;\n        \n    case 'cameras':\n        //node.warn('camera subscription event '+msg.payload.last_reading.motion)\n        keyName=msg.payload.name+' Motion';\n        keyValue= GenValueText('motion',msg.payload.last_reading.motion);\n        sendMsg(keyName,keyValue);\n        break;    \n}\n\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 683.2916107177734,
    "y": 486.7778015136719,
    "wires": [
      [
        "e35e452a.1ca1b8"
      ]
    ]
  },
  {
    "id": "1af87206.e5078e",
    "type": "http response",
    "z": "6f62cc19.909d34",
    "name": "",
    "x": 666.3958129882812,
    "y": 382.8888854980469,
    "wires": []
  },
  {
    "id": "a7e930f2.5816d",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Snapshots",
    "func": "if ('camera_motion' in context.global){\nif(context.global.CloudantBkUP && (msg.payload.object_type=='camera' || msg.payload.object_type=='sensor_pod') && ('motion' in msg.payload.last_reading && msg.payload.last_reading.motion===true) && msg.payload.name in context.global.camera_motion)\n{\n    var newMsg1 ={\n    \"url\":context.global.BlueMixUrlBase+'/red/save_images?cam_list='+context.global.camera_motion[msg.payload.name]+'&object_name='+msg.payload.name,\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n    }\n    }\n    node.send(newMsg1);\n}\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 692.3957977294922,
    "y": 636.1111145019531,
    "wires": [
      [
        "2c57484b.d3a8b8"
      ]
    ]
  },
  {
    "id": "2c57484b.d3a8b8",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 880.3957977294922,
    "y": 634.888916015625,
    "wires": [
      []
    ]
  },
  {
    "id": "2b2aa052.d4d56",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1875.0625,
    "y": 36.888885498046875,
    "wires": [
      []
    ]
  },
  {
    "id": "7775e1e4.888a2",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "SendNamedBasedIfttt",
    "func": "if ('IFTTT_TOKEN' in context.global && context.global.IFTTT_TOKEN!=='undefined'){\nif (msg.payload.object_type=='remote' || (msg.payload.object_type=='sensor_pod' && ('motion' in msg.payload.last_reading || 'opened' in msg.payload.last_reading)) ){\n    var winkEvent=''\n    var lr=msg.payload.last_reading;\n    var oName=msg.payload.name;\n    var oType=msg.payload.object_type\n\n if (oType=='remote') winkEvent = (lr.button_on_pressed ? 'button_on_pressed' : lr.button_off_pressed ? 'button_off_pressed' : lr.button_up_pressed ? 'button_up_pressed' : lr.button_down_pressed ? 'button_down_pressed' :  '')\n else {\n if ('motion' in lr)  winkEvent = (lr.motion ? 'motion_started' : 'motion_ended')\n if ('opened' in lr) winkEvent =  (lr.opened ? 'opened' : 'closed')\n }\n \n if (winkEvent!==''){\n var WinkEvent=oName.replace(' ','_')+'_'+winkEvent;\n var newMsg ={\n                    \"url\":\"https://maker.ifttt.com/trigger/\"+WinkEvent+\"/with/key/\"+context.global.IFTTT_TOKEN,\n                    \"method\": \"POST\",\n                    headers: \n                    {\n                        \"Content-Type\":\"application/json\"\n                    }\n            }\nnode.send(newMsg);\n}\n\n}\n\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 718.3957977294922,
    "y": 687.1110534667969,
    "wires": [
      [
        "72f8b44c.8d074c"
      ]
    ]
  },
  {
    "id": "72f8b44c.8d074c",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 925.3957977294922,
    "y": 688.8889465332031,
    "wires": [
      [
        "49091647.b6f6e8"
      ]
    ]
  },
  {
    "id": "49091647.b6f6e8",
    "type": "debug",
    "z": "6f62cc19.909d34",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 1102.5,
    "y": 688,
    "wires": []
  },
  {
    "id": "5d16280c.a2e9d8",
    "type": "catch",
    "z": "6f62cc19.909d34",
    "name": "",
    "x": 78.5,
    "y": 1404,
    "wires": [
      [
        "aebe117c.5141f"
      ]
    ]
  },
  {
    "id": "aebe117c.5141f",
    "type": "debug",
    "z": "6f62cc19.909d34",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "error",
    "x": 258.5,
    "y": 1404,
    "wires": []
  },
  {
    "id": "51a480cc.ae5b8",
    "type": "switch",
    "z": "6f62cc19.909d34",
    "name": "WS switch",
    "property": "payload.object_type",
    "rules": [
      {
        "t": "eq",
        "v": "light_bulb"
      },
      {
        "t": "eq",
        "v": "binary_switch"
      },
      {
        "t": "eq",
        "v": "powerstrip"
      },
      {
        "t": "eq",
        "v": "lock"
      },
      {
        "t": "eq",
        "v": "group"
      }
    ],
    "checkall": "true",
    "outputs": 5,
    "x": 644.5,
    "y": 855,
    "wires": [
      [
        "b3bd58af.4c42a8"
      ],
      [
        "5fac128a.a053ec"
      ],
      [
        "c9563510.36a9c8"
      ],
      [
        "987864c6.678798"
      ],
      [
        "21cc04aa.de33fc"
      ]
    ]
  },
  {
    "id": "b3bd58af.4c42a8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "var bulbMsg={}\nvar bulb=context.global.winkState.light_bulbs[msg.payload.name];\nif (!('powered' in msg.payload.desired_state)){\nbulbMsg.payload={\n name:bulb.name,\n            object_id:bulb.object_id,\n            powered:bulb.powered,\n            brightness:Math.round(bulb.brightness*100)\n}\n//bulbMsg.payload=context.global.encrypt(JSON.stringify(Message));\nreturn bulbMsg;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 903.5,
    "y": 824,
    "wires": [
      [
        "108581a.fef7a7e"
      ]
    ]
  },
  {
    "id": "5fac128a.a053ec",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "var binSMsg={}\nvar bulb=context.global.winkState.binary_switches[msg.payload.name];\nif (!('powered' in msg.payload.desired_state) || msg.payload.desired_state.powered===false){\nbinSMsg.payload={\n            name:bulb.name,\n            object_id:bulb.object_id,\n            powered:bulb.powered,\n            brightness:(bulb.powered ? 100:0)\n        }\nreturn binSMsg;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 905.5,
    "y": 860,
    "wires": [
      [
        "108581a.fef7a7e"
      ]
    ]
  },
  {
    "id": "c9563510.36a9c8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "for (var i=0;i<msg.payload.outlets.length;i++){\nvar binSMsg={}    \nvar bulb=context.global.winkState.powerstrips[msg.payload.outlets[i].name];\nif (!('powered' in bulb.desired_state) || bulb.desired_state.powered===false){\nbinSMsg.payload={\n            name:bulb.name,\n            object_id:bulb.object_id,\n            powered:bulb.powered,\n            brightness:(bulb.powered ? 100:0)\n        }\nnode.send(binSMsg);\n}\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 905.5,
    "y": 898,
    "wires": [
      [
        "108581a.fef7a7e"
      ]
    ]
  },
  {
    "id": "987864c6.678798",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "var lockMsg={}\nvar lock=context.global.winkState.locks[msg.payload.name];\nif (!('locked' in msg.payload.desired_state)){\nlockMsg.payload={\n            name:lock.name,\n            object_id:lock.object_id,\n            locked:lock.locked\n    }\n//bulbMsg.payload=context.global.encrypt(JSON.stringify(Message));\nreturn lockMsg;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 906.5,
    "y": 935,
    "wires": [
      [
        "108581a.fef7a7e"
      ]
    ]
  },
  {
    "id": "908ad245.6f753",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 405.5,
    "y": 589,
    "wires": [
      []
    ]
  },
  {
    "id": "32d9f3cb.cd260c",
    "type": "delay",
    "z": "6f62cc19.909d34",
    "name": "",
    "pauseType": "delay",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 255.5,
    "y": 67,
    "wires": [
      [
        "5133880d.aecc78"
      ]
    ]
  },
  {
    "id": "d16b50b8.2e94b",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "UI Notifications",
    "func": "var pct = function(value) {\n    return ((value > 1.0 ? value : value * 100).toFixed(0) + '%');\n}\nfunction send_ui_note(n_type,n_timeout,n_message,obj_id){\n    var obj=obj_id||null;\n    var newMsg={\n        url:context.global.BlueMixUrlBase+'/red/notifications',\n        \"method\": \"POST\",\n        headers: {\n            \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n        },\n        payload:{\n            \"id\":obj,\n            \"type\":n_type,\n            \"message\":n_message,\n            \"timeout\":n_timeout\n            }\n        };\n        node.send(newMsg);\n}\nif ('last_reading' in msg.payload){\n    var Obj_name=msg.payload.name;\n    var Obj_type=msg.payload.object_type;\n    var Obj_id=msg.payload.object_id;\n    var lr = msg.payload.last_reading;\n    if ('opened' in lr && lr.opened) send_ui_note('warning',3600000,Obj_name+' opened',Obj_id);\n    if ('locked' in lr && !lr.locked) send_ui_note('warning',3600000,Obj_name+' unlocked',Obj_id);\n    if ('motion' in lr && lr.motion)  send_ui_note('warning',3600000,Obj_name+' motion detected',Obj_id);\n    if ('occupied' in lr && lr.occupied)  send_ui_note('warning',3600000,Obj_name+' occupied',Obj_id);\n    if ('tamber_detected' in lr && lr.tamper_detected) send_ui_note('error',3600000,Obj_name+' tamper detected!!!');\n    if ('battery' in lr && lr.battery!==null) ((lr.battery>=0.33 && lr.battery < 0.5) ? send_ui_note('information',false,Obj_name+' battery level '+ pct(lr.battery)) : (lr.battery>= 0.1 && lr.battery <0.33) ? send_ui_note('warning',60000,Obj_name+' battery level '+ pct(lr.battery)) : lr.battery<0.1 ? send_ui_note('error',false,Obj_name+' battery level '+ pct(lr.battery)) : null);\n    if ('remaining' in lr) ((lr.remaining>=0.33 && lr.remaining < 0.5) ? send_ui_note('information',false,Obj_name+' propane level '+ pct(lr.remaining)) : (lr.remaining>= 0.1 && lr.remaining <0.33) ? send_ui_note('warning',60000,Obj_name+' propane level '+ pct(lr.remaining)) : lr.remaining<0.1 ? send_ui_note('error',false,Obj_name+' propane level '+ pct(lr.remaining)) : null);\n    if ('liquid_detected' in lr && lr.liquid_detected) send_ui_note('error',false,Obj_name+' liquid detected!!!');\n    if ('smoke_detected' in lr && lr.smoke_detected) send_ui_note('error',false,Obj_name+' smoke detected!!!<br>Severity: '+pct(lr.co_severity));\n    if ('co_detected' in lr && lr.smoke_detected) send_ui_note('error',false,Obj_name+' smoke detected!!!<br>Severity: '+pct(lr.co_severity));\n    if ('enabled' in lr) send_ui_note('warning',300000,'Robot \"'+Obj_name+(lr.enabled ? '\" enabled' : '\" disabled'),Obj_id);\n    if ('fired' in lr && lr.fired) send_ui_note('warning',300000,'Robot \"'+Obj_name+'\" fired',Obj_id);\n    if ('mode' in lr && Obj_type!='thermostat') send_ui_note('warning',300000,'Canary \"'+Obj_name+'\" set to '+lr.mode+' mode',Obj_id);\n    if ('garage_doors' in lr) send_ui_note('warning',300000,Obj_name+(lr.garage_doors==\"0\" ? \" Closed\":\" Opened\"),Obj_id);    \n    if ((Obj_type=='light_bulb' || Obj_type=='binary_switch' || Obj_type=='powerstrip') && context.global.LightsNotification) {\n        send_ui_note('notification',\"90000\",Obj_name+(lr.powered ? \" On\":\" off\") + ('brightness' in lr && lr.powered ? ' @'+pct(lr.brightness) : ''),Obj_id);\n    }\n    \n    \n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 693.5,
    "y": 433,
    "wires": [
      [
        "f4c53132.0b3ad"
      ]
    ]
  },
  {
    "id": "f4c53132.0b3ad",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 941.5,
    "y": 432,
    "wires": [
      []
    ]
  },
  {
    "id": "f83e9414.07c168",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 113.5,
    "y": 135,
    "wires": [
      [
        "8535c1cd.7aca4"
      ]
    ]
  },
  {
    "id": "a791d70c.586e28",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "01 00 * * *",
    "once": false,
    "x": 93.5,
    "y": 1224,
    "wires": [
      [
        "1aa1369b.e55ec9"
      ]
    ]
  },
  {
    "id": "21cc04aa.de33fc",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "var Wmsg = context.global.render_home_components(msg.payload.name);\nif (Wmsg.payload.home_components.length>0) return Wmsg\nelse return;",
    "outputs": 1,
    "noerr": 0,
    "x": 902.5,
    "y": 975,
    "wires": [
      [
        "108581a.fef7a7e"
      ]
    ]
  },
  {
    "id": "8fbd2201.7042e",
    "type": "http in",
    "z": "6f62cc19.909d34",
    "name": "",
    "url": "/red/notifications",
    "method": "post",
    "swaggerDoc": "",
    "x": 618.5,
    "y": 920,
    "wires": [
      [
        "7a8242cf.857dbc"
      ]
    ]
  },
  {
    "id": "7a8242cf.857dbc",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN){\nvar newMsg={}    \nnewMsg.payload={\n    'id':msg.payload.id||null,\n    'alertType':msg.payload.type,\n    'timeout':msg.payload.timeout || false,\n    'message':msg.payload.message\n }\nmsg.res.statuCode=200;\nnode.send([msg, newMsg]);\n} else { \n    msg.res.statusCode=200\n    node.send([msg]);\n}",
    "outputs": "2",
    "noerr": 0,
    "x": 910.5,
    "y": 1022,
    "wires": [
      [
        "25cbf4c3.da340c"
      ],
      [
        "108581a.fef7a7e"
      ]
    ]
  },
  {
    "id": "25cbf4c3.da340c",
    "type": "http response",
    "z": "6f62cc19.909d34",
    "name": "",
    "x": 1102.5,
    "y": 1014,
    "wires": []
  },
  {
    "id": "44254652.bbdab8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "    var newMsg1 ={\n    \"url\":context.global.BlueMixUrlBase+'/red/update_app_cfg',\n    \"method\": \"POST\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n    },\n    payload:{\n       db_mode:\"read\"\n    }\n    }\nreturn newMsg1;",
    "outputs": 1,
    "noerr": 0,
    "x": 597.5,
    "y": 141,
    "wires": [
      [
        "f919c7d8.06e638"
      ]
    ]
  },
  {
    "id": "f919c7d8.06e638",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 761.5,
    "y": 142,
    "wires": [
      []
    ]
  },
  {
    "id": "f4b47235.0b4b9",
    "type": "delay",
    "z": "6f62cc19.909d34",
    "name": "",
    "pauseType": "delay",
    "timeout": "15",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1373.5,
    "y": 129,
    "wires": [
      [
        "a7ccd5a8.583328"
      ]
    ]
  },
  {
    "id": "5ea91638.a156e8",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "GetWRobots",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1460.5,
    "y": 242,
    "wires": [
      [
        "885032f0.77afd"
      ]
    ]
  },
  {
    "id": "885032f0.77afd",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "GetRobots",
    "func": "context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1647.5000457763672,
    "y": 243,
    "wires": [
      []
    ]
  },
  {
    "id": "839d236f.7c62e",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "var pct = function(value) {\n    return ((value > 1.0 ? value : value * 100).toFixed(0) + '%')\n}\nvar dual_temp = function (value) {\n    return (typeof value === 'number' ? (value.toFixed(1) + 'C / ' + ((value * 1.8) + 32).toFixed(1) + 'F') : '')\n}\n\nvar all=context.global.winkState.groups['.all'];\nvar l=context.global.winkState.groups['@lights'];\n\n\nvar NewMsg={\n    payload:{\n        home_components:[]\n    }\n};\nvar grp=msg.payload.name;\n//node.warn(grp);\nif (grp==='.all') \n{ \n     if ('temperature' in context.global.winkState.groups['.all']){\n        NewMsg.payload.home_components.push(\n            {\n                type:'temperature',\n                icon:'wi wi-home-icon wi-thermometer',\n                label:\"Temperature\",\n                value:dual_temp(all.temperature.average),\n                icon_color:(all.temperature.average<10 || all.temperature.average > 50 ? 'detail-warning' : 'detail-ok')\n            });\n    }\n    if ('humidity' in context.global.winkState.groups['.all']){\n        NewMsg.payload.home_components.push(\n            {\n                type:'humidity',\n                icon:'wi wi-home-icon wi-humidity',\n                label:\"Humidity\",\n                value:pct(all.humidity.average),\n                icon_color:(all.humidity.average < 0.1 || all.humidity.average > 90 ? 'detail-warning' : 'detail-ok')\n            });\n    }\n    if ('smoke_detected' in context.global.winkState.groups['.all']){\n        NewMsg.payload.home_components.push(\n            {\n                type:'smoke_detected',\n                icon:'wi wi-home-icon cicon-fire',\n                label:\"Smoke\",\n                value:(all.smoke_detected.and || all.smoke_detected.or ? \"Fire!!\" : \"OK\"),\n                icon_color: (all.smoke_detected.and || all.smoke_detected.or ? \"detail-danger\" : \"detail-ok\")\n            });\n        NewMsg.payload.home_components.push(\n            {\n                type:'co_detected',\n                icon:'wi wi-home-icon cicon-CO2',\n                label:\"CO2\",\n                value:(all.co_detected.and || all.co_detected.or ? \"CO2!!\" : \"OK\"),\n                icon_color:(all.co_detected.and || all.co_detected.or ? \"detail-danger\" : \"detail-ok\"),\n            });\n    }\n    if ('liquid_detected' in context.global.winkState.groups['.all']){\n        NewMsg.payload.home_components.push(\n            {\n            type:'liquid_detected',\n            icon:'wi wi-home-icon cicon-droplet',\n            label:\"Leaks\",\n            value:(all.liquid_detected.and || all.liquid_detected.or ? \"Leak detected!!\" : \"No Leaks\"),\n            icon_color:(all.liquid_detected.and || all.liquid_detected.or ?  \"detail-danger\" : \"detail-ok\")\n        });\n    }\n    if ('motion' in context.global.winkState.groups['.all']){\n        NewMsg.payload.home_components.push(\n            {\n                type:'motion',\n                icon:'wi wi-home-icon cicon-feed',\n                label:\"Motion\",\n                value:(all.motion.and || all.motion.or ? \"Motion\" : \"No Motion\"),\n                icon_color:(all.motion.and || all.motion.or ?  'detail-warning' : 'detail-ok')\n            });\n    }\n    if ('locked' in context.global.winkState.groups['.all']){\n        NewMsg.payload.home_components.push(\n            {\n                type:'locked', \n                icon:'wi wi-home-icon cicon-doors4',\n                label:\"Locks\",\n                value:(all.locked.and || all.locked.or ? all.locked.true_count+\" Locked\" : all.locked.false_count+\" Unlocked\"),\n                icon_color:(all.locked.and || all.locked.or ?  'detail-ok' : 'detail-warning')\n            });\n    }\n    \n    if ('opened' in context.global.winkState.groups['.all']){\n        NewMsg.payload.home_components.push(\n            {\n                type:'opened',\n                icon:'wi wi-home-icon '+(all.opened.and || all.opened.or ? 'cicon-opened_door':'cicon-closed_door'),\n                label:\"Doors\",\n                value:(all.opened.and || all.opened.or ? all.opened.true_count+\" Opened\" : all.opened.false_count+\" Closed\"),\n                icon_color:(all.opened.and || all.opened.or ?  'detail-warning' : 'detail-ok')\n            });\n    }\n    \n    if ('remaining' in context.global.winkState.groups['.all']){\n        //node.warn('adding trippers')\n        NewMsg.payload.home_components.push(\n            {\n                type:'propane',\n                icon:'wi wi-home-icon ' + (all.remaining.min <=0.50  ? 'cicon-propane_tnk_half' : 'cicon-propane_tnk_full'),\n                label:\"Propane\",\n                value:pct(all.remaining.min),\n                icon_color:(all.remaining.min <0.10  ?  'detail-danger' : all.remaining.min <=0.50 ? 'detail-warning' : 'detail-ok')\n            });\n    }    \n    if ('battery' in context.global.winkState.groups['.all']){\n    //node.warn('adding trippers')\n    NewMsg.payload.home_components.push(\n        {\n            type:'battery',\n            icon:'fa wi-home-icon '+(all.battery.min <0.25  ? 'fa-battery-quarter': all.battery.min <=0.50  ? 'fa-battery-half' : 'fa-battery-full'),\n            label:\"Battery\",\n            value:(all.battery.min <0.10  ? \"Check\" : all.battery.min <=0.50  ? pct(all.battery.min) :\"OK\"),\n            icon_color:(all.battery.min <0.10  ?  'detail-danger' : all.battery.min <=0.50  ?  'detail-warning' : 'detail-ok')\n        });\n}\n    return NewMsg;\n}\nif (grp=='@lights') {\n    if ('light_bulbs' in context.global.winkState || 'binary_switches' in context.global.winkState){\n            NewMsg.payload.home_components.push(\n                {\n                type:'lights',\n                icon:'wi wi-home-icon cicon-bulb',\n                label:\"Lights\",\n                value:(l.powered.and || l.powered.or ? l.powered.true_count+\" ON\" : l.powered.false_count+\" OFF\"),\n                icon_color:(l.powered.and || l.powered.or ? 'detail-warning' : 'detail-ok')\n                });\n    }\n    return NewMsg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1136,
    "y": 965,
    "wires": [
      []
    ]
  },
  {
    "id": "868d40a4.7972c",
    "type": "http in",
    "z": "6f62cc19.909d34",
    "name": "wscomms",
    "url": "/red/wscomms",
    "method": "post",
    "swaggerDoc": "",
    "x": 744,
    "y": 786,
    "wires": [
      [
        "71300262.8ecffc"
      ]
    ]
  },
  {
    "id": "71300262.8ecffc",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN){\nreturn msg;\n} else { \nreturn;\n}",
    "outputs": "1",
    "noerr": 0,
    "x": 906,
    "y": 785,
    "wires": [
      [
        "a46d78a2.5b9288",
        "108581a.fef7a7e"
      ]
    ]
  },
  {
    "id": "a46d78a2.5b9288",
    "type": "http response",
    "z": "6f62cc19.909d34",
    "name": "",
    "x": 1073,
    "y": 784,
    "wires": []
  },
  {
    "id": "d3f9c032.2c064",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Standardize the response if useRobots is true",
    "func": "if ('useRobots' in context.global && context.global.useRobots) {\n\n    if (typeof context.global.winkChanged==='undefined'){ context.global.winkChanged = new Object () }\n    if (msg.payload.name.substring(0,1)!==\".\" && msg.payload.name.substring(0,1)!==\"@\") \n    {\n        //node.warn(msg.payload.name);\n        if (typeof context.global.winkChanged[msg.payload.name]==='undefined') { context.global.winkChanged[msg.payload.name] = new Object() }\n\n        if (typeof context.global.winkChanged[msg.payload.name].new_state==='undefined') \n        {\n            //node.warn(msg.payload.name+\".new_state was undefined\");\n            context.global.winkChanged[msg.payload.name].new_state = new Object() \n        }\n        else { \n            //node.warn(msg.payload.name+\".new_state was defined\");\n            context.global.winkChanged[msg.payload.name].old_state=context.global.winkChanged[msg.payload.name].new_state;\n        }\n        \n        if ('last_reading' in msg.payload && 'temperature' in msg.payload.last_reading)\n        {\n            if ('occupied' in msg.payload.last_reading)\n            {\n                context.global.winkChanged[msg.payload.name].new_state = {\n                    occupied:msg.payload.last_reading.occupied,\n                    temperature:((msg.payload.last_reading.temperature)*1.8+32).toFixed(2)\n                }\n            } else {\n            context.global.winkChanged[msg.payload.name].new_state = ((msg.payload.last_reading.temperature)*1.8+32).toFixed(2);\n            }\n        }\n        \n        if (msg.payload.model_name==\"Motion Sensor\")\n        {\n            context.global.winkChanged[msg.payload.name].new_state = (msg.payload.last_reading.motion ? \"motion detected\":\"no motion\")\n        }\n\n        if (msg.payload.model_name==\"Tripper\") \n        {\n            context.global.winkChanged[msg.payload.name].new_state = (msg.payload.last_reading.opened ? \"Opened\":\"Closed\")\n        }\n        \n        if ('last_reading' in msg.payload && 'locked' in msg.payload.last_reading) \n        {\n            context.global.winkChanged[msg.payload.name].new_state = (msg.payload.last_reading.locked ? \"Locked\":\"Unlocked\")\n        }\n        \n        if (msg.payload.object_type==\"binary_switch\" && (!('powered' in msg.payload.desired_state) || msg.payload.desired_state.powered===false) )\n        {\n            context.global.winkChanged[msg.payload.name].new_state = (msg.payload.last_reading.powered ? \"On\":\"Off\")\n        }\n        \n        if (msg.payload.object_type==\"garage_doors\")\n        {\n            context.global.winkChanged[msg.payload.name].new_state = (msg.payload.last_reading.garage_doors==\"0\" ? \"Closed\":\"Opened\")\n        }\n        \n        if (msg.payload.object_type==\"light_bulb\" && !('powered' in msg.payload.desired_state))\n        {\n            context.global.winkChanged[msg.payload.name].new_state = {\n                powered:(msg.payload.last_reading.powered ? \"On\":\"Off\"),\n                brightness:(msg.payload.last_reading.powered ? msg.payload.last_reading.brightness*100 : 0)\n            }\n        }\n        \n        if ('liquid_detected' in msg.payload)\n        {\n            context.global.winkChanged[msg.payload.name].new_state = (msg.payload.last_reading.liquid_detected ? \"Water detected\":\"No water detected\")\n        }\n        \n        if (msg.payload.object_type ==\"propane_tanks\")\n        {\n            context.global.winkChanged[msg.payload.name].new_state = msg.payload.last_reading.remaining\n        }\n        \n        if (msg.payload.object_type ==\"powerstrips\")\n        {\n            context.global.winkChanged[msg.payload.name].new_state = msg.payload.outlets[0].name+\" \"+ (msg.payload.outlets[0].powered ? \"On, \":\"Off, \")+msg.payload.outlets[0].name+\" \"+(msg.payload.outlets[1].powered ? \"On\":\"Off\")\n        }\n        \n        //node.warn(msg.payload.name+\" changed.\");\n        if (context.global.winkChanged[msg.payload.name].old_state!==context.global.winkChanged[msg.payload.name].new_state)\n        {\n            if (typeof context.global.winkChanged[msg.payload.name].new_state.powered==='undefined')\n            {\n                node.warn(msg.payload.name+\" changed from \"+context.global.winkChanged[msg.payload.name].old_state+\" to \"+context.global.winkChanged[msg.payload.name].new_state);\n            } \n            else \n            {\n                if (context.global.winkChanged[msg.payload.name].old_state.powered!==context.global.winkChanged[msg.payload.name].new_state.powered)\n                {\n                    node.warn(msg.payload.name+\" turned \"+context.global.winkChanged[msg.payload.name].new_state.powered+\" (Brightness: \"+context.global.winkChanged[msg.payload.name].new_state.brightness+\"%)\");    \n                }\n                else if (context.global.winkChanged[msg.payload.name].new_state.powered==\"On\")\n                {\n                    node.warn(msg.payload.name+\" changed brightness from \"+context.global.winkChanged[msg.payload.name].old_state.brightness+\"% to \"+context.global.winkChanged[msg.payload.name].new_state.brightness+\"%\");\n                }\n            }\n        }\n\n        var newMsg = {\n            url:context.global.BlueMixUrlBase+'/red/robots',\n            \"method\": \"POST\",\n            headers: {\n                \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n            },\n            payload:{\n                'name':msg.payload.name,\n                'object_type':msg.payload.object_type,\n                'new_state':context.global.winkChanged[msg.payload.name].new_state,\n                'old_state':context.global.winkChanged[msg.payload.name].old_state\n            }\n        };\n        return newMsg;\n    }\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 221,
    "y": 513,
    "wires": [
      [
        "908ad245.6f753"
      ]
    ]
  }
]
