Flows/Bluemix/winkCore.json
[
  {
    "id": "91e6333b.6e19d",
    "type": "websocket-listener",
    "z": "",
    "path": "/ws/winkStat",
    "wholemsg": "false"
  },
  {
    "id": "c2d838df.3d27c8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Standardize the response if useRobots is true",
    "func": "function isEmpty(obj) {\n    for(var prop in obj) {\n        if(obj.hasOwnProperty(prop))\n            return false;\n    }\n\n    return true;\n}\n\n\ncontext.global.timestamp=new Date();\n//context.global.useRobots=true;\nif (!('winkChanged' in context.global)) context.global.winkChanged={};\nif('useRobots' in context.global && context.global.useRobots) {\n\n    // Filter out system groups / system devices.\n//    if (msg.payload.name.substring(0,1)!==\".\" && msg.payload.name.substring(0,1)!==\"@\") \n      if (msg.payload.object_type && msg.payload.object_type!=='group')// && (!('desired_state' in msg.payload) || ('desired_state' in msg.payload && isEmpty(msg.payload.desired_state))))\n        {\n        // Create variable if it doesn't exist already.\n        if (typeof context.global.winkChanged[msg.payload.name]==='undefined') { context.global.winkChanged[msg.payload.name] = {} }\n\n        // Create new_state if it doesn't exist already.\n        if (typeof context.global.winkChanged[msg.payload.name].new_state==='undefined') \n        {\n            context.global.winkChanged[msg.payload.name].new_state = {}\n        }\n        else { \n            // If new_state already exists, then just set old_state == to new_state.\n            context.global.winkChanged[msg.payload.name].old_state=context.global.winkChanged[msg.payload.name].new_state;\n        }\n        \n        if ('last_reading' in msg.payload)\n\t\t{\n\t\t\tvar lr = msg.payload.last_reading;\n\t\t\tvar ds = msg.payload.desired_state;\n\t\t\tvar Obj_type = msg.payload.object_type;\n\n\t\t\tif ('temperature' in lr)\n\t\t\t{\n\t\t\t\tif ('occupied' in lr)\n\t\t\t\t{\n\t\t\t\t\tcontext.global.winkChanged[msg.payload.name].new_state = {\n\t\t\t\t\t\toccupied:lr.occupied,\n\t\t\t\t\t\ttemperature:((lr.temperature)*1.8+32).toFixed(2)\n\t\t\t\t\t}\n\t\t\t\t} else {\n\t\t\t\t\tcontext.global.winkChanged[msg.payload.name].new_state = ((lr.temperature)*1.8+32).toFixed(2);\n\t\t\t\t}\n\t\t\t}\n        \n\t\t\tif('enabled' in lr)\n\t\t\t{\n\t\t\t\tcontext.global.winkChanged[msg.payload.name].new_state = (lr.enabled ? context.global.timestamp:\"disabled\")\n\t\t\t}\n        \n\t\t\tif ('motion' in lr)\n\t\t\t{\n\t\t\t\tcontext.global.winkChanged[msg.payload.name].new_state = lr.motion\n\t\t\t}\n\n\t\t\tif ('opened' in lr) \n\t\t\t{\n\t\t\t\tcontext.global.winkChanged[msg.payload.name].new_state = (lr.opened ? \"Opened\":\"Closed\")\n\t\t\t}\n        \n            if ('locked' in lr && !lr.locked && (!('locked' in ds)  || ds.locked===lr.locked) ) \n\t\t\t{\n\t\t\t\tcontext.global.winkChanged[msg.payload.name].new_state = (lr.locked ? \"Locked\":\"Unlocked\")\n\t\t\t}\n    \n\t\t\tif ('position' in lr && !('position' in ds) && (lr.position===1 || lr.position===0))\n\t\t\t{\n\t\t\t\tcontext.global.winkChanged[msg.payload.name].new_state = (lr.position==\"0\" ? \"Closed\":\"Opened\")\n\t\t\t}\n        \n            if ((Obj_type=='light_bulb' || Obj_type=='binary_switch')  && (!('powered' in ds) || ('powered' in ds && ds.powered==lr.powered && (Obj_type=='light_bulb'? ds.brightness==lr.brightness : true)))) {\n\t\t\t\tcontext.global.winkChanged[msg.payload.name].new_state = {\n\t\t\t\t\tpowered:(lr.powered ? \"On\":\"Off\"),\n\t\t\t\t\tbrightness:(lr.powered ? lr.brightness*100 : 0)\n\t\t\t\t}\n\t\t\t}\n\t\t\t\n\t\t\tif ('presence' in lr)\n\t\t\t{\n\t\t\t    context.global.winkChanged[msg.payload.name].new_state = lr.presence\n\t\t\t}\n        \n\t\t\tif ('liquid_detected' in lr)\n\t\t\t{\n\t\t\t\tcontext.global.winkChanged[msg.payload.name].new_state = lr.liquid_detected\n\t\t\t}\n        \n\t\t\tif (msg.payload.object_type ==\"propane_tank\")\n\t\t\t{\n\t\t\t\tcontext.global.winkChanged[msg.payload.name].new_state = lr.remaining\n\t\t\t}\n        \n\t\t\tif (msg.payload.object_type ==\"powerstrip\")\n\t\t\t{\n\t\t\t\tcontext.global.winkChanged[msg.payload.name].new_state = msg.payload.outlets[0].name+\" \"+ (msg.payload.outlets[0].powered ? \"On, \":\"Off, \")+msg.payload.outlets[0].name+\" \"+(msg.payload.outlets[1].powered ? \"On\":\"Off\")\n\t\t\t}\n\t\t\tif (msg.payload.object_type ==\"remote\")\n\t\t\t{\n\t\t\t    context.global.winkChanged[msg.payload.name].new_state = lr;\n\t\t\t}\n\t\t}\n/*\t\t\n        // This section echos the change to the debug pane. First, make sure something changed.\n        if (context.global.winkChanged[msg.payload.name].old_state!==context.global.winkChanged[msg.payload.name].new_state)\n        {\n            // If it's not a light bulb or switch...\n            if (typeof context.global.winkChanged[msg.payload.name].new_state.powered==='undefined')\n            {\n                // Check if it's an occupancy sensor, in which case new_state is an object and doesn't echo to debug nicely.\n                if (typeof context.global.winkChanged[msg.payload.name].new_state.occupied!=='undefined')\n                {\n                    node.warn(msg.payload.name+\" changed to occupancy \"+context.global.winkChanged[msg.payload.name].new_state.occupied+\" and temperature \"+context.global.winkChanged[msg.payload.name].new_state.temperature+\"*F\")\n                }\n                else {\n                    // Otherwise, just output old_state to new_state\n                    node.warn(msg.payload.name+\" changed from \"+context.global.winkChanged[msg.payload.name].old_state+\" to \"+context.global.winkChanged[msg.payload.name].new_state);\n                }\n            } \n            // If it IS a light bulb or switch...\n            else \n            {\n                // Old doesn't match new states so that means we're turning the bulb or switch on/off\n                if (context.global.winkChanged[msg.payload.name].old_state.powered!==context.global.winkChanged[msg.payload.name].new_state.powered)\n                {\n                    node.warn(msg.payload.name+\" turned \"+context.global.winkChanged[msg.payload.name].new_state.powered+\" (Brightness: \"+context.global.winkChanged[msg.payload.name].new_state.brightness+\"%)\");    \n                }\n                // The bulb/switch was already on, we just changed brightness.\n                else if (context.global.winkChanged[msg.payload.name].new_state.powered==\"On\")\n                {\n                    node.warn(msg.payload.name+\" changed brightness from \"+context.global.winkChanged[msg.payload.name].old_state.brightness+\"% to \"+context.global.winkChanged[msg.payload.name].new_state.brightness+\"%\");\n                }\n            }\n        } */\n\n        // Load the standardized text into an HTTP request to send to the \"Robots\" tab.\n        var newMsg = {\n            url:context.global.BlueMixUrlBase+'/red/robots',\n            \"method\": \"POST\",\n            headers: {\n                \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n            },\n            payload:{\n                'name':msg.payload.name,\n                'object_type':msg.payload.object_type,\n                'new_state':context.global.winkChanged[msg.payload.name].new_state,\n                'old_state':context.global.winkChanged[msg.payload.name].old_state\n            }\n        };\n        return newMsg;\n    }\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 244,
    "y": 549,
    "wires": [
      [
        "e6a6f3be.19591",
        "b2b09481.4d4f68"
      ]
    ]
  },
  {
    "id": "568a684e.a97598",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "82800",
    "crontab": "",
    "once": true,
    "x": 89.99995422363281,
    "y": 245,
    "wires": [
      [
        "55a582e7.aa5a7c"
      ]
    ]
  },
  {
    "id": "a67d9541.598268",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "context.global.cleanWinkState();\n//delete context.global.winkState;\n//delete context.global.winkState.cameras;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 315.50001525878906,
    "y": 1079,
    "wires": [
      []
    ]
  },
  {
    "id": "2120878f.dedf78",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "Reset winkState object",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 140.50001525878906,
    "y": 1076.0000305175781,
    "wires": [
      [
        "a67d9541.598268"
      ]
    ]
  },
  {
    "id": "60c027a1.9f3fd8",
    "type": "http in",
    "z": "6f62cc19.909d34",
    "name": "",
    "url": "/red/getGlobalDataJSon",
    "method": "get",
    "x": 148.5,
    "y": 328,
    "wires": [
      [
        "db9d28ed.2462d8"
      ]
    ]
  },
  {
    "id": "db9d28ed.2462d8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Throw Wink Data",
    "func": "if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN){\nmsg.payload.WinkData=context.global.winkState;\nmsg.payload.WinkCapbs=context.global.winkDevCap;\nmsg.payload.WeatherData=context.global.Weather;\nmsg.payload.Weather=context.global.Weather;\n//msg.payload.WinkSubscriptions=context.global.WinkSubscriptions;\nmsg.payload.Presence=context.global.checkPresence();\nmsg.payload.PresenceDetail=context.global.Presence;\nmsg.payload.PresenceHistory=context.global.PresenceHistory;\n\n//msg.payload.foscamP=context.global.FosCam;\n//msg.payload.SamsungP=context.global.SamsungCam;\nmsg.payload.DlinkCam=context.global.DlinkCam;\n//msg.payload.VCAP_SERVICES=context.global.VCAP_SERVICES\n//msg.payload.ImageArchive=context.global.ImageArchive\n//msg.payload.camera_motion=context.global.camera_motion\n//msg.payload.netatmo=context.global.netatmo\nmsg.statusCode=\"200\";\nvar Etag=\"\";\nif ('CRYPTO' in context.global){\n    Etag=context.global.CRYPTO.createHash(\"md5\").update(JSON.stringify(msg.payload),\"utf8\").digest(\"hex\");\n    msg.headers={\n       'ETag': Etag,\n       'Content-Type': 'application/json'\n    };\n//    msg.res.set({\n//       'ETag': Etag,\n//       'Content-Type': 'application/json'\n//    });\n}\nreturn msg;\n}\nelse\n{\n    //msg.payload=\"Not Authorized\";\n   msg.statusCode=\"403\";\n   node.send(msg);\n   //res.send(\"403\",\"Forbidden\");\n  return;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 492.9999694824219,
    "y": 324,
    "wires": [
      [
        "f478905f.0b877"
      ]
    ]
  },
  {
    "id": "f478905f.0b877",
    "type": "http response",
    "z": "6f62cc19.909d34",
    "name": "",
    "x": 718,
    "y": 325,
    "wires": []
  },
  {
    "id": "e65fd809.19a028",
    "type": "http in",
    "z": "6f62cc19.909d34",
    "name": "",
    "url": "/red/wink/subscribtions",
    "method": "get",
    "x": 144,
    "y": 429,
    "wires": [
      [
        "f1464379.0eb9c"
      ]
    ]
  },
  {
    "id": "f1464379.0eb9c",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Wink Subscription resonse",
    "func": "if (msg.payload[\"hub.mode\"]==\"subscribe\")\n{\n//    msg.res.send(200,msg.payload[\"hub.challenge\"]);\n    msg.statusCode=200;\n    msg.payload=msg.payload[\"hub.challenge\"];\n//    node.send(msg);\n}\nelse\n{\n//    msg.res.send(400,\"Bad Request darling\");\n     msg.statusCode=200;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 444,
    "y": 425,
    "wires": [
      [
        "59f48204.a60b7c"
      ]
    ]
  },
  {
    "id": "c3707599.3c8f88",
    "type": "http in",
    "z": "6f62cc19.909d34",
    "name": "",
    "url": "/red/wink/subscribtions",
    "method": "post",
    "swaggerDoc": "",
    "x": 145,
    "y": 467.0000915527344,
    "wires": [
      [
        "f1ed41ad.0e12c"
      ]
    ]
  },
  {
    "id": "3949e247.c6b61e",
    "type": "comment",
    "z": "6f62cc19.909d34",
    "name": "Section for status  subscription---------------------------------------------------------------------------------------------------------------------------------",
    "info": "",
    "x": 477,
    "y": 389,
    "wires": []
  },
  {
    "id": "31f0786c.ce0f88",
    "type": "comment",
    "z": "6f62cc19.909d34",
    "name": "Initialize section-----------------------------------------------------------------------------------------------------------",
    "info": "",
    "x": 380,
    "y": 20,
    "wires": []
  },
  {
    "id": "967e553c.6981a8",
    "type": "comment",
    "z": "6f62cc19.909d34",
    "name": "Weather-------------------------------------------------------------------------------------------------------------------------------",
    "info": "",
    "x": 388,
    "y": 1126.0000610351562,
    "wires": []
  },
  {
    "id": "54aef3ec.ab510c",
    "type": "debug",
    "z": "6f62cc19.909d34",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 1075,
    "y": 1218.0001220703125,
    "wires": []
  },
  {
    "id": "da94743d.256b88",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "Get Weather",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 452,
    "y": 1216,
    "wires": [
      [
        "af12377c.50edc8"
      ]
    ]
  },
  {
    "id": "23b1f81f.dc4e08",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "600",
    "crontab": "",
    "once": true,
    "x": 111,
    "y": 1172,
    "wires": [
      [
        "40fe486e.bf01b8"
      ]
    ]
  },
  {
    "id": "40fe486e.bf01b8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "var newMsg ={\n        \"url\":\"https://api.forecast.io/forecast/\"+context.global.forecastIoApiKey+\"/\"+context.global.HomeLocation.lat+\",\"+context.global.HomeLocation.lon,\n        \"method\": \"GET\"\n}\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 267,
    "y": 1216,
    "wires": [
      [
        "da94743d.256b88"
      ]
    ]
  },
  {
    "id": "f3c3c06e.0c3c4",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "UpdateDevices",
    "func": "//node.warn('name '+msg.payload.name+' DS '+ JSON.stringify(msg.payload.desired_state))\ncontext.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nmsg.statusCode=\"200\";\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 566.0000305175781,
    "y": 477.5,
    "wires": [
      [
        "4f5481a.fb0ab8",
        "738d485e.8c72b8",
        "3d7a4138.c285be",
        "3ba0b8ff.c45f48",
        "f2e0d3ed.0d1f3",
        "d8b51149.274af",
        "ef5280a5.10ad8",
        "858208a9.7a7df8"
      ]
    ]
  },
  {
    "id": "24e27059.db1d9",
    "type": "comment",
    "z": "6f62cc19.909d34",
    "name": "Section for web services---------------------------------------------------------------------------------------------------------------------------------",
    "info": "",
    "x": 454.5,
    "y": 290.5,
    "wires": []
  },
  {
    "id": "4f5481a.fb0ab8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Send message to IFTTT",
    "func": "if (context.global.ifttt){\nvar WinkEvent=\"WinkEvent\"\nvar extra_param=\"\"\nvar Event_desc=\"\"\nif (msg.payload.model_name==\"Motion Sensor\") \n{\n    Event_desc= (msg.payload.last_reading.motion ? \"motion detected\":\"no motion\")\n}\nif (msg.payload.model_name==\"Tripper\") \n{\n    Event_desc= (msg.payload.last_reading.opened ? \"Opened\":\"Closed\")\n}\n\nif ('last_reading' in msg.payload && 'locked' in msg.payload.last_reading) \n{ \n    Event_desc= (msg.payload.last_reading.locked ? \"Locked\":\"Unlocked\")\n}\n\nif (msg.payload.object_type==\"binary_switch\" && (!('powered' in msg.payload.desired_state) || msg.payload.desired_state.powered===false) )\n{\n    Event_desc= (msg.payload.last_reading.powered ? \"On\":\"Off\")\n}\n\nif (msg.payload.object_type==\"garage_doors\")\n{\n    Event_desc= (msg.payload.last_reading.garage_doors==\"0\" ? \"Closed\":\"Opened\")\n}\n\nif (msg.payload.object_type==\"light_bulb\" && !('powered' in msg.payload.desired_state))\n{\n    Event_desc= (msg.payload.last_reading.powered ? \"On\":\"Off\")\n    extra_param=(msg.payload.last_reading.powered ? msg.payload.last_reading.brightness*100 : 0)\n}\nif ('liquid_detected' in msg.payload)\n{\n    Event_desc= (msg.payload.last_reading.liquid_detected ? \"Water detected\":\"No water detected\")\n}\n\nif (msg.payload.object_type ==\"propane_tanks\")\n{\n    Event_desc= (\"Propane level - \"+msg.payload.last_reading.remaining)\n}\n\nif (msg.payload.object_type ==\"powerstrips\")\n{\n    Event_Desc = msg.payload.outlets[0].name+\" \"+ (msg.payload.outlets[0].powered ? \"On, \":\"Off, \")+msg.payload.outlets[0].name+\" \"+(msg.payload.outlets[1].powered ? \"On\":\"Off\")\n}\n\nif (Event_desc!==\"\")\n{\n var newMsg ={\n                    \"url\":\"https://maker.ifttt.com/trigger/\"+WinkEvent+\"/with/key/\"+context.global.IFTTT_TOKEN,\n                    \"method\": \"POST\",\n                    headers: \n                    {\n                        \"Content-Type\":\"application/json\"\n                    },\n                    payload: \n                    {\"value1\":msg.payload.name,\"value2\":Event_desc,\"value3\":extra_param}\n            }\nnode.send(newMsg);\n}\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 833,
    "y": 607.5,
    "wires": [
      [
        "323983b1.cdc67c"
      ]
    ]
  },
  {
    "id": "323983b1.cdc67c",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 1043.000015258789,
    "y": 607.5000305175781,
    "wires": [
      []
    ]
  },
  {
    "id": "af12377c.50edc8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Get current weather",
    "func": "var pct = function(value) {\n    return ((value > 1.0 ? value : value * 100).toFixed(0) + '%')\n}\nvar dual_temp = function (value) {\n    return (typeof value === 'number' ? (value.toFixed(1) + 'F / ' + ((value -32) / 1.8).toFixed(1) + 'C') : '')\n}\n\nvar webIcon = function(icon){\n    if(icon == 'clear-day') { return \"wi-day-sunny\" }\n    if(icon == 'clear-night') { return \"wi-night-clear\" }\n    if(icon == 'rain') { return \"wi-rain\" }\n    if(icon == 'snow') { return \"wi-snow\" }\n    if(icon == 'sleet') { return \"wi-day-sleet\" }\n    if(icon == 'wind') { return \"wi-day-windy\" }\n    if(icon == 'fog') { return \"wi-fog\" }\n    if(icon == 'cloudy') { return \"wi-cloudy\" }\n    if(icon == 'partly-cloudy-day') { return \"wi-day-cloudy\" }\n    if(icon == 'partly-cloudy-night') { return \"wi-night-cloudy\" }\n    if(icon == 'hail') { return \"wi-hail\" }\n    if(icon == 'thunderstorm') { return \"wi-thunderstorm\" }\n    if(icon == 'tornado') { return \"wi-meteor\" }  \n}\n\nvar month = [];\nmonth[0] = \"January\";\nmonth[1] = \"February\";\nmonth[2] = \"March\";\nmonth[3] = \"April\";\nmonth[4] = \"May\";\nmonth[5] = \"June\";\nmonth[6] = \"July\";\nmonth[7] = \"August\";\nmonth[8] = \"September\";\nmonth[9] = \"October\";\nmonth[10] = \"November\";\nmonth[11] = \"December\";\n\nvar weekday = [];\nweekday[0]=  \"Sunday\";\nweekday[1] = \"Monday\";\nweekday[2] = \"Tuesday\";\nweekday[3] = \"Wednesday\";\nweekday[4] = \"Thursday\";\nweekday[5] = \"Friday\";\nweekday[6] = \"Saturday\";\n\nvar currDate= new Date();\nvar currHours=currDate.getHours();\nvar currMins=currDate.getMinutes();\nvar currOffset=currDate.getTimezoneOffset()*-1/60;\n\nif(msg.payload.currently)\n{\ncontext.global.Weather.Offset = (currOffset!=msg.payload.offset ? msg.payload.offset : 0);\ncontext.global.Weather.CloudCover=Math.round(msg.payload.currently.cloudCover*100);\ncontext.global.Weather.WeatherSummary=msg.payload.currently.summary;\n\nif (!('sunTimes' in context.global)) context.global.sunTimes={}\nvar sunTimes = context.global.SunCalc.getTimes(currDate, context.global.HomeLocation.lat, context.global.HomeLocation.lon);\nfor (var t in sunTimes){\n    var tstamp=new Date(sunTimes[t]).getTime();\n    var d=new Date(tstamp+context.global.Weather.Offset*3600000);\ncontext.global.sunTimes[t] =\n    {\n        \"hour\":d.getHours(),\n        \"minute\":d.getMinutes()\n    }\n}\n\ncontext.global.sunTimes.sunset_m_1={\n    \"hour\":context.global.sunTimes.sunset.hour-1,\n    \"minute\":context.global.sunTimes.sunset.minute\n}\n\nvar lDate=new Date(Date.now()+context.global.Weather.Offset*3600000);\nvar Month = month[lDate.getMonth()];\nvar weekDay = weekday[lDate.getDay()];\nvar monthDay = lDate.getDate();\n\nvar date = new Date(msg.payload.currently.time*1000);\nvar hours = date.getHours();\nvar minutes = date.getMinutes();\n//if (currHours==hours){context.global.Weather.Offset=0}\nvar date = new Date(msg.payload.daily.data[0].sunsetTime*1000);\nvar hours = date.getHours();\nvar minutes =date.getMinutes();\ncontext.global.Weather.SunsetHour=hours+context.global.Weather.Offset;\nif (context.global.Weather.SunsetHour<0)\n {\n     context.global.Weather.SunsetHour=24+context.global.Weather.SunsetHour;\n }\ncontext.global.Weather.SunsetMin=minutes;\ncontext.global.Weather.SunsetMinW=(minutes < 10 ? '0'+minutes : minutes);\nvar date = new Date(msg.payload.daily.data[0].sunriseTime*1000);\nvar hours = date.getHours();\nvar minutes =date.getMinutes();\ncontext.global.Weather.SunriseHour=hours+context.global.Weather.Offset;\ncontext.global.Weather.SunriseMin=minutes;\ncontext.global.Weather.SunriseMinW=(minutes < 10 ? '0'+minutes : minutes);\ncontext.global.Weather.outsideTemp=msg.payload.currently.temperature;\ncontext.global.Weather.PrecipationPbb=msg.payload.currently.precipProbability;\ncontext.global.Weather.HumidityOutside=msg.payload.currently.humidity;\ncontext.global.Weather.DateName=' '+weekDay+', '+Month+' '+monthDay+'.   Wink API @'+(typeof(context.global.winkState.winkAPI)!=='undefined' ? pct(context.global.winkState.winkAPI) : 'retrieving..');\n\n\ncurrHours=currHours+context.global.Weather.Offset;\nif (currHours<0)\n {\n     currHours=24+currHours;\n }\n //node.warn(\"time \"+currHours+\":\"+currMins);\nif ((currHours > context.global.Weather.SunriseHour && currHours < context.global.Weather.SunsetHour) || (currHours==context.global.Weather.SunsetHour && currMins <context.global.Weather.SunsetMin))\n{\n    var timeFrame=\"DAY\";\n}\nelse {\n    var timeFrame=\"NIGHT\";\n}\ncontext.global.Weather.currently=msg.payload.currently;\ncontext.global.Weather.timeframe=timeFrame;\ncontext.global.Weather.currently.dual_temp=dual_temp(context.global.Weather.currently.temperature);\ncontext.global.Weather.currently.humidity_pct=pct(context.global.Weather.currently.humidity);\ncontext.global.Weather.currently.clouds_pct=pct(context.global.Weather.currently.cloudCover);\ncontext.global.Weather.sun_data='Sunrise - Sunset: '+context.global.Weather.SunriseHour+':'+context.global.Weather.SunriseMinW+' - '+context.global.Weather.SunsetHour+':'+context.global.Weather.SunsetMinW\ncontext.global.Weather.currently.web_icon=webIcon(context.global.Weather.currently.icon);\ncontext.global.Weather.sunTimes=context.global.sunTimes;\n\n}\nif (msg.payload.daily){\n context.global.Weather.daily=[];\n msg.payload.daily.data.forEach(function(wday){\n    var wDate=new Date(wday.time*1000+context.global.Weather.Offset*3600000);\n    var wMonth = month[wDate.getMonth()];\n    var wDay = weekday[wDate.getDay()];\n    var wmonthDay = wDate.getDate();\n    var icon = webIcon(wday.icon)\n    context.global.Weather.daily.push({\n        \"month\":wMonth,\n        \"weekday\":wDay,\n        \"wmonthDay\":wmonthDay,\n        \"web_icon\":icon,\n        \"summary\":wday.summary,\n        \"temperatureMin\":dual_temp(wday.temperatureMin),\n        \"temperatureMax\":dual_temp(wday.temperatureMax),\n        \"humidity\":pct(wday.humidity),\n        \"cloudCover\":pct(wday.cloudCover)\n    });\n });\n}\nnewMsg = {\n    payload: {\n     weather:context.global.Weather\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 863,
    "y": 1219.5,
    "wires": [
      [
        "54aef3ec.ab510c",
        "4a48e264.b5b71c"
      ]
    ]
  },
  {
    "id": "738d485e.8c72b8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Switch t-stat back to home mode if motion is detected",
    "func": "var canControl = (typeof(context.global.motionAdjustTstat)!=='undefined' ? context.global.motionAdjustTstat : 'true');\nif (msg.payload.object_type =='thermostat' && ((\"users_away\" in msg.payload.last_reading) && typeof(msg.payload.last_reading.users_away)!=='undefined' && msg.payload.last_reading.users_away) && canControl){\n    if (context.global.winkState.groups['.sensors'].motion.or || context.global.checkPresence()){\n    var newMsg ={\n    \"url\":\"https://winkapi.quirky.com/thermostats/\"+msg.payload.object_id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"powered\":true,\n            \"users_away\":('VacationMode' in context.global && context.global.VacationMode ? true:false)\n                }\n            }\n        };\n    node.send(newMsg);\n    }\n}\nif ((\"last_reading\" in msg.payload) && (\"motion\" in msg.payload.last_reading) && typeof(msg.payload.last_reading.motion!=='undefined') && msg.payload.last_reading.motion && canControl){\n    for (var key in context.global.winkState.thermostats){\n        if ((\"users_away\" in context.global.winkState.thermostats[key]) && typeof(context.global.winkState.thermostats[key].users_away)!=='undefined' && context.global.winkState.thermostats[key].users_away){\n               var newMsg ={\n                \"url\":\"https://winkapi.quirky.com/thermostats/\"+context.global.winkState.thermostats[key].object_id,\n                \"method\": \"PUT\",\n                headers: {\n                    \"Authorization\":\"Bearer \"+context.global.WinkToken,\n                    \"Content-Type\":\"application/json\"\n                },\n                payload: {\n                    \"desired_state\": {\n                     \"powered\":true,\n                    \"users_away\":false\n                }\n            }\n        };\n    node.send(newMsg); \n    }\n  }\n}\n\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 918.3958282470703,
    "y": 653.1111145019531,
    "wires": [
      [
        "2a56f04d.d5a91"
      ]
    ]
  },
  {
    "id": "2a56f04d.d5a91",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1229.3959503173828,
    "y": 653.1111145019531,
    "wires": [
      []
    ]
  },
  {
    "id": "37f546cc.c80aba",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "if (typeof context.global.InitialStateKey !=='undefined' && context.global.InitialStateKey !==\"\"){\ncontext.global.InitialStateBucket=\"WinkDataISN\"\nvar newMsg={\n  method: 'POST',\n  url: 'https://groker.initialstate.com/api/buckets',\n  headers: {\n    'Content-Type': 'application/json',\n    'X-IS-AccessKey': context.global.InitialStateKey,\n    'Accept-Version': '~0'\n  },\n    payload: \n    {\n    \"bucketKey\": context.global.InitialStateBucket,\n    \"bucketName\": \"Wink Data Node Red\"\n}\n}\nnode.send(newMsg);\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 335.39581298828125,
    "y": 1336.3333740234375,
    "wires": [
      [
        "ae1a14f4.51e5e8"
      ]
    ]
  },
  {
    "id": "7db9b162.82465",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 136.3957977294922,
    "y": 1337.3333740234375,
    "wires": [
      [
        "37f546cc.c80aba"
      ]
    ]
  },
  {
    "id": "ae1a14f4.51e5e8",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 533.5,
    "y": 1337.4444580078125,
    "wires": [
      [
        "335986ac.cca67a"
      ]
    ]
  },
  {
    "id": "335986ac.cca67a",
    "type": "debug",
    "z": "6f62cc19.909d34",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 718.5,
    "y": 1336.4444885253906,
    "wires": []
  },
  {
    "id": "ed563229.12a9d",
    "type": "comment",
    "z": "6f62cc19.909d34",
    "name": "IS State bucket initialization -------------------------------------------------------------------------------------------------------------------------------",
    "info": "modfy bluemix-settings.json and add following line:\n\ncontext.global.InitialStateKey=\"<your initial state api key>\"",
    "x": 471,
    "y": 1285,
    "wires": []
  },
  {
    "id": "4d148001.b2eb8",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 1037.3958129882812,
    "y": 558.8889465332031,
    "wires": [
      []
    ]
  },
  {
    "id": "3d7a4138.c285be",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Is State",
    "func": "if (typeof context.global.InitialStateKey !=='undefined'  && context.global.InitialStateKey !==\"\"){\nvar keyName;\nvar keyValue;\nvar winkObjectType=(msg.payload.object_type=='binary_switch' ? msg.payload.object_type+'es' : msg.payload.object_type+'s')\nvar pct = function(value) {\n    return ((value > 1.0 ? value : value * 100).toFixed(0) + '%')\n}\nvar dual_temp = function (value) {\n    return (typeof value === 'number' ? (value.toFixed(1) + 'C / ' + ((value * 1.8) + 32).toFixed(1) + 'F') : '')\n}\n\nvar dollars = function (value) {\n    return (typeof value === 'number' ? (value / 100).toFixed(2) : '')\n}\n\nvar GenValueText = function (property,value){\n    text =  { co_detected     : (value ? 'CO DETECTED'     : '')\n            , fault           : (value ? 'FAULT DETECTED'  : '')\n            , liquid_detected : (value ? 'LEAK DETECTED'   : '')\n            , locked          : (value ? 'LOCKED'          : 'UNLOCKED')\n            , loudness        : (value ? 'LOUD'            : '')\n            , noise           : (value ? 'NOISY'           : '')\n            , motion          : (value ? 'MOTION'          : '')\n            , opened          : (value ? 'OPEN'            : 'CLOSED')\n            , presence        : (value ? 'PRESENCE'        : '')\n            , smoke_detected  : (value ? 'SMOKE DETECTED'  : '')\n            , tamper_detected : (value ? 'TAMPER DETECTED' : '')\n            , vibration       : (value ? 'VIBRATION'       : '')\n\n            , battery         : pct(value)\n            , brightness      : pct(value)\n            , co_severity     : pct(value)\n            , humidity        : pct(value)\n            , smoke_severity  : pct(value)\n\n            , remaining       : pct(value)\n            , temperature     : value\n            }[property]\n    if (text === '') text = 'OK'\n    return text;\n}\n\nvar sendMsg = function(key,value){\n    var newMsg={\n  method: 'POST',\n  url: 'https://groker.initialstate.com/api/events',\n  headers: {\n    \"Content-Type\": \"application/json\",\n    \"X-IS-AccessKey\": context.global.InitialStateKey,\n    \"X-IS-BucketKey\": context.global.InitialStateBucket,\n    \"Accept-Version\": '~0'\n  },\n    payload: \n    {\n    \"key\": key,\n    \"value\":value\n}\n}\nnode.send(newMsg);\n}\n//node.warn(winkObjectType)\n//node.warn(msg.payload.name)\nvar ds=msg.payload.desired_state;\nvar lr=msg.payload.last_reading;\nswitch (winkObjectType){\n    case 'binary_switches':\n        if (!('powered' in ds) || ds.powered===lr.powered){\n        keyName=msg.payload.name+' Brightness';\n        keyValue=(msg.payload.last_reading.powered ? 100: 0);\n        sendMsg(keyName,keyValue);\n        }\n        break;\n    case 'light_bulbs':\n        if (!('powered' in ds) || ('powered' in ds && ds.powered==lr.powered && ds.brightness==lr.brightness)){\n        keyName=msg.payload.name+' Brightness';\n        keyValue=(msg.payload.last_reading.powered ? pct(msg.payload.last_reading.brightness) : 0);\n        sendMsg(keyName,keyValue);\n        }\n        break;\n    case 'locks':\n        keyName=msg.payload.name+' Status';\n        keyValue= GenValueText('locked',msg.payload.last_reading.locked);\n        sendMsg(keyName,keyValue);\n        break;\n    case 'thermostats':\n        keyName=msg.payload.name+' Temperature';\n        keyValue=msg.payload.last_reading.temperature;\n        sendMsg(keyName,keyValue);\n        break;\n case 'sensor_pods':\n        for (var i=0; i< context.global.winkDevCap[msg.payload.name].fields.length; i++){\n        sensor_type=context.global.winkDevCap[msg.payload.name].fields[i].field;\n        keyName=msg.payload.name+' '+context.global.winkDevCap[msg.payload.name].fields[i].field.replace(\"_\",\" \");\n        keyValue=GenValueText(context.global.winkDevCap[msg.payload.name].fields[i].field,context.global.winkState.sensor_pods[msg.payload.name][sensor_type]);\n        sendMsg(keyName,keyValue);\n        }\n        break;\n    case 'propane_tanks':\n        keyName=msg.payload.name+' Propane';\n        keyValue= GenValueText('remaining',msg.payload.last_reading.remaining);\n        sendMsg(keyName,keyValue);\n        break;\n        \n    case 'cameras':\n        //node.warn('camera subscription event '+msg.payload.last_reading.motion)\n        keyName=msg.payload.name+' Motion';\n        keyValue= GenValueText('motion',msg.payload.last_reading.motion);\n        sendMsg(keyName,keyValue);\n        break;    \n}\n\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 778.2916259765625,
    "y": 559.77783203125,
    "wires": [
      [
        "4d148001.b2eb8"
      ]
    ]
  },
  {
    "id": "3ba0b8ff.c45f48",
    "type": "http response",
    "z": "6f62cc19.909d34",
    "name": "",
    "x": 782.3958129882812,
    "y": 452.8888854980469,
    "wires": []
  },
  {
    "id": "f2e0d3ed.0d1f3",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Snapshots",
    "func": "if ('camera_motion' in context.global){\nif(context.global.CloudantBkUP && (msg.payload.object_type=='camera' || msg.payload.object_type=='sensor_pod') && ('motion' in msg.payload.last_reading && msg.payload.last_reading.motion===true) && msg.payload.name in context.global.camera_motion)\n{\n    var newMsg1 ={\n    \"url\":context.global.BlueMixUrlBase+'/red/save_images?cam_list='+context.global.camera_motion[msg.payload.name]+'&object_name='+msg.payload.name,\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n    }\n    }\n    node.send(newMsg1);\n}\n}\nif ('VacationMode' in context.global && context.global.VacationMode=='on' && 'cameras' in context.global.winkState){\n    if(context.global.CloudantBkUP && (msg.payload.object_type=='camera' || msg.payload.object_type=='sensor_pod') && ('motion' in msg.payload.last_reading && msg.payload.last_reading.motion===true)){\n        var delay=0;        \n        for (var cam in context.global.winkState.cameras){\n            var newMsg1 ={\n                \"url\":context.global.BlueMixUrlBase+'/red/save_images?cam_list='+cam+'&object_name='+msg.payload.name,\n                \"method\": \"GET\",\n                headers: {\n                    \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n                }\n            }\n            context.global.sendWithTimeout(node,newMsg1,delay);\n            delay+=500;\n        }\n    }\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 787.3958129882812,
    "y": 709.1111450195312,
    "wires": [
      [
        "b8ac501d.4753b"
      ]
    ]
  },
  {
    "id": "b8ac501d.4753b",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 975.3958129882812,
    "y": 707.8889465332031,
    "wires": [
      []
    ]
  },
  {
    "id": "d8b51149.274af",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "SendNamedBasedIfttt",
    "func": "if ('IFTTT_TOKEN' in context.global && context.global.IFTTT_TOKEN!=='undefined'){\nif (msg.payload.object_type=='remote' || (msg.payload.object_type=='sensor_pod' && ('motion' in msg.payload.last_reading || 'opened' in msg.payload.last_reading)) ){\n    var winkEvent=''\n    var lr=msg.payload.last_reading;\n    var oName=msg.payload.name;\n    var oType=msg.payload.object_type\n\n if (oType=='remote') winkEvent = (lr.button_on_pressed ? 'button_on_pressed' : lr.button_off_pressed ? 'button_off_pressed' : lr.button_up_pressed ? 'button_up_pressed' : lr.button_down_pressed ? 'button_down_pressed' :  '')\n else {\n if ('motion' in lr)  winkEvent = (lr.motion ? 'motion_started' : 'motion_ended')\n if ('opened' in lr) winkEvent =  (lr.opened ? 'opened' : 'closed')\n }\n \n if (winkEvent!==''){\n var WinkEvent=oName.replace(' ','_')+'_'+winkEvent;\n var newMsg ={\n                    \"url\":\"https://maker.ifttt.com/trigger/\"+WinkEvent+\"/with/key/\"+context.global.IFTTT_TOKEN,\n                    \"method\": \"POST\",\n                    headers: \n                    {\n                        \"Content-Type\":\"application/json\"\n                    }\n            }\nnode.send(newMsg);\n}\n\n}\n\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 813.3958129882812,
    "y": 760.111083984375,
    "wires": [
      [
        "428fb21d.bd704c"
      ]
    ]
  },
  {
    "id": "428fb21d.bd704c",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 1020.3958129882812,
    "y": 761.8889770507812,
    "wires": [
      [
        "6642e2c1.99bd1c"
      ]
    ]
  },
  {
    "id": "6642e2c1.99bd1c",
    "type": "debug",
    "z": "6f62cc19.909d34",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 1197.500015258789,
    "y": 761.0000305175781,
    "wires": []
  },
  {
    "id": "fab0a7d5.054f58",
    "type": "catch",
    "z": "6f62cc19.909d34",
    "name": "",
    "x": 91.5,
    "y": 1404,
    "wires": [
      [
        "e55db2bd.1aa25"
      ]
    ]
  },
  {
    "id": "e55db2bd.1aa25",
    "type": "debug",
    "z": "6f62cc19.909d34",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "error",
    "x": 271.5,
    "y": 1404,
    "wires": []
  },
  {
    "id": "ef5280a5.10ad8",
    "type": "switch",
    "z": "6f62cc19.909d34",
    "name": "WS switch",
    "property": "payload.object_type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "light_bulb",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "binary_switch",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "powerstrip",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "lock",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "group",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "robot",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "garage_door",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 7,
    "x": 659.5,
    "y": 916,
    "wires": [
      [
        "25ece239.da131e"
      ],
      [
        "553f67b6.aac098"
      ],
      [
        "971c910e.68e37"
      ],
      [
        "df1773a1.20e89"
      ],
      [
        "a25a4717.5da5b8"
      ],
      [
        "24e355b1.db1caa"
      ],
      [
        "4449859f.bbb67c"
      ]
    ]
  },
  {
    "id": "25ece239.da131e",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "var bulbMsg={}\nvar bulb=context.global.winkState.light_bulbs[msg.payload.name];\nvar ds=msg.payload.desired_state || false;\nvar lr=msg.payload.last_reading;\nif (!(ds) || ( !('powered' in ds) || ('powered' in ds && ds.powered==lr.powered && ds.brightness==lr.brightness))){\nbulbMsg.payload={\n name:bulb.name,\n            object_id:bulb.object_id,\n            powered:bulb.powered,\n            brightness:Math.round(bulb.brightness*100)\n}\n//bulbMsg.payload=context.global.encrypt(JSON.stringify(Message));\nreturn bulbMsg;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 917.5000152587891,
    "y": 876.0000305175781,
    "wires": [
      [
        "4a48e264.b5b71c"
      ]
    ]
  },
  {
    "id": "553f67b6.aac098",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "var binSMsg={}\nvar bulb=context.global.winkState.binary_switches[msg.payload.name];\nvar ds=msg.payload.desired_state;\nvar lr=msg.payload.last_reading;\nif (!('powered' in ds) || ds.powered===lr.powered){\nbinSMsg.payload={\n            name:bulb.name,\n            object_id:bulb.object_id,\n            powered:bulb.powered,\n            brightness:(bulb.powered ? 100:0)\n        }\nreturn binSMsg;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 919.5000152587891,
    "y": 912.0000305175781,
    "wires": [
      [
        "4a48e264.b5b71c"
      ]
    ]
  },
  {
    "id": "971c910e.68e37",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "for (var i=0;i<msg.payload.outlets.length;i++){\nvar binSMsg={}    \nvar bulb=context.global.winkState.powerstrips[msg.payload.outlets[i].name];\nif (!('powered' in bulb.desired_state) || bulb.desired_state.powered===false){\nbinSMsg.payload={\n            name:bulb.name,\n            object_id:bulb.object_id,\n            powered:bulb.powered,\n            brightness:(bulb.powered ? 100:0)\n        }\nnode.send(binSMsg);\n}\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 918.5000152587891,
    "y": 947.0000305175781,
    "wires": [
      [
        "4a48e264.b5b71c"
      ]
    ]
  },
  {
    "id": "df1773a1.20e89",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "var lockMsg={}\nvar lock=context.global.winkState.locks[msg.payload.name];\nvar ds=msg.payload.desired_state;\nvar lr=msg.payload.last_reading;\nif (!('locked' in ds) || ds.locked===lr.locked){\nlockMsg.payload={\n            name:lock.name,\n            object_type:lock.object_type,            \n            object_id:lock.object_id,\n            locked:lock.locked\n    }\n//bulbMsg.payload=context.global.encrypt(JSON.stringify(Message));\nreturn lockMsg;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 920.5000152587891,
    "y": 987.0000305175781,
    "wires": [
      [
        "4a48e264.b5b71c"
      ]
    ]
  },
  {
    "id": "e6a6f3be.19591",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 533.5,
    "y": 552.0000610351562,
    "wires": [
      []
    ]
  },
  {
    "id": "858208a9.7a7df8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "UI Notifications",
    "func": "var pct = function(value) {\n    return ((value > 1.0 ? value : value * 100).toFixed(0) + '%');\n}\nfunction send_ui_note(n_type,n_timeout,n_message,obj_id){\n    var obj=obj_id||null;\n    var pmsg={};\n    var newMsg={\n        url:context.global.BlueMixUrlBase+'/red/notifications',\n        \"method\": \"POST\",\n        headers: {\n            \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n        },\n        payload:{\n            \"id\":obj,\n            \"type\":n_type,\n            \"message\":n_message,\n            \"timeout\":n_timeout\n            }\n        };\n        node.send(newMsg);\n        if ('PushBulletKey' in context.global){\n            if (('VacationMode' in context.global && context.global.VacationMode=='on') || ( 'SensorsNotificationM' in context.global && context.global.SensorsNotificationM && (n_type=='warning' || n_type=='error'))){\n                pmsg=context.global.sendViaPushBullet('note','WNR-'+n_type,n_message);\n                node.send(pmsg);\n            }\n            if (('VacationMode' in context.global && context.global.VacationMode=='on') || ('LightsNotificationM' in context.global && context.global.LightsNotificationM && (n_type=='notification' || n_type=='information'))){\n                pmsg=context.global.sendViaPushBullet('note','WNR-'+n_type,n_message);\n                node.send(pmsg);\n            }\n        }\n}\nif ('last_reading' in msg.payload){\n    var Obj_name=msg.payload.name;\n    var Obj_type=msg.payload.object_type;\n    var Obj_id=msg.payload.object_id;\n    var lr = msg.payload.last_reading;\n    var ds = msg.payload.desired_state;\n/*    node.warn('Name: '+Obj_name+' type:'+Obj_type)\n    node.warn(lr);\n    node.warn(ds);\n*/\n    if ('position' in lr) send_ui_note('warning',3600000,Obj_name+(lr.position===1 ? ' opened': lr.position===0 ? ' closed':' opening...'),null);\n    if ('opened' in lr && lr.opened) send_ui_note('warning',3600000,Obj_name+' opened',Obj_id);\n    if ('locked' in lr && !lr.locked && (!('locked' in ds)  || ds.locked===lr.locked) ) send_ui_note('warning',3600000,Obj_name+' unlocked',Obj_id);\n    if ('occupied' in lr && lr.occupied)  send_ui_note('warning',3600000,Obj_name+' occupied',Obj_id);\n    if ('motion' in lr && lr.motion)  send_ui_note('warning',3600000,Obj_name+' motion detected',Obj_id);\n    if ('button_pressed' in lr && lr.button_pressed)  send_ui_note('warning',3600000,Obj_name+' button pressed',null);\n    if ('tamber_detected' in lr && lr.tamper_detected) send_ui_note('error',3600000,Obj_name+' tamper detected!!!');\n    if ('battery' in lr && lr.battery!==null) ((lr.battery>=0.33 && lr.battery < 0.5) ? send_ui_note('information',false,Obj_name+' battery level '+ pct(lr.battery)) : (lr.battery>= 0.1 && lr.battery <0.33) ? send_ui_note('warning',60000,Obj_name+' battery level '+ pct(lr.battery)) : lr.battery<0.1 ? send_ui_note('error',false,Obj_name+' battery level '+ pct(lr.battery)) : null);\n    if ('remaining' in lr) ((lr.remaining>=0.33 && lr.remaining < 0.5) ? send_ui_note('information',false,Obj_name+' propane level '+ pct(lr.remaining)) : (lr.remaining>= 0.1 && lr.remaining <0.33) ? send_ui_note('warning',60000,Obj_name+' propane level '+ pct(lr.remaining)) : lr.remaining<0.1 ? send_ui_note('error',false,Obj_name+' propane level '+ pct(lr.remaining)) : null);\n    if ('liquid_detected' in lr && lr.liquid_detected) send_ui_note('error',false,Obj_name+' liquid detected!!!');\n    if ('smoke_detected' in lr && lr.smoke_detected) send_ui_note('error',false,Obj_name+' smoke detected!!!<br>Severity: '+pct(lr.co_severity));\n    if ('co_detected' in lr && lr.smoke_detected) send_ui_note('error',false,Obj_name+' smoke detected!!!<br>Severity: '+pct(lr.co_severity));\n    if ('enabled' in lr) send_ui_note('information',200000,'Robot \"'+Obj_name+(lr.enabled ? '\" enabled' : '\" disabled'),Obj_id);\n    if ('fired' in lr && lr.fired) send_ui_note('warning',300000,'Robot \"'+Obj_name+'\" fired',Obj_id);\n    if ('mode' in lr && Obj_type!='thermostat') send_ui_note('warning',300000,'Canary \"'+Obj_name+'\" set to '+lr.mode+' mode',Obj_id);\n    if ('garage_doors' in lr) send_ui_note('warning',300000,Obj_name+(lr.garage_doors==\"0\" ? \" Closed\":\" Opened\"),Obj_id);    \n    if ((Obj_type=='light_bulb' || Obj_type=='binary_switch' || Obj_type=='powerstrip') && context.global.LightsNotification && (!('powered' in ds) || ('powered' in ds && ds.powered==lr.powered && (Obj_type=='light_bulb'? ds.brightness==lr.brightness : true)))) {\n        send_ui_note('notification',\"90000\",Obj_name+(lr.powered ? \" On\":\" off\") + ('brightness' in lr && lr.powered ? ' @'+pct(lr.brightness) : ''),Obj_id);\n    }\n    \n    \n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 788.5000152587891,
    "y": 506.0000305175781,
    "wires": [
      [
        "ebb08771.144f78",
        "fddfd7dd.022028"
      ]
    ]
  },
  {
    "id": "ebb08771.144f78",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1036.500015258789,
    "y": 505.0000305175781,
    "wires": [
      [
        "725b5118.8da4b"
      ]
    ]
  },
  {
    "id": "4a5ae139.b5a52",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 102.5,
    "y": 128,
    "wires": [
      [
        "3a0b73bc.c5f48c",
        "b49f7535.4b6088"
      ]
    ]
  },
  {
    "id": "4f838302.b07c7c",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "01 00 * * *",
    "once": false,
    "x": 106.5,
    "y": 1224,
    "wires": [
      [
        "40fe486e.bf01b8"
      ]
    ]
  },
  {
    "id": "a25a4717.5da5b8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "var Wmsg = context.global.render_home_components(msg.payload.name);\nif (Wmsg.payload.home_components.length>0) return Wmsg\nelse return;",
    "outputs": 1,
    "noerr": 0,
    "x": 922.5,
    "y": 1025,
    "wires": [
      [
        "4a48e264.b5b71c"
      ]
    ]
  },
  {
    "id": "b48c2788.4b73d8",
    "type": "http in",
    "z": "6f62cc19.909d34",
    "name": "",
    "url": "/red/notifications",
    "method": "post",
    "swaggerDoc": "",
    "x": 630.5,
    "y": 996.0000610351562,
    "wires": [
      [
        "459b7782.ba6488"
      ]
    ]
  },
  {
    "id": "459b7782.ba6488",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN){\nvar newMsg={}    \nnewMsg.payload={\n    'id':msg.payload.id||null,\n    'alertType':msg.payload.type,\n    'timeout':msg.payload.timeout || false,\n    'message':msg.payload.message\n }\nmsg.res.statuCode=200;\nnode.send([msg, newMsg]);\n} else { \n    msg.res.statusCode=200\n    node.send([msg]);\n}",
    "outputs": "2",
    "noerr": 0,
    "x": 910.5,
    "y": 1139,
    "wires": [
      [
        "eaaa6449.155598"
      ],
      [
        "4a48e264.b5b71c"
      ]
    ]
  },
  {
    "id": "eaaa6449.155598",
    "type": "http response",
    "z": "6f62cc19.909d34",
    "name": "",
    "x": 1133.5,
    "y": 1099,
    "wires": []
  },
  {
    "id": "2d00245b.d2ffdc",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "    var newMsg1 ={\n    \"url\":context.global.BlueMixUrlBase+'/red/update_app_cfg',\n    \"method\": \"POST\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n    },\n    payload:{\n       db_mode:\"read\"\n    }\n    }\nreturn newMsg1;",
    "outputs": 1,
    "noerr": 0,
    "x": 597.5,
    "y": 123,
    "wires": [
      [
        "a1bce3b2.5e432"
      ]
    ]
  },
  {
    "id": "a1bce3b2.5e432",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 761.5,
    "y": 124,
    "wires": [
      []
    ]
  },
  {
    "id": "67fbe4ad.98041c",
    "type": "http in",
    "z": "6f62cc19.909d34",
    "name": "wscomms",
    "url": "/red/wscomms",
    "method": "post",
    "swaggerDoc": "",
    "x": 767,
    "y": 835.0000610351562,
    "wires": [
      [
        "4df4a5e6.b20b5c"
      ]
    ]
  },
  {
    "id": "4df4a5e6.b20b5c",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN){\nreturn msg;\n} else { \nreturn;\n}",
    "outputs": "1",
    "noerr": 0,
    "x": 920.0000152587891,
    "y": 837.0000305175781,
    "wires": [
      [
        "e50f0067.1af1",
        "4a48e264.b5b71c"
      ]
    ]
  },
  {
    "id": "e50f0067.1af1",
    "type": "http response",
    "z": "6f62cc19.909d34",
    "name": "",
    "x": 1087.000015258789,
    "y": 836.0000305175781,
    "wires": []
  },
  {
    "id": "4a48e264.b5b71c",
    "type": "websocket out",
    "z": "6f62cc19.909d34",
    "name": "",
    "server": "91e6333b.6e19d",
    "client": "",
    "x": 1207.500015258789,
    "y": 900.0000305175781,
    "wires": []
  },
  {
    "id": "59f48204.a60b7c",
    "type": "http response",
    "z": "6f62cc19.909d34",
    "name": "",
    "x": 670,
    "y": 423,
    "wires": []
  },
  {
    "id": "24e355b1.db1caa",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "var robotMsg={}\nvar robot=context.global.winkState.robots[msg.payload.name];\nvar n=msg.payload.name;\nvar ds=msg.payload.desired_state;\nvar lr=msg.payload.last_reading;\nif (n in context.global.winkState.robots && (!('enabled' in ds) || ds.enabled===lr.enabled)){\nrobotMsg.payload={\n            name:robot.name,\n            object_id:robot.object_id,\n            enabled:robot.enabled\n    }\n//bulbMsg.payload=context.global.encrypt(JSON.stringify(Message));\nreturn robotMsg;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 921,
    "y": 1064,
    "wires": [
      [
        "4a48e264.b5b71c"
      ]
    ]
  },
  {
    "id": "4449859f.bbb67c",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "var Wmsg = context.global.render_home_components(msg.payload.object_type);\nvar ds=msg.payload.desired_state;\nvar lr=msg.payload.last_reading;\nif (Wmsg.payload.home_components.length>0) {\n    node.send(Wmsg);\n    var lockMsg={}\n    var lock=context.global.winkState.garage_doors[msg.payload.name];\n    if (!('position' in ds) && (lr.position===1 || lr.position===0) /*|| ds.position===lr.position*/){\n        lockMsg.payload={\n                name:lock.name,\n                object_id:lock.object_id,\n                object_type:lock.object_type,\n                locked:(lock.position>0 ? false:true),\n                not_locked:(lock.position>0 ? true:false)\n        }\n        node.send(lockMsg);\n    }\n}\nelse return;",
    "outputs": 1,
    "noerr": 0,
    "x": 917,
    "y": 1104,
    "wires": [
      [
        "4a48e264.b5b71c"
      ]
    ]
  },
  {
    "id": "f1ed41ad.0e12c",
    "type": "delay",
    "z": "6f62cc19.909d34",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "10",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 369,
    "y": 471,
    "wires": [
      [
        "f3c3c06e.0c3c4",
        "c2d838df.3d27c8"
      ]
    ]
  },
  {
    "id": "b49f7535.4b6088",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Get OAuth Tocken",
    "func": "var uid=context.global.WinkUser.uid;\nvar pwd=context.global.WinkUser.pwd;\nvar w1=context.global.wnr.w1;\nvar w2=context.global.wnr.w2;\nvar ifUk=(('wink_id' in context.global && context.global.wink_id!=='') ? true:false);\nvar newMsg ={\n    \"url\":\"https://winkapi.quirky.com/oauth2/token\",\n    \"method\": \"POST\",\n    headers: {\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"client_id\":(ifUk ? context.global.wink_id : context.global.genKey(w1)),\n        \"client_secret\":(ifUk ? context.global.wink_secret : context.global.genKey(w2)),\n        \"username\": uid,\n        \"password\": pwd,\n        \"grant_type\": \"password\"\n    }\n}\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 425,
    "y": 51,
    "wires": [
      [
        "860455f9.79fba8"
      ]
    ]
  },
  {
    "id": "95a9d838.6a5628",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "CheckResposeCode",
    "func": "if (typeof context.global.WinkSubscriptions === 'undefined')\n{\n    context.global.WinkSubscriptions = {};\n}\nif (msg.statusCode==202)\n{\n    node.warn(\"Subscription ID: \"+msg.payload.data.subscription_id);\n    context.global.WinkSubscriptions[msg.payload.data.subscription_id]={\n        \"subscription_id\": msg.payload.data.subscription_id,\n        \"url_base\":msg.payload.data.topic,\n        \"callback\":msg.payload.data.callback\n    }\n}\nelse\n{\n    node.warn(\"Subscription issue. Status: \"+msg.statusCode);\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 1001,
    "y": 244.00003051757812,
    "wires": [
      []
    ]
  },
  {
    "id": "df1cf0a5.20e31",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 806,
    "y": 244,
    "wires": [
      [
        "95a9d838.6a5628"
      ]
    ]
  },
  {
    "id": "699df039.96621",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Prepare Wink devices subscription request",
    "func": "var baseUrl = \"https://winkapi.quirky.com/\";\nvar callbackUrl=context.global.BlueMixUrlBase+\"/red/wink/subscribtions\";\n   for (var winkDevice in context.global.winkState)\n    {\n        if (winkDevice!=\"linked_services\")\n        {\n            var deviceUrl=baseUrl+winkDevice;\n            for (var winkDeviceName in context.global.winkState[winkDevice])\n            {\n                deviceId=context.global.winkState[winkDevice][winkDeviceName].object_id;\n                node.warn(winkDeviceName+\" \"+deviceId);\n                var newMsg ={\n                    \"url\":baseUrl+\"/\"+(winkDevice=='canaries' ? 'cameras' : winkDevice)+\"/\"+deviceId+\"/subscriptions\",\n                    \"method\": \"POST\",\n                    headers: {\n                        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n                        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\",\n                        \"Content-Type\":\"application/json\"\n                    },\n                    payload: {\n                        \"callback\": callbackUrl\n                    }\n                };\n                node.send(newMsg);\n            }\n        }\n    }\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 538.0001220703125,
    "y": 245,
    "wires": [
      [
        "df1cf0a5.20e31"
      ]
    ]
  },
  {
    "id": "55a582e7.aa5a7c",
    "type": "delay",
    "z": "6f62cc19.909d34",
    "name": "",
    "pauseType": "delay",
    "timeout": "45",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 251.9999542236328,
    "y": 245,
    "wires": [
      [
        "699df039.96621"
      ]
    ]
  },
  {
    "id": "b0c25739.4f3da8",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "86400",
    "crontab": "",
    "once": true,
    "x": 55,
    "y": 87,
    "wires": [
      [
        "76ec173d.8913e8"
      ]
    ]
  },
  {
    "id": "76ec173d.8913e8",
    "type": "delay",
    "z": "6f62cc19.909d34",
    "name": "",
    "pauseType": "delay",
    "timeout": "15",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 206.5,
    "y": 47,
    "wires": [
      [
        "b49f7535.4b6088",
        "3a0b73bc.c5f48c"
      ]
    ]
  },
  {
    "id": "860455f9.79fba8",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 600,
    "y": 83,
    "wires": [
      [
        "c5a1e127.3a5e2"
      ]
    ]
  },
  {
    "id": "c5a1e127.3a5e2",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "DefineGlobalTocken",
    "func": "// sample function that stores wink token in a global variable so other api calls\n//can use that\nif (msg.statusCode==200){\ncontext.global.WinkToken=msg.payload.data.access_token;\nnode.log(context.global.WinkToken);\nvar msg ={ \"payload\":\"Done\"}\nreturn msg;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 791,
    "y": 84,
    "wires": [
      [
        "b0760054.4f8a"
      ]
    ]
  },
  {
    "id": "b0760054.4f8a",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "Prepare HTTPS requests by device type",
    "func": "context.global.cleanWinkState();\nvar newMsg1 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/wink_devices\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n    }\n}\nvar newMsg2 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/linked_services\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n       // \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/3.1.0\"\n }\n\n}\n\nvar newMsg3 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/groups\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n }\n\n}\n\nvar newMsg4 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/scenes\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n  }\n}\n\nvar newMsg5 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/robots\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/999.99.9\"\n  }\n}\n\nreturn [newMsg1,newMsg2,newMsg3,newMsg4,newMsg5];\n//return [newMsg1,newMsg2,newMsg3,newMsg4,newMsg5,newMsg6,newMsg7,newMsg8,newMsg9,newMsg10,newMsg11];\n",
    "outputs": "5",
    "noerr": 0,
    "x": 1083,
    "y": 88,
    "wires": [
      [
        "7840b2b9.87bf4c"
      ],
      [
        "3c0c170f.c3f3e8"
      ],
      [
        "7bd41196.842bf"
      ],
      [
        "14cf528d.eb30ad"
      ],
      [
        "c43578ee.3bca88"
      ]
    ]
  },
  {
    "id": "7840b2b9.87bf4c",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "GetWDevices",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1421,
    "y": 47,
    "wires": [
      [
        "6ce8e0fa.93172"
      ]
    ]
  },
  {
    "id": "3c0c170f.c3f3e8",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "GetWServices",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1400,
    "y": 88.5,
    "wires": [
      [
        "3a78a53e.c5875a"
      ]
    ]
  },
  {
    "id": "7bd41196.842bf",
    "type": "delay",
    "z": "6f62cc19.909d34",
    "name": "",
    "pauseType": "delay",
    "timeout": "15",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1382.5,
    "y": 132,
    "wires": [
      [
        "7f21f245.80de0c"
      ]
    ]
  },
  {
    "id": "14cf528d.eb30ad",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "GetWScenes",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1396,
    "y": 172.5,
    "wires": [
      [
        "f33ba2f6.0cc46"
      ]
    ]
  },
  {
    "id": "c43578ee.3bca88",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "GetWRobots",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1390.4999542236328,
    "y": 215,
    "wires": [
      [
        "594950eb.a6b6b"
      ]
    ]
  },
  {
    "id": "6ce8e0fa.93172",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "GetDevices",
    "func": "context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nif (\"cameras\" in context.global.winkState){\n    for (var key in context.global.winkState.cameras){\n        if (context.global.winkState.cameras[key].manufacturer_device_model.indexOf(\"dropcam\")!=-1){\n            var newMsg1 ={\n                \"url\":context.global.BlueMixUrlBase+'/red/retrieve_activities?camera_name='+key,\n                \"method\": \"GET\",\n                headers: {\n                    \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n                }\n            }\n            node.send(newMsg1);\n        }\n    }\n}\nnode.warn(\"Device import completed\");\nreturn;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1721.0000457763672,
    "y": 38.5,
    "wires": [
      [
        "b46bb242.4b945"
      ]
    ]
  },
  {
    "id": "3a78a53e.c5875a",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "GetServices",
    "func": "context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n",
    "outputs": 1,
    "x": 1595,
    "y": 88.5,
    "wires": [
      []
    ]
  },
  {
    "id": "7f21f245.80de0c",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "GetWGroups",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1558,
    "y": 127.5,
    "wires": [
      [
        "cb16969a.34e968"
      ]
    ]
  },
  {
    "id": "cb16969a.34e968",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "GetGroups",
    "func": "context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n",
    "outputs": 1,
    "x": 1783,
    "y": 126.5,
    "wires": [
      []
    ]
  },
  {
    "id": "f33ba2f6.0cc46",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "GetScenes",
    "func": "context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n",
    "outputs": 1,
    "x": 1583.0000457763672,
    "y": 173.5,
    "wires": [
      []
    ]
  },
  {
    "id": "b46bb242.4b945",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1884.0625,
    "y": 39.888885498046875,
    "wires": [
      []
    ]
  },
  {
    "id": "594950eb.a6b6b",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "GetRobots",
    "func": "context.global.getWinkState(msg.payload);\ndelete context.global.winkState._msgid;\nreturn;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1577.5,
    "y": 216,
    "wires": [
      []
    ]
  },
  {
    "id": "a97b77f.f568488",
    "type": "http in",
    "z": "6f62cc19.909d34",
    "name": "",
    "url": "/red/wink_query",
    "method": "post",
    "swaggerDoc": "",
    "x": 118,
    "y": 172,
    "wires": [
      [
        "9dba355.f6245c8"
      ]
    ]
  },
  {
    "id": "9dba355.f6245c8",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "if (msg.payload.token ==context.global.FREEBOARD_TOKEN || context.global.getCookie('exchange_token',msg.req.headers.cookie)==context.global.FREEBOARD_TOKEN){\n    msg.statusCode=200;\n    msg.payload=\"aaa\";\n    node.send(msg);\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 317,
    "y": 174,
    "wires": [
      [
        "f8c48a.ff073b78",
        "4d08c49b.b2f73c",
        "b49f7535.4b6088",
        "55a582e7.aa5a7c"
      ]
    ]
  },
  {
    "id": "4d08c49b.b2f73c",
    "type": "http response",
    "z": "6f62cc19.909d34",
    "name": "",
    "x": 561,
    "y": 161,
    "wires": []
  },
  {
    "id": "f8c48a.ff073b78",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "msg.payload={}\nmsg.payload.token=context.global.FREEBOARD_TOKEN\nmsg.url=context.global.BlueMixUrlBase+\"/red/blueiris\"\nmsg.method=\"POST\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 552,
    "y": 196,
    "wires": [
      [
        "72f88844.8d0778"
      ]
    ]
  },
  {
    "id": "72f88844.8d0778",
    "type": "http request",
    "z": "6f62cc19.909d34",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 725,
    "y": 196,
    "wires": [
      []
    ]
  },
  {
    "id": "3a0b73bc.c5f48c",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "DefineGlobalObjects",
    "func": "//use this function to initialize global variables that can be used in any flow or function\nif (typeof context.global.ifttt === 'undefined')\n{\n    context.global.ifttt=false;\n}\n\nif (typeof (context.global.PresenceHistory) === 'undefined') context.global.PresenceHistory=[];\n\nif (typeof(context.global.Presence) === 'undefined')\n{\n    context.global.Presence = {};  \n}\n\nif (typeof(context.global.tab_ui_shortcuts) === 'undefined')\n{\n    context.global.tab_ui_shortcuts = [];  \n}\n\nif (typeof context.global.ignoreMotion === 'undefined')\n{\n    context.global.ignoreMotion=false;\n}\nif (typeof context.global.mediaPlaying==='undefined')\n{\n    context.global.mediaPlaying=false;\n}\nif (typeof context.global.Weather === 'undefined')\n{\n    context.global.Weather= {};\n}\nif (typeof context.global.winkState==='undefined' )\n{\n context.global.winkState = {};\n}\n\nif (typeof context.global.winkDevCap==='undefined' )\n{\n    context.global.winkDevCap = {};\n}\n\ncontext.global.MotionOffDelay = function (WinkSensor) {\n    var occurences=0;\n    var timeout=0;\n    if (!context.global.winkState.motionUpdates) return 0;\n    for(i = 0; i<context.global.winkState.motionUpdates.length; i++) \n    {                   \n        if (context.global.winkState.motionUpdates[i].name==WinkSensor && context.global.winkState.motionUpdates[i].motion) occurences++;\n    }\n    if (occurences>4) timeout=30*60*1000;\n    else if (occurences>2) timeout=10*60*1000;\n    else if (occurences>1) timeout= 5*60*1000;\n    else timeout=1;\n        if (context.global.DEBUG ) node.warn(\"Sensor: \"+WinkSensor+\" was active \"+ occurences +\" times recently, timeout \"+timeout);\n    return timeout;\n};\n\n\ncontext.global.pct = function(value) {\n    return ((value > 1.0 ? value : value * 100).toFixed(0) + '%');\n};\n\ncontext.global.send_ui_note = function(n_type,n_timeout,n_message,obj_id){\n    var obj=obj_id||null;\n    try{\n    var newMsg={\n        url:context.global.BlueMixUrlBase+'/red/notifications',\n        \"method\": \"POST\",\n        headers: {\n            \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n        },\n        payload:{\n            \"id\":obj,\n            \"type\":n_type,\n            \"message\":n_message,\n            \"timeout\":n_timeout\n            }\n        };\n        return newMsg;\n    }\n    catch (error){\n            if (context.global.DEBUG ) node.warn('send ui note: '+error.message);\n    }\n};\n\ncontext.global.checkPresence = function() {\n    var i=0;\n    if (typeof(context.global.Presence) ==='undefined') return false;\n    for (var key in context.global.Presence){\n        if (context.global.Presence[key].home==='yes' || context.global.Presence[key].home===true) i++;\n    }\n    return (i>0 ? true : false);\n};\n\ncontext.global.isHomeOccupied = function() {\n    if (typeof context.global.winkState.groups['.sensors'].motion!=='undefined'){ motionSensors = context.global.winkState.groups['.sensors'].motion.or; } else { motionSensors = false; }\n    if (typeof context.global.winkState.groups['.sensors'].occupied!=='undefined'){ occupancySensors = context.global.winkState.groups['.sensors'].occupied.or; } else { occupancySensors = false; }\n    return ((motionSensors || occupancySensors || context.global.checkPresence()) ? true : false);\n};\n\n\ncontext.global.isObject=function(val) {\n    if (val === null) { return false;}\n    if (val instanceof Array) {return false;}\n    return ( (typeof (val) === 'function') || (typeof (val) === 'object') );\n};\n\ncontext.global.cleanWinkState=function(){\n    for (var wink_obj in context.global.winkState){\n          if (context.global.isObject(context.global.winkState[wink_obj]) && wink_obj.indexOf('Updates')==-1) {\n            for (var wink_device in context.global.winkState[wink_obj]) {\n               if('eco_system' in context.global.winkState[wink_obj][wink_device] && context.global.winkState[wink_obj][wink_device].eco_system=='WINK'){\n                       if (context.global.DEBUG ) node.warn('               resetting object '+wink_device);\n                   delete context.global.winkState[wink_obj][wink_device];\n               } \n            }\n            if (Object.keys(context.global.winkState[wink_obj]).length===0) delete context.global.winkState[wink_obj];\n        }\n    }\n};\n\ncontext.global.badRobot=function(robot){\n    var invalidCause=true;\n    var ifNotUser=(robot.automation_mode===null ? false : true);\n    robot.causes.forEach(function (c){\n        if (c.observed_object_id!==null) invalidCause=false;\n    });\n    return invalidCause || ifNotUser;\n};\n\ncontext.global.getWinkState = function (body) {\n    var results, updateP;\n\n    updateP = !body.data;\n    results = updateP ? [body] : body.data;\n\n    results.forEach(function (result) {\n        var key, len, prop, readings, type,reading_aggregations, agg_prop, capabilities, capb, outlets, outl;\n            if (context.global.DEBUG ) node.warn(result.object_type+\" \"+ result.object_id+\" \"+result.name) //for debugging\n        type = result.object_type;\n//        if (type=='camera' && result.manufacturer_device_model=='canary' ) return;\n        if ('effects' in result && context.global.badRobot(result)) return;\n        if ('last_reading' in result && 'powering_mode' in result.last_reading && result.last_reading.powering_mode=='none') return;\n        if ('object_type' in result && result.object_type=='group' && result.members.length===0) return;\n        if (type) {\n        result.name=result.name.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\n        key = result.name;\n        if (type==\"binary_switch\") type=\"binary_switches\";\n        else type=type+\"s\";\n        if (result.manufacturer_device_model=='canary') type=\"canaries\";\n        }\n        else {\n            if (!result.robot_id || !result.linked_service_id || result._msgid) return;\n            if(result.linked_service_id){\n                type = 'linked_services';\n                key = result.service;\n                result.object_id = result.linked_service_id;\n            }\n            if (result.robot_id){\n                type= 'robots';\n                \n            }\n        }\n        if (!context.global.winkState[type]) context.global.winkState[type] = {};\n\n        if ((!!context.global.winkState[type][key]) && type!=='groups' && (context.global.winkState[type][key].object_id != result.object_id)) {\n            key += ' (#' + result.object_id + ')';\n        }\n\n        if (!(key in context.global.winkState[type])) context.global.winkState[type][key] ={};\n        context.global.winkState[type][key].eco_system=result.eco_system || 'WINK';\n        context.global.winkState[type][key].name=result.name || key;\n        context.global.winkState[type][key].object_type=type;\n        context.global.winkState[type][key].object_id=result.object_id;\n        if (result.device_manufacturer) context.global.winkState[type][key].device_manufacturer=result.device_manufacturer;\n        context.global.winkState[type][key].freeboard=0;\n        if (result.savings_goal){\n         context.global.winkState[type][key].savings_goal=result.savings_goal ;\n         context.global.winkState[type][key].nose_color=result.nose_color;\n        }\n        if (result.lat_lng) {\n            if ((result.lat_lng[0] === 0) && (result.lat_lng[1] === 0)) result.lat_lng = [null, null];\n            context.global.winkState[type][key].coordinates = result.lat_lng;\n        }\n        if ('effects' in result && result.causes.length>0){\n           context.global.winkState[type][key].creating_actor_type=result.creating_actor_type;\n           context.global.winkState[type][key].automation_mode=result.automation_mode;\n           context.global.winkState[type][key].effects=result.effects;\n           context.global.winkState[type][key].causes=result.causes;\n           context.global.winkState[type][key].restrictions=result.restrictions;\n        }\n        \n        // Add group membership\n        if (type==\"groups\" && result.name.substring(0,1)!==\".\" && result.name.substring(0,1)!==\"@\")\n        {\n            if (result.members && result.members.length>0) {\n                context.global.winkState[type][key].members = {};\n                for (i=0; i<result.members.length; i++) {\n                    var light_type= (result.members[i].object_type == 'binary_switch' ? 'binary_switches' : result.members[i].object_type+'s');\n                    for (var name in context.global.winkState[light_type])\n                    {\n                        if (context.global.winkState[light_type][name].object_id == result.members[i].object_id) \n                        {\n                            context.global.winkState[type][key].members[name] = { \n                                    name:name,\n                                    object_id:result.members[i].object_id,\n                                    object_type:light_type\n                                };\n                            }\n                        }\n                    }\n                }\n                \n        }\n\n        if (type=='cameras' && result.manufacturer_device_model!=='canary' ){\n//        if (typeof(context.global.winkState[type][key].activities)==='undefined') context.global.winkState[type][key].activities=[]\n        context.global.winkState[type][key].manufacturer_device_model = result.manufacturer_device_model;\n        context.global.winkState[type][key].url = context.global.BlueMixUrlBase+\"/freeboard/camera?token=\"+context.global.FREEBOARD_TOKEN+\"&id=\"+context.global.winkState.cameras[key].object_id+\"&model=\"+context.global.winkState.cameras[key].manufacturer_device_model;\n        context.global.winkState[type][key].snap_url = context.global.BlueMixUrlBase+\"/freeboard/camera?token=\"+context.global.FREEBOARD_TOKEN+\"&id=\"+context.global.winkState.cameras[key].object_id+\"&model=\"+context.global.winkState.cameras[key].manufacturer_device_model;\n        context.global.winkState[type][key].history_url = context.global.BlueMixUrlBase+\"/freeboard/cameraSnapshots?token=\"+context.global.FREEBOARD_TOKEN+\"&camera_name=\"+key;\n        context.global.winkState[type][key].refresh_time=30;\n        }\n\n        readings = result.last_reading;\n        for (prop in readings) {\n            len = prop.length;\n            if ((prop.indexOf('desired_') === -1) && (prop.lastIndexOf('_at') !== (len - 3))) {\n                context.global.winkState[type][key][prop] = readings[prop];\n            }\n        }\n        if (type=='door_bells') {\n            if (!('sensor_pods' in context.global.winkState)) context.global.winkState.sensor_pods={};\n            context.global.winkState.sensor_pods[key]=context.global.winkState[type][key];\n            context.global.winkState.sensor_pods[key].object_type='sensor_pods';\n        }\n        reading_aggregations = result.reading_aggregation;\n        for (agg_prop in reading_aggregations) {\n            context.global.winkState[type][key][agg_prop]=reading_aggregations[agg_prop];\n        }\n        \n        capabilities = result.capabilities;\n        for (capb in capabilities) {\n            if(!context.global.winkDevCap[key]) context.global.winkDevCap[key]={};\n            if(!context.global.winkDevCap[key][capb]) context.global.winkDevCap[key][capb]={};\n          context.global.winkDevCap[key][capb]=capabilities[capb];\n        }\n        \n        outlets = result.outlets;\n        for (outl in outlets) {\n         if (!context.global.winkState[type][outlets[outl].name]) context.global.winkState[type][outlets[outl].name] = {};\n        context.global.winkState[type][outlets[outl].name]=outlets[outl];\n        }\n        \n        \n        if (!!result.linked_service_id) context.global.winkState[type][key].connection = !result.invalidated_at;\n\n        if (!updateP) return;\n        if (!context.global.winkState.lastUpdates) context.global.winkState.lastUpdates = [];\n        if (type!=='groups'){\n        context.global.winkState[type][key].timestamp = new Date();\n        context.global.winkState.lastUpdates.splice(0, 0, context.global.winkState[type][key]);\n        if (context.global.winkState.lastUpdates.length > 15) context.global.winkState.lastUpdates.pop();\n        }\n        //addind special array for motion sensors to check how often they occur\n        if (type == \"sensor_pods\" && typeof (context.global.winkState[type][key].motion) !== 'undefined') {\n        context.global.winkState[type][key].timestamp= new Date();\n        if (!context.global.winkState.motionUpdates) context.global.winkState.motionUpdates=[];\n        context.global.winkState.motionUpdates.splice(0, 0, context.global.winkState[type][key]);\n        if (context.global.winkState.motionUpdates.length > 30) context.global.winkState.motionUpdates.pop();\n        }\n        \n    });\n};\n\n//global functions to generate wink cmd message for various objects\n\ncontext.global.takeCameraSnapshot = function(camera,event){\n    var cameraMsg={};\n    if (camera in context.global.winkState.cameras){\n        cameraMsg ={\n        \"url\":context.global.BlueMixUrlBase+'/red/save_images?cam_list='+camera+'&object_name='+event,\n        \"method\": \"GET\",\n            headers: {\n                \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n            }\n        };\n    }\n    return cameraMsg;\n};\n\ncontext.global.executeEffectCMD = function(effect,o_name,o_type,min,max,period,repeat,delay){\n   if ('new_version' in context.global && context.global.new_version){\n    var EffectMsg;\n    switch (effect.toLowerCase()){\n        case 'fadein':\n        case 'fadeout':\n        EffectMsg = {\n            \"url\":context.global.BlueMixUrlBase+'/red/ifttt/effects/'+effect.toLowerCase(),\n            method: \"POST\",\n            headers: {\n                \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n            },\n            payload:{\n                \"winkName\":o_name,\n                \"type\":o_type,\n                \"min\":min,\n                \"max\":max,\n                \"period\":period\n            }\n        }\n        break;\n        case 'pulse':\n                EffectMsg = {\n            \"url\":context.global.BlueMixUrlBase+'/red/ifttt/effects/'+effect.toLowerCase(),\n            method: \"POST\",\n            headers: {\n                \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n            },\n            payload:{\n                \"winkName\":o_name,\n                \"type\":o_type,\n                \"min\":min,\n                \"max\":max,\n                \"repeat\":repeat || 1,\n                \"delay\" : delay || period\n            }\n        }\n        break;\n    }\n    return EffectMsg;\n   } else return;\n};\ncontext.global.executeWinkCMD = function (winkName,type,cmd,level) {\nif ('new_version' in context.global && context.global.new_version){    \nvar WinkCMDmsg;\n    if (context.global.DEBUG ) node.warn(winkName+' '+type+' '+cmd)\ntry {\nswitch (type.toLowerCase()) {\ncase 'garage':\nif (winkName in context.global.winkState.garage_doors)\n{\n   WinkCMDmsg ={\n    \"url\":\"https://winkapi.quirky.com/garage_doors/\"+context.global.winkState.garage_doors[winkName].object_id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"position\":(cmd.toLowerCase() ==\"open\" ? 1:0)\n        }\n    }\n};\n}\nbreak;\ncase 'robot':\nif (winkName in context.global.winkState.robots)\n{\n   WinkCMDmsg ={\n    \"url\":\"https://winkapi.quirky.com/robots/\"+context.global.winkState.robots[winkName].object_id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"enabled\":(cmd.toLowerCase() ==\"enable\" ? true:false)\n        }\n    }\n};\n}\nbreak;    \ncase 'lock':\nif (winkName in context.global.winkState.locks)\n{\n   WinkCMDmsg ={\n    \"url\":\"https://winkapi.quirky.com/locks/\"+context.global.winkState.locks[winkName].object_id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"locked\":(cmd.toLowerCase() ==\"lock\" ? true:false)\n        }\n    }\n};\n}\nbreak;\ncase 'light':\nif ('light_bulbs' in context.global.winkState && winkName in context.global.winkState.light_bulbs){\n    if(context.global.winkState.light_bulbs[winkName].device_manufacturer==\"lifx\")\n    {\n        WinkCMDmsg ={\n            \"url\":\"https://api.lifx.com/v1/lights/id:\"+context.global.winkState.light_bulbs[winkName].object_id+\"/state\",\n            \"method\": \"PUT\",\n            headers: {\n                \"Authorization\": \"Bearer \"+context.global.LIFX_TOKEN,\n                \"Content-Type\":\"application/json\"\n            },\n            payload: {\n                power:(cmd.toLowerCase()==\"on\" ? \"on\":\"off\"),\n                brightness: level/100,\n                \"duration\": 1\n            }\n        };\n    }\n    else {\n WinkCMDmsg ={\n    \"url\":\"https://winkapi.quirky.com/light_bulbs/\"+context.global.winkState.light_bulbs[winkName].object_id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"powered\":(cmd.toLowerCase() ==\"on\" ? true:false),\n            \"brightness\": level/100\n        }\n    }\n };\n}   \n} else if('binary_switches' in context.global.winkState && winkName in context.global.winkState.binary_switches){\n WinkCMDmsg ={\n    \"url\":\"https://winkapi.quirky.com/binary_switches/\"+context.global.winkState.binary_switches[winkName].object_id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"powered\":(cmd.toLowerCase() ==\"on\" ? true:false)\n        }\n    }\n};\n} else if('powerstrips' in context.global.winkState && winkName in context.global.winkState.powerstrips && context.global.winkState.powerstrips[winkName].object_type==='outlet'){\n WinkCMDmsg ={\n    \"url\":\"https://winkapi.quirky.com/outlets/\"+context.global.winkState.powerstrips[winkName].object_id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"powered\":(cmd.toLowerCase() ==\"on\" ? true:false)\n        }\n    }\n};\n}\nbreak;\ncase 'group':\nif (winkName in context.global.winkState.groups){\n    if (context.global.DEBUG ) node.warn(context.global.winkState.groups[winkName]);\n WinkCMDmsg ={\n    \"url\":\"https://winkapi.quirky.com/groups/\"+context.global.winkState.groups[winkName].object_id+\"/activate\",\n    \"method\": \"POST\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"powered\":(cmd.toLowerCase() ==\"on\" ? true:false),\n            \"brightness\": level/100\n        }\n    }\n  };\n }\nbreak;\ncase 'shortcut':\nif (winkName in context.global.winkState.scenes){\n WinkCMDmsg ={\n    \"url\":\"https://winkapi.quirky.com/scenes/\"+context.global.winkState.scenes[winkName].object_id+\"/activate\",\n    \"method\": \"POST\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    }\n  };\n }\nbreak;\ndefault:\nWinkCMDmsg={url:'not defined'};\n}\n    if (context.global.DEBUG ) node.warn(WinkCMDmsg.url);\nreturn WinkCMDmsg;\n}\ncatch (error){\n        if (context.global.DEBUG ) node.warn('execute WINK CMD error: '+ error.message);\n}\n} else return;\n};\n\ncontext.global.sendViaPushBullet = function(type,title,body){\n    Pmsg= {\n        \"url\":\"https://api.pushbullet.com/v2/pushes\",\n        \"method\": \"POST\",\n        headers: {\n            \"Access-Token\":context.global.PushBulletKey,\n            \"Content-Type\":\"application/json\",\n        },\n        payload: {\n            \"type\"  : type,\n            \"title\" : title,\n            \"body\"  : body\n        }\n    }\n    return Pmsg;\n}\n\ncontext.global.genKey=function(s){\n    var str=\"\";\n    for (i=0;i<s.length;i++){\n        str+=String.fromCharCode(~s[i]);\n    }\n    return str || null;\n};\n\ncontext.global.algorithm = 'aes-256-ctr';\n\ncontext.global.encrypt=function(text){\n  var cipher = context.global.CRYPTO.createCipher(context.global.algorithm,context.global.FREEBOARD_TOKEN);\n  var crypted = cipher.update(text,'utf8','hex');\n  crypted += cipher.final('hex');\n  return crypted;\n};\n \ncontext.global.decrypt=function(text){\n  var decipher = context.global.CRYPTO.createDecipher(context.global.algorithm,context.global.FREEBOARD_TOKEN);\n  var dec = decipher.update(text,'hex','utf8');\n  dec += decipher.final('utf8');\n  return dec;\n};\n\ncontext.global.getCookie=function(cname,req_cookies) {\n    var name = cname + \"=\";\n    if (typeof(req_cookies) !=='undefined' ){\n    var ca = req_cookies.split(';');\n    for(var i=0; i<ca.length; i++) {\n        var c = ca[i];\n        while (c.charAt(0)==' ') c = c.substring(1);\n        if (c.indexOf(name) === 0) return c.substring(name.length,c.length);\n    }\n  } else return '0';\n};\n\ncontext.global.getBISession = function (req_cookies)\n {\n\tvar i,x,y,ARRcookies=document.cookie.split(\";\");\n\tfor (i=0; i<ARRcookies.length; i++ )\n\t{\n\t\tx=ARRcookies[i].substr(0,ARRcookies[i].indexOf(\"=\"));\n\t\ty=ARRcookies[i].substr(ARRcookies[i].indexOf(\"=\")+1);\n\t\tx=x.replace(/^\\s+|\\s+$/g,\"\");\n\n\t\tif (x==\"session\")\n\t\t{\n\t\t\treturn unescape(y);\n\t\t}\n\t}\n };\n\ncontext.global.render_home_components = function(grp,name) {\n    var pct = function(value) {\n    return ((value > 1.0 ? value : value * 100).toFixed(0) + '%');\n    };\n    var dual_temp = function (value) {\n    return (typeof value === 'number' ? (value.toFixed(1) + 'C / ' + ((value * 1.8) + 32).toFixed(1) + 'F') : '');\n    };\n    \n    var all=context.global.winkState.groups['.all'];\n    var l=context.global.winkState.groups['@lights'];\n    var doors = ('@door_sensors' in context.global.winkState.groups ? context.global.winkState.groups['@door_sensors'].opened : false);\n    var sdoors = ('@sliding_door_sensors' in context.global.winkState.groups ? context.global.winkState.groups['@sliding_door_sensors'].opened : false);\n    var cab_doors = ('@cabinet_sensors' in context.global.winkState.groups ? context.global.winkState.groups['@cabinet_sensors'].opened :false);\n    var windows = ('@window_sensors' in context.global.winkState.groups ? context.global.winkState.groups['@window_sensors'].opened : false);\n    //var g_doors = ('@garage_door_sensors' in context.global.winkState.groups ? context.global.winkState.groups['@garage_door_sensors'].opened : false);\n    if ('garage_doors' in context.global.winkState){\n        var g_doors={\n            'and':false,\n            'or': false,\n            'true_count':0,\n            'false_count':0\n        };\n        for (var gd in context.global.winkState.garage_doors){\n            if (context.global.winkState.garage_doors[gd].position>0){\n                g_doors.and=true;\n                g_doors.or=true;\n                g_doors.true_count++;\n            } else g_doors.false_count++\n        }\n    } else g_doors=false;\n    var total_doors = {\n        'and': (doors ? doors.and : false) || (sdoors ? sdoors.and : false),\n        'or': (doors ? doors.or : false) || (sdoors ? sdoors.or : false),        \n        'true_count':(doors ? doors.true_count : 0) + (sdoors ? sdoors.true_count : 0),\n        'false_count':(doors ? doors.false_count : 0) + (sdoors ? sdoors.false_count : 0)        \n    };\n    var NewMsg={\n    payload:{\n        home_components:[]\n        }\n    }\n    if (grp==='.all' || grp.indexOf('_sensors')!=-1 || grp==='garage_door') \n    { \n         if ('temperature' in context.global.winkState.groups['.all']){\n            NewMsg.payload.home_components.push(\n                {\n                    type:'temperature',\n                    icon:'wi wi-home-icon wi-thermometer',\n                    label:\"Temperature\",\n                    value:dual_temp(all.temperature.average),\n                    icon_color:(all.temperature.average<10 || all.temperature.average > 50 ? 'detail-warning' : 'detail-ok')\n                });\n        }\n        if ('humidity' in context.global.winkState.groups['.all']){\n            NewMsg.payload.home_components.push(\n                {\n                    type:'humidity',\n                    icon:'wi wi-home-icon wi-humidity',\n                    label:\"Humidity\",\n                    value:pct(all.humidity.average),\n                    icon_color:(all.humidity.average < 0.1 || all.humidity.average > 90 ? 'detail-warning' : 'detail-ok')\n                });\n        }\n        if ('smoke_detected' in context.global.winkState.groups['.all']){\n            NewMsg.payload.home_components.push(\n                {\n                    type:'smoke_detected',\n                    icon:'wi wi-home-icon cicon-fire',\n                    label:\"Smoke\",\n                    value:(all.smoke_detected.and || all.smoke_detected.or ? \"Fire!!\" : \"OK\"),\n                    icon_color: (all.smoke_detected.and || all.smoke_detected.or ? \"detail-danger\" : \"detail-ok\")\n                });\n            NewMsg.payload.home_components.push(\n                {\n                    type:'co_detected',\n                    icon:'wi wi-home-icon cicon-CO2',\n                    label:\"CO2\",\n                    value:(all.co_detected.and || all.co_detected.or ? \"CO2!!\" : \"OK\"),\n                    icon_color:(all.co_detected.and || all.co_detected.or ? \"detail-danger\" : \"detail-ok\"),\n                });\n        }\n        if ('liquid_detected' in context.global.winkState.groups['.all'])\n        {\n            NewMsg.payload.home_components.push(\n                {\n                type:'liquid_detected',\n                icon:'wi wi-home-icon cicon-droplet',\n                label:\"Leaks\",\n                value:(all.liquid_detected.and || all.liquid_detected.or ? \"Leak detected!!\" : \"No Leaks\"),\n                icon_color:(all.liquid_detected.and || all.liquid_detected.or ?  \"detail-danger\" : \"detail-ok\")\n            });\n        }\n        if ('motion' in context.global.winkState.groups['.all']){\n            NewMsg.payload.home_components.push(\n                {\n                    type:'motion',\n                    icon:'wi wi-home-icon cicon-feed',\n                    label:\"Motion\",\n                    value:(all.motion.and || all.motion.or ? \"Motion\" : \"No Motion\"),\n                    icon_color:(all.motion.and || all.motion.or ?  'detail-warning' : 'detail-ok')\n                });\n        }\n        if ('locked' in context.global.winkState.groups['.all']){\n            NewMsg.payload.home_components.push(\n                {\n                    type:'locked', \n                    icon:'wi wi-home-icon cicon-doors4',\n                    label:\"Locks\",\n                    value:(all.locked.and || all.locked.or ? all.locked.true_count+\" Locked\" : all.locked.false_count+\" Unlocked\"),\n                    icon_color:(all.locked.and || all.locked.or ?  'detail-ok' : 'detail-warning')\n                });\n        };\n        \n        if (doors || sdoors ||cab_doors){\n//      if ('opened' in context.global.winkState.groups['@sliding_door_sensors'] || 'opened' in context.global.winkState.groups['@door_sensors'] || 'opened' in context.global.winkState.groups['@cabinet_sensors']){\n            NewMsg.payload.home_components.push(\n                {\n                    type:'d_opened',\n                    icon:'wi wi-home-icon '+(total_doors.and || total_doors.or ? 'cicon-opened_door':'cicon-closed_door'),\n                    label:\"Doors\",\n                    value:(total_doors.and || total_doors.or ? total_doors.true_count+\" Opened\" : total_doors.false_count+\" Closed\"),\n                    icon_color:(total_doors.and || total_doors.or ?  'detail-warning' : 'detail-ok')\n                });\n        }        \n        if (cab_doors){\n//      if ('opened' in context.global.winkState.groups['@sliding_door_sensors'] || 'opened' in context.global.winkState.groups['@door_sensors'] || 'opened' in context.global.winkState.groups['@cabinet_sensors']){\n            NewMsg.payload.home_components.push(\n                {\n                    type:'c_opened',\n                    icon:'wi wi-home-icon '+(cab_doors.and || cab_doors.or ? 'cicon-cabinet_door':'cicon-cabinet_door'),\n                    label:\"Cabinets\",\n                    value:(cab_doors.and || cab_doors.or ? cab_doors.true_count+\" Opened\" : cab_doors.false_count+\" Closed\"),\n                    icon_color:(cab_doors.and || cab_doors.or ?  'detail-warning' : 'detail-ok')\n                });\n        }        \n        if ('@window_sensors' in context.global.winkState.groups && 'opened' in context.global.winkState.groups['@window_sensors']){\n            NewMsg.payload.home_components.push(\n                {\n                    type:'w_opened',\n                    icon:'wi wi-home-icon '+(windows.and || windows.or ? 'cicon-windows2':'cicon-windows2'),\n                    label:\"Windows\",\n                    value:(windows.and || windows.or ? windows.true_count+\" Opened\" : windows.false_count+\" Closed\"),\n                    icon_color:(windows.and || windows.or ?  'detail-warning' : 'detail-ok')\n                });\n        }\n        if (g_doors){\n//      if ('opened' in context.global.winkState.groups['@sliding_door_sensors'] || 'opened' in context.global.winkState.groups['@door_sensors'] || 'opened' in context.global.winkState.groups['@cabinet_sensors']){\n            NewMsg.payload.home_components.push(\n                {\n                    type:'g_opened',\n                    icon:'wi wi-home-icon '+(g_doors.and || g_doors.or ? 'cicon-garage_o':'cicon-garage_c'),\n                    label:\"Garages\",\n                    value:(g_doors.and || g_doors.or ? g_doors.true_count+\" Opened\" : g_doors.false_count+\" Closed\"),\n                    icon_color:(g_doors.and || g_doors.or ?  'detail-warning' : 'detail-ok')\n                });\n        }         \n        if ('light_bulbs' in context.global.winkState || 'binary_switches' in context.global.winkState){\n                NewMsg.payload.home_components.push(\n                    {\n                    type:'lights',\n                    icon:'wi wi-home-icon cicon-bulb',\n                    label:\"Lights\",\n                    value:(l.powered.and || l.powered.or ? l.powered.true_count+\" ON\" : l.powered.false_count+\" OFF\"),\n                    icon_color:(l.powered.and || l.powered.or ? 'detail-warning' : 'detail-ok')\n                    });\n        }        \n        if ('remaining' in context.global.winkState.groups['.all']){\n                if (context.global.DEBUG ) node.warn('adding propane tanks')\n            NewMsg.payload.home_components.push(\n                {\n                    type:'propane',\n                    icon:'wi wi-home-icon ' + (all.remaining.min <=0.50  ? 'cicon-propane_tnk_half' : 'cicon-propane_tnk_full'),\n                    label:\"Propane\",\n                    value:pct(all.remaining.min),\n                    icon_color:(all.remaining.min <0.10  ?  'detail-danger' : all.remaining.min <=0.50 ? 'detail-warning' : 'detail-ok')\n                });\n        }    \n        if ('battery' in context.global.winkState.groups['.all']){\n            if (context.global.DEBUG ) node.warn('adding batteries')\n        NewMsg.payload.home_components.push(\n            {\n                type:'battery',\n                icon:'fa wi-home-icon '+(all.battery.min <0.25  ? 'fa-battery-quarter': all.battery.min <=0.50  ? 'fa-battery-half' : 'fa-battery-full'),\n                label:\"Battery\",\n                value:(all.battery.min <0.10  ? \"Check\" : all.battery.min <=0.50  ? pct(all.battery.min) :\"OK\"),\n                icon_color:(all.battery.min <0.10  ?  'detail-danger' : all.battery.min <=0.50  ?  'detail-warning' : 'detail-ok')\n            });\n        }\n        if ('Presence' in context.global && Object.getOwnPropertyNames(context.global.Presence).length > 0){\n        NewMsg.payload.home_components.push(\n            {\n                type:'presense',\n                icon:'wi wi-home-icon '+(context.global.checkPresence()  ? 'cicon-building_full': 'cicon-building_emtpy'),\n                label:\"Presence\",\n                value:(context.global.checkPresence()  ? \"Occupied\" : \"Empty\"),\n                icon_color:(context.global.checkPresence()   ?  'detail-ok' : 'detail-warning')\n            });            \n        }\n    }        \n    if (grp=='@lights') {\n        if ('light_bulbs' in context.global.winkState || 'binary_switches' in context.global.winkState){\n                NewMsg.payload.home_components.push(\n                    {\n                    type:'lights',\n                    icon:'wi wi-home-icon cicon-bulb',\n                    label:\"Lights\",\n                    value:(l.powered.and || l.powered.or ? l.powered.true_count+\" ON\" : l.powered.false_count+\" OFF\"),\n                    icon_color:(l.powered.and || l.powered.or ? 'detail-warning' : 'detail-ok')\n                    });\n        }\n    }\n    if (grp=='Presence'){\n        if ('Presence' in context.global && Object.getOwnPropertyNames(context.global.Presence).length > 0){\n        NewMsg.payload.home_components.push(\n            {\n                type:'presense',\n                icon:'wi wi-home-icon '+(context.global.checkPresence()  ? 'cicon-building_full': 'cicon-building_emtpy'),\n                label:\"Presence\",\n                value:(context.global.checkPresence()  ? \"Occupied\" : \"Empty\"),\n                icon_color:(context.global.checkPresence()   ?  'detail-ok' : 'detail-warning')\n            });            \n        }\n    }\n    if (grp=='VarS'){\n        if (name in context.global){\n        NewMsg.payload.home_components.push(\n            {\n                type:'VarS',\n                label:name,\n                value:context.global[name]\n            });            \n        }\n    }    \n    return NewMsg;\n};\n\ncontext.global.sendWithTimeout = function(node1,m,delay){\n    setTimeout(function(){node1.send(m);},delay);\n}     \n\ncontext.global.getRandomNumber = function(min,max) {\n    return Math.floor(Math.random()*(max-min+1)+min);\n}\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 394,
    "y": 103,
    "wires": [
      [
        "2d00245b.d2ffdc"
      ]
    ]
  },
  {
    "id": "725b5118.8da4b",
    "type": "debug",
    "z": "6f62cc19.909d34",
    "name": "",
    "active": false,
    "console": "true",
    "complete": "payload",
    "x": 1212,
    "y": 503,
    "wires": []
  },
  {
    "id": "fddfd7dd.022028",
    "type": "debug",
    "z": "6f62cc19.909d34",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1055,
    "y": 468,
    "wires": []
  },
  {
    "id": "29b156e5.d64eaa",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "//context.global.DEBUG=true;\n context.global.useRobots=true;\nnode.warn('Debug mode on');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 294,
    "y": 980.0000305175781,
    "wires": [
      []
    ]
  },
  {
    "id": "a9e18693.561e78",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "Turn Debug On",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 125,
    "y": 978,
    "wires": [
      [
        "29b156e5.d64eaa"
      ]
    ]
  },
  {
    "id": "ea8fa4e1.157058",
    "type": "function",
    "z": "6f62cc19.909d34",
    "name": "",
    "func": "context.global.DEBUG=false;\n context.global.useRobots=false;\nnode.warn('Debug mode off');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 291,
    "y": 1023.0000305175781,
    "wires": [
      []
    ]
  },
  {
    "id": "d22ea3d0.2dd16",
    "type": "inject",
    "z": "6f62cc19.909d34",
    "name": "Turn Debug Off",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 122,
    "y": 1021,
    "wires": [
      [
        "ea8fa4e1.157058"
      ]
    ]
  },
  {
    "id": "b2b09481.4d4f68",
    "type": "debug",
    "z": "6f62cc19.909d34",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 484,
    "y": 649,
    "wires": []
  }
]
