Flows/Bluemix/winkIntegration.json
[
  {
    "id": "918a7154.6e759",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "",
    "func": "var avgtemp=0;\nvar avghumidity=0;\nvar numthermos=0;\nvar numhumidities=0;\nmsg.payload={\n    \"thermostats\":context.global.Ecobee.Thermostats,\n    \"sensor_pods\":context.global.Ecobee.Sensors\n};\nif (typeof context.global.winkState.thermostats=='undefined'){ context.global.winkState.thermostats = new Object(); }\nfor (var name in msg.payload.thermostats)\n{\n//    node.warn(\"Importing: \"+name+\" thermostat\");\n    context.global.winkState.thermostats[name]={\n        \"name\":name,\n        \"object_type\": msg.payload.thermostats[name].object_type,\n        \"object_id\": msg.payload.thermostats[name].object_id,\n        \"freeboard\": 0,\n        \"connection\": msg.payload.thermostats[name].connection,\n        \"min_set_point\": (msg.payload.thermostats[name].min_set_point-32)*(5/9),\n        \"max_set_point\": (msg.payload.thermostats[name].max_set_point-32)*(5/9),\n        \"mode\": msg.payload.thermostats[name].mode,\n        \"temperature\": (msg.payload.thermostats[name].temperature-32)*(5/9),\n        \"humidity\": msg.payload.thermostats[name].humidity,\n        \"users_away\":false\n    };\n    if (msg.payload.thermostats[name].temperature){ avgtemp+=(msg.payload.thermostats[name].temperature-32)*(5/9); numthermos++; }\n    if (msg.payload.thermostats[name].humidity){ avghumidity+=(msg.payload.thermostats[name].humidity); numhumidities++; }\n}\n\navgtemp=avgtemp/numthermos;\navghumidity=avghumidity/numhumidities;\n\nif (typeof context.global.winkState.groups[\".sensors\"].temperature=='undefined'){ context.global.winkState.groups[\".sensors\"].temperature = new Object(); }\nif (typeof context.global.winkState.groups[\".sensors\"].humidity=='undefined'){ context.global.winkState.groups[\".sensors\"].humidity = new Object(); }\ncontext.global.winkState.groups[\".sensors\"].temperature={\n    average:avgtemp\n};\ncontext.global.winkState.groups[\".sensors\"].humidity={\n    average:avghumidity\n};\n\n//node.warn(\"Ecobee Thermostat import finished\");\n\nfor (var name in msg.payload.sensor_pods)\n{\n//    node.warn(\"Importing: \"+name+\" sensor pod\");\n    context.global.winkState.sensor_pods[name]={\n        \"name\":name,\n        \"object_type\":msg.payload.sensor_pods[name].object_type,\n        \"object_id\":msg.payload.sensor_pods[name].object_id,\n        \"freeboard\":0,\n    }\n    if (msg.payload.sensor_pods[name].motion==\"true\"){context.global.winkState.sensor_pods[name].motion=true}\n    else if (msg.payload.sensor_pods[name].motion==\"false\"){context.global.winkState.sensor_pods[name].motion=false}\n    context.global.winkDevCap[name]={\n        \"sensor_types\":[{}]\n    }\n    context.global.winkDevCap[name].sensor_types=[{\n            \"field\":\"motion\",\n            \"type\":\"boolean\"\n        }]\n}\n\n//node.warn(\"Ecobee Remote Sensor import finished\");\nvar newMsg={\n    \"payload\":\"Ecobee Thermostat and Remote Sensor Data imported successfully\"\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 280.5,
    "y": 776.5,
    "wires": [
      [
        "cbcbc665.343438"
      ]
    ]
  },
  {
    "id": "865cb796.79a348",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "",
    "func": "var WinkCMDmsg={};\nvar web_req=(context.global.getCookie('exchange_token',msg.req.headers.cookie)=='0' ? false:true);\n\nif (msg.payload.iftttkey==context.global.IFTTT_TOKEN || msg.payload.iftttkey==context.global.FREEBOARD_TOKEN) web_req=true;\nif (web_req)\n{\n    if ('ifttt' in  msg.payload)\n    {\n      context.global.ifttt=(msg.payload.ifttt.toLowerCase()==\"on\" ? true:false)\n      msg.res.StatusCode=200;\n      return [msg];\n    }\n    if ('winkName' in msg.payload)\n    {\n//    node.warn('Name '+msg.payload.winkName)\n    if ('cmd' in msg.payload)\n    {\n        cmd=msg.payload.cmd\n    } else cmd='on' \n    if ('level' in msg.payload)\n    {\n        level=msg.payload.level\n    }  else level= (cmd.toLowerCase() =='on' ? 100 : 0)\n//    node.warn(level)\n    WinkCMDmsg = context.global.executeWinkCMD(msg.payload.winkName,msg.payload.type,msg.payload.cmd,level);\n    msg.statusCode=200;\n//    node.warn('Message '+ JSON.stringify(WinkCMDmsg))\n    }\n}\nelse {\n    node.warn(\"ifttt messages bad request\")\n     msg.statusCode=403;\n     return [msg,null];\n}\nif (WinkCMDmsg!==\"\")\n{\n    return [msg,WinkCMDmsg];\n}\nelse\n{\nreturn [msg,null];\n}",
    "outputs": "2",
    "noerr": 0,
    "x": 649.5,
    "y": 225.49993896484375,
    "wires": [
      [
        "2bcdd714.d43228"
      ],
      [
        "7cc05454.833fac"
      ]
    ]
  },
  {
    "id": "14602831.eb9fd8",
    "type": "http in",
    "z": "17b3daf5.e84c25",
    "name": "",
    "url": "/red/ifttt",
    "method": "post",
    "swaggerDoc": "",
    "x": 105.5,
    "y": 238.5,
    "wires": [
      [
        "29a586b4.d65a7a"
      ]
    ]
  },
  {
    "id": "2bcdd714.d43228",
    "type": "http response",
    "z": "17b3daf5.e84c25",
    "name": "",
    "x": 812.5,
    "y": 221.49993896484375,
    "wires": []
  },
  {
    "id": "5a8384e7.a57c7c",
    "type": "comment",
    "z": "17b3daf5.e84c25",
    "name": "IFTTT Integration-------------------------------------------------------------------------------------------------------------------------------",
    "info": "",
    "x": 441.5,
    "y": 172.5,
    "wires": []
  },
  {
    "id": "7cc05454.833fac",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 791.5,
    "y": 265.49993896484375,
    "wires": [
      [
        "f0a7a49e.0f5858"
      ]
    ]
  },
  {
    "id": "1366d620.ec992a",
    "type": "comment",
    "z": "17b3daf5.e84c25",
    "name": "Wink API Apdex-------------------------------------------------------------------------------------------------------------------------------",
    "info": "",
    "x": 440.5,
    "y": 328.49993896484375,
    "wires": []
  },
  {
    "id": "968f75fd.697088",
    "type": "inject",
    "z": "17b3daf5.e84c25",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "600",
    "crontab": "",
    "once": true,
    "x": 138.5,
    "y": 368.4998779296875,
    "wires": [
      [
        "b31b0fc.f4ce4f"
      ]
    ]
  },
  {
    "id": "b31b0fc.f4ce4f",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "",
    "func": "var newMsg ={\n    \"url\":\"http://status.winkapp.com/metrics-display/009ykpcmnm25/day.json\",\n    \"method\":\"GET\",\n    headers: {\n        \"Content-Type\":\"application/json\"\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 271.5,
    "y": 369.49993896484375,
    "wires": [
      [
        "6747a621.98b858"
      ]
    ]
  },
  {
    "id": "6747a621.98b858",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 490.5,
    "y": 381.49993896484375,
    "wires": [
      [
        "b99b262f.4664d8"
      ]
    ]
  },
  {
    "id": "b99b262f.4664d8",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "",
    "func": "if ('metrics' in msg.payload && msg.payload.metrics.length>0){\ncontext.global.winkState.winkAPI = \"\";\nwinkAPI=\"\";\n        for(j = 0; j<msg.payload.metrics[0].data.length; j++)\n        {\n            winkAPI = msg.payload.metrics[0].data[j].value;\n        }\ncontext.global.winkState.winkAPI=winkAPI;\nvar newMsg={\n    payload:\"Wink Apdex is currently: \"+context.global.winkState.winkAPI\n};\nreturn newMsg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 706.5,
    "y": 369.49993896484375,
    "wires": [
      []
    ]
  },
  {
    "id": "8d68704a.72979",
    "type": "comment",
    "z": "17b3daf5.e84c25",
    "name": "DromCam/NestCam Integration-------------------------------------------------------------------------------------------------------------------------------",
    "info": "",
    "x": 490.5,
    "y": 428.9998779296875,
    "wires": []
  },
  {
    "id": "5424a5cb.abdb5c",
    "type": "comment",
    "z": "17b3daf5.e84c25",
    "name": "Presence  via IFTTT/Tasker/etc. -------------------------------------------------------------------------------------------------------------------------------",
    "info": "",
    "x": 490,
    "y": 529.9998779296875,
    "wires": []
  },
  {
    "id": "cf2d137c.30d2f",
    "type": "http in",
    "z": "17b3daf5.e84c25",
    "name": "",
    "url": "/red/presence",
    "method": "post",
    "swaggerDoc": "",
    "x": 170,
    "y": 576.9998779296875,
    "wires": [
      [
        "d8e0a6a6.271f58",
        "e88b798.f177488"
      ]
    ]
  },
  {
    "id": "d8e0a6a6.271f58",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "Update Presence entry",
    "func": "pr_msg={};\n//if (typeof context.global.PresenceHistory === 'undefined') context.global.PresenceHistory=[]\npr_msg.payload={old_value:context.global.checkPresence()}\nif (msg.payload.iftttkey==context.global.IFTTT_TOKEN)\n{\n    node.warn(msg.payload.name+' '+msg.payload.home)\n    if (typeof(context.global.Presence) === 'undefined'){\n    context.global.Presence = {}\n    } else pr_msg.payload.old_presence=context.global.Presence;\n    if (msg.payload.name !=='undefined'){\n        if (!context.global.Presence[msg.payload.name]) context.global.Presence[msg.payload.name]={}\n            context.global.Presence[msg.payload.name].home=msg.payload.home\n        }\n    msg.StatusCode=200;\n    pr_msg.payload.new_value=context.global.checkPresence();\n}\nelse {\n    node.warn(\"presense, bad request\")\n     msg.StatusCode=403;\n     pr_msg.payload.new_value='ERROR';\n}\nreturn [msg,pr_msg];",
    "outputs": "2",
    "noerr": 0,
    "x": 406,
    "y": 577.9998779296875,
    "wires": [
      [
        "40719207.bf8e6c",
        "2eaca861.d15358"
      ],
      [
        "409d263e.bf62d8"
      ]
    ]
  },
  {
    "id": "40719207.bf8e6c",
    "type": "http response",
    "z": "17b3daf5.e84c25",
    "name": "",
    "x": 651,
    "y": 562.9998779296875,
    "wires": []
  },
  {
    "id": "409d263e.bf62d8",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "",
    "func": "var currDate= new Date();\ncurr_presence=context.global.checkPresence()\nif (msg.payload.new_value!=='ERROR' && msg.payload.new_value!==msg.payload.old_value){\n    if('old_presence' in  msg.payload){\n        var HistP={}\n        HistP.timestamp=new Date();\n        HistP.offset=context.global.Weather.Offset\n        HistP.details=msg.payload.old_presence\n        node.warn(HistP)\n        context.global.PresenceHistory.unshift(HistP)\n    }\n    if (context.global.PresenceHistory.length > 15) context.global.PresenceHistory.pop();\n    var scene_name=(msg.payload.new_value ? 'PRESENCE' : 'NO PRESENCE');\n    for (var key in context.global.winkState.scenes){\n        if ( context.global.winkState.scenes[key].name.toUpperCase()==scene_name)\n        {\n            var newMsg ={\n            \"url\":\"https://winkapi.quirky.com/scenes/\"+context.global.winkState.scenes[key].object_id+\"/activate\",\n            \"method\": \"POST\",\n            headers: {\n                \"Authorization\":\"Bearer \"+context.global.WinkToken,\n                \"Content-Type\":\"application/json\"\n                }\n            }\n        node.send(newMsg)\n        return;\n        }\n    }\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 645.8958129882812,
    "y": 649.22216796875,
    "wires": [
      [
        "3a63029a.c59cfe"
      ]
    ]
  },
  {
    "id": "3a63029a.c59cfe",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 844.8958129882812,
    "y": 650.333251953125,
    "wires": [
      []
    ]
  },
  {
    "id": "88b536b2.774ac8",
    "type": "comment",
    "z": "17b3daf5.e84c25",
    "name": "Integration with Ecobee Node Red ----------------------------------------------------------------------------------------------",
    "info": "",
    "x": 390,
    "y": 736.5,
    "wires": []
  },
  {
    "id": "4bd6209a.b429e",
    "type": "http in",
    "z": "17b3daf5.e84c25",
    "name": "",
    "url": "/freeboard/camera",
    "method": "get",
    "swaggerDoc": "",
    "x": 195.49998474121094,
    "y": 474.4999694824219,
    "wires": [
      [
        "a5270863.5ad8f8"
      ]
    ]
  },
  {
    "id": "a5270863.5ad8f8",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "",
    "func": "if (msg.payload.token==context.global.FREEBOARD_TOKEN)\n{\n   if(msg.payload.model.indexOf(\"dropcam\")!=-1){\n   if (typeof msg.payload.cuepoint ==='undefined'){\n   msg.url=\"https://winkapi.quirky.com/cameras/\"+msg.payload.id+\"/image\"\n   msg.method=\"GET\"\n    msg.headers= {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/3.6.0\"\n    }\n} else\n{\n    msg.url=\"https://winkapi.quirky.com/cameras/\"+msg.payload.id+\"/cuepoints/\"+msg.payload.cuepoint+\"/image\"\n   msg.method=\"GET\"\n    msg.headers= {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"User-Agent\":\"Manufacturer/Darwin node/0.10.30 Wink/3.6.0\"\n}\n}\nreturn msg;\n}\n}\nif (typeof msg.payload.model!=='undefined' && msg.payload.model=='foscam'){\n//http://timothyr.no-ip.org:1882/videostream.cgi?uid=admin&pwd=Dfdbkjy5\nfor (var k in context.global.FosCam){\n    if (context.global.FosCam[k].Parameters.id.value==msg.payload.id){\n     msg.method=\"GET\"\n     msg.url=\"http://\"+context.global.FosCam[k].hostname+\"/videostream.cgi?user=\"+context.global.FosCam[k].uid+\"&pwd=\"+context.global.FosCam[k].pwd\n     node.warn(msg.url);\n    return msg;\n    }\n}\n}\nelse {\n    msg.statusCode=\"403\";\n    node.send(msg);\n//    msg.res.send(400,\"Bad Request darling\");\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 450.5,
    "y": 473.4999694824219,
    "wires": [
      [
        "e403a8b0.1bfc58"
      ]
    ]
  },
  {
    "id": "e403a8b0.1bfc58",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "bin",
    "url": "",
    "x": 619.4999847412109,
    "y": 475.4999694824219,
    "wires": [
      [
        "b8b9a5e6.474658"
      ]
    ]
  },
  {
    "id": "b8b9a5e6.474658",
    "type": "http response",
    "z": "17b3daf5.e84c25",
    "name": "",
    "x": 784.4999847412109,
    "y": 476.4999694824219,
    "wires": []
  },
  {
    "id": "829d7182.7d629",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "",
    "func": " var PresenceBkup={\n    Presence: context.global.Presence,\n    PresenceDetail: context.global.PresenceDetail,\n    PresenceHistory: context.global.PresenceHistory\n }\n    var DBMsg={\n        url:context.global.VCAP_SERVICES.cloudantNoSQLDB[0].credentials.url+\"/winkapp\",\n        method:\"POST\",\n        headers: \n            {\n                \"Content-Type\":\"application/json\"\n            },\n        payload: {\n            \"_id\":\"winkPresence\",\n            \"item\":\"Presence\",\n            \"Presence\":PresenceBkup\n        }\n    } \n \n \n //if (msg.payload.total_rows > 0  && msg.payload.rows.map(function(e) { return e.id; }).indexOf('winkPresence')!=-1){\n  if ('_rev' in msg.payload){   \n node.warn('record exists... updating');\n DBMsg.method=\"PUT\";\n DBMsg.url=DBMsg.url+\"/winkPresence\"\n DBMsg.payload._rev=msg.payload._rev;\n //msg.payload.rows.map(function(e) {if(e.id==\"winkPresence\") return e.value._rev; })[0];\n }\nreturn DBMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 924.6041870117188,
    "y": 605.611083984375,
    "wires": [
      [
        "3c21c6a5.c3de3a"
      ]
    ]
  },
  {
    "id": "2eaca861.d15358",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "",
    "func": "if (context.global.CloudantBkUP) {\n    var msg={\n        url:context.global.VCAP_SERVICES.cloudantNoSQLDB[0].credentials.url+\"/winkapp/winkPresence\",\n        method:\"GET\"\n    }\n    node.send(msg); \n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 643.6041870117188,
    "y": 604.611083984375,
    "wires": [
      [
        "82a4e66c.7d5b18"
      ]
    ]
  },
  {
    "id": "82a4e66c.7d5b18",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 786.6041870117188,
    "y": 604.611083984375,
    "wires": [
      [
        "829d7182.7d629"
      ]
    ]
  },
  {
    "id": "3c21c6a5.c3de3a",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1063.6041870117188,
    "y": 604.611083984375,
    "wires": [
      []
    ]
  },
  {
    "id": "71bab036.8e455",
    "type": "inject",
    "z": "17b3daf5.e84c25",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "82800",
    "crontab": "",
    "once": true,
    "x": 98.50003051757812,
    "y": 998.8333129882812,
    "wires": [
      [
        "cdae125a.3251f"
      ]
    ]
  },
  {
    "id": "cdae125a.3251f",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "Try to create DB",
    "func": "if (typeof context.global.VCAP_SERVICES!=='undefined' && 'cloudantNoSQLDB' in context.global.VCAP_SERVICES){\n    var DBmsg={\n        url: context.global.VCAP_SERVICES.cloudantNoSQLDB[0].credentials.url+\"/winkapp\",\n        method:\"PUT\"\n    }\n    node.send(DBmsg);\n} else{\nnode.warn('Cloudant credentials are not present. DB backup will be disabled');\ncontext.global.CloudantBkUP=false;\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 308.5000305175781,
    "y": 999.8332824707031,
    "wires": [
      [
        "79a4a04a.865b6"
      ]
    ]
  },
  {
    "id": "79a4a04a.865b6",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "db req",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 471.5000305175781,
    "y": 999.8332824707031,
    "wires": [
      [
        "2c4034ca.d3bfcc"
      ]
    ]
  },
  {
    "id": "2c4034ca.d3bfcc",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "Check response",
    "func": "if (msg.statusCode=='201' || msg.statusCode=='412')\n{\n    node.warn('Database created or already exists, turning on backup');\n    context.global.CloudantBkUP=true;\n    context.global.CloudantCamera=[];\n    msg.url=context.global.VCAP_SERVICES.cloudantNoSQLDB[0].credentials.url+\"/winkapp/winkPresence\"\n    msg.method=\"GET\"\n    node.send(msg)\n} else {\n    node.warn('issue with cloudant sercvice. backup disabled until next re-try');\n    context.global.CloudantBkUP=false;\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 646.5000305175781,
    "y": 999.8332824707031,
    "wires": [
      [
        "d35bc0bc.2ca44"
      ]
    ]
  },
  {
    "id": "d35bc0bc.2ca44",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 831.3958282470703,
    "y": 1000.72216796875,
    "wires": [
      [
        "8b4b5576.74b4a8"
      ]
    ]
  },
  {
    "id": "8b4b5576.74b4a8",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "restore from db",
    "func": "if (\"Presence\" in msg.payload){\n    node.warn('restoring presence from db backup')\n    context.global.Presence=msg.payload.Presence.Presence\n    context.global.PresenceHistory=msg.payload.Presence.PresenceHistory\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 1021.3958282470703,
    "y": 1000.72216796875,
    "wires": [
      []
    ]
  },
  {
    "id": "7328e5d4.8cd71c",
    "type": "comment",
    "z": "17b3daf5.e84c25",
    "name": "Cloundant DB -------------------------------------------------------------------------------------------------------------------------------",
    "info": "modfy bluemix-settings.json and add following line:\n\ncontext.global.InitialStateKey=\"<your initial state api key>\"",
    "x": 409.5,
    "y": 816.8333129882812,
    "wires": []
  },
  {
    "id": "8bebb8b7.741448",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "Save Snapshots to db",
    "func": "function delay(ms) {\n        var cur_d = new Date();\n        var cur_ticks = cur_d.getTime();\n        var ms_passed = 0;\n        while(ms_passed < ms) {\n            var d = new Date();  // Possible memory leak?\n            var ticks = d.getTime();\n            ms_passed = ticks - cur_ticks;\n            // d = null;  // Prevent memory leak?\n        }\n    }\nif(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN){\nvar msg1=msg;\nvar trigger=msg.payload.object_name;\nvar cam_list=msg.payload.cam_list.split(',');\nmsg1.res.statusCode=\"200\";\nnode.send([msg1,null])\nvar date=new Date()\nfor (var i=0;i<cam_list.length;i++){\n//for (var cam in context.global.winkState.cameras){\n var camera=context.global.winkState.cameras[cam_list[i]]\n var cam=cam_list[i]\nif ('snap_url' in camera && camera.snap_url!=='undefined'){\n    var msg={}\n    msg.url=camera.snap_url\n    msg.method=\"GET\"\n    msg.date=date\n    msg.topic=cam\n    msg.trigger=trigger\n    node.send([null,msg]);\n    delay(400)\n}\n}\n\n} else {\n    msg.statusCode=\"401\";\n    node.send(msg);\n//    msg.res.send(401,\"Bad request\");\n}\nreturn;",
    "outputs": "2",
    "noerr": 0,
    "x": 383.1041717529297,
    "y": 1099.8332824707031,
    "wires": [
      [
        "fe0e7473.01f188"
      ],
      [
        "924421e8.6dbbe"
      ]
    ]
  },
  {
    "id": "924421e8.6dbbe",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "getPic",
    "method": "use",
    "ret": "bin",
    "url": "",
    "x": 607.1041870117188,
    "y": 1105.8332824707031,
    "wires": [
      [
        "9d4d533f.62b2b"
      ]
    ]
  },
  {
    "id": "9d4d533f.62b2b",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "save picture",
    "func": "//if (typeof (context.global.ImageArchive)=== 'undefined') {\n//    context.global.ImageArchive = {}\n//}\n//     for (var n in context.global.winkState.cameras){\n//        if (!(n in context.global.ImageArchive)) context.global.ImageArchive[n]=[]\n//    }\n\n//node.warn('Saving image from '+msg.topic)\n//node.warn(bitmap);\nvar DBmsg={\n         url:context.global.VCAP_SERVICES.cloudantNoSQLDB[0].credentials.url+\"/winkapp\",\n        topic:msg.trigger,\n        method:\"POST\",\n        headers: \n            {\n                \"Content-Type\":\"application/json\"\n            },\n        payload: {\n            \"_id\":msg.topic+'|'+msg.date.getTime()+'|'+msg.trigger,\n            \"key\":\"Snapshot\",\n            \"cameraName\":msg.topic,\n            \"timestamp\":msg.date.getTime(),\n            \"trigger\":msg.trigger,\n            \"fileName\":\"CameraImage.jpg\",\n           \"_attachments\":\n                {\n                    \"CameraImage.jpg\":\n                    {\n                        \"content_type\":\"image/jpeg\",\n                        \"data\":msg.payload.toString('base64')\n                    }\n                }        \n        } \n}\n\n//context.global.ImageArchive[msg.topic].splice(0,0,camObj);\n//if (context.global.ImageArchive[msg.topic].length>10) context.global.ImageArchive[msg.topic].pop()\nreturn DBmsg;",
    "outputs": "1",
    "noerr": 0,
    "x": 764.1041870117188,
    "y": 1103.8332824707031,
    "wires": [
      [
        "dbb7f563.244808"
      ]
    ]
  },
  {
    "id": "dbb7f563.244808",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 926.0000610351562,
    "y": 1104.72216796875,
    "wires": [
      [
        "ff1e156c.00e1e8"
      ]
    ]
  },
  {
    "id": "5851f82c.a7ae08",
    "type": "http in",
    "z": "17b3daf5.e84c25",
    "name": "",
    "url": "/red/save_images",
    "method": "get",
    "swaggerDoc": "",
    "x": 157.6042022705078,
    "y": 1099.72216796875,
    "wires": [
      [
        "8bebb8b7.741448"
      ]
    ]
  },
  {
    "id": "fe0e7473.01f188",
    "type": "http response",
    "z": "17b3daf5.e84c25",
    "name": "",
    "x": 610.9999694824219,
    "y": 1062.72216796875,
    "wires": []
  },
  {
    "id": "ff1e156c.00e1e8",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "cache results",
    "func": "if ('ok' in msg.payload && msg.payload.ok){\n    var cameraname=msg.payload.id.split('|')[0];\n    var tstamp=msg.payload.id.split('|')[1];\n    //node.warn('Camera - ' + cameraname)\n    if (typeof(context.global.winkState.cameras[cameraname].activities)==='undefined') context.global.winkState.cameras[cameraname].activities=[]\n    var cam_act={\n        id:msg.payload.rev,\n        cloudant_id:msg.payload.id,\n        category:\"cuepoint\",\n        cuepoint_id:Math.round(tstamp/1000),\n        trigger:msg.topic,\n        snapshot_url:context.global.BlueMixUrlBase+\"/red/camera_history?img_id=\"+msg.payload.id\n    }\n   context.global.winkState.cameras[cameraname].activities.splice(0,0,cam_act);\n   if (context.global.winkState.cameras[cameraname].activities.length>15){\n    for (var i=15; i<context.global.winkState.cameras[cameraname].activities.length;i++){\n    var doc_id=context.global.winkState.cameras[cameraname].activities[i].cloudant_id\n    var rev=context.global.winkState.cameras[cameraname].activities[i].id\n    if(typeof(doc_id)!=='undefined'){\n    var DBmsg={\n         topic:cameraname,\n         position:i,\n         url:context.global.VCAP_SERVICES.cloudantNoSQLDB[0].credentials.url+\"/winkapp/\"+doc_id+\"?rev=\"+rev,\n        method:\"DELETE\"\n    }\n    node.send(DBmsg);\n    }\n   }\n   }\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 1089.0000610351562,
    "y": 1103.72216796875,
    "wires": [
      [
        "bb28d223.44d73"
      ]
    ]
  },
  {
    "id": "bb28d223.44d73",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1242.0001220703125,
    "y": 1101.72216796875,
    "wires": [
      [
        "f8921464.076de8"
      ]
    ]
  },
  {
    "id": "f8921464.076de8",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "delete old pics",
    "func": "if (('ok' in msg.payload && msg.payload.ok) ||('error' in msg.payload && msg.payload.error=='not_found') ){\n    //node.warn('deleting '+msg.topic+' position '+ msg.position)\n    context.global.winkState.cameras[msg.topic].activities.splice(msg.position,1)\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 1407.0001220703125,
    "y": 1100.72216796875,
    "wires": [
      []
    ]
  },
  {
    "id": "a234d18e.5dcb3",
    "type": "http in",
    "z": "17b3daf5.e84c25",
    "name": "",
    "url": "/red/camera_history",
    "method": "get",
    "swaggerDoc": "",
    "x": 170.00003051757812,
    "y": 1157.72216796875,
    "wires": [
      [
        "65ed065f.9a12f8"
      ]
    ]
  },
  {
    "id": "65ed065f.9a12f8",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "gen CLD url",
    "func": "if ('img_id' in msg.payload){\n    msg.url=context.global.VCAP_SERVICES.cloudantNoSQLDB[0].credentials.url+\"/winkapp/\"+msg.payload.img_id+\"/CameraImage.jpg\"\n    msg.method=\"GET\"\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 382,
    "y": 1157.72216796875,
    "wires": [
      [
        "5a7164e1.a58e9c"
      ]
    ]
  },
  {
    "id": "5a7164e1.a58e9c",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "bin",
    "url": "",
    "x": 543,
    "y": 1159.72216796875,
    "wires": [
      [
        "7e98919e.81677"
      ]
    ]
  },
  {
    "id": "7e98919e.81677",
    "type": "http response",
    "z": "17b3daf5.e84c25",
    "name": "",
    "x": 711,
    "y": 1159.72216796875,
    "wires": []
  },
  {
    "id": "ffcd5367.0032b",
    "type": "http in",
    "z": "17b3daf5.e84c25",
    "name": "",
    "url": "/red/retrieve_activities",
    "method": "get",
    "swaggerDoc": "",
    "x": 169.6042022705078,
    "y": 1252.72216796875,
    "wires": [
      [
        "f21c544b.0de3a8"
      ]
    ]
  },
  {
    "id": "f21c544b.0de3a8",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "get activities from db",
    "func": "if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN){\nvar msg1=msg;\nmsg1.statusCode=\"200\";\nmsg.url=context.global.VCAP_SERVICES.cloudantNoSQLDB[0].credentials.url+\"/winkapp/_all_docs?descending=true\"\nmsg.method=\"GET\"\nmsg.topic=msg.payload.camera_name\nnode.send([msg1,msg])\n} else\n{\n    msg.statusCode=400\n    node.send([msg,null])\n}\nreturn;",
    "outputs": "2",
    "noerr": 0,
    "x": 399.99993896484375,
    "y": 1250.72216796875,
    "wires": [
      [
        "890997fd.76f668"
      ],
      [
        "aa6355be.559ca8"
      ]
    ]
  },
  {
    "id": "aa6355be.559ca8",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 625,
    "y": 1283.72216796875,
    "wires": [
      [
        "9f21045b.60def8"
      ]
    ]
  },
  {
    "id": "9f21045b.60def8",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "cache cam history",
    "func": "if('total_rows' in msg.payload && msg.payload.total_rows>0){\n var db_rows=msg.payload.rows;\n context.global.winkState.cameras[msg.topic].activities=[]\n //db_rows.foreach(function(row){\n for(var i=0;i<db_rows.length;i++){\n     var row=db_rows[i];\n     if(row.id.indexOf(msg.topic)!=-1){\n      var tstamp=row.id.split('|')[1]\n      var cam_act={\n        id:row.value.rev,\n        cloudant_id:row.id,\n        category:\"cuepoint\",\n        cuepoint_id:Math.round(tstamp/1000),\n        trigger:row.id.split('|')[2],\n        snapshot_url:context.global.BlueMixUrlBase+\"/red/camera_history?img_id=\"+row.id\n      } \n      context.global.winkState.cameras[msg.topic].activities.push(cam_act)         \n     }\n }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 803.0000152587891,
    "y": 1283.7221374511719,
    "wires": [
      []
    ]
  },
  {
    "id": "890997fd.76f668",
    "type": "http response",
    "z": "17b3daf5.e84c25",
    "name": "",
    "x": 621.9999694824219,
    "y": 1235.72216796875,
    "wires": []
  },
  {
    "id": "83a56793.7c5a98",
    "type": "inject",
    "z": "17b3daf5.e84c25",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 137,
    "y": 775.7499389648438,
    "wires": [
      [
        "918a7154.6e759"
      ]
    ]
  },
  {
    "id": "cbcbc665.343438",
    "type": "debug",
    "z": "17b3daf5.e84c25",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 432.25,
    "y": 776.5,
    "wires": []
  },
  {
    "id": "c90d411a.36f2c",
    "type": "comment",
    "z": "17b3daf5.e84c25",
    "name": "Integration with LIFX Bulbs ---------------------------------------------------------------------------------------",
    "info": "",
    "x": 361,
    "y": 1509.5,
    "wires": []
  },
  {
    "id": "867045e4.798fb8",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "Throw Config Data",
    "func": "if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN){\n// text fields array\ntxt_fields=[]\ntxt_fields.push({forecastIoApiKey : context.global.forecastIoApiKey || \"\" });\ntxt_fields.push({FREEBOARD_TOKEN : context.global.FREEBOARD_TOKEN || \"\" });\ntxt_fields.push({IFTTT_TOKEN : context.global.IFTTT_TOKEN || \"\" });\ntxt_fields.push({LIFX_TOKEN : context.global.LIFX_TOKEN || \"\" });\ntxt_fields.push({motionAdjustTstat : context.global.motionAdjustTstat || false });\ntxt_fields.push({InitialStateKey : context.global.InitialStateKey ||\"\"});\nmsg.payload.txt_fields=txt_fields;\ntxt_area_fields=[]\n\ntxt_area_fields.push({FosCam : JSON.stringify(context.global.foscam || \"\")});\ntxt_area_fields.push({SamsungCam : JSON.stringify(context.global.SamsungCam || \"\")});\ntxt_area_fields.push({DlinkCam : JSON.stringify(context.global.DlinkCam || \"\")});\ntxt_area_fields.push({camera_motion : JSON.stringify(context.global.camera_motion || \"\")});\ntxt_area_fields.push({tab_ui_shortcuts : JSON.stringify(context.global.tab_ui_shortcuts || \"\")});\nmsg.payload.txt_area_fields=txt_area_fields\n\nmsg.statusCode=\"200\";\nreturn msg;\n}\nelse\n{\n    //msg.payload=\"Not Authorized\";\n   msg.statusCode=\"403\";\n   return msg;\n//   msg.res.send(\"403\",\"Forbidden\");\n//  return;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 406.4999694824219,
    "y": 62.5,
    "wires": [
      [
        "78390252.87c6fc"
      ]
    ]
  },
  {
    "id": "78390252.87c6fc",
    "type": "http response",
    "z": "17b3daf5.e84c25",
    "name": "",
    "x": 631.5,
    "y": 63.5,
    "wires": []
  },
  {
    "id": "20437006.dfbc9",
    "type": "comment",
    "z": "17b3daf5.e84c25",
    "name": "Section for web services---------------------------------------------------------------------------------------------------------------------------------",
    "info": "",
    "x": 467,
    "y": 20,
    "wires": []
  },
  {
    "id": "8fdd4753.7022b8",
    "type": "http in",
    "z": "17b3daf5.e84c25",
    "name": "",
    "url": "/red/getCameras",
    "method": "get",
    "swaggerDoc": "",
    "x": 130,
    "y": 112.5,
    "wires": [
      [
        "50a408da.af5bf8"
      ]
    ]
  },
  {
    "id": "50a408da.af5bf8",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "Throw Cameras Data",
    "func": "if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN){\n// text fields array\ncameras=[]\nfor (var cam in context.global.winkState.cameras){\n    var camera=context.global.winkState.cameras[cam];\n    cameras.push({\n        name:camera.name,\n        id:camera.object_id,\n        connection:camera.connection,\n        url:camera.snap_url\n    });\n}\nmsg.payload.cameras=cameras;\nmsg.statusCode=\"200\";\nreturn msg;\n}\nelse\n{\n    //msg.payload=\"Not Authorized\";\n    msg.statusCode=\"403\";\n    return msg;\n//   msg.res.send(\"403\",\"Forbidden\");\n//  return;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 407.4999694824219,
    "y": 115.5,
    "wires": [
      [
        "22d55510.dd2aaa"
      ]
    ]
  },
  {
    "id": "22d55510.dd2aaa",
    "type": "http response",
    "z": "17b3daf5.e84c25",
    "name": "",
    "x": 632.5,
    "y": 116.5,
    "wires": []
  },
  {
    "id": "8bb584a1.744a78",
    "type": "catch",
    "z": "17b3daf5.e84c25",
    "name": "",
    "x": 90.5,
    "y": 1807,
    "wires": [
      [
        "a9c482f7.563b8"
      ]
    ]
  },
  {
    "id": "a9c482f7.563b8",
    "type": "debug",
    "z": "17b3daf5.e84c25",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "error",
    "x": 290.5,
    "y": 1807,
    "wires": []
  },
  {
    "id": "f0a7a49e.0f5858",
    "type": "debug",
    "z": "17b3daf5.e84c25",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 955.5,
    "y": 266,
    "wires": []
  },
  {
    "id": "2076b3de.df894c",
    "type": "inject",
    "z": "17b3daf5.e84c25",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "5",
    "crontab": "",
    "once": true,
    "x": 129.5,
    "y": 1552,
    "wires": [
      [
        "a74dc246.58b24"
      ]
    ]
  },
  {
    "id": "a74dc246.58b24",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "",
    "func": "if ('LIFX_TOKEN' in context.global && context.global.LIFX_TOKEN !== 'undefined'){\nvar newMsg1 ={\n    \"url\":\"https://api.lifx.com/v1/lights/all\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.LIFX_TOKEN\n    }\n}\nnode.send(newMsg1);\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 297.5,
    "y": 1552,
    "wires": [
      [
        "660926fc.99f6d8"
      ]
    ]
  },
  {
    "id": "660926fc.99f6d8",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 472.5,
    "y": 1551,
    "wires": [
      [
        "18ae227e.e751de"
      ]
    ]
  },
  {
    "id": "18ae227e.e751de",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "",
    "func": "var lifxLights=msg.payload;\nvar useLiveUpd=('CRYPTO' in context.global ? true:false);\nvar CurreTag=\"\";\nvar eTag;\nif (Object.prototype.toString.call(lifxLights)==='[object Array]'){\n    lifxLights.forEach(function (bulb) {\n      //  node.warn(bulb.label)\n     if (context.global.winkState==='undefined') context.global.winkState={}\n     if (context.global.winkState.light_bulbs==='undefined') context.global.winkState.light_bulbs={}\n     if (bulb.label in context.global.winkState.light_bulbs && useLiveUpd) {\n          var WinkBulb={\n            \"connection\": context.global.winkState.light_bulbs[bulb.label].connection,\n            \"powered\": context.global.winkState.light_bulbs[bulb.label].powered,\n            \"brightness\": context.global.winkState.light_bulbs[bulb.label].brightness,\n            \"hue\" : context.global.winkState.light_bulbs[bulb.label].hue,\n            \"saturation\":context.global.winkState.light_bulbs[bulb.label].saturation,\n            \"temperature\":context.global.winkState.light_bulbs[bulb.label].temperature\n          }\n          CurreTag=context.global.CRYPTO.createHash(\"md5\").update(JSON.stringify(WinkBulb),\"utf8\").digest(\"hex\");\n     }\n     \n     var OrigObject={\n        \"connection\": bulb.connected,\n        \"powered\": (bulb.connected && bulb.power==\"on\" ? true : false),\n        \"brightness\": bulb.brightness,\n        \"hue\" : bulb.color.hue,\n        \"saturation\":bulb.color.saturation,\n        \"temperature\":bulb.color.kelvin\n     };\n     if (useLiveUpd){\n     var LifBulb={\n        \"name\": bulb.label,\n        \"manufacturer_id\": \"lifx\",\n        \"device_manufacturer\":\"lifx\",\n        \"object_type\": \"light_bulb\",\n        \"object_id\": bulb.id,\n        \"freeboard\": 0,\n        desired_state:{},\n        last_reading:{\n        \"connection\": bulb.connected,\n        \"powered\": (bulb.connected && bulb.power==\"on\" ? true : false),\n        \"brightness\": bulb.brightness,\n        \"hue\" : bulb.color.hue,\n        \"saturation\":bulb.color.saturation,\n        \"temperature\":bulb.color.kelvin\n        }\n     };\n      eTag=context.global.CRYPTO.createHash(\"md5\").update(JSON.stringify(OrigObject),\"utf8\").digest(\"hex\");\n     } else {\n    \n      context.global.winkState.light_bulbs[bulb.label]=OrigObject;\n     }\n     //LifBulb\n     \n     context.global.winkDevCap[bulb.label]=bulb.capabilities\n     //node.warn(bulb.label)\n      if (!('groups' in context.global.winkState)) context.global.winkState.groups={}\n     if (!(bulb.group.name in context.global.winkState.groups)){\n     context.global.winkState.groups[bulb.group.name]={\n         \"name\":bulb.group.name,\n         \"obejct_type\":\"groups\",\n         \"object_id\":bulb.group.id,\n          \"freeboard\": 0,\n          members:{}\n        }\n    }\n      context.global.winkState.groups[bulb.group.name].members[bulb.label]={\n        \"name\": bulb.label,\n        \"object_id\": bulb.id,\n        \"object_type\": \"light_bulbs\"\n      }\n     if (useLiveUpd && CurreTag!==eTag){\n        var postMsg={\n            url:context.global.BlueMixUrlBase+'/red/wink/subscribtions',\n            method:\"POST\",\n                headers: {\n                \"Content-Type\":\"application/json\"\n            },\n            payload:LifBulb \n        }\n     node.send(postMsg);\n     }\n    });\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 642.5,
    "y": 1553,
    "wires": [
      [
        "593ad241.a6c52c"
      ]
    ]
  },
  {
    "id": "593ad241.a6c52c",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 806.5,
    "y": 1552,
    "wires": [
      []
    ]
  },
  {
    "id": "e88b798.f177488",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "",
    "func": "function send_ui_note(n_type,n_timeout,n_message){\n    var newMsg={\n        url:context.global.BlueMixUrlBase+'/red/notifications',\n        \"method\": \"POST\",\n        headers: {\n            \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n        },\n        payload:{\n            \"type\":n_type,\n            \"message\":n_message,\n            \"timeout\":n_timeout\n            }\n        };\n        node.send(newMsg);\n}\nvar note_msg=msg.payload.name+(msg.payload.home=='yes' ? ' is home' : ' has left');\nsend_ui_note('information',30000,note_msg)\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 349.5,
    "y": 659,
    "wires": [
      [
        "a165a14f.5e9a6"
      ]
    ]
  },
  {
    "id": "a165a14f.5e9a6",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 489.5,
    "y": 658,
    "wires": [
      []
    ]
  },
  {
    "id": "676a638e.98959c",
    "type": "inject",
    "z": "17b3daf5.e84c25",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "82800",
    "crontab": "",
    "once": true,
    "x": 112.5,
    "y": 870,
    "wires": [
      [
        "4657a8bf.b9a858"
      ]
    ]
  },
  {
    "id": "4657a8bf.b9a858",
    "type": "delay",
    "z": "17b3daf5.e84c25",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 272.5,
    "y": 871,
    "wires": [
      [
        "b171018d.4e8f"
      ]
    ]
  },
  {
    "id": "b171018d.4e8f",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "try to refresh app_config data",
    "func": "if (context.global.CloudantBkUP) {\n    msg.url=context.global.VCAP_SERVICES.cloudantNoSQLDB[0].credentials.url+\"/winkapp/app_data\";\n    msg.method=\"GET\";\n    node.send(msg); \n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 536.5,
    "y": 862,
    "wires": [
      [
        "864cb433.79b348"
      ]
    ]
  },
  {
    "id": "864cb433.79b348",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 776.5,
    "y": 867,
    "wires": [
      [
        "ad7925db.5286d8"
      ]
    ]
  },
  {
    "id": "ad7925db.5286d8",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "create or update config ",
    "func": "if ((\"error\" in msg.payload && msg.payload.error=='not_found') || msg.db_mode=='update'){\n    node.warn('no app_data exists in cloudant DB or update oeration, saving globals to database')\n    var DBMsg={\n        url:context.global.VCAP_SERVICES.cloudantNoSQLDB[0].credentials.url+\"/winkapp\",\n        method:(msg.db_mode=='update' ? \"PUT\":\"POST\"),\n        headers: \n            {\n                \"Content-Type\":\"application/json\"\n            },\n        payload: {\n            \"_id\":\"app_data\",\n            \"item\":\"app_data\",\n            \"app_cfg\":{\n            motionAdjustTstat: context.global.motionAdjustTstat||false,\n            BlueMixUrlBase:context.global.BlueMixUrlBase,\n            HomeLocation:context.global.HomeLocation,\n            HoursFormat24:context.global.HoursFormat24 || false,\n            LightsNotification:context.global.LightsNotification || false\n            }\n        }\n    }\n    if(msg.db_mode=='update' && !(\"error\" in msg.payload && msg.payload.error=='not_found')){\n    DBMsg.url=DBMsg.url+\"/app_data\"    \n    DBMsg.payload._rev=msg.payload._rev;\n    }\n    if ('HomeLocation' in context.global) DBMsg.payload.app_cfg.HomeLocation=context.global.HomeLocation;\n//\tif ('FosCam' in context.global) DBMsg.payload.app_cfg.FosCam=context.global.FosCam;\n//\tif ('SamsungCam' in context.global) DBMsg.payload.app_cfg.SamsungCam=context.global.SamsungCam;\n//\tif ('DlinkCam' in context.global) DBMsg.payload.app_cfg.DlinkCam=context.global.DlinkCam;\n    if ('camera_motion' in context.global) DBMsg.payload.app_cfg.camera_motion=context.global.camera_motion;\n    if ('tab_ui_shortcuts' in context.global) DBMsg.payload.app_cfg.tab_ui_shortcuts=context.global.tab_ui_shortcuts;\n//    if ('netatmo' in context.global) DBMsg.payload.app_cfg.netatmo=context.global.netatmo;\n    if ('winkState' in context.global) DBMsg.payload.app_cfg.winkState=context.global.winkState;\n    if ('LIFX_TOKEN' in context.global) DBMsg.payload.app_cfg.LIFX_TOKEN=context.global.LIFX_TOKEN;\n    if ('IFTTT_TOKEN' in context.global)DBMsg.payload.app_cfg.IFTTT_TOKEN=context.global.IFTTT_TOKEN;\n    if ('forecastIoApiKey' in context.global)DBMsg.payload.app_cfg.forecastIoApiKey=context.global.forecastIoApiKey;\n    if ('InitialStateKey' in context.global)DBMsg.payload.app_cfg.InitialStateKey=context.global.InitialStateKey;\nnode.send(DBMsg);    \n}\nelse {\n    node.warn('config data exists, restoring');\n    for (var key in msg.payload.app_cfg){\n        node.warn('Restoring '+key+' settings')\n        if (key!=='winkState' && key!=='DlinkCam' && key!=='FosCam' && key!=='SamsungCam'){\n            context.global[key]=msg.payload.app_cfg[key];\n        } else if(msg.restore_wink||0===1) {\n            context.global[key]=msg.payload.app_cfg[key];\n        }\n    }\n}    \nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 963.5,
    "y": 868,
    "wires": [
      [
        "ea876186.1578a"
      ]
    ]
  },
  {
    "id": "ea876186.1578a",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1197.5,
    "y": 864,
    "wires": [
      [
        "6784b536.987b4c"
      ]
    ]
  },
  {
    "id": "8e2020f3.71dfe",
    "type": "http in",
    "z": "17b3daf5.e84c25",
    "name": "",
    "url": "/red/update_app_cfg",
    "method": "post",
    "swaggerDoc": "",
    "x": 125,
    "y": 928,
    "wires": [
      [
        "dd73444e.228cb8"
      ]
    ]
  },
  {
    "id": "dd73444e.228cb8",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "",
    "func": "if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN){\nmsg.statusCode=\"200\";\nvar msg1={}\nmsg1.db_mode=msg.payload.db_mode||\"read\";\nnode.send([msg1,msg])\n} else\n{\n    msg.statusCode=\"400\";\n    node.send([null,msg])\n}\nreturn;",
    "outputs": "2",
    "noerr": 0,
    "x": 315.5,
    "y": 932,
    "wires": [
      [
        "b171018d.4e8f"
      ],
      [
        "4ee85334.b117ac"
      ]
    ]
  },
  {
    "id": "4ee85334.b117ac",
    "type": "http response",
    "z": "17b3daf5.e84c25",
    "name": "",
    "x": 460.5,
    "y": 939,
    "wires": []
  },
  {
    "id": "6784b536.987b4c",
    "type": "function",
    "z": "17b3daf5.e84c25",
    "name": "",
    "func": "var msg1={\n    payload:{\n        config:{\n        HoursFormat24:context.global.HoursFormat24\n        }\n    }\n}\nmsg1.method=\"POST\";\nmsg1.url=context.global.BlueMixUrlBase+'/red/wscomms';\nmsg1.headers= {\n    \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n};\n\nreturn msg1;",
    "outputs": 1,
    "noerr": 0,
    "x": 1076.5,
    "y": 943,
    "wires": [
      [
        "8d10521d.72efb"
      ]
    ]
  },
  {
    "id": "838606a4.7c79f8",
    "type": "json",
    "z": "17b3daf5.e84c25",
    "name": "",
    "x": 430,
    "y": 210,
    "wires": [
      [
        "865cb796.79a348"
      ]
    ]
  },
  {
    "id": "29a586b4.d65a7a",
    "type": "switch",
    "z": "17b3daf5.e84c25",
    "name": "",
    "property": "req.headers.content-type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "text/plain",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "application/json",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "outputs": 3,
    "x": 285,
    "y": 236,
    "wires": [
      [
        "838606a4.7c79f8"
      ],
      [
        "865cb796.79a348"
      ],
      [
        "865cb796.79a348"
      ]
    ]
  },
  {
    "id": "8d10521d.72efb",
    "type": "http request",
    "z": "17b3daf5.e84c25",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 1236,
    "y": 944,
    "wires": [
      []
    ]
  }
]