Flows/InitializeWinkApi.txt
[{"id":"8bcdaded.74325","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"86400","crontab":"","once":true,"x":125,"y":68,"z":"ec11f285.13ee1","wires":[["52a2fc61.ad5d04","349ae055.cb652","a8b06cca.574f9"]]},{"id":"52a2fc61.ad5d04","type":"function","name":"Get OAuth Tocken","func":"var uid=\"your_id\";\nvar pwd=\"your_pwd\";\nvar newMsg ={\n    \"url\":\"https://winkapi.quirky.com/oauth2/token\",\n    \"method\": \"POST\",\n    headers: {\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"client_id\": \"\",\n        \"client_secret\": \"\",\n        \"username\": uid,\n        \"password\": pwd,\n        \"grant_type\": \"password\"\n    }\n}\nreturn newMsg;","outputs":1,"valid":true,"x":319,"y":68,"z":"ec11f285.13ee1","wires":[["b7bc98c3.484368"]]},{"id":"349ae055.cb652","type":"function","name":"DefineGlobalObjects","func":"if (typeof context.global.TimHome === 'undefined')\n{\n    context.global.TimHome=true;\n}\nif (typeof context.global.MayaHome === 'undefined')\n{\n    context.global.MayaHome=true;\n}\nif (typeof context.global.ignoreMotion==='undefined')\n{\n    context.global.ignoreMotion=false;\n}\nif (typeof context.global.mediaPlaying==='undefined')\n{\n    context.global.mediaPlaying=false;\n}\nreturn msg;","outputs":1,"valid":true,"x":320,"y":117,"z":"ec11f285.13ee1","wires":[[]]},{"id":"b7bc98c3.484368","type":"http request","name":"","method":"use","ret":"obj","url":"","x":532,"y":69,"z":"ec11f285.13ee1","wires":[["1c477244.e3b88e"]]},{"id":"1c477244.e3b88e","type":"function","name":"DefineGlobalTocken","func":"context.global.WinkToken=msg.payload.data.access_token;\nnode.log(context.global.WinkToken);\nvar msg ={ \"payload\":\"aaa\"}\nreturn msg;","outputs":1,"valid":true,"x":769,"y":69,"z":"ec11f285.13ee1","wires":[["a36cf834.5c9308"]]},{"id":"a36cf834.5c9308","type":"function","name":"Prepare HTTPS requests by device type","func":"var newMsg1 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/light_bulbs\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\nvar newMsg2 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/binary_switches\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\n\nvar newMsg3 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/locks\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\n\nvar newMsg4 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/groups\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\nvar newMsg5 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/sensor_pods\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\nvar newMsg6 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/scenes\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\n\nvar newMsg7 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/thermostats\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\nreturn [newMsg1,newMsg2,newMsg3,newMsg4,newMsg5,newMsg6,newMsg7];","outputs":"7","valid":true,"x":1072,"y":67,"z":"ec11f285.13ee1","wires":[["cec96d43.31369"],["4847bd45.b7b844"],["ae9593e3.516a7"],["c0787745.3f8788"],["3d4d01e0.c2b2fe"],["f1e991ef.0e167"],["cb602c37.349fd"]]},{"id":"cec96d43.31369","type":"http request","name":"GetLightBulbs","method":"use","ret":"obj","url":"","x":811,"y":479,"z":"ec11f285.13ee1","wires":[["fd530c7e.02acf"]]},{"id":"4847bd45.b7b844","type":"http request","name":"GetBinarySwitches","method":"use","ret":"obj","url":"","x":826,"y":521,"z":"ec11f285.13ee1","wires":[["c48d3d51.3b72c"]]},{"id":"ae9593e3.516a7","type":"http request","name":"GetLocks","method":"use","ret":"obj","url":"","x":800,"y":564,"z":"ec11f285.13ee1","wires":[["d5e8c2df.2a174"]]},{"id":"c0787745.3f8788","type":"http request","name":"GetGroups","method":"use","ret":"obj","url":"","x":809,"y":607,"z":"ec11f285.13ee1","wires":[["24f86949.db0796"]]},{"id":"3d4d01e0.c2b2fe","type":"http request","name":"GetSensors","method":"use","ret":"obj","url":"","x":814,"y":651,"z":"ec11f285.13ee1","wires":[["8dbbf6b1.724408"]]},{"id":"f1e991ef.0e167","type":"http request","name":"GetShortcuts","method":"use","ret":"obj","url":"","x":808,"y":696,"z":"ec11f285.13ee1","wires":[["e29265d4.1d6d98"]]},{"id":"cb602c37.349fd","type":"http request","name":"GetThermostats","method":"use","ret":"obj","url":"","x":811,"y":745,"z":"ec11f285.13ee1","wires":[["c0b9749f.3f4688"]]},{"id":"c0b9749f.3f4688","type":"function","name":"SetGlobalThermostats","func":"context.global.WinkThermostats =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n            context.global.WinkThermostats[msg.payload.data[i].name]= {\n            \"id\": msg.payload.data[i].thermostat_id,\n            \"name\": msg.payload.data[i].name,\n            \"mode\": msg.payload.data[i].last_reading.mode,\n            \"away\": msg.payload.data[i].last_reading.users_away,\n            \"temperature\":msg.payload.data[i].last_reading.temperature,\n            \"units\":msg.payload.data[i].last_reading.units,\n            \"fan_active\":msg.payload.data[i].last_reading.fan_timer_active\n            }\n            \n    }\n\nreturn;","outputs":1,"valid":true,"x":1145,"y":744,"z":"ec11f285.13ee1","wires":[[]]},{"id":"e29265d4.1d6d98","type":"function","name":"SetGlobalShortcuts","func":"context.global.WinkScenes =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        if (msg.payload.data[i].members.length >0)\n        {\n            context.global.WinkScenes[msg.payload.data[i].name]= msg.payload.data[i].scene_id;\n        }\n    }\n\nreturn;","outputs":1,"valid":true,"x":1142,"y":695,"z":"ec11f285.13ee1","wires":[[]]},{"id":"8dbbf6b1.724408","type":"function","name":"SetGlobalSensors","func":"context.global.WinkMSensors =new Object();\ncontext.global.WinkTrippers =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        if (msg.payload.data[i].model_name==\"Motion Sensor\")\n        {\n            context.global.WinkMSensors[msg.payload.data[i].sensor_pod_id] = {\n                \"id\":msg.payload.data[i].sensor_pod_id,\n                \"name\":msg.payload.data[i].name,\n                \"motion\":msg.payload.data[i].last_reading.motion,\n                \"type\": msg.payload.data[i].model_name\n//                \"pubnubChannel\":msg.payload.data[i].subscription.pubnub.channel\n            };\n        }\n         if (msg.payload.data[i].model_name==\"Tripper\")\n         {\n            context.global.WinkTrippers[msg.payload.data[i].sensor_pod_id] = {\n                \"id\":msg.payload.data[i].sensor_pod_id,\n                \"name\":msg.payload.data[i].name,\n                \"opened\":msg.payload.data[i].last_reading.opened,\n                \"type\": msg.payload.data[i].model_name,\n//                \"pubnubChannel\": msg.payload.data[i].subscription.pubnub.channel\n            };\n        }\n    }\nreturn;","outputs":1,"valid":true,"x":1121,"y":655,"z":"ec11f285.13ee1","wires":[[]]},{"id":"24f86949.db0796","type":"function","name":"SetGlobalGroups","func":"context.global.WinkGroups =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        if (msg.payload.data[i].members.length >0)\n        {\n            context.global.WinkGroups[msg.payload.data[i].name]= msg.payload.data[i].group_id;\n        }\n    }\n\nreturn;","outputs":1,"valid":true,"x":1125,"y":613,"z":"ec11f285.13ee1","wires":[[]]},{"id":"d5e8c2df.2a174","type":"function","name":"SetGlobalLocks","func":"context.global.WinkLocks =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        context.global.WinkLocks[msg.payload.data[i].name]= {\n            \"id\":msg.payload.data[i].lock_id,\n            \"locked\":msg.payload.data[i].last_reading.locked\n        };\n    }\n\nreturn;","outputs":1,"valid":true,"x":1123,"y":571,"z":"ec11f285.13ee1","wires":[[]]},{"id":"c48d3d51.3b72c","type":"function","name":"SetGlobalBinarySwitches","func":"context.global.WinkBinarySwitches =new Object();\ncontext.global.WinkSwitchesStatus =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        context.global.WinkBinarySwitches[msg.payload.data[i].name]= msg.payload.data[i].binary_switch_id;\n        context.global.WinkSwitchesStatus[msg.payload.data[i].name]= {\n            \"id\":msg.payload.data[i].binary_switch_id,\n            \"powered\":msg.payload.data[i].last_reading.powered\n        };\n    }\n\nreturn;","outputs":1,"valid":true,"x":1150,"y":525,"z":"ec11f285.13ee1","wires":[[]]},{"id":"fd530c7e.02acf","type":"function","name":"SetGlobalLightBulbList","func":"context.global.WinkLightBulbs =new Object();\ncontext.global.WinkLightBulbsStatus =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        context.global.WinkLightBulbsStatus[msg.payload.data[i].name]={\n            \"id\": msg.payload.data[i].light_bulb_id,\n            \"brightness\": (msg.payload.data[i].last_reading.powered ? msg.payload.data[i].last_reading.brightness : 0)\n        };\n        context.global.WinkLightBulbs[msg.payload.data[i].name]= msg.payload.data[i].light_bulb_id;\n        \n    }\n\nreturn;","outputs":1,"valid":true,"x":1140,"y":485,"z":"ec11f285.13ee1","wires":[[]]}]