Flows/LockControls.txt
[{"id":"9cbc81.ff63438","type":"subflow","name":"Unlock the door","in":[{"x":70,"y":70,"wires":[{"id":"1d6219ec.e29de6"}]}],"out":[]},{"id":"1d6219ec.e29de6","type":"function","name":"Unlock Front Door msg","func":"var newMsg ={\n    \"url\":\"https://winkapi.quirky.com/locks/\"+context.global.WinkLocks[msg.payload.lock],\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"locked\":\"false\"\n        }\n    }\n};\nreturn newMsg;","outputs":1,"valid":true,"x":260,"y":219,"z":"9cbc81.ff63438","wires":[["6c47cc22.93b834"]]},{"id":"6c47cc22.93b834","type":"http request","name":"","method":"use","ret":"obj","url":"","x":495,"y":218,"z":"9cbc81.ff63438","wires":[["6e81f0da.917e1"]]},{"id":"6e81f0da.917e1","type":"debug","name":"","active":true,"console":"false","complete":"statusCode","x":812,"y":202,"z":"9cbc81.ff63438","wires":[]},{"id":"1387dcbd.ec7823","type":"subflow","name":"lock  the door","in":[{"x":70,"y":70,"wires":[{"id":"5c2c50ec.a3d3b"}]}],"out":[]},{"id":"5c2c50ec.a3d3b","type":"function","name":"Lock Front Door msg","func":"var newMsg ={\n    \"url\":\"https://winkapi.quirky.com/locks/\"+context.global.WinkLocks[msg.payload.lock],\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"locked\":\"true\"\n        }\n    }\n};\nreturn newMsg;","outputs":1,"valid":true,"x":311,"y":129,"z":"1387dcbd.ec7823","wires":[["a8476d51.57b89"]]},{"id":"a8476d51.57b89","type":"http request","name":"","method":"use","ret":"obj","url":"","x":546,"y":128,"z":"1387dcbd.ec7823","wires":[["8e3be46b.71c418"]]},{"id":"8e3be46b.71c418","type":"debug","name":"","active":true,"console":"false","complete":"statusCode","x":767,"y":122,"z":"1387dcbd.ec7823","wires":[]},{"id":"687516cb.978ae8","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":132,"y":170,"z":"2cb34b37.d34cb4","wires":[["ec92b3b1.136d5"]]},{"id":"ec92b3b1.136d5","type":"function","name":"Prepare Lock Message","func":"var newMsg ={\n    payload: {\n        \"lock\": \"your lock name\"\n        }\n    };\nreturn newMsg;","outputs":1,"valid":true,"x":340,"y":165,"z":"2cb34b37.d34cb4","wires":[["998ca93e.667358"]]},{"id":"998ca93e.667358","type":"subflow:1387dcbd.ec7823","x":571,"y":112,"z":"2cb34b37.d34cb4","wires":[]},{"id":"564982f8.a9b67c","type":"subflow:9cbc81.ff63438","x":588,"y":208,"z":"2cb34b37.d34cb4","wires":[]}]