Flows/SampleWebServices.txt
[{"id":"e863ead3.179c18","type":"subflow","name":"Activate Scene","in":[{"x":70,"y":70,"wires":[{"id":"a8be1873.5741e8"}]}],"out":[]},{"id":"a8be1873.5741e8","type":"function","name":"Scene msg","func":"var newMsg ={\n    \"url\":\"https://winkapi.quirky.com/scenes/\"+context.global.WinkScenes[msg.payload.scene]+\"/activate\",\n    \"method\": \"POST\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    }\n};\nreturn newMsg;","outputs":1,"valid":true,"x":361,"y":208,"z":"e863ead3.179c18","wires":[["b873f8f3.478c08"]]},{"id":"b873f8f3.478c08","type":"http request","name":"","method":"use","ret":"obj","url":"","x":596,"y":207,"z":"e863ead3.179c18","wires":[["e1d6d975.1e2928"]]},{"id":"e1d6d975.1e2928","type":"debug","name":"","active":true,"console":"false","complete":"statusCode","x":804,"y":202,"z":"e863ead3.179c18","wires":[]},{"id":"e8faf84d.170508","type":"http in","name":"Get Wink Data","url":"/getGlobalData","method":"get","x":119,"y":222,"z":"73f3cf.ff8c0c3","wires":[["778bb11d.88745"]]},{"id":"778bb11d.88745","type":"function","name":"Throw Wink Data","func":"//Sample function that generate a JSON response for a web call with all Wink global\n//variables and cached states. Can be used as an input data source for node freeboard\n//or any other purpose\nmsg.payload.lights=context.global.WinkLightBulbsStatus;\nmsg.payload.BinarySwitches=context.global.WinkSwitchesStatus;\nmsg.payload.Locks=context.global.WinkLocks;\nmsg.payload.MotionSensors=context.global.WinkMSensors;\nmsg.payload.Trippers=context.global.WinkTrippers;\nmsg.payload.Groups=context.global.WinkGroups;\nmsg.payload.Scenes=context.global.WinkScenes;\nmsg.payload.Thermostats=context.global.WinkThermostats;\nmsg.payload.WinkSubscriptions=context.global.WinkSubscriptions;\n\n//msg.payload.MediaPlaying=context.global.MediaPlaying;\n//msg.payload.ignoreMotion=context.global.ignoreMotion;\n//msg.payload.CloudCover=context.global.CloudCover;\n//msg.payload.Weather=context.global.WeatherSummary;\n//msg.payload.SunSet=context.global.SunsetHour+\":\"+context.global.SunsetMin;\n//msg.payload.SunRise=context.global.SunriseHour+\":\"+context.global.SunriseMin;\n//msg.payload.OutsideTemp=context.global.outsideTemp;\n//msg.payload.PrecipationPbb=context.global.PrecipationPbb;\n//msg.payload.WeatherIcon=context.global.WeatherIcon;\n//msg.payload.HumidityOutside=context.global.HumidityOutside;\n\nreturn msg;","outputs":1,"valid":true,"x":358,"y":223,"z":"73f3cf.ff8c0c3","wires":[["9fd280f6.602d8"]]},{"id":"9fd280f6.602d8","type":"http response","name":"","x":545,"y":226,"z":"73f3cf.ff8c0c3","wires":[]},{"id":"c0b28d6b.3f4d7","type":"subflow:e863ead3.179c18","x":619,"y":274,"z":"73f3cf.ff8c0c3","wires":[]},{"id":"b69dab8e.496258","type":"function","name":"People sleeping","func":"context.global.ignoreMotion=true;\nmsg.res.send(200, 'Motion Detectors Light Control Disabled');\n\nvar newMsg = {\n    \"payload\": {\n        \"hours\":0,\n        \"minutes\":0,\n        \"daysegment\":\"day\",\n        \"scene\":\"\"\n    }\n    };\n\n newMsg.payload.scene=\"House off\";\n\nreturn [msg,newMsg];","outputs":"2","valid":true,"x":374,"y":268,"z":"73f3cf.ff8c0c3","wires":[[],["c0b28d6b.3f4d7"]]},{"id":"9a798d04.65867","type":"http in","name":"go to Sleep","url":"/Sleep","method":"get","x":109,"y":267,"z":"73f3cf.ff8c0c3","wires":[["b69dab8e.496258"]]},{"id":"a83b776a.57c488","type":"function","name":"People should wake up!","func":"context.global.ignoreMotion=false;\nmsg.res.send(200, 'Motion Detectors Light Control Enabled');\nreturn msg;","outputs":1,"valid":true,"x":398.5,"y":309,"z":"73f3cf.ff8c0c3","wires":[[]]},{"id":"95d9ea06.6a2618","type":"http in","name":"WakeUP!","url":"/WakeUp","method":"get","x":113.5,"y":306,"z":"73f3cf.ff8c0c3","wires":[["a83b776a.57c488"]]},{"id":"e7869fd2.18796","type":"comment","name":"sample webservices that can be used to modify behaviour of your app","info":"WakeUP! - tell node-red to update global variable ignoreMotion to false\n\ngo to Sleep - tell node-red to update global variable ignoreMotion to true and\nthen it activates wink shortcut. It has 2 outputs since we also sending back \nan http status code. Second output sends payload to activate scene subflow\n\nGet Wink Data - will generate a json object with values from wink global variables\nyou can use google chrome or any online JSON parcer like DHC chrome app to loot at\nresults","x":282,"y":147,"z":"73f3cf.ff8c0c3","wires":[]}]