Flows/sampleJqueryLightStatus.txt
[{"id":"32be1935.cd41e6","type":"http in","name":"Home_Page","url":"/Home_Page","method":"get","x":219,"y":233,"z":"59b9aec2.a6465","wires":[["588c2034.a773e"]]},{"id":"da538952.25ac78","type":"template","name":"","field":"","format":"handlebars","template":"<!DOCTYPE html> \n<html>\n<head>\n\t<title>Wink Lights Node-red example</title>\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t<link rel=\"stylesheet\" href=\"http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css\" />\n<script src=\"http://code.jquery.com/jquery-1.9.1.min.js\"></script>\n<script src=\"http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js\"></script>\n</head>\n\n<body>\n<!-- Start of first page: #one -->\n<div data-role=\"page\" id=\"one\">\n\n\t<div data-role=\"header\">\n\t\t<h1>Dimmers</h1>\n\t</div><!-- /header -->\n\n\t<div role=\"main\" class=\"ui-content\" >\n\t  {{#payload.lights}}\t\n\t<div data-role=\"fieldcontain\">\n\t<label for=\"{{id}}\">{{name}}</label>\n\t<input type=\"range\" name=\"{{name}}\" id=\"{{id}}\" value=\"{{brightness}}\"  min=\"0\" max=\"100\" />\n    </div>\n    {{/payload.lights}}\t\n\t\t\n\n\t\t<p><a href=\"#two\" class=\"ui-btn ui-shadow ui-corner-all\">Binary Switches</a></p>\n\t\n\t</div><!-- /content -->\n\n\t<div data-role=\"footer\" data-theme=\"a\">\n\t\t<h4>Demo</h4>\n\t</div><!-- /footer -->\n</div><!-- /page one -->\n\n<!-- Start of second page: #two -->\n<div data-role=\"page\" id=\"two\" data-theme=\"a\">\n\n\t<div data-role=\"header\">\n\t\t<h1>Binary Switches</h1>\n\t</div><!-- /header -->\n\n\t<div role=\"main\" class=\"ui-content\">\n\t{{#payload.switches}}\t\n\t<div data-role=\"fieldcontain\">\n    <label for=\"{{id}}\">{{name}}</label>\n    <input type=\"checkbox\" name=\"{{name}}\" id=\"{{id}}\" {{powered}}  data-role=\"flipswitch\">\n    </div>\n    {{/payload.switches}}\t\n\t\t<p><a href=\"#one\" class=\"ui-btn ui-shadow ui-corner-all\">Dimmers</a></p>\n\t</div><!-- /content -->\n\n\t<div data-role=\"footer\">\n\t\t<h4>Demo</h4>\n\t</div><!-- /footer -->\n</div><!-- /page two -->\n\n<!-- Start of third page: #popup -->\n<div data-role=\"page\" id=\"popup\">\n\n\t<div data-role=\"header\" data-theme=\"b\">\n\t\t<h1>Dialog</h1>\n\t</div><!-- /header -->\n\n\t<div role=\"main\" class=\"ui-content\">\n\t\t<h2>Popup</h2>\n\t\t<p>I have an id of \"popup\" on my page container and only look like a dialog because the link to me had a <code>data-rel=\"dialog\"</code> attribute which gives me this inset look and a <code>data-transition=\"pop\"</code> attribute to change the transition to pop. Without this, I'd be styled as a normal page.</p>\n\t\t<p><a href=\"#one\" data-rel=\"back\" class=\"ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left\">Dimmers</a></p>\n\t</div><!-- /content -->\n\n\t<div data-role=\"footer\">\n\t\t<h4>Page Footer</h4>\n\t</div><!-- /footer -->\n</div><!-- /page popup -->\n</body>\n\n\n\n\n\n</html>","x":575,"y":173,"z":"59b9aec2.a6465","wires":[["8f9f80da.70608"]]},{"id":"8f9f80da.70608","type":"http response","name":"","x":733,"y":173,"z":"59b9aec2.a6465","wires":[]},{"id":"588c2034.a773e","type":"function","name":"GenWinkArrays","func":"WinkLightBulbsStatInd =new Array();\nWinkBinSwitchesInd = new Array();\nvar i=0;\n for (var Name in context.global.WinkLightBulbsStatus)\n    {\n        \n        LightId=context.global.WinkLightBulbsStatus[Name].id\n        WinkLightBulbsStatInd[i]={\n            \"name\":Name,\n            \"id\": context.global.WinkLightBulbsStatus[Name].id,\n            \"brightness\": context.global.WinkLightBulbsStatus[Name].brightness*100\n        }\n    i++;\n    }\ni=0;\nfor (var Name in context.global.WinkSwitchesStatus)\n{\n    LightId=context.global.WinkSwitchesStatus[Name].id;\n    WinkBinSwitchesInd[i]={\n        \"name\":Name,\n        \"id\":context.global.WinkSwitchesStatus[Name].id,\n        \"powered\":(context.global.WinkSwitchesStatus[Name].powered ? \"checked\":\"\")\n    }\n    i++;\n}\n\nmsg.payload.lights=WinkLightBulbsStatInd;\nmsg.payload.switches=WinkBinSwitchesInd;\nreturn msg;","outputs":1,"valid":true,"x":398,"y":234,"z":"59b9aec2.a6465","wires":[["da538952.25ac78"]]}]