Flows/SampleGroupControl.txt
[{"id":"49444e8e.b6bbb","type":"subflow","name":"Adjust Group","in":[{"x":70,"y":70,"wires":[{"id":"454f4ebf.bab0b"}]}],"out":[]},{"id":"454f4ebf.bab0b","type":"function","name":"Group msg","func":"if (msg.payload.group_name!=\"N/A\")\n{\nvar newMsg ={\n    \"url\":\"https://winkapi.quirky.com/groups/\"+context.global.WinkGroups[msg.payload.group_name]+\"/activate\",\n    \"method\": \"POST\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"powered\":msg.payload.powered,\n            \"brightness\": msg.payload.brightness\n        }\n    }\n};\n}\nelse\n{\n    var newMsg ={\n    \"url\":\"127.0.0.1\",\n    \"method\": \"GET\"\n    };\n}\nreturn newMsg;","outputs":1,"valid":true,"x":289,"y":178,"z":"49444e8e.b6bbb","wires":[["761ae8a7.89e518"]]},{"id":"761ae8a7.89e518","type":"http request","name":"","method":"use","ret":"obj","url":"","x":524,"y":177,"z":"49444e8e.b6bbb","wires":[["ee3d88ea.11c278"]]},{"id":"ee3d88ea.11c278","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":729,"y":174,"z":"49444e8e.b6bbb","wires":[]},{"id":"687516cb.978ae8","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":132,"y":170,"z":"2cb34b37.d34cb4","wires":[["ec92b3b1.136d5"]]},{"id":"ec92b3b1.136d5","type":"function","name":"Prepare Group Message","func":"var GroupMsg= {\n        \"payload\" : {\n            \"group_name\":\"Bedroom\",\n            \"powered\":false,\n            \"brightness\":0.75\n            }\n        };\nreturn GroupMsg;","outputs":1,"valid":true,"x":331,"y":196,"z":"2cb34b37.d34cb4","wires":[["af785074.5087b"]]},{"id":"af785074.5087b","type":"subflow:49444e8e.b6bbb","x":627,"y":186,"z":"2cb34b37.d34cb4","wires":[]}]