Flows/SampleLightsControl.txt
[{"id":"a0ec4396.5f13c","type":"subflow","name":"Adjust dimmer","in":[{"x":70,"y":70,"wires":[{"id":"bdc35206.423cb"}]}],"out":[]},{"id":"bdc35206.423cb","type":"function","name":"Dimmer msg","func":"if (msg.payload.light_bulb!=\"N/A\")\n{\nvar newMsg ={\n    \"url\":\"https://winkapi.quirky.com/light_bulbs/\"+context.global.WinkLightBulbsStatus[msg.payload.light_bulb].id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"powered\":msg.payload.powered,\n            \"brightness\": msg.payload.brightness\n        }\n    }\n};\n}\nelse\n{\n    var newMsg ={\n    \"url\":\"127.0.0.1\",\n    \"method\": \"GET\"\n    };\n}\nreturn newMsg;","outputs":1,"valid":true,"x":319,"y":188,"z":"a0ec4396.5f13c","wires":[["80f2a96.f7f0d58"]]},{"id":"80f2a96.f7f0d58","type":"http request","name":"","method":"use","ret":"obj","url":"","x":554,"y":187,"z":"a0ec4396.5f13c","wires":[["92cbbd3e.6d344"]]},{"id":"92cbbd3e.6d344","type":"debug","name":"","active":true,"console":"false","complete":"statusCode","x":759,"y":184,"z":"a0ec4396.5f13c","wires":[]},{"id":"8cbfe59e.734018","type":"subflow","name":"Turn Switch Off","in":[{"x":70,"y":70,"wires":[{"id":"84773069.7b88d"}]}],"out":[]},{"id":"84773069.7b88d","type":"function","name":"BinarySwitch msg","func":"var newMsg ={\n    \"url\":\"https://winkapi.quirky.com/binary_switches/\"+context.global.WinkSwitchesStatus[msg.payload.binary_switch].id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"powered\":\"false\"\n        }\n    }\n};\nreturn newMsg;","outputs":1,"valid":true,"x":266,"y":185,"z":"8cbfe59e.734018","wires":[["a4e5454d.5b1ab8"]]},{"id":"a4e5454d.5b1ab8","type":"http request","name":"","method":"use","ret":"obj","url":"","x":501,"y":184,"z":"8cbfe59e.734018","wires":[["25d84d58.da27b2"]]},{"id":"25d84d58.da27b2","type":"debug","name":"","active":true,"console":"false","complete":"statusCode","x":718,"y":182,"z":"8cbfe59e.734018","wires":[]},{"id":"2136f.fffdec91","type":"subflow","name":"Turn Switch On","in":[{"x":70,"y":70,"wires":[{"id":"b294e995.4d6b18"}]}],"out":[]},{"id":"b294e995.4d6b18","type":"function","name":"BinarySwitch msg","func":"var newMsg ={\n    \"url\":\"https://winkapi.quirky.com/binary_switches/\"+context.global.WinkSwitchesStatus[msg.payload.binary_switch].id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"desired_state\": {\n            \"powered\":\"true\"\n        }\n    }\n};\nreturn newMsg;","outputs":1,"valid":true,"x":229,"y":190,"z":"2136f.fffdec91","wires":[["3398a913.cc6756"]]},{"id":"3398a913.cc6756","type":"http request","name":"","method":"use","ret":"obj","url":"","x":464,"y":189,"z":"2136f.fffdec91","wires":[["e88fea43.177018"]]},{"id":"e88fea43.177018","type":"debug","name":"","active":true,"console":"false","complete":"statusCode","x":672,"y":184,"z":"2136f.fffdec91","wires":[]},{"id":"b18dfbf3.4e7208","type":"subflow:2136f.fffdec91","x":540,"y":92,"z":"26ac8a63.d95376","wires":[]},{"id":"e33954bb.1cc6a8","type":"subflow:8cbfe59e.734018","x":545,"y":155,"z":"26ac8a63.d95376","wires":[]},{"id":"69567ed3.96a98","type":"subflow:a0ec4396.5f13c","x":547,"y":230,"z":"26ac8a63.d95376","wires":[]},{"id":"577e457.fa881bc","type":"function","name":"Prepare Binary Switch Msg","func":"SwitchMsg = {\n        payload: {\n            \"binary_switch\": \"Switch name from Wink App\"\n        }\n    };\nreturn SwitchMsg;","outputs":1,"valid":true,"x":281,"y":91,"z":"26ac8a63.d95376","wires":[["b18dfbf3.4e7208"]]},{"id":"1ddf39.ffe220c7","type":"function","name":"Prepare Light Bulb Msg","func":"var DimmerMsg= {\n        \"payload\" : {\n            \"light_bulb\":\"Wink light bulb name\", //name that you setup in your wink app\n            \"powered\" : true, //true or false\n            \"brightness\" : 0.5 //values from 0 to 1 for example 0.5 - brightness 50%\n            }\n        };\nreturn DimmerMsg;","outputs":1,"valid":true,"x":306,"y":229,"z":"26ac8a63.d95376","wires":[["69567ed3.96a98"]]},{"id":"fbf71f2f.0408e","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":161,"z":"26ac8a63.d95376","wires":[["577e457.fa881bc","1ddf39.ffe220c7"]]},{"id":"ce29b833.31d648","type":"comment","name":"Sample flow that shows how to control wink lights using global variables","info":"This is sample flow that will also create 3 subflows (turn light on, turn light off, adjust dimmable light\n","x":329,"y":39,"z":"26ac8a63.d95376","wires":[]}]