Flows/SubscribeForLightsUpdates.txt
[{"id":"8f00569d.70ffa8","type":"subflow","name":"Update Light Status","in":[{"x":70,"y":70,"wires":[{"id":"cffe833.f30018"}]}],"out":[]},{"id":"cffe833.f30018","type":"function","name":"UpdateLightStatus","func":"if (msg.payload.light_bulb_id)\n{\n    context.global.WinkLightBulbsStatus[msg.payload.name].brightness= (msg.payload.last_reading.powered ? msg.payload.last_reading.brightness : 0);\n    msg._id=msg.payload.light_bulb_id;\n}\nif (msg.payload.binary_switch_id)\n{\n    context.global.WinkSwitchesStatus[msg.payload.name].powered=msg.payload.last_reading.powered;\n    msg._id=msg.payload.light_bulb_id;\n    \n}\nreturn msg;\n","outputs":1,"valid":true,"x":223,"y":151,"z":"8f00569d.70ffa8","wires":[[]]},{"id":"9d74fcaa.628b","type":"http in","name":"Tell wink it can send us data","url":"/api/subscribe/Lights","method":"get","x":143,"y":63,"z":"91f80c7.f6e07f","wires":[["625a8a5e.9da574"]]},{"id":"625a8a5e.9da574","type":"function","name":"Wink Subscription resonse","func":"if (msg.payload[\"hub.mode\"]==\"subscribe\")\n{\n    msg.res.send(200,msg.payload[\"hub.challenge\"]);\n}\nelse\n{\n    msg.res.send(400,\"Bad Request darling\");\n}\nreturn msg;","outputs":1,"valid":true,"x":423,"y":64,"z":"91f80c7.f6e07f","wires":[[]]},{"id":"9fd2f15.f602d1","type":"http in","name":"","url":"/api/subscribe/Lights","method":"post","x":126,"y":104,"z":"91f80c7.f6e07f","wires":[["93c56dab.6c3a9","8196f6ed.7e6908"]]},{"id":"93c56dab.6c3a9","type":"debug","name":"","active":false,"console":"false","complete":"payload","x":427,"y":130,"z":"91f80c7.f6e07f","wires":[]},{"id":"8196f6ed.7e6908","type":"subflow:8f00569d.70ffa8","x":449,"y":195,"z":"91f80c7.f6e07f","wires":[]},{"id":"c40df3df.3bf21","type":"delay","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":271,"z":"91f80c7.f6e07f","wires":[["e5d49dc7.1a2b6"]]},{"id":"5f6545b2.a09abc","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"82800","crontab":"","once":true,"x":111,"y":351,"z":"91f80c7.f6e07f","wires":[["c40df3df.3bf21"]]},{"id":"e5d49dc7.1a2b6","type":"function","name":"Prepare Wink LightBulbs subscription request","func":"var baseUrl = \"https://winkapi.quirky.com/light_bulbs\";\n//var sensorsList=[\"Bar sensor\",\"Basement Sensor\"];\nvar callbackUrl=\"<your node-red-host:port>/api/subscribe/Lights\";\nvar podId=\"N/A\";\n\n   for (var Name in context.global.WinkLightBulbsStatus)\n    {\n        \n            LightId=context.global.WinkLightBulbsStatus[Name].id;\n            node.warn(Name+\" \"+context.global.WinkLightBulbsStatus[Name].id);\n    var newMsg ={\n        \"url\":baseUrl+\"/\"+LightId+\"/subscriptions\",\n        \"method\": \"POST\",\n        headers: {\n            \"Authorization\":\"Bearer \"+context.global.WinkToken,\n            \"Content-Type\":\"application/json\"\n        },\n        payload: {\n            \"callback\": callbackUrl\n        }\n};\nnode.send(newMsg);\n}\nreturn;","outputs":1,"valid":true,"x":438,"y":337,"z":"91f80c7.f6e07f","wires":[["f6706937.098f98","ef073030.10f8d"]]},{"id":"f6706937.098f98","type":"debug","name":"","active":false,"console":"true","complete":"true","x":695,"y":375,"z":"91f80c7.f6e07f","wires":[]},{"id":"ef073030.10f8d","type":"http request","name":"","method":"use","ret":"obj","url":"","x":760,"y":279,"z":"91f80c7.f6e07f","wires":[["de3c1cb1.21c3e","278a6fc8.d8759"]]},{"id":"de3c1cb1.21c3e","type":"function","name":"CheckResposeCode","func":"if (typeof context.global.WinkSubscriptions === 'undefined')\n{\n    context.global.WinkSubscriptions = new Object();\n}\nif (msg.statusCode==202)\n{\n    node.warn(\"Subscription ID: \"+msg.payload.data.subscription_id);\n    context.global.WinkSubscriptions[msg.payload.data.subscription_id]={\n        \"subscription_id\": msg.payload.data.subscription_id,\n        \"url_base\":msg.payload.data.topic\n    }\n}\nelse\n{\n    node.warn(\"Subscription issue. Status: \"+msg.statusCode);\n}\nreturn;","outputs":1,"valid":true,"x":956,"y":358,"z":"91f80c7.f6e07f","wires":[[]]},{"id":"278a6fc8.d8759","type":"debug","name":"","active":false,"console":"false","complete":"false","x":945,"y":406,"z":"91f80c7.f6e07f","wires":[]}]