Flows/BMeissen Sample Flows/SamplePersonalVariables.txt
[{"id":"f04df8d4.0fb208","type":"inject","name":"Initialize Personal Data Variables","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":219.66665649414062,"y":132.66665649414062,"z":"d342b274.2cbd5","wires":[["8934b39e.76cb5"]]},{"id":"8934b39e.76cb5","type":"function","name":"Personal Data Variables","func":"context.global.PersonalVariables = new Object();\n\n// Wink Account Variables\ncontext.global.PersonalVariables.WinkUsername=\"\"; // Enter your Wink Account username here\ncontext.global.PersonalVariables.WinkPassword=\"\"; // Enter your Wink Account password here\ncontext.global.PersonalVariables.WinkAPI_Key=\"\"; // Enter your unique Wink API key here\n\n\n// Forecast.io API Key\ncontext.global.PersonalVariables.ForecastAPI=\"\"; // Enter your free Forecast.io API here\ncontext.global.PersonalVariables.ForecastLat=\"\";\ncontext.global.PersonalVariables.ForecastLong=\"\";\n\n// Freeboard Page:\n// You must edit the Freeboard iFrame node to reflect your Freeboard dashboard page.\n\n\n// Ecobee Client ID\ncontext.global.PersonalVariables.EcobeeClientID=\"\";\n\nvar msg = { \n    payload:\"Your personal variables have been successfully initialized.\"\n};\nreturn msg;","outputs":1,"valid":true,"x":497.6666259765625,"y":129.66663360595703,"z":"d342b274.2cbd5","wires":[["6e74182b.918be8"]]},{"id":"6e74182b.918be8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":711.6665954589844,"y":130.66665649414062,"z":"d342b274.2cbd5","wires":[]},{"id":"53977ef6.ac688","type":"comment","name":"Edit the middle \"Personal Data Variables\" Node, then click Deploy in the top right of Node-Red","info":"","x":423.6666259765625,"y":78.66666412353516,"z":"d342b274.2cbd5","wires":[]}]