Flows/BMeissen Sample Flows/SampleKodiWinkIntegration.txt
[
  {
    "id": "9a90f5fd.656f08",
    "type": "tcp in",
    "z": "767de6ed.898218",
    "server": "client",
    "host": "(your kodi ip address)",
    "port": "(your kodi port)",
    "datamode": "stream",
    "datatype": "utf8",
    "newline": "",
    "topic": "KodiEvents",
    "name": "Kodi",
    "base64": false,
    "x": 55,
    "y": 105.33333587646484,
    "wires": [
      [
        "f179a833.0e8658"
      ]
    ]
  },
  {
    "id": "e95683f0.16a98",
    "type": "debug",
    "z": "767de6ed.898218",
    "name": "",
    "active": false,
    "console": "true",
    "complete": "payload",
    "x": 334.99998474121094,
    "y": 58.333343505859375,
    "wires": []
  },
  {
    "id": "f179a833.0e8658",
    "type": "json",
    "z": "767de6ed.898218",
    "name": "",
    "x": 182.99998474121094,
    "y": 105.33333587646484,
    "wires": [
      [
        "e95683f0.16a98",
        "182ff758.e7d009"
      ]
    ]
  },
  {
    "id": "182ff758.e7d009",
    "type": "function",
    "z": "767de6ed.898218",
    "name": "Adjust basement lights",
    "func": "var DimmerList = \"FamilyRoom\";\nvar trigger = \"Kodi\";\nvar brightness_high=0.0;\n//if (typeof context.global.BeforePlaying === 'undefined')\n//{\n//    context.global.BeforePlaying.powered=false;\n//    context.global.BeforePlaying.brightness=0.0;\n//}\nif (typeof context.global.MediaPlaying === 'undefined')\n{\n    context.global.MediaPlaying=false;\n}\n\nswitch (msg.payload.method)\n{\n    case \"VideoLibrary.OnScanFinished\":\n    break;\n    case \"VideoLibrary.OnScanStarted\":\n    break;\n    case \"Player.OnPlay\":\n        brightness_high=0.0;\n        powered = true;\n        context.global.MediaPlaying=true;\n        trigger = \"Kodi - On Play\";\n//        context.global.BeforePlaying.powered=context.global.WinkGroups[\"FamilyRoom\"].powered;\n//        context.global.BeforePlaying.brightness=context.global.WinkGroups[\"FamilyRoom\"].brightness;\n    break;\n    case \"Player.OnPause\":\n        brightness_high=0.5;\n        powered = true;\n        context.global.MediaPlaying=true;\n        trigger = \"Kodi - On Pause\";\n    break;\n    case \"Player.OnStop\":\n        brightness_high=1.0;\n        powered = true;\n        context.global.MediaPlaying=false;\n        trigger = \"Kodi - On Stop\";\n    break;\n    default:\n        DimmerList=\"N/A\";\n        powered=false;\n        brightness=brightness_high;\n        trigger=trigger;\n    break;\n}\n//if (msg.payload.method==\"Player.OnPlay\" && context.global.BeforePlaying.powered === false)\n//{\n//    var MotionMsg= {\n//        \"payload\" : {\n//            \"group_name\":\"N/A\",\n//            \"powered\" : false,\n//            \"brightness\" : brightness_high,\n//            \"trigger\":trigger\n//        }    \n//    };\n//}\n//else {\n    var MotionMsg= {\n        \"payload\" : {\n            \"group_name\":DimmerList,\n            \"powered\" : powered,\n            \"brightness\" : brightness_high,\n            \"trigger\":trigger\n        }\n    };\n//}\n return MotionMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 364.49998474121094,
    "y": 103.08333778381348,
    "wires": [
      [
        "80a151f9.7f5eb"
      ]
    ]
  },
  {
    "id": "80a151f9.7f5eb",
    "type": "debug",
    "z": "767de6ed.898218",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 591.7499542236328,
    "y": 62.83335304260254,
    "wires": []
  },
  {
    "id": "51d53aa8.ae2ac4",
    "type": "function",
    "z": "767de6ed.898218",
    "name": "Get Episode",
    "func": "var newMsg ={\n    \"url\":\"http://(your kodi IP address):(kodi port)/jsonrpc?request=%7B%22jsonrpc%22%3A%20%222.0%22%2C%20%22method%22%3A%20%22Player.GetItem%22%2C%20%22params%22%3A%20%7B%20%22properties%22%3A%20%5B%22title%22%2C%20%22album%22%2C%20%22artist%22%2C%20%22season%22%2C%20%22episode%22%2C%20%22duration%22%2C%20%22showtitle%22%2C%20%22tvshowid%22%2C%20%22thumbnail%22%2C%20%22file%22%2C%20%22fanart%22%2C%20%22streamdetails%22%5D%2C%20%22playerid%22%3A%201%20%7D%2C%20%22id%22%3A%20%22VideoGetItem%22%7D\",\n    headers: {\n        \"Content-Type\":\"application/json\"\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 244.25,
    "y": 231.83333587646484,
    "wires": [
      [
        "8ae9bd26.75164"
      ]
    ]
  },
  {
    "id": "8ae9bd26.75164",
    "type": "http request",
    "z": "767de6ed.898218",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "url": "",
    "x": 439.24998474121094,
    "y": 232.83333587646484,
    "wires": [
      [
        "d8fd1b3e.2702e8"
      ]
    ]
  },
  {
    "id": "7ca115ac.835eec",
    "type": "function",
    "z": "767de6ed.898218",
    "name": "Set variables",
    "func": "//if (typeof msg.payload.error===undefined)\n//{ context.global.MediaPlaying=false; }\n\nif (context.global.MediaPlaying===true && typeof msg.payload.error!==undefined)\n{\n    context.global.KodiEpisodes =new Object();\n//node.warn(msg.payload.result.item);\n// for(j = 0; j<msg.payload.item.length; j++) \n//    {\n    context.global.KodiEpisodes.id=msg.payload.result.item.id;\n    context.global.KodiEpisodes.episode_label=msg.payload.result.item.label;\n\tcontext.global.KodiEpisodes.episode=msg.payload.result.item.episode;\n\tcontext.global.KodiEpisodes.season=msg.payload.result.item.season;\n\tcontext.global.KodiEpisodes.season_label=msg.payload.result.item.showtitle;\n\tcontext.global.KodiEpisodes.fanart=msg.payload.result.item.fanart;\n}\nelse\n{\n    context.global.KodiEpisodes =new Object();\n    context.global.KodiEpisodes.id=\"\";\n    context.global.KodiEpisodes.episode_label=\"Not playing\";\n    context.global.KodiEpisodes.episode=\"\";\n    context.global.KodiEpisodes.season=\"\";\n    context.global.KodiEpisodes.season_label=\"Not playing\";\n    context.global.KodiEpisodes.fanart=\"\";\n}\nmsg.payload=context.global.KodiEpisodes;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 803,
    "y": 232.08333587646484,
    "wires": [
      []
    ]
  },
  {
    "id": "b9650e3f.469af",
    "type": "http in",
    "z": "767de6ed.898218",
    "name": "Get Kodi Play Information",
    "url": "/getKodiPlaying",
    "method": "get",
    "x": 129.75,
    "y": 405.83333587646484,
    "wires": [
      [
        "8b3a1727.74c5e8"
      ]
    ]
  },
  {
    "id": "69af5411.9650ac",
    "type": "http response",
    "z": "767de6ed.898218",
    "name": "",
    "x": 450.74998474121094,
    "y": 406.33333587646484,
    "wires": []
  },
  {
    "id": "76331302.89ccec",
    "type": "inject",
    "z": "767de6ed.898218",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 94.24998474121094,
    "y": 231.83333587646484,
    "wires": [
      [
        "51d53aa8.ae2ac4"
      ]
    ]
  },
  {
    "id": "d8fd1b3e.2702e8",
    "type": "json",
    "z": "767de6ed.898218",
    "name": "",
    "x": 593.4999847412109,
    "y": 232.83333587646484,
    "wires": [
      [
        "d0d79a5e.2f2868",
        "c8864054.3779c"
      ]
    ]
  },
  {
    "id": "8b3a1727.74c5e8",
    "type": "function",
    "z": "767de6ed.898218",
    "name": "",
    "func": "if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN){\nmsg.payload.WhatsPlaying = context.global.KodiEpisodes;\nmsg.res.statusCode=\"200\";\nreturn msg;\n}\nelse\n{\n    //msg.payload=\"Not Authorized\";\n   msg.res.send(\"403\",\"Forbidden\");\n  return;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 315.49998474121094,
    "y": 406.08333587646484,
    "wires": [
      [
        "69af5411.9650ac"
      ]
    ]
  },
  {
    "id": "ea9e7e5d.15618",
    "type": "comment",
    "z": "767de6ed.898218",
    "name": "Publish Kodi playing data to Freeboard",
    "info": "",
    "x": 178.41664123535156,
    "y": 360.99998474121094,
    "wires": []
  },
  {
    "id": "2a313134.d5cece",
    "type": "comment",
    "z": "767de6ed.898218",
    "name": "Get Episode data on a regular basis",
    "info": "",
    "x": 158.41664123535156,
    "y": 197.99998474121094,
    "wires": []
  },
  {
    "id": "c79ab59c.386548",
    "type": "comment",
    "z": "767de6ed.898218",
    "name": "Monitoring of activity occurring in Kodi. Change your \"Kodi\" node to have the correct address to your Kodi/XBMC instance.",
    "info": "",
    "x": 423.41661071777344,
    "y": 20,
    "wires": []
  },
  {
    "id": "d0d79a5e.2f2868",
    "type": "switch",
    "z": "767de6ed.898218",
    "name": "",
    "property": "payload.error",
    "rules": [
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 594,
    "y": 310.33333587646484,
    "wires": [
      [
        "7ca115ac.835eec"
      ]
    ]
  },
  {
    "id": "c8864054.3779c",
    "type": "debug",
    "z": "767de6ed.898218",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 805,
    "y": 273,
    "wires": []
  }
]
