Flows/BMeissen Sample Flows/SampleKodiWinkIntegration.txt
[{"id":"bd2e694a.42d198","type":"subflow","name":"Adjust Group","in":[{"x":70,"y":70,"wires":[{"id":"3f8c626e.c0739e"}]}],"out":[]},{"id":"3f8c626e.c0739e","type":"function","name":"Group msg","func":"if (msg.payload.group_name!=\"N/A\")\n{\nvar newMsg ={\n    \"url\":\"https://winkapi.quirky.com/groups/\"+context.global.WinkGroups[msg.payload.group_name].id+\"/activate\",\n    \"method\": \"POST\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"group_name\":msg.payload.group_name,\n        \"desired_state\": {\n            \"powered\":msg.payload.powered,\n            \"brightness\": msg.payload.brightness\n        },\n        \"trigger\":msg.payload.trigger\n    }\n};\n}\nelse\n{\n    var newMsg ={\n    \"url\":\"127.0.0.1\",\n    \"method\": \"GET\",\n    payload: {\n        \"desired_state\":{\n            \"powered\":\"N/A\"\n        }\n    }\n    };\n}\nreturn newMsg;","outputs":1,"valid":true,"x":289,"y":178,"z":"bd2e694a.42d198","wires":[["eccec50a.133138"]]},{"id":"986d46ce.6792b8","type":"http request","name":"","method":"use","ret":"obj","url":"","x":665.9999694824219,"y":189.99999237060547,"z":"bd2e694a.42d198","wires":[[]]},{"id":"e3304c95.1ccfb","type":"function","name":"Turned Off","func":"var newMsg = {\n        payload:context.global.timestamp+\": Turned off \"+msg.payload.group_name+\" - Trigger: \"+msg.payload.trigger\n};\n\nreturn newMsg;","outputs":1,"valid":true,"x":612,"y":279,"z":"bd2e694a.42d198","wires":[["c391903f.3c6e7"]]},{"id":"c391903f.3c6e7","type":"file","name":"Groups Log","filename":"C:\\Users\\BMeissen\\Desktop\\Node Logs\\Groups.txt","appendNewline":true,"overwriteFile":"false","x":817.2500152587891,"y":257.7500057220459,"z":"bd2e694a.42d198","wires":[]},{"id":"eccec50a.133138","type":"switch","name":"","property":"payload.desired_state.powered","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"true","outputs":3,"x":435,"y":251,"z":"bd2e694a.42d198","wires":[["4a51c278.b5ae3c","986d46ce.6792b8"],["e3304c95.1ccfb","986d46ce.6792b8"],[]]},{"id":"4a51c278.b5ae3c","type":"function","name":"Turned On","func":"var newMsg = {\n        payload:context.global.timestamp+\": Turned on \"+msg.payload.group_name+\" at brightness level: \"+msg.payload.desired_state.brightness+\" - Trigger: \"+msg.payload.trigger\n};\nreturn newMsg;","outputs":1,"valid":true,"x":610,"y":244,"z":"bd2e694a.42d198","wires":[["c391903f.3c6e7"]]},{"id":"9411ee6c.6bee1","type":"tcp in","server":"client","host":"192.168.2.80","port":"9090","datamode":"stream","datatype":"utf8","newline":"","topic":"KodiEvents","name":"Kodi","base64":false,"x":64.25001525878906,"y":129,"z":"2c67ef54.d3981","wires":[["cf307232.30cf9"]]},{"id":"579617bb.a869e8","type":"debug","name":"","active":false,"console":"true","complete":"payload","x":344.25,"y":82.00000762939453,"z":"2c67ef54.d3981","wires":[]},{"id":"cf307232.30cf9","type":"json","name":"","x":192.25,"y":129,"z":"2c67ef54.d3981","wires":[["579617bb.a869e8","3eb803e5.c147fc"]]},{"id":"3eb803e5.c147fc","type":"function","name":"Adjust basement lights","func":"var DimmerList = \"FamilyRoom\";\nvar trigger = \"Kodi\";\n\nif (typeof context.global.MediaPlaying === 'undefined')\n{\n    context.global.MediaPlaying=false;\n}\n\nswitch (msg.payload.method)\n{\n\n    case \"Player.OnPlay\":\n        brightness_high=0.0;\n        powered = true;\n        context.global.MediaPlaying=true;\n        trigger = \"Kodi - On Play\";\n        context.global.BeforePlaying.powered=context.global.WinkGroups[\"FamilyRoom\"].powered;\n        context.global.BeforePlaying.brightness=context.global.WinkGroups[\"FamilyRoom\"].brightness;\n    break;\n    case \"Player.OnPause\":\n        brightness_high=0.5;\n        powered = true;\n        context.global.MediaPlaying=true;\n        trigger = \"Kodi - On Pause\";\n    break;\n    case \"Player.OnStop\":\n        brightness_high=context.global.BeforePlaying.brightness;\n        powered = context.global.BeforePlaying.powered;\n        context.global.MediaPlaying=false;\n        trigger = \"Kodi - On Stop\";\n    break;\n    default:\n        DimmerList=\"N/A\";\n        powered=context.global.BeforePlaying.powered;\n        brightness_high=context.global.BeforePlaying.brightness;\n        context.global.MediaPlaying=false;\n        trigger = \"Kodi - Default\";\n    break;\n}\nif (msg.payload.method==\"Player.OnPlay\" && context.global.BeforePlaying.powered === false)\n{\n    var MotionMsg= {\n        \"payload\" : {\n            \"group_name\":\"N/A\",\n            \"powered\" : false,\n            \"brightness\" : brightness_high,\n            \"trigger\":trigger\n        }    \n    };\n}\nelse {\n    var MotionMsg= {\n        \"payload\" : {\n            \"group_name\":DimmerList,\n            \"powered\" : powered,\n            \"brightness\" : brightness_high,\n            \"trigger\":trigger\n        }\n    };\n}\n return MotionMsg;","outputs":1,"valid":true,"x":373.75,"y":126.75000190734863,"z":"2c67ef54.d3981","wires":[["c021f74a.3fde08","ea4c2a94.15b3d8"]]},{"id":"c021f74a.3fde08","type":"debug","name":"","active":false,"console":"false","complete":"false","x":600.9999694824219,"y":86.5000171661377,"z":"2c67ef54.d3981","wires":[]},{"id":"b64f6ce0.49b09","type":"function","name":"Get Episode","func":"var newMsg ={\n    \"url\":\"http://enter your kodi IP address:enter your kodi port address/jsonrpc?request=%7B%22jsonrpc%22%3A%20%222.0%22%2C%20%22method%22%3A%20%22Player.GetItem%22%2C%20%22params%22%3A%20%7B%20%22properties%22%3A%20%5B%22title%22%2C%20%22album%22%2C%20%22artist%22%2C%20%22season%22%2C%20%22episode%22%2C%20%22duration%22%2C%20%22showtitle%22%2C%20%22tvshowid%22%2C%20%22thumbnail%22%2C%20%22file%22%2C%20%22fanart%22%2C%20%22streamdetails%22%5D%2C%20%22playerid%22%3A%201%20%7D%2C%20%22id%22%3A%20%22VideoGetItem%22%7D\",\n};\nreturn newMsg;","outputs":1,"valid":true,"x":271.5,"y":254.5,"z":"2c67ef54.d3981","wires":[["64b2f02e.9b4d1"]]},{"id":"e24b14bf.1db4e8","type":"debug","name":"","active":false,"console":"true","complete":"true","x":785,"y":253.75,"z":"2c67ef54.d3981","wires":[]},{"id":"64b2f02e.9b4d1","type":"http request","name":"","method":"GET","ret":"txt","url":"","x":448.5,"y":256.5,"z":"2c67ef54.d3981","wires":[["ae928563.516d78"]]},{"id":"936dfb6.f6c9208","type":"function","name":"Set variables","func":"//context.global.MediaPlaying=true;\nif (context.global.MediaPlaying)\n{\n    context.global.KodiEpisodes =new Object();\n//node.warn(msg.payload.result.item);\n// for(j = 0; j<msg.payload.item.length; j++) \n//    {\n    context.global.KodiEpisodes.id=msg.payload.result.item.id;\n    context.global.KodiEpisodes.episode_label=msg.payload.result.item.label;\n\tcontext.global.KodiEpisodes.episode=msg.payload.result.item.episode;\n\tcontext.global.KodiEpisodes.season=msg.payload.result.item.season;\n\tcontext.global.KodiEpisodes.season_label=msg.payload.result.item.showtitle;\n\tcontext.global.KodiEpisodes.fanart=msg.payload.result.item.fanart;\n}\nelse\n{\n    context.global.KodiEpisodes =new Object();\n    context.global.KodiEpisodes.id=\"\";\n    context.global.KodiEpisodes.episode_label=\"Not playing\";\n    context.global.KodiEpisodes.episode=\"\";\n    context.global.KodiEpisodes.season=\"\";\n    context.global.KodiEpisodes.season_label=\"Not playing\";\n    context.global.KodiEpisodes.fanart=\"\";\n}\nmsg.payload=context.global.KodiEpisodes;\nreturn msg;","outputs":1,"valid":true,"x":712.25,"y":356.75,"z":"2c67ef54.d3981","wires":[["e24b14bf.1db4e8"]]},{"id":"2f591c90.d0a6e4","type":"http in","name":"Get Kodi Play Information","url":"/getKodiPlaying","method":"get","x":139.00001525878906,"y":429.5,"z":"2c67ef54.d3981","wires":[["14af811f.eb507f"]]},{"id":"dc3a05f3.23c5f8","type":"http response","name":"","x":460,"y":430,"z":"2c67ef54.d3981","wires":[]},{"id":"89f230c8.760dd","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":103.5,"y":255.5,"z":"2c67ef54.d3981","wires":[["b64f6ce0.49b09"]]},{"id":"ae928563.516d78","type":"json","name":"","x":602.75,"y":256.5,"z":"2c67ef54.d3981","wires":[["936dfb6.f6c9208","e24b14bf.1db4e8"]]},{"id":"14af811f.eb507f","type":"function","name":"","func":"msg.payload.WhatsPlaying = context.global.KodiEpisodes;\nreturn msg;","outputs":1,"valid":true,"x":324.75,"y":429.75,"z":"2c67ef54.d3981","wires":[["dc3a05f3.23c5f8"]]},{"id":"ea4c2a94.15b3d8","type":"subflow:bd2e694a.42d198","name":"","x":605.0000076293945,"y":125.00000190734863,"z":"2c67ef54.d3981","wires":[]},{"id":"26cc3b5c.d933c4","type":"comment","name":"Publish Kodi playing data to webpage","info":"","x":187.66665649414062,"y":384.6666488647461,"z":"2c67ef54.d3981","wires":[]},{"id":"878541f1.787ac","type":"comment","name":"Get Episode data on a regular basis","info":"","x":167.66665649414062,"y":221.6666488647461,"z":"2c67ef54.d3981","wires":[]},{"id":"a3d2bd55.5c2d4","type":"comment","name":"Monitoring of activity occurring in Kodi. Change your \"Kodi\" node to have the correct address to your Kodi/XBMC instance.","info":"","x":432.6666259765625,"y":43.666664123535156,"z":"2c67ef54.d3981","wires":[]}]