Flows/BMeissen Sample Flows/SampleSchedules.txt
[{"id":"57cd5c75.a832a4","type":"subflow","name":"Adjust dimmer","in":[{"x":70,"y":70,"wires":[{"id":"6e5d3a85.91a2c4"}]}],"out":[]},{"id":"6e5d3a85.91a2c4","type":"function","name":"Dimmer msg","func":"if (msg.payload.light_bulb!=\"\")\n{\nvar newMsg ={\n    \"url\":\"https://winkapi.quirky.com/light_bulbs/\"+context.global.WinkLightBulbs[msg.payload.light_bulb].id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"light_bulb\":msg.payload.light_bulb,\n        \"desired_state\": {\n            \"powered\":msg.payload.powered,\n            \"brightness\": msg.payload.brightness\n        },\n        \"trigger\":msg.payload.trigger\n    }\n};\n}\nelse\n{\n    var newMsg ={\n    \"url\":\"127.0.0.1\",\n    \"method\": \"GET\"\n    };\n}\nreturn newMsg;","outputs":1,"valid":true,"x":319,"y":188,"z":"57cd5c75.a832a4","wires":[["1c54d4f8.e3ab2b","54a4e36b.ab5b1c"]]},{"id":"1c54d4f8.e3ab2b","type":"http request","name":"","method":"use","ret":"obj","url":"","x":469,"y":119,"z":"57cd5c75.a832a4","wires":[[]]},{"id":"594e433d.a6b1bc","type":"function","name":"Turned Off","func":"var newMsg = {\n        payload:context.global.timestamp+\": Turned off \"+msg.payload.light_bulb+\" - Trigger: \"+msg.payload.trigger\n};\n\nreturn newMsg;","outputs":1,"valid":true,"x":656,"y":220,"z":"57cd5c75.a832a4","wires":[["b5955d9a.4a6aa"]]},{"id":"b5955d9a.4a6aa","type":"file","name":"Bulbs Log","filename":"C:\\Users\\BMeissen\\Desktop\\Node Logs\\Bulbs.txt","appendNewline":true,"overwriteFile":"false","x":828.7500114440918,"y":195.0000033378601,"z":"57cd5c75.a832a4","wires":[]},{"id":"54a4e36b.ab5b1c","type":"switch","name":"","property":"payload.desired_state.powered","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":479,"y":192,"z":"57cd5c75.a832a4","wires":[["49680325.b697fc"],["594e433d.a6b1bc"]]},{"id":"49680325.b697fc","type":"function","name":"Turned On","func":"var newMsg = {\n        payload:context.global.timestamp+\": Turned on \"+msg.payload.light_bulb+\" at brightness level: \"+msg.payload.desired_state.brightness+\" - Trigger: \"+msg.payload.trigger\n};\nreturn newMsg;","outputs":1,"valid":true,"x":654,"y":185,"z":"57cd5c75.a832a4","wires":[["b5955d9a.4a6aa"]]},{"id":"bd2e694a.42d198","type":"subflow","name":"Adjust Group","in":[{"x":70,"y":70,"wires":[{"id":"3f8c626e.c0739e"}]}],"out":[]},{"id":"3f8c626e.c0739e","type":"function","name":"Group msg","func":"if (msg.payload.group_name!=\"N/A\")\n{\nvar newMsg ={\n    \"url\":\"https://winkapi.quirky.com/groups/\"+context.global.WinkGroups[msg.payload.group_name].id+\"/activate\",\n    \"method\": \"POST\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"group_name\":msg.payload.group_name,\n        \"desired_state\": {\n            \"powered\":msg.payload.powered,\n            \"brightness\": msg.payload.brightness\n        },\n        \"trigger\":msg.payload.trigger\n    }\n};\n}\nelse\n{\n    var newMsg ={\n    \"url\":\"127.0.0.1\",\n    \"method\": \"GET\",\n    payload: {\n        \"desired_state\":{\n            \"powered\":\"N/A\"\n        }\n    }\n    };\n}\nreturn newMsg;","outputs":1,"valid":true,"x":289,"y":178,"z":"bd2e694a.42d198","wires":[["eccec50a.133138"]]},{"id":"986d46ce.6792b8","type":"http request","name":"","method":"use","ret":"obj","url":"","x":665.9999694824219,"y":189.99999237060547,"z":"bd2e694a.42d198","wires":[[]]},{"id":"e3304c95.1ccfb","type":"function","name":"Turned Off","func":"var newMsg = {\n        payload:context.global.timestamp+\": Turned off \"+msg.payload.group_name+\" - Trigger: \"+msg.payload.trigger\n};\n\nreturn newMsg;","outputs":1,"valid":true,"x":612,"y":279,"z":"bd2e694a.42d198","wires":[["c391903f.3c6e7"]]},{"id":"c391903f.3c6e7","type":"file","name":"Groups Log","filename":"C:\\Users\\BMeissen\\Desktop\\Node Logs\\Groups.txt","appendNewline":true,"overwriteFile":"false","x":817.2500152587891,"y":257.7500057220459,"z":"bd2e694a.42d198","wires":[]},{"id":"eccec50a.133138","type":"switch","name":"","property":"payload.desired_state.powered","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"true","outputs":3,"x":435,"y":251,"z":"bd2e694a.42d198","wires":[["4a51c278.b5ae3c","986d46ce.6792b8"],["e3304c95.1ccfb","986d46ce.6792b8"],[]]},{"id":"4a51c278.b5ae3c","type":"function","name":"Turned On","func":"var newMsg = {\n        payload:context.global.timestamp+\": Turned on \"+msg.payload.group_name+\" at brightness level: \"+msg.payload.desired_state.brightness+\" - Trigger: \"+msg.payload.trigger\n};\nreturn newMsg;","outputs":1,"valid":true,"x":610,"y":244,"z":"bd2e694a.42d198","wires":[["c391903f.3c6e7"]]},{"id":"ee85b55e.117a48","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":133.75,"y":187.50000286102295,"z":"34d5f24b.cb2a0e","wires":[["18dd36a.fe722c9","ba15ef8f.45ea1"]]},{"id":"18dd36a.fe722c9","type":"function","name":"CheckDaySegment","func":"var date = new Date(msg.payload);\nvar hours = date.getHours();\nvar minutes =date.getMinutes();\nvar intday = date.getDay();\ncontext.global.timestamp=new Date(msg.payload);\nvar newMsg = {\n    \"payload\": {\n        \"hours\":0,\n        \"minutes\":0,\n        \"intday\":0,\n        \"light_bulb\":\"\",\n        \"group_name\":\"\",\n        \"powered\":\"\",\n        \"brightness\":\"\",\n        \"action\":\"\"\n    }\n    };\nnewMsg.payload.hours=hours;\nnewMsg.payload.minutes=minutes;\nnewMsg.payload.day=intday;\nif(hours==(context.global.SunsetHour-1) && minutes==context.global.SunsetMin) // Indoor Lights at Dusk\n{\n    newMsg.payload.group_name=\"Family and Living\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=1.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Indoor Lights on at Dusk\";\n}\n\nif(hours==(context.global.SunsetHour) && minutes==context.global.SunsetMin) // Garage Lights at Sunset\n{\n    newMsg.payload.group_name=\"GarageExterior\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=1.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Garage Lights on at Sunset\";\n}\n\nif(hours==(context.global.SunriseHour+1) && minutes==context.global.SunriseMin) //sunRise time\n{\n    newMsg.payload.group_name=\"GarageExterior\";\n    newMsg.payload.powered=false;\n    newMsg.payload.brightness=1.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Garage Lights off at Sunrise\";\n}\n\nif(hours==21 && minutes==01) //Dim Family Room @ 9pm\n{\n    newMsg.payload.group_name=\"FamilyRoom\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Family Room dim at 9pm\";\n}\n\nif(hours==5 && minutes==03) //Family Ceiling Light on @ 5am\n{\n    newMsg.payload.light_bulb=\"Family room ceiling\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=0.5;\n    newMsg.payload.action=\"lightbulb\";\n    newMsg.payload.trigger=\"Schedule: Family room Ceiling Light on at 5am\";\n}\n\nif(hours==5 && minutes==02) //Angie's Light on @ 5am\n{\n    newMsg.payload.light_bulb=\"Angie family room\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=1.0;\n    newMsg.payload.action=\"lightbulb\";\n    newMsg.payload.trigger=\"Schedule: Angie's Light on at 5am\";\n}\n\nif(hours==5 && minutes==01 && intday!==0 && intday!=6) //Living Room on dim @ 5am Weekdays\n{\n    newMsg.payload.group_name=\"Living Room\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Living Room on dim at 5am\";\n}\n\nif(hours==21 && minutes==02 && intday!==0 && intday!=6) //Living Room on dim @ 9pm Weekdays\n{\n    newMsg.payload.group_name=\"Living Room\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Living Room on dim at 9pm\";\n}\n\nif(hours==7 && minutes==01 && intday!==0 && intday!=6) //Living Room on full @ 7am Weekdays\n{\n    newMsg.payload.group_name=\"Living Room\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=1.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Living Room on full at 7am\";\n}\n\nif(hours==22 && minutes==30) //Living Room off @ 10:30pm\n{\n    newMsg.payload.group_name=\"Living Room\";\n    newMsg.payload.powered=false;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Living Room off at 10:30pm\";\n}\n\nif(hours==8 && minutes==01 && intday!==0 && intday!=6) //Living Room off @ 8am Weekdays\n{\n    newMsg.payload.group_name=\"Living Room\";\n    newMsg.payload.powered=false;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Living Room off at 8am\";\n}\n\nif(hours==23 && minutes==01) //Family Room off @ 11pm\n{\n    newMsg.payload.group_name=\"FamilyRoom\";\n    newMsg.payload.powered=false;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Family Room off at 11pm\";\n}\n\n//if(hours==9 && minutes!=55) // Test schedule\n//{\n//    newMsg.payload.group_name=\"FamilyRoom\";\n//    newMsg.payload.powered=true;\n//    newMsg.payload.brightness=0.75;\n//    newMsg.payload.action=\"group\";\n//}\nreturn newMsg;","outputs":1,"valid":true,"x":349.00000762939453,"y":184.00000381469727,"z":"34d5f24b.cb2a0e","wires":[["7a35bcc9.85ca44","c7371d93.38c8e"]]},{"id":"7a35bcc9.85ca44","type":"switch","name":"Switch","property":"payload.action","rules":[{"t":"eq","v":"lightbulb"},{"t":"eq","v":"group"}],"checkall":"true","outputs":2,"x":549.0000076293945,"y":184.25000190734863,"z":"34d5f24b.cb2a0e","wires":[["d6d3586e.292ca8","f10377b6.0efc88"],["d6d3586e.292ca8","f1cc9d8f.0e336"]]},{"id":"ba15ef8f.45ea1","type":"debug","name":"","active":false,"console":"false","complete":"false","x":288.75,"y":126,"z":"34d5f24b.cb2a0e","wires":[]},{"id":"c7371d93.38c8e","type":"debug","name":"","active":false,"console":"false","complete":"false","x":526.9999694824219,"y":118.25,"z":"34d5f24b.cb2a0e","wires":[]},{"id":"d6d3586e.292ca8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":732.4999694824219,"y":133.99999618530273,"z":"34d5f24b.cb2a0e","wires":[]},{"id":"f1cc9d8f.0e336","type":"subflow:bd2e694a.42d198","name":"","x":754.4999694824219,"y":240.24999237060547,"z":"34d5f24b.cb2a0e","wires":[]},{"id":"f10377b6.0efc88","type":"subflow:57cd5c75.a832a4","name":"","x":755.7499694824219,"y":187.74999237060547,"z":"34d5f24b.cb2a0e","wires":[]}]