Flows/BMeissen Sample Flows/SampleRobots.json
[
  {
    "id": "c0728837.3f8d78",
    "type": "http in",
    "z": "f17c0cb2.0e83f",
    "name": "",
    "url": "/red/robots",
    "method": "post",
    "swaggerDoc": "",
    "x": 84,
    "y": 20,
    "wires": [
      [
        "d7f8d9a.f280728"
      ]
    ]
  },
  {
    "id": "f6ec754e.091388",
    "type": "comment",
    "z": "f17c0cb2.0e83f",
    "name": "^---- Update the \"Robots\" node to program your robots.",
    "info": "",
    "x": 543,
    "y": 100,
    "wires": []
  },
  {
    "id": "aa0c758d.55f388",
    "type": "function",
    "z": "f17c0cb2.0e83f",
    "name": "Robots",
    "func": "date=new Date();\n\nif ('useRobots' in context.global && context.global.useRobots) {\n    var WinkCMDmsg = \"\";\n    // Import changed data into a local variable for ease of use\n    changed = msg.payload;\n    // All robots are \"if statements\"\n    // Use the examples below to create your own robots -- you can have multiple conditions as seen below.\n\n    // Example #1: If my Hallway Sensor (motion sensor) changes to motion detected, turn on my hallway light.\n    // Note best practice is to have old_state== && new_state== as these two conditions means that the old_state\n    // was something else and CHANGED to the new_state. You might get falsely triggered events if you do not\n    // put old_state into the condition.\n    if (changed.name==\"Hallway Sensor\" && changed.old_state!==true && changed.new_state==true )\n    {\n        // This command turns my Hallway light on to 100%\n        WinkCMDmsg = context.global.executeWinkCMD(\"Hallway\",\"light\",\"on\",\"100\");\n        node.send(WinkCMDmsg);\n    }\n    \n    // Example #2 - Another motion sensor example.\n    if (changed.name==\"Great Room Sensor\" && changed.old_state!==true && changed.new_state==true )\n    {\n        // This command sets my Ambiance group on at 100%\n        WinkCMDmsg = context.global.executeWinkCMD(\"Ambiance\",\"group\",\"on\",\"100\");\n        node.send(WinkCMDmsg);\n        \n        // This command just shows a message in the debug tab.\n        node.warn(\"Great Room Sensor motion detected - turn on Ambiance.\")\n    }\n    \n    // Example #3 turns the group off when Motion is no longer detected.\n    // Note in this example, I'm specifically saying when old_state==true and new_state==false because \n    // I only want this to trigger when the motion sensor CHANGES to false FROM true. In the above\n    // examples where old_state!==true, old_state could be undefined and new_state could equal true\n    // and the robots would still fire. In this case, if old_state is undefined and new_state is false\n    // then the robot could trigger erroneously.\n    if (changed.name==\"Great Room Sensor\" && changed.old_state==true && changed.new_state==false )\n    {\n        // This command turns my Ambiance group off when motion is no longer detected.\n        WinkCMDmsg = context.global.executeWinkCMD(\"Ambiance\",\"group\",\"off\",\"0\");\n        node.send(WinkCMDmsg);\n        node.warn(\"Great Room Sensor motion no longer detected - turn off Ambiance.\")\n    }\n    \n    // Example #4: If the front door opens (and was previously not open) and my wife isn't home, then do something.\n    if (changed.name==\"Front Door\" && changed.old_state==\"Closed\" && changed.new_state==\"Opened\" && context.global.Presence[Angie].home==false)\n    {\n        // Command shows a message in the debug tab when it's triggered:\n        node.warn(\"Front door opened!\");\n        \n        // This command sends an HTTP command to the URL specified.\n        // In this case, it sends a message through IFTTT which then notifies my wife the front door opened whiles he was gone.\n        WinkCMDmsg ={\n            \"url\":\"https://maker.ifttt.com/trigger/front_door_opened/with/key/\",\n            \"method\": \"PUT\",\n            payload:{}\n        }\n        node.send(WinkCMDmsg);\n    }\n    \n    // Example 5: When the garage door opens (and was previously not open), do something.\n    if (changed.name==\"GarageDoor\" && changed.old_state==\"Closed\" && changed.new_state==\"Opened\")\n    {\n        // Say something in the debug window.\n        node.warn(\"Garage door opened!\");\n        \n        // Send a wink Command to turn the Garage Interior group on at 100% brightness.\n        // If I wanted to change a bulb on/off, then I would use:\n        // WinkCMDmsg = context.global.executeWinkCMD(\"Light Bulb\",\"light\",\"on\",\"1\");\n        // The command above would turn a light bulb on at 1%. Obviously change on to off, 1 to a number 1 through 100.\n        WinkCMDmsg = context.global.executeWinkCMD(\"Garage Interior\",\"group\",\"on\",\"100\");\n        node.send(WinkCMDmsg);\n    }\n\n    \n}    \n    \n// You shouldn't have to edit anything below this line.\nreturn;",
    "outputs": "1",
    "noerr": 0,
    "x": 383,
    "y": 61,
    "wires": [
      [
        "9d16c901.62e938"
      ]
    ]
  },
  {
    "id": "9d16c901.62e938",
    "type": "http request",
    "z": "f17c0cb2.0e83f",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 537,
    "y": 61,
    "wires": [
      [
        "b23c43b8.4dc3c"
      ]
    ]
  },
  {
    "id": "b23c43b8.4dc3c",
    "type": "debug",
    "z": "f17c0cb2.0e83f",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 708,
    "y": 61,
    "wires": []
  },
  {
    "id": "d7f8d9a.f280728",
    "type": "function",
    "z": "f17c0cb2.0e83f",
    "name": "",
    "func": "if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FREEBOARD_TOKEN){\nmsg.StatusCode=\"200\";\n//if ('camera_name' in msg.payload && msg.payload.camera_name!=='undefined') msg.payload.camera_name=msg.req.body.camera_name\n} else {\nmsg.StatusCode=\"403\";\n}\n\nif (msg.StatusCode==\"200\")\n{\n    return [msg, msg];\n}\nelse { \n    return [msg];\n}",
    "outputs": "2",
    "noerr": 0,
    "x": 246,
    "y": 20,
    "wires": [
      [
        "8526ef09.7ad91"
      ],
      [
        "aa0c758d.55f388",
        "872ed241.78d13"
      ]
    ]
  },
  {
    "id": "8526ef09.7ad91",
    "type": "http response",
    "z": "f17c0cb2.0e83f",
    "name": "",
    "x": 384,
    "y": 20,
    "wires": []
  },
  {
    "id": "872ed241.78d13",
    "type": "debug",
    "z": "f17c0cb2.0e83f",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 402,
    "y": 136,
    "wires": []
  }
]
