Flows/BMeissen Sample Flows/SampleWinkData.txt
[{"id":"a3cfd287.5c303","type":"http response","name":"","x":419.5,"y":218.24999237060547,"z":"8b04a52d.74fb58","wires":[]},{"id":"5eebfc99.a11404","type":"http request","name":"","method":"use","ret":"obj","url":"","x":471.25,"y":71.25,"z":"8b04a52d.74fb58","wires":[["826b395b.7d94c8"]]},{"id":"22ab3ada.dd54c6","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"60","crontab":"","once":true,"x":64.25,"y":70.25,"z":"8b04a52d.74fb58","wires":[["c19751e8.3e68b"]]},{"id":"c19751e8.3e68b","type":"function","name":"Get OAuth Token","func":"if (context.global.PersonalVariables.WinkUsername!==\"\")\n{\n    var newMsg ={\n        \"url\":\"https://winkapi.quirky.com/oauth2/token\",\n        \"method\": \"POST\",\n        headers: {\n            \"Content-Type\":\"application/json\"\n        },\n        payload: {\n            \"client_id\": \"quirky_wink_android_app\",\n            \"client_secret\": \"e749124ad386a5a35c0ab554a4f2c045\",\n            \"username\": context.global.PersonalVariables.WinkUsername,\n            \"password\": context.global.PersonalVariables.WinkPassword,\n            \"grant_type\": \"password\"\n        }\n    };\n}\nreturn newMsg;","outputs":1,"valid":true,"x":258.25,"y":70.25,"z":"8b04a52d.74fb58","wires":[["5eebfc99.a11404"]]},{"id":"826b395b.7d94c8","type":"function","name":"DefineGlobalToken","func":"context.global.WinkToken=msg.payload.data.access_token;\nnode.log(context.global.WinkToken);\nvar msg ={ \"payload\":\"aaa\"}\nreturn msg;","outputs":1,"valid":true,"x":708.25,"y":71.25,"z":"8b04a52d.74fb58","wires":[["813ce487.7ec318"]]},{"id":"813ce487.7ec318","type":"function","name":"Prepare HTTPS requests by device type","func":"var newMsg1 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/light_bulbs\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\nvar newMsg2 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/binary_switches\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\n\nvar newMsg3 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/locks\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\n\nvar newMsg4 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/groups\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\nvar newMsg5 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/sensor_pods\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\nvar newMsg6 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/scenes\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\nvar newMsg7 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/eggtrays\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\n\nvar newMsg8 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/piggy_banks\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\n\nvar newMsg9 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/propane_tanks\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\n\nvar newMsg10 ={\n    \"url\":\"https://winkapi.quirky.com/users/me/cloud_clocks\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken\n    }\n}\n\nreturn [newMsg1,newMsg2,newMsg3,newMsg4,newMsg5,newMsg6,newMsg7,newMsg8,newMsg9,newMsg10];","outputs":"10","valid":true,"x":1005.0000133514404,"y":60.5,"z":"8b04a52d.74fb58","wires":[["13a9cbb9.ec5634"],["2a8b3f25.d574c"],["80d6c668.7f2938"],["120374db.edfc8b"],["c3203fc.f3cdfc"],["1763a135.e89c5f"],["3086efd5.cf791"],["f587b5b6.0a7848"],["3f2705e5.c0d8fa"],["dbd889ac.242778"]]},{"id":"13a9cbb9.ec5634","type":"http request","name":"GetLightBulbs","method":"use","ret":"obj","url":"","x":612.7500076293945,"y":288.75000762939453,"z":"8b04a52d.74fb58","wires":[["cc2c1fca.33d3e"]]},{"id":"cc2c1fca.33d3e","type":"function","name":"SetGlobalLightBulbList","func":"var lightBulbsArray = new Object();\ncontext.global.WinkLightBulbs =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        lightBulbsArray[msg.payload.data[i].name] = msg.payload.data[i].light_bulb_id;\n        context.global.WinkLightBulbs[msg.payload.data[i].name]= {\n            \"id\":msg.payload.data[i].light_bulb_id,\n            \"name\":msg.payload.data[i].name,\n            \"pubnubChannel\":msg.payload.data[i].subscription.pubnub.channel,\n            \"powered\":msg.payload.data[i].last_reading.powered,\n            \"brightness\":msg.payload.data[i].last_reading.brightness\n        };\n    }\n\nreturn;","outputs":1,"valid":true,"x":1079.250015258789,"y":297.25000762939453,"z":"8b04a52d.74fb58","wires":[[]]},{"id":"c8501cc6.37afe","type":"function","name":"SetGlobalBinarySwitches","func":"context.global.WinkBinarySwitches =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        context.global.WinkBinarySwitches[msg.payload.data[i].name]= msg.payload.data[i].binary_switch_id;\n    }\n\nreturn;","outputs":1,"valid":true,"x":1086.750015258789,"y":328.50000762939453,"z":"8b04a52d.74fb58","wires":[[]]},{"id":"2a8b3f25.d574c","type":"http request","name":"GetBinarySwitches","method":"use","ret":"obj","url":"","x":625.2500076293945,"y":334.5000057220459,"z":"8b04a52d.74fb58","wires":[["c8501cc6.37afe"]]},{"id":"80d6c668.7f2938","type":"http request","name":"GetLocks","method":"use","ret":"obj","url":"","x":596.7500076293945,"y":383.7500047683716,"z":"8b04a52d.74fb58","wires":[["eba80446.1457f8"]]},{"id":"eba80446.1457f8","type":"function","name":"SetGlobalLocks","func":"context.global.WinkLocks =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        context.global.WinkLocks[msg.payload.data[i].name]= msg.payload.data[i].lock_id;\n    }\n\nreturn;","outputs":1,"valid":true,"x":1056.000015258789,"y":359.50000953674316,"z":"8b04a52d.74fb58","wires":[[]]},{"id":"55a190a2.aa5e7","type":"function","name":"SetGlobalGroups","func":"context.global.WinkGroups =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        if (msg.payload.data[i].members.length >0)\n        {\n            context.global.WinkGroups[msg.payload.data[i].name]={\n                \"name\":msg.payload.data[i].name,\n                \"id\":msg.payload.data[i].group_id,\n                \"pubnubChannel\":msg.payload.data[i].subscription.pubnub.channel,\n                \"connected\":msg.payload.data[i].reading_aggregation.connection.and,\n                \"powered\":msg.payload.data[i].reading_aggregation.powered.and,\n                \"brightness\":msg.payload.data[i].reading_aggregation.brightness.average\n            };\n        }\n    }\n\nreturn;","outputs":1,"valid":true,"x":1061.750015258789,"y":390.25000953674316,"z":"8b04a52d.74fb58","wires":[[]]},{"id":"120374db.edfc8b","type":"http request","name":"GetGroups","method":"use","ret":"obj","url":"","x":600.7500076293945,"y":433.0000057220459,"z":"8b04a52d.74fb58","wires":[["55a190a2.aa5e7"]]},{"id":"a6d96f69.59269","type":"function","name":"SetGlobalSensors","func":"context.global.WinkMSensors =new Object();\ncontext.global.WinkTrippers =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        if (msg.payload.data[i].model_name==\"Motion Sensor\")\n        {\n            context.global.WinkMSensors[msg.payload.data[i].sensor_pod_id] = {\n                \"name\":msg.payload.data[i].name,\n                \"motion\":msg.payload.data[i].last_reading.motion,\n                \"type\": msg.payload.data[i].model_name,\n                \"pubnubChannel\":msg.payload.data[i].subscription.pubnub.channel\n            };\n        }\n         if (msg.payload.data[i].model_name==\"Tripper\")\n         {\n            context.global.WinkTrippers[msg.payload.data[i].name] = {\n                \"name\":msg.payload.data[i].name,\n                \"id\":msg.payload.data[i].sensor_pod_id,\n                \"opened\":msg.payload.data[i].last_reading.opened,\n                \"type\": msg.payload.data[i].model_name,\n                \"pubnubChannel\": msg.payload.data[i].subscription.pubnub.channel,\n                \"subscriber_key\":msg.payload.data[i].subscription.pubnub.subscribe_key\n            };\n        }\n    }\nreturn;","outputs":1,"valid":true,"x":1064.000015258789,"y":421.00000953674316,"z":"8b04a52d.74fb58","wires":[[]]},{"id":"c3203fc.f3cdfc","type":"http request","name":"GetSensors","method":"use","ret":"obj","url":"","x":600.7500076293945,"y":480.75000762939453,"z":"8b04a52d.74fb58","wires":[["a6d96f69.59269"]]},{"id":"1763a135.e89c5f","type":"http request","name":"GetShortcuts","method":"use","ret":"obj","url":"","x":607.2500686645508,"y":527.0000076293945,"z":"8b04a52d.74fb58","wires":[["21e5f0fc.de1a1"]]},{"id":"21e5f0fc.de1a1","type":"function","name":"SetGlobalShortcuts","func":"context.global.WinkScenes =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        if (msg.payload.data[i].members.length >0)\n        {\n            context.global.WinkScenes[msg.payload.data[i].name]= msg.payload.data[i].scene_id;\n        }\n    }\n\nreturn;","outputs":1,"valid":true,"x":1070.000015258789,"y":452.2500104904175,"z":"8b04a52d.74fb58","wires":[[]]},{"id":"3086efd5.cf791","type":"http request","name":"GetEggTray","method":"use","ret":"obj","url":"","x":600.0000076293945,"y":570.0000085830688,"z":"8b04a52d.74fb58","wires":[["95968673.6a6978"]]},{"id":"95968673.6a6978","type":"function","name":"SetGlobalEggTrays","func":"context.global.WinkEggTrays =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        if (msg.payload.data[i].eggtray_id.length >0)\n        {\n            context.global.WinkEggTrays[msg.payload.data[i].eggtray_id]= {\n                \"id\":msg.payload.data[i].eggtray_id,\n                \"inventory\":msg.payload.data[i].last_reading.inventory\n        };\n    }\n}\nreturn;","outputs":1,"valid":true,"x":1071.250015258789,"y":482.5000114440918,"z":"8b04a52d.74fb58","wires":[[]]},{"id":"f587b5b6.0a7848","type":"http request","name":"GetPiggyBank","method":"use","ret":"obj","url":"","x":612.5000076293945,"y":617.5000076293945,"z":"8b04a52d.74fb58","wires":[["1b3656f1.e4c9a9"]]},{"id":"1b3656f1.e4c9a9","type":"function","name":"SetGlobalPiggyBanks","func":"context.global.WinkPiggyBanks =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        if (msg.payload.data[i].piggy_bank_id.length >0)\n        {\n            context.global.WinkPiggyBanks[msg.payload.data[i].piggy_bank_id]= {\n                \"id\":msg.payload.data[i].piggy_bank_id,\n                \"name\":msg.payload.data[i].name,\n                \"balance\":msg.payload.data[i].balance/100,\n                \"goal\":msg.payload.data[i].savings_goal/100\n        };\n    }\n}\nreturn;","outputs":1,"valid":true,"x":1072.500015258789,"y":512.5000095367432,"z":"8b04a52d.74fb58","wires":[[]]},{"id":"3f408ce6.c0bf74","type":"function","name":"Throw Wink Data","func":"msg.payload.lights=context.global.WinkLightBulbs;\nmsg.payload.BinarySwitches=context.global.WinkBinarySwitches;\nmsg.payload.Locks=context.global.WinkLocks;\nmsg.payload.MotionSensors=context.global.WinkMSensors;\nmsg.payload.Trippers=context.global.WinkTrippers;\nmsg.payload.Groups=context.global.WinkGroups;\nmsg.payload.Scenes=context.global.WinkScenes;\nmsg.payload.MediaPlaying=context.global.MediaPlaying;\nmsg.payload.ignoreMotion=context.global.ignoreMotion;\nmsg.payload.EggTrays=context.global.WinkEggTrays;\nmsg.payload.PiggyBanks=context.global.WinkPiggyBanks;\nmsg.payload.Weather=context.global.Weather;\nmsg.payload.Propane=context.global.WinkPropaneTanks;\nmsg.payload.Nimbus=context.global.WinkNimbus;\nreturn msg;","outputs":1,"valid":true,"x":257.5,"y":218.24999237060547,"z":"8b04a52d.74fb58","wires":[["a3cfd287.5c303"]]},{"id":"da91a118.256e6","type":"http in","name":"Get Wink Data","url":"/getGlobalData","method":"get","x":76.5,"y":219.24999237060547,"z":"8b04a52d.74fb58","wires":[["3f408ce6.c0bf74"]]},{"id":"ef79deea.10862","type":"http request","name":"Get Weather","method":"GET","ret":"obj","url":"","x":457.75,"y":833.0000152587891,"z":"8b04a52d.74fb58","wires":[["24e666c.fdb199a"]]},{"id":"287a8da5.d78572","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"900","crontab":"","once":true,"x":126.74999237060547,"y":833.2500123977661,"z":"8b04a52d.74fb58","wires":[["bca57f66.435a8"]]},{"id":"24e666c.fdb199a","type":"function","name":"Get current weather","func":"context.global.Weather = new Object();\ncontext.global.CloudCover=msg.payload.currently.cloudCover*100;\ncontext.global.WeatherSummary=msg.payload.currently.summary;\nvar date = new Date(msg.payload.daily.data[0].sunsetTime*1000);\nvar hours = date.getHours();\nvar minutes =date.getMinutes();\ncontext.global.SunsetHour=hours;\ncontext.global.SunsetMin=minutes;\nvar date = new Date(msg.payload.daily.data[0].sunriseTime*1000);\nvar hours = date.getHours();\nvar minutes =date.getMinutes();\ncontext.global.SunriseHour=hours;\ncontext.global.SunriseMin=minutes;\nnewMsg = {\n    payload: {\n        \"CloudCover\": context.global.CloudCover,\n        \"WeatherSummary\": context.global.WeatherSummary,\n        \"sunsetTime\": context.global.SunsetHour+\":\"+context.global.SunsetMin,\n        \"sunriseTime\": context.global.SunriseHour+\":\"+context.global.SunriseMin,\n        \"Temperature\": msg.payload.currently.temperature\n    }\n};\ncontext.global.Weather={\n        \"CloudCover\": context.global.CloudCover,\n        \"WeatherSummary\": context.global.WeatherSummary,\n        \"sunsetTime\": context.global.SunsetHour+\":\"+context.global.SunsetMin,\n        \"sunriseTime\": context.global.SunriseHour+\":\"+context.global.SunriseMin,\n        \"Temperature\": msg.payload.currently.temperature\n};\n\nreturn newMsg;","outputs":1,"valid":true,"x":638.9999694824219,"y":834.0000152587891,"z":"8b04a52d.74fb58","wires":[["5ca71233.a358ec"]]},{"id":"5ca71233.a358ec","type":"debug","name":"","active":false,"console":"false","complete":"false","x":841.9999694824219,"y":834.8928985595703,"z":"8b04a52d.74fb58","wires":[]},{"id":"6e773414.9188cc","type":"http in","name":"","url":"/Monitoring","method":"get","x":80.5,"y":411.99999237060547,"z":"8b04a52d.74fb58","wires":[["17f0a3e8.e80f5c"]]},{"id":"17f0a3e8.e80f5c","type":"template","name":"iFrame","field":"","template":"<html>\n<body>\n    <iframe id=\"forecast_embed\" type=\"text/html\" frameborder=\"0\" height=\"100%\" width=\"100%\" src=\"http://localhost:1880/freeboard/#start-89973\"> \n    </iframe>\n</body>\n</html>\n    \n","x":241.5,"y":410.99999237060547,"z":"8b04a52d.74fb58","wires":[["784d788.f87b288"]]},{"id":"784d788.f87b288","type":"http response","name":"","x":383.5,"y":410.99999237060547,"z":"8b04a52d.74fb58","wires":[]},{"id":"96c7c1f1.69384","type":"http response","name":"","x":468.75,"y":890.5000238418579,"z":"8b04a52d.74fb58","wires":[]},{"id":"73f733dd.8c08cc","type":"function","name":"Throw Wink Data","func":"msg.payload.Global=context.global;\nreturn msg;","outputs":1,"valid":true,"x":302.99999618530273,"y":891.5000247955322,"z":"8b04a52d.74fb58","wires":[["96c7c1f1.69384"]]},{"id":"879d030c.7863","type":"http in","name":"Get Wink Data","url":"/getGlobalData2","method":"get","x":95.24999237060547,"y":893.0000238418579,"z":"8b04a52d.74fb58","wires":[["73f733dd.8c08cc"]]},{"id":"3f2705e5.c0d8fa","type":"http request","name":"GetPropaneTanks","method":"use","ret":"obj","url":"","x":612.6666259765625,"y":663.6666870117188,"z":"8b04a52d.74fb58","wires":[["982f3adf.67d0c8"]]},{"id":"dbd889ac.242778","type":"http request","name":"GetCloudClocks","method":"use","ret":"obj","url":"","x":613.6666259765625,"y":710.6666870117188,"z":"8b04a52d.74fb58","wires":[["7aade320.85521c"]]},{"id":"982f3adf.67d0c8","type":"function","name":"SetGlobalPropaneTanks","func":"context.global.WinkPropaneTanks =new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        if (msg.payload.data[i].propane_tank_id.length >0)\n        {\n            context.global.WinkPropaneTanks[msg.payload.data[i].propane_tank_id]= {\n                \"id\":msg.payload.data[i].propane_tank_id,\n                \"name\":msg.payload.data[i].name,\n                \"pubnubChannel\":msg.payload.data[i].subscription.pubnub.channel,\n                \"remaining\":msg.payload.data[i].last_reading.remaining,\n                \"connection\":msg.payload.data[i].last_reading.connection\n        };\n    }\n}\nreturn;","outputs":1,"valid":true,"x":1078.6666259765625,"y":543.6666870117188,"z":"8b04a52d.74fb58","wires":[[]]},{"id":"7aade320.85521c","type":"function","name":"SetGlobalCloudClock","func":"context.global.WinkNimbus =new Object();\ncontext.global.WinkNimbus.Dials = new Object();\nfor(i = 0; i<msg.payload.data.length; i++) \n    {                   \n        if (msg.payload.data[i].cloud_clock_id.length >0)\n        {\n            context.global.WinkNimbus[msg.payload.data[i].cloud_clock_id]= {\n                \"id\":msg.payload.data[i].cloud_clock_id,\n                \"name\":msg.payload.data[i].name,\n                \"pubnubChannel\":msg.payload.data[i].subscription.pubnub.channel,\n                \"mac_address\":msg.payload.data[i].mac_address,\n                \n        };\n        for (j=0; j<msg.payload.data[i].dials.length; j++)\n        {\n            context.global.WinkNimbus.Dials[msg.payload.data[i].dials[j].dial_id]={\n                \"id\":msg.payload.data[i].dials[j].dial_id,\n                \"name\":msg.payload.data[i].dials[j].name,\n                \"label\":msg.payload.data[i].dials[j].label,\n                \"dial_index\":msg.payload.data[i].dials[j].dial_index\n            };\n        }\n    }\n}\nreturn;","outputs":1,"valid":true,"x":1078.6666259765625,"y":575.6666870117188,"z":"8b04a52d.74fb58","wires":[[]]},{"id":"6cd7efc4.93281","type":"comment","name":"Edit the \"iFrame\" node to update with your Freeboard page","info":"","x":225.66665649414062,"y":371.6666488647461,"z":"8b04a52d.74fb58","wires":[]},{"id":"bca57f66.435a8","type":"function","name":"Build URL","func":"var newMsg={\n    \"url\":\"https://api.forecast.io/forecast/\"+context.global.PersonalVariables.ForecastAPI+\"/\"+context.global.PersonalVariables.ForecastLat+\",\"+context.global.PersonalVariables.ForecastLong\n};\nreturn newMsg;","outputs":1,"valid":true,"x":277.6666564941406,"y":832.6667022705078,"z":"8b04a52d.74fb58","wires":[["ef79deea.10862"]]}]