Flows/BMeissen Sample Flows/SampleSchedules.txt
[{"id":"44b487b7.bb4b78","type":"pushbullet-config","name":"Push Bullet"},{"id":"d11b6a06.2ee498","type":"subflow","name":"Adjust switch","in":[{"x":70,"y":70,"wires":[{"id":"7a2b83d8.85d47c"}]}],"out":[]},{"id":"7a2b83d8.85d47c","type":"function","name":"BinarySwitch msg","func":"var newMsg ={\n    \"url\":\"https://winkapi.quirky.com/binary_switches/\"+context.global.winkState.binary_switches[msg.payload.binary_switch].object_id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"binary_switch\":msg.payload.binary_switch,\n        \"desired_state\": {\n            \"powered\":msg.payload.powered\n        },\n        \"trigger\":msg.payload.trigger\n    }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":212,"y":70,"z":"d11b6a06.2ee498","wires":[["75e5e1f2.8a1a2","1cdfa805.e32058"]]},{"id":"75e5e1f2.8a1a2","type":"http request","name":"","method":"use","ret":"obj","url":"","x":439,"y":70,"z":"d11b6a06.2ee498","wires":[[]]},{"id":"1cdfa805.e32058","type":"function","name":"Log and Pushbullet","func":"if (msg.payload.desired_state.powered===true)\n{\n    var newMsg = {\n        payload:context.global.timestamp+\": Turned on \"+msg.payload.binary_switch+\" - Trigger: \"+msg.payload.trigger\n    };\n}\nelse {\n    var newMsg = {\n        payload:context.global.timestamp+\": Turned off \"+msg.payload.binary_switch+\" - Trigger: \"+msg.payload.trigger\n    };\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":462,"y":104,"z":"d11b6a06.2ee498","wires":[["7d5c3b2f.82a3c4","d79150f.f286eb"]]},{"id":"7d5c3b2f.82a3c4","type":"file","name":"Switches Log","filename":"C:\\Users\\BMeissen\\Desktop\\Node Logs\\Switches.txt","appendNewline":true,"overwriteFile":"false","x":657.25,"y":67.75,"z":"d11b6a06.2ee498","wires":[]},{"id":"d79150f.f286eb","type":"pushbullet","config":"44b487b7.bb4b78","pushtype":"note","title":"Wink Lights","chan":"","name":"","x":653,"y":104,"z":"d11b6a06.2ee498","wires":[]},{"id":"44b487b7.bb4b78","type":"pushbullet-config","name":"Push Bullet"},{"id":"d2afc1e6.2d504","type":"subflow","name":"Adjust dimmer","in":[{"x":70,"y":70,"wires":[{"id":"a2927524.5d6d88"}]}],"out":[]},{"id":"a2927524.5d6d88","type":"function","name":"Dimmer msg","func":"if (msg.payload.light_bulb!=\"\")\n{\nvar newMsg ={\n    \"url\":\"https://winkapi.quirky.com/light_bulbs/\"+context.global.winkState.light_bulbs[msg.payload.light_bulb].object_id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"light_bulb\":msg.payload.light_bulb,\n        \"desired_state\": {\n            \"powered\":msg.payload.powered,\n            \"brightness\": msg.payload.brightness\n        },\n        \"trigger\":msg.payload.trigger\n    }\n};\n}\nelse\n{\n    var newMsg ={\n    \"url\":\"127.0.0.1\",\n    \"method\": \"GET\"\n    };\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":213,"y":129,"z":"d2afc1e6.2d504","wires":[["c93063f4.36cfa","79f07287.860f8c"]]},{"id":"c93063f4.36cfa","type":"http request","name":"","method":"use","ret":"obj","url":"","x":381.77777099609375,"y":91.22222900390625,"z":"d2afc1e6.2d504","wires":[[]]},{"id":"c597b1ca.3a685","type":"file","name":"Bulbs Log","filename":"C:\\Users\\BMeissen\\Desktop\\Node Logs\\Bulbs.txt","appendNewline":true,"overwriteFile":"false","x":587.75,"y":129,"z":"d2afc1e6.2d504","wires":[]},{"id":"79f07287.860f8c","type":"function","name":"Log and Pushbullet","func":"if (msg.payload.desired_state.powered===true)\n{\n    var newMsg = {\n        payload:context.global.timestamp+\": Turned on \"+msg.payload.light_bulb+\" at brightness level: \"+msg.payload.desired_state.brightness+\" - Trigger: \"+msg.payload.trigger\n    };\n}\nelse\n{\n    var newMsg = {\n        payload:context.global.timestamp+\": Turned off \"+msg.payload.light_bulb+\" - Trigger: \"+msg.payload.trigger\n    };\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":404,"y":129,"z":"d2afc1e6.2d504","wires":[["c597b1ca.3a685","de9f0c33.2160f"]]},{"id":"de9f0c33.2160f","type":"pushbullet","config":"44b487b7.bb4b78","pushtype":"note","title":"","chan":"","name":"","x":588,"y":95,"z":"d2afc1e6.2d504","wires":[]},{"id":"44b487b7.bb4b78","type":"pushbullet-config","name":"Push Bullet"},{"id":"fb668bca.049978","type":"subflow","name":"Adjust Group","in":[{"x":70,"y":70,"wires":[{"id":"210e615c.def19e"}]}],"out":[]},{"id":"210e615c.def19e","type":"function","name":"Group msg","func":"if (msg.payload.group_name!==\"N/A\")\n{\nvar newMsg ={\n    \"url\":\"https://winkapi.quirky.com/groups/\"+context.global.winkState.groups[msg.payload.group_name].object_id+\"/activate\",\n    \"method\": \"POST\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"group_name\":msg.payload.group_name,\n        \"desired_state\": {\n            \"powered\":msg.payload.powered,\n            \"brightness\": msg.payload.brightness\n        },\n        \"trigger\":msg.payload.trigger\n    }\n};\n}\nelse\n{\n    var newMsg ={\n    \"url\":\"127.0.0.1\",\n    \"method\": \"GET\",\n    payload: {\n        \"desired_state\":{\n            \"powered\":\"N/A\"\n        }\n    }\n    };\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":199,"y":116,"z":"fb668bca.049978","wires":[["2990ef57.d66f1","80637c0f.7f9c8"]]},{"id":"2990ef57.d66f1","type":"http request","name":"","method":"use","ret":"obj","url":"","x":365,"y":116,"z":"fb668bca.049978","wires":[[]]},{"id":"7dff9f2d.82006","type":"file","name":"Groups Log","filename":"C:\\Users\\BMeissen\\Desktop\\Node Logs\\Groups.txt","appendNewline":true,"overwriteFile":"false","x":573.25,"y":114.75,"z":"fb668bca.049978","wires":[]},{"id":"80637c0f.7f9c8","type":"function","name":"Log and Pushbullet","func":"if (msg.payload.desired_state.powered===true)\n{\n    var newMsg = {\n        payload:context.global.timestamp+\": Turned on \"+msg.payload.group_name+\" at brightness level: \"+msg.payload.desired_state.brightness+\" - Trigger: \"+msg.payload.trigger\n    };\n}\nelse {\n    var newMsg = {\n        payload:context.global.timestamp+\": Turned off \"+msg.payload.group_name+\" - Trigger: \"+msg.payload.trigger\n    };\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":387,"y":152,"z":"fb668bca.049978","wires":[["7dff9f2d.82006","81017a16.7efe88"]]},{"id":"81017a16.7efe88","type":"pushbullet","config":"44b487b7.bb4b78","pushtype":"note","title":"Wink Lights","chan":"","name":"","x":573,"y":152,"z":"fb668bca.049978","wires":[]},{"id":"7eb7c2af.81483c","type":"function","name":"CheckDaySegment","func":"var date = new Date(msg.payload);\nvar hours = date.getHours();\nvar minutes =date.getMinutes();\nvar intday = date.getDay();\ncontext.global.timestamp=new Date(msg.payload);\nvar newMsg = {\n    \"payload\": {\n        \"hours\":0,\n        \"minutes\":0,\n        \"intday\":0,\n        \"Sunset\":context.global.Weather.SunsetHour+\":\"+context.global.Weather.SunsetMin,\n        \"Sunrise\":context.global.Weather.SunriseHour+\":\"+context.global.Weather.SunriseMin,\n        \"light_bulb\":\"\",\n        \"group_name\":\"\",\n        \"powered\":\"\",\n        \"brightness\":\"\",\n        \"action\":\"\",\n        \"binary_switch\":\"\"\n    }\n};\nnewMsg.payload.hours=hours;\nnewMsg.payload.minutes=minutes;\nnewMsg.payload.intday=intday;\nif(hours==(context.global.Weather.SunsetHour-1) && minutes==context.global.Weather.SunsetMin) // Indoor Lights at Dusk\n{\n    newMsg.payload.group_name=\"Family and Living\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=1.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Indoor Lights on at Dusk\";\n}\n\nif(hours==(context.global.Weather.SunsetHour) && minutes==context.global.Weather.SunsetMin) // Garage Lights at Sunset\n{\n    newMsg.payload.group_name=\"GarageExterior\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=1.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Garage Lights on at Sunset\";\n}\n\nif(hours==(context.global.Weather.SunriseHour+1) && minutes==context.global.Weather.SunriseMin) //sunRise time\n{\n    newMsg.payload.group_name=\"GarageExterior\";\n    newMsg.payload.powered=false;\n    newMsg.payload.brightness=1.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Garage Lights off at Sunrise\";\n}\n\nif(hours==21 && minutes==01) //Dim Family Room @ 9pm\n{\n    newMsg.payload.group_name=\"FamilyRoom\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Family Room dim at 9pm\";\n}\n\nif(hours==5 && minutes==03) //Family Ceiling Light on @ 5am\n{\n    newMsg.payload.light_bulb=\"Family room ceiling\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=0.5;\n    newMsg.payload.action=\"lightbulb\";\n    newMsg.payload.trigger=\"Schedule: Family room Ceiling Light on at 5am\";\n}\n\nif(hours==5 && minutes==02) //Angie's Light on @ 5am\n{\n    newMsg.payload.light_bulb=\"Angie family room\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=1.0;\n    newMsg.payload.action=\"lightbulb\";\n    newMsg.payload.trigger=\"Schedule: Angie's Light on at 5am\";\n}\n\nif(hours==5 && minutes==01 && intday!==0 && intday!=6) //Living Room on dim @ 5am Weekdays\n{\n    newMsg.payload.group_name=\"Living Room\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Living Room on dim at 5am\";\n}\n\nif(hours==21 && minutes==02 && intday!==0 && intday!=6) //Living Room on dim @ 9pm Weekdays\n{\n    newMsg.payload.group_name=\"Living Room\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Living Room on dim at 9pm\";\n}\n\nif(hours==7 && minutes==01 && intday!==0 && intday!=6) //Living Room on full @ 7am Weekdays\n{\n    newMsg.payload.group_name=\"Living Room\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=1.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Living Room on full at 7am\";\n}\n\nif(hours==22 && minutes==30) //Living Room off @ 10:30pm\n{\n    newMsg.payload.group_name=\"Living Room\";\n    newMsg.payload.powered=false;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Living Room off at 10:30pm\";\n}\n\nif(hours==8 && minutes==01 && intday!==0 && intday!=6) //Living Room off @ 8am Weekdays\n{\n    newMsg.payload.group_name=\"Living Room\";\n    newMsg.payload.powered=false;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Living Room off at 8am\";\n}\n\nif(hours==23 && minutes==01) //Family Room off @ 11pm\n{\n    newMsg.payload.group_name=\"FamilyRoom\";\n    newMsg.payload.powered=false;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Family Room off at 11pm\";\n}\n\nif(hours==5 && minutes==35) //Aquarium Light On\n{\n    newMsg.payload.binary_switch=\"Aquarium Light\";\n    newMsg.payload.powered=true;\n    newMsg.payload.action=\"switch\";\n    newMsg.payload.trigger=\"Schedule: Aquarium on at 5:35am\";\n}\n\nif(hours==22 && minutes==50) //Aquarium Light Off\n{\n    newMsg.payload.binary_switch=\"Aquarium Light\";\n    newMsg.payload.powered=false;\n    newMsg.payload.action=\"switch\";\n    newMsg.payload.trigger=\"Schedule: Aquarium off at 10:35pm\";\n}\n\nif(1!==1) // Test Group Change\n{\n    newMsg.payload.group_name=\"FamilyRoom\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=0.75;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Test Schedule\";\n}\n\nif(1!==1) // Test Light Bulb Change\n{\n    newMsg.payload.light_bulb=\"Brian family room\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"lightbulb\";\n    newMsg.payload.trigger=\"Schedule: Test Schedule\";\n}\n\nif(1!==1) // Test Switch Change\n{\n    newMsg.payload.binary_switch=\"Aquarium Light\";\n    newMsg.payload.powered=true;\n    newMsg.payload.action=\"switch\";\n    newMsg.payload.trigger=\"Schedule: Test Schedule\";\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":285.6666564941406,"y":80,"z":"3992d25f.c66d2e","wires":[["9ff48fc2.600b7","a87afbaf.578508"]]},{"id":"9ff48fc2.600b7","type":"switch","name":"Switch","property":"payload.action","rules":[{"t":"eq","v":"lightbulb"},{"t":"eq","v":"group"},{"t":"eq","v":"switch"}],"checkall":"true","outputs":3,"x":463.6666564941406,"y":81.25,"z":"3992d25f.c66d2e","wires":[["476d242a.b892dc","aa285cf3.55d7a"],["476d242a.b892dc","b147f285.4eb81"],["5d4b577e.a2b4a8","476d242a.b892dc"]]},{"id":"476d242a.b892dc","type":"debug","name":"","active":true,"console":"true","complete":"payload","x":672.1666259765625,"y":20,"z":"3992d25f.c66d2e","wires":[]},{"id":"b147f285.4eb81","type":"subflow:fb668bca.049978","name":"","x":673.4999389648438,"y":90.69442749023438,"z":"3992d25f.c66d2e","wires":[]},{"id":"aa285cf3.55d7a","type":"subflow:d2afc1e6.2d504","name":"","x":678.083251953125,"y":52.74998474121094,"z":"3992d25f.c66d2e","wires":[]},{"id":"3df55879.c20aa8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":114,"y":80,"z":"3992d25f.c66d2e","wires":[["7eb7c2af.81483c"]]},{"id":"306e3c1f.cf91c4","type":"comment","name":"Schedule: Uses case statements to match various time-driven profiles","info":"","x":275,"y":39,"z":"3992d25f.c66d2e","wires":[]},{"id":"5d4b577e.a2b4a8","type":"subflow:d11b6a06.2ee498","name":"","x":674,"y":125,"z":"3992d25f.c66d2e","wires":[]},{"id":"a87afbaf.578508","type":"debug","name":"","active":false,"console":"false","complete":"false","x":483,"y":149,"z":"3992d25f.c66d2e","wires":[]}]
