Flows/BMeissen Sample Flows/SampleSchedules.txt
[{"id":"d2afc1e6.2d504","type":"subflow","name":"Adjust dimmer","in":[{"x":70,"y":70,"wires":[{"id":"a2927524.5d6d88"}]}],"out":[]},{"id":"a2927524.5d6d88","type":"function","name":"Dimmer msg","func":"if (msg.payload.light_bulb!=\"\")\n{\nvar newMsg ={\n    \"url\":\"https://winkapi.quirky.com/light_bulbs/\"+context.global.winkState.light_bulbs[msg.payload.light_bulb].object_id,\n    \"method\": \"PUT\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"light_bulb\":msg.payload.light_bulb,\n        \"desired_state\": {\n            \"powered\":msg.payload.powered,\n            \"brightness\": msg.payload.brightness\n        },\n        \"trigger\":msg.payload.trigger\n    }\n};\n}\nelse\n{\n    var newMsg ={\n    \"url\":\"127.0.0.1\",\n    \"method\": \"GET\"\n    };\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":319,"y":188,"z":"d2afc1e6.2d504","wires":[["6586d4b5.9a792c","fb96f8bc.046908"]]},{"id":"c93063f4.36cfa","type":"http request","name":"","method":"use","ret":"obj","url":"","x":656.7777900695801,"y":101.22222518920898,"z":"d2afc1e6.2d504","wires":[[]]},{"id":"bf598128.40a68","type":"function","name":"Turned Off","func":"var newMsg = {\n        payload:context.global.timestamp+\": Turned off \"+msg.payload.light_bulb+\" - Trigger: \"+msg.payload.trigger\n};\n\nreturn newMsg;","outputs":1,"x":656,"y":220,"z":"d2afc1e6.2d504","wires":[["c597b1ca.3a685"]]},{"id":"c597b1ca.3a685","type":"file","name":"Bulbs Log","filename":"C:\\Users\\BMeissen\\Desktop\\Node Logs\\Bulbs.txt","appendNewline":true,"overwriteFile":"false","x":828.7500114440918,"y":195.0000033378601,"z":"d2afc1e6.2d504","wires":[]},{"id":"6586d4b5.9a792c","type":"switch","name":"","property":"payload.desired_state.powered","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":479,"y":192,"z":"d2afc1e6.2d504","wires":[["79f07287.860f8c","c93063f4.36cfa"],["bf598128.40a68","c93063f4.36cfa"]]},{"id":"79f07287.860f8c","type":"function","name":"Turned On","func":"var newMsg = {\n        payload:context.global.timestamp+\": Turned on \"+msg.payload.light_bulb+\" at brightness level: \"+msg.payload.desired_state.brightness+\" - Trigger: \"+msg.payload.trigger\n};\nreturn newMsg;","outputs":1,"x":654,"y":185,"z":"d2afc1e6.2d504","wires":[["c597b1ca.3a685"]]},{"id":"fb96f8bc.046908","type":"debug","name":"","active":true,"console":"true","complete":"payload","x":436.666654586792,"y":109.99999618530273,"z":"d2afc1e6.2d504","wires":[]},{"id":"fb668bca.049978","type":"subflow","name":"Adjust Group","in":[{"x":70,"y":70,"wires":[{"id":"210e615c.def19e"}]}],"out":[]},{"id":"210e615c.def19e","type":"function","name":"Group msg","func":"if (msg.payload.group_name!=\"N/A\")\n{\nvar newMsg ={\n    \"url\":\"https://winkapi.quirky.com/groups/\"+context.global.winkState.groups[msg.payload.group_name].object_id+\"/activate\",\n    \"method\": \"POST\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.WinkToken,\n        \"Content-Type\":\"application/json\"\n    },\n    payload: {\n        \"group_name\":msg.payload.group_name,\n        \"desired_state\": {\n            \"powered\":msg.payload.powered,\n            \"brightness\": msg.payload.brightness\n        },\n        \"trigger\":msg.payload.trigger\n    }\n};\n}\nelse\n{\n    var newMsg ={\n    \"url\":\"127.0.0.1\",\n    \"method\": \"GET\",\n    payload: {\n        \"desired_state\":{\n            \"powered\":\"N/A\"\n        }\n    }\n    };\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":289,"y":178,"z":"fb668bca.049978","wires":[["f08bc77d.0f7438"]]},{"id":"2990ef57.d66f1","type":"http request","name":"","method":"use","ret":"obj","url":"","x":665.9999694824219,"y":189.99999237060547,"z":"fb668bca.049978","wires":[[]]},{"id":"44f8519a.bb07b","type":"function","name":"Turned Off","func":"var newMsg = {\n        payload:context.global.timestamp+\": Turned off \"+msg.payload.group_name+\" - Trigger: \"+msg.payload.trigger\n};\n\nreturn newMsg;","outputs":1,"x":612,"y":279,"z":"fb668bca.049978","wires":[["7dff9f2d.82006"]]},{"id":"7dff9f2d.82006","type":"file","name":"Groups Log","filename":"C:\\Users\\BMeissen\\Desktop\\Node Logs\\Groups.txt","appendNewline":true,"overwriteFile":"false","x":817.2500152587891,"y":257.7500057220459,"z":"fb668bca.049978","wires":[]},{"id":"f08bc77d.0f7438","type":"switch","name":"","property":"payload.desired_state.powered","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"true","outputs":3,"x":435,"y":251,"z":"fb668bca.049978","wires":[["80637c0f.7f9c8","2990ef57.d66f1"],["44f8519a.bb07b","2990ef57.d66f1"],[]]},{"id":"80637c0f.7f9c8","type":"function","name":"Turned On","func":"var newMsg = {\n        payload:context.global.timestamp+\": Turned on \"+msg.payload.group_name+\" at brightness level: \"+msg.payload.desired_state.brightness+\" - Trigger: \"+msg.payload.trigger\n};\nreturn newMsg;","outputs":1,"x":610,"y":244,"z":"fb668bca.049978","wires":[["7dff9f2d.82006"]]},{"id":"7eb7c2af.81483c","type":"function","name":"CheckDaySegment","func":"var date = new Date(msg.payload);\nvar hours = date.getHours();\nvar minutes =date.getMinutes();\nvar intday = date.getDay();\ncontext.global.timestamp=new Date(msg.payload);\nvar newMsg = {\n    \"payload\": {\n        \"hours\":0,\n        \"minutes\":0,\n        \"intday\":0,\n        \"light_bulb\":\"\",\n        \"group_name\":\"\",\n        \"powered\":\"\",\n        \"brightness\":\"\",\n        \"action\":\"\"\n    }\n    };\nnewMsg.payload.hours=hours;\nnewMsg.payload.minutes=minutes;\nnewMsg.payload.intday=intday;\nif(hours==(context.global.SunsetHour-1) && minutes==context.global.SunsetMin) // Indoor Lights at Dusk\n{\n    newMsg.payload.group_name=\"Family and Living\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=1.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Indoor Lights on at Dusk\";\n}\n\nif(hours==(context.global.SunsetHour) && minutes==context.global.SunsetMin) // Garage Lights at Sunset\n{\n    newMsg.payload.group_name=\"GarageExterior\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=1.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Garage Lights on at Sunset\";\n}\n\nif(hours==(context.global.SunriseHour+1) && minutes==context.global.SunriseMin) //sunRise time\n{\n    newMsg.payload.group_name=\"GarageExterior\";\n    newMsg.payload.powered=false;\n    newMsg.payload.brightness=1.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Garage Lights off at Sunrise\";\n}\n\nif(hours==21 && minutes==01) //Dim Family Room @ 9pm\n{\n    newMsg.payload.group_name=\"FamilyRoom\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Family Room dim at 9pm\";\n}\n\nif(hours==5 && minutes==03) //Family Ceiling Light on @ 5am\n{\n    newMsg.payload.light_bulb=\"Family room ceiling\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=0.5;\n    newMsg.payload.action=\"lightbulb\";\n    newMsg.payload.trigger=\"Schedule: Family room Ceiling Light on at 5am\";\n}\n\nif(hours==5 && minutes==02) //Angie's Light on @ 5am\n{\n    newMsg.payload.light_bulb=\"Angie family room\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=1.0;\n    newMsg.payload.action=\"lightbulb\";\n    newMsg.payload.trigger=\"Schedule: Angie's Light on at 5am\";\n}\n\nif(hours==5 && minutes==01 && intday!==0 && intday!=6) //Living Room on dim @ 5am Weekdays\n{\n    newMsg.payload.group_name=\"Living Room\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Living Room on dim at 5am\";\n}\n\nif(hours==21 && minutes==02 && intday!==0 && intday!=6) //Living Room on dim @ 9pm Weekdays\n{\n    newMsg.payload.group_name=\"Living Room\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Living Room on dim at 9pm\";\n}\n\nif(hours==7 && minutes==01 && intday!==0 && intday!=6) //Living Room on full @ 7am Weekdays\n{\n    newMsg.payload.group_name=\"Living Room\";\n    newMsg.payload.powered=true;\n    newMsg.payload.brightness=1.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Living Room on full at 7am\";\n}\n\nif(hours==22 && minutes==30) //Living Room off @ 10:30pm\n{\n    newMsg.payload.group_name=\"Living Room\";\n    newMsg.payload.powered=false;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Living Room off at 10:30pm\";\n}\n\nif(hours==8 && minutes==01 && intday!==0 && intday!=6) //Living Room off @ 8am Weekdays\n{\n    newMsg.payload.group_name=\"Living Room\";\n    newMsg.payload.powered=false;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Living Room off at 8am\";\n}\n\nif(hours==23 && minutes==01) //Family Room off @ 11pm\n{\n    newMsg.payload.group_name=\"FamilyRoom\";\n    newMsg.payload.powered=false;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"group\";\n    newMsg.payload.trigger=\"Schedule: Family Room off at 11pm\";\n}\n\nif(1!==1 && hours==20 && minutes!=55) // Test schedule\n{\n    newMsg.payload.light_bulb=\"Brian family room\";\n    newMsg.payload.powered=false;\n    newMsg.payload.brightness=0.0;\n    newMsg.payload.action=\"lightbulb\";\n    newMsg.payload.trigger=\"Schedule: Test Schedule\";\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":261.6666564941406,"y":160,"z":"3992d25f.c66d2e","wires":[["9ff48fc2.600b7","b759de1c.48a62"]]},{"id":"9ff48fc2.600b7","type":"switch","name":"Switch","property":"payload.action","rules":[{"t":"eq","v":"lightbulb"},{"t":"eq","v":"group"}],"checkall":"true","outputs":2,"x":461.6666564941406,"y":160.24999809265137,"z":"3992d25f.c66d2e","wires":[["476d242a.b892dc","aa285cf3.55d7a"],["476d242a.b892dc","b147f285.4eb81"]]},{"id":"b759de1c.48a62","type":"debug","name":"","active":false,"console":"false","complete":"false","x":439.66661834716797,"y":94.24999618530273,"z":"3992d25f.c66d2e","wires":[]},{"id":"476d242a.b892dc","type":"debug","name":"","active":false,"console":"false","complete":"false","x":645.166618347168,"y":109.99999237060547,"z":"3992d25f.c66d2e","wires":[]},{"id":"b147f285.4eb81","type":"subflow:fb668bca.049978","name":"","x":660.4999580383301,"y":190.69443130493164,"z":"3992d25f.c66d2e","wires":[]},{"id":"aa285cf3.55d7a","type":"subflow:d2afc1e6.2d504","name":"","x":665.0832824707031,"y":153.7499784231186,"z":"3992d25f.c66d2e","wires":[]},{"id":"3df55879.c20aa8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":94.99999999999999,"y":159.99999999999997,"z":"3992d25f.c66d2e","wires":[["7eb7c2af.81483c"]]}]